// TITLE FOR UNDERLINE
@mixin underline-title {
    color: $cwru-blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: $light-blue;
    }
}

.underline-title {
    @include underline-title;

    &.white {
        color: $white;
    }
}

@mixin underline-title-black {
    color: $cwru-blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: $blk;
        margin-top: 1rem;
    }
}


.underline-title-black {
    @include underline-title-black;

    &.white {
        color: $white;
    }
}