.paragraph--type--programs-listing {
  position: relative;
}
.programs-listing-top {
  margin-left: 8rem;
  &::before {
    position: absolute;
    left: 0;
    top: -0;
    content: "";
    height: 64px;
    width: 64px;
    background-image: url('../images/roundabout.png');
    background-repeat: no-repeat;
    z-index:99;
  }
  .paragraph-section-title {
    @include underline-title;
  }
  .field--name-field-programs-listing-descripti {
    font-size: 1.2em;
    padding-bottom: 2rem;
    p {
      margin-bottom: 0;
    }
  }
}

.paragraph--type--programs-listing{

  .field--name-field-programs-listing{
    width: calc(100% + 3rem);
    margin-left: -1rem;
    display: flex;
    flex-wrap: wrap;
    @media #{$small-max} {
      flex-direction: column;
    }
    &>.field--item {
      width: calc(100% - 2rem);
      margin: 0 1rem 2rem 1rem;
      display: flex;
      @media #{$small-max} {
        margin-left: 0;
        width: calc(100% - 2rem);
      }
      .paragraph--type--program {
        width: 100%;
      }
      .program-name {
        position: relative;
      }
    }
    .field--item:nth-of-type(1) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/funding-proposals-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }
    .field--item:nth-of-type(2) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/awards-agreement-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }
    .field--item:nth-of-type(3) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/compliance-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }
    .field--item:nth-of-type(4) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/training-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }
    .field--item:nth-of-type(5) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/facilities-resources-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }
    .field--item:nth-of-type(6) .field--name-field-program-name {
      margin-left: 70px;
      min-height: 64px;
      &::before {
        position: absolute;
        left: 0;
        top: -0;
        content: "";
        height: 64px;
        width: 64px;
        background-image: url('../images/innovation-industry-icon.png');
        background-repeat: no-repeat;
        z-index:99;
      }
    }

    .paragraph--type--program{
      a{
        border: 2px solid $cwru-blue;
        height: 100%;
        display: flex;
        color: $blk;
        text-decoration: none;
        font-weight: 100;
        transition-duration: 600ms;

        .program-wrapper{
          padding:2.6rem 2.6rem;
          position: relative;
          width: 100%;
          min-height: 24rem;
          @media #{$medium-max} {
            min-height: 22rem;
          }
          .field--name-field-program-name{
            font-size:2.2rem;
            line-height: 1;
            padding: .4rem 0;
            margin-bottom:1rem;
            font-weight: 700;
            color: $cwru-blue;
          }
          .field--name-field-program-description{
            font-family: $arizona;
            font-size: 1.6rem;
            line-height: 1.5;
            p {
              margin-bottom: 0;
            }
          }
          .field--name-field-program-link{
            display:none;
          }
          .long-arrow-right {
            display: block;
            margin: 25px 0;
            width: 25px;
            height: 25px;
            border-top: 2px solid $med-gray;
            border-left: 2px solid $med-gray;
            transform: rotate(135deg);
            position: absolute;
            right: 4rem;
            bottom: 0;
            &::after {
              content: "";
              display: block;
              width: 2px;
              height: 45px;
              background-color: $med-gray;
              transform: rotate(-45deg) translate(15px, 4px);
            }
          }
        }
        &:hover{
          background: $lighter-gray;
          border:  2px solid $link-blue;

        }
      }

    }
  }

}

@media #{$small-medium-min} {

  .paragraph--type--programs-listing{

    .field--name-field-programs-listing{
      &>.field--item {

        width: calc(100% - 2rem);

      }
    }
  }

}

@media #{$medium-min} {

  .paragraph--type--programs-listing{
    .field--name-field-programs-listing{
      &>.field--item {

        width: calc(50% - 2.2rem);

      }
    }

  }

}

@media #{$large-min} {

  .paragraph--type--programs-listing{

    .field--name-field-programs-listing{
      &>.field--item {

        width: calc(33% - 2rem);

      }
    }
  }

}
