.homepage-container.quote-container {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.paragraph--type--quote-with-image {
  font-size: 1.2em;
  line-height: 1.4;

    .two-column-container {
      display: flex;
      justify-content: center;
      position: relative;
      &::before {
            
        position: absolute;
        left: 0;
        top: -25px;
        --qHeight: 5rem;
        content: "";
        margin-left: calc(var(--padding) * -1);
        margin-top: calc(var(--padding) * -1);
        height: var(--qHeight);
        width: calc(var(--qHeight) * 1.1);
        background-image: radial-gradient(circle at bottom right, transparent calc(var(--qHeight) / 4 - 1px), var(--accent-color, #003071) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2), transparent calc(var(--qHeight) / 2 + 1px)), linear-gradient(var(--accent-color, #003071), var(--accent-color, #003071));
        background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
        background-position: top left, bottom left;
        background-repeat: space no-repeat;
        z-index:99;
      }
      @media #{$small-min} {
        flex-wrap: unset;
      }
      @media #{$small-max} {
        border: 3px solid $cwru-blue;
        flex-direction: column;
        align-items: center;
      }

      .quote-image-container{
        margin:auto;
        z-index: 2;
        border: 3px solid $cwru-blue;
        border-right: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        @media #{$smallx-min} {
          margin:unset;
        }
        @media #{$small-max} {
          border: 0;
        }
        img {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
      }
      .quote-content {
        border: 3px solid $cwru-blue;
        border-left: 0;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        text-align: left;
        // margin-left: 1.5em;
        padding-top: 1em;
        color: $blk;
        // @media #{$medium-min} {
        //   // margin-left: 3em;
        //   padding-top: unset;
        //   // width: 100%
        // }
        @media #{$medium-min} {
          width: 60%;
        }
        @media #{$small-max} {
          border: 0;
        }
        .quote-and-citation-section {
          margin-right:3rem;
          padding-bottom: 2rem;
          // @media #{$small-min} {
            
          // }
          @media #{$small-max} {
            margin-left: 2rem;
            margin-right: 2rem;
          }
          .field--name-field-quote p {
            font-size: 1em;
            font-weight: bold;
            padding: 0.25em 30px;
            line-height: 1.45;
            position: relative;
            @media #{$large-min} {
              font-size: 1.4em;
            }
            @media #{$small-max} {
              font-size: 1em;
              padding: 0;
            }
          }
          // .field--name-field-quote p:before {
          //   color: $link-blue;
          //   content: '“';
          //   font-weight: 400;
          //   font-size: 5em;
          //   display: block;
          //   padding-left: 10px;
          //   position: absolute;
          //   left: -60px;
          //   top: -60px;
          // }
          .field--name-field-quote-citation {
            font-size: 2rem;
            line-height: 1.4;
            padding: 0 30px;
            &::before{
              content:"\2014 \00a0";
            }
            @media #{$small-max} {
              font-size: .8em;
              text-align: left;
              padding: 0;
            }
          }
        }
      }
    }
}

// .robust-3-column-page .paragraph--type--quote-with-image {
//   margin: auto;
//   .container {
//     width: 100%;
//     // padding-top: 1em;
//     padding-bottom: 1em;
//     .two-column-container {
//       &::before {
//         left: -35px;
//       }
//       .quote-content {
//         .quote-and-citation-section {
//           .field--name-field-quote p:before {
//             font-size: 4.5em;
//           }
//           .field--name-field-quote p {
//             padding: 0 0 0 .75em;
//             @media #{$medium-min} {
//               font-size: 1em;
//             }
//           }
//         }
//       }
//     }
//   }
// }

