.homepage-container.stat-container {
  padding-bottom: 0;
}
.paragraph--type--stats-group {
  padding: 0;
  background: transparent;
  margin-bottom: 0;
  .paragraph-section-title {
    margin-top: 0;
  }
  .stats-section-container {
    background: transparent;
    padding: 0;
    margin: 0;
    .field--name-field-stat-items {
      margin: 0;
      @media #{$small-max} {
        flex-direction: column;
      }
      & > .field--item {
        text-align: center;
        flex-grow: 0;
        margin: 20px 0;
        flex-basis: 23%;
        .paragraph--type--stat {
          text-align: center;
          .field--name-field-stat-value {
            color: $orange;
          }
          .field--name-field-stat-description {
            color: $blk;
            font-size: 0.9em;
          }
          @media #{$small-max} {
            text-align: left;
          }
        }
        @media #{$small-max} {
          margin-bottom: 0.3em;
        }
      }
    }
  }
}

// .paragraph--type--stats-robust-three-column {
//   padding-bottom: 1em;
//   padding-top: 1em;
//   .stats-container{
//     background: $off-white;
//     padding: 1em 3em 1em 2em;
//   }
  
//   h2 {
//     font-size: 1.9em;
//   }
// }
