@import '../../global/utils/init';

.homepage-hero {
  position: relative;
  margin-bottom: $size-medium;

  @include breakpoint($bp-sm) {
    &::after {
      content: '';
      display: block;
      background-color: $blk;
      width: 100px;
      height: 100px;
      margin: -60px auto 0 $size-medium;
      background-image: url('/socialwork/themes/custom/crew_socialwork/images/arrow.png');
      background-position: center;
      position: relative;
    }
  }

  .field-background-image {
    max-height: 693px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.homepage-hero-aside {
  color: $white;
  background-color: $cwru-blue;
  font-size: $font-size-medium;
  font-weight: 700;
  z-index: 99;

  @include breakpoint($bp-sm) {
    position: absolute;
    font-size: $font-size-regular;
    margin: $size-small 0;
    max-width: 400px;
    right: 0;
  }

  @include breakpoint($bp-lg) {
    margin: $size-medium 0;
    max-width: 632px;
  }

  .field-inset-image {
    text-align: center;
  }

  .homepage-hero-aside-info {
    padding: $size-smallest $size-medium-small $size-small;
    max-width: 632px;
    margin: 0 auto;
  }

  .field-inset-image-title {
    @include font-arizona;
    font-size: $font-size-larger;
    line-height: 1;

    @include breakpoint($bp-sm) {
      font-size: $font-size-large;
      margin-bottom: $size-smallest;
    }
  }

  .field-inset-link a {
    color: $white;
    text-decoration: underline;
  }
}
