{{ attach_library('crew_entrepreneurship/news') }}

<div class="news-container">
  <div class="news-feed">
    <button id="news-feed-next" class="news-feed-next" data-aos="fade-in">next story</button>
  </div>
</div>
