// News
//
// This is the News component. It's an example.
//
// Markup: field--field-news.html.twig
//
// Style guide: Components.news
// Import site utilities.
@import '../../global/utils/init';

.news-container {
  flex: 3;
}

.news-feed {
  margin-bottom: $size-large;
  position: relative;
  padding-bottom: 175px;
  @include breakpoint($bp-md) {
    padding-bottom: 0;
  }

  .news-feed-next-image-container {
    height: 100%;
    max-height: 600px;
    overflow: hidden;
    margin-top: $size-medium;
    display: none;
    @include breakpoint($bp-md) {
      display: block;
      margin-top: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 47%;
      z-index: $zi-medium;
    }

    img {
      width: 100%;
      @include breakpoint($bp-md) {
        width: auto;
        max-width: unset;
        height: 100%;
        margin-left: -50%;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 150px;
      height: 150px;
      background-image: url('../assets/triangle-lines.svg');
      left: -20px;
      bottom: -75px;
      opacity: 0.15;
    }
  }

  .news-feed-item {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 150px;
      height: 150px;
      background-image: url('../assets/triangle-lines.svg');
      left: 75%;
      top: 75px;
      opacity: 0.15;
      transform: rotate(180deg);
      display: none;
      @include breakpoint($bp-md) {
        display: block;
      }
    }
  }

  .news-feed-image {
    display: block;
    margin-bottom: $size-small;
    width: 100%;
    @include breakpoint($bp-md) {
      width: 80%;
    }
  }

  .news-feed-details {
    width: auto;
    max-width: $bp-xxsm;
    position: relative;
    margin: 0 $size-medium;
    @include breakpoint($bp-md) {
      margin-left: 120px;
      max-width: 18em;
    }
    @include breakpoint($bp-lg) {
      max-width: 22em;
    }
    @include breakpoint($bp-xl) {
      max-width: $bp-xxsm;
    }

    &::before {
      position: absolute;
      content: '';
      width: 150px;
      height: 150px;
      background-image: url('../assets/triangle-lines.svg');
      left: -175px;
      top: -75px;
      opacity: 0.15;
      display: none;
      @include breakpoint($bp-md) {
        display: block;
      }
    }
  }

  .news-feed-title {
    @include font-stack-titillium;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $cwru-blue;
    margin-bottom: $size-smallest;
  }

  .news-feed-description {
    margin-bottom: $size-smallest;
  }

  .news-feed-link {
    text-decoration: underline;
  }
}

.news-feed-next {
  background-color: $blk;
  color: $white;
  font-size: $font-size-regular;
  font-weight: $font-weight-light;
  height: 145px;
  width: 145px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 transparentize($blk, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: $zi-high;
  @include breakpoint($bp-md) {
    margin: unset;
    left: 62%;
    top: 38%;
  }

  &:hover {
    background-color: $cwru-blue;
  }

  &:focus {
    outline: none;
  }
}

.get-more-link {
  padding: 2em;
  text-decoration: underline;
  transition: background-color 0.2s ease;
  display: block;

  &:hover {
    background-color: $off-white;
  }

  @include breakpoint($bp-md) {
    position: absolute;
    left: 57%;
    bottom: 0;
    padding: 6em;
    background-color: $lighter-gray;
  }
}

.news-and-events-container {
  flex-direction: column;

  @include breakpoint($bp-md) {
    flex-direction: row;
  }
}