.holo-front-page {
  background-color: white;
}

/* blue button */
.field--name-field-cta-link a,
.field--name-field-featured-news-link a,
.field--name-field-cta2-links a {
  color: white;
  background-color: #006DA3;
  padding: 12px 20px;
  transition: background-color 0.2s;
  display: inline-block;
}
.field--name-field-cta-link a:hover,
.field--name-field-featured-news-link a:hover,
.field--name-field-cta2-links a:hover {
  color: white;
  background-color: #4f8fd6;
  text-decoration: none;
}

.field--name-field-hero-image .paragraph--type--hero-one-column {
  left: 50%;
  margin: 0 -50vw -40px -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.cta-container {
  color: white;
  background-color: #003071;
  text-align: center;
  padding: 20px 40px 36px 40px;
  margin: 0 auto 42px auto;
  max-width: 980px;
  position: relative;
  z-index: 5;
}
.field--name-field-cta-title {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 1.2;
}
.field--name-field-cta-link {
  display: flex;
  justify-content: center;
}
.field--name-field-cta-link a {
  margin: 10px;
}
.field--name-field-cta-link a:hover {
  color: white;
  background-color: #4f8fd6;
  text-decoration: none;
}

.field--name-field-as-seen-in {
  margin-bottom: 40px;
}
.field--name-field-as-seen-in .field--label {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.field--name-field-as-seen-in .field--items {
  display: flex;
  align-items: center;
  max-width: 840px;
  margin: 20px auto;
}
.field--name-field-as-seen-in .field--item {
  flex: 1;
  margin: 10px;
}
.field--name-field-as-seen-in .field--name-field-link {
  display: none;
}

.field--name-field-alternating-subfeatures
  > .field--item:nth-of-type(2n)
  .row.eq-height {
  flex-direction: row-reverse;
}

.footer.container {
  background-color: #F5F5F5;
  left: 50%;
  margin: 0 -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.region.region-footer {
  max-width: 1244px;
  padding: 0 22px;
  margin: 0 auto;
}

.image-links-section-container {
  padding: 48px 20px;
  margin: 0 -22px;
  background-color: #F5F5F5;
  left: 50%;
  margin: 0 -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.image-links-section-container .field--name-field-image-links-section-title {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
}
.image-links-section-container .field--name-field-image-link {
  display: flex;
  max-width: 1244px;
  padding: 0 12px;
  margin: 0 auto;
}
.image-links-section-container .field--name-field-image-link > div {
  flex: 1;
  margin: 10px;
}
.image-links-section-container .field--name-field-image-link img {
  width: 100%;
}
.image-links-section-container .paragraph--type--image-link {
  position: relative;
}
.image-links-section-container
  .paragraph--type--image-link
  .clearfix
  > .field--name-field-link {
  display: flex;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: flex-end;
}
.image-links-section-container
  .paragraph--type--image-link
  .clearfix
  > .field--name-field-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 70%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.image-links-section-container
  .paragraph--type--image-link
  .clearfix
  > .field--name-field-link
  a {
  padding: 20px;
  width: 100%;
  z-index: 6;
}
.image-links-section-container
  .paragraph--type--image-link
  .field--name-field-link
  a {
  color: white;
}

.field--name-field-featured-news-link {
  text-align: right;
}
.field--name-field-featured-news {
  margin-top: 40px;
}
.field--name-field-featured-news .field--label {
  font-size: 48px;
  font-weight: 300;
  color: #003071;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.field--name-field-featured-news .field--label::after {
  content: "";
  background-color: #003071;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  left: 0.5em;
  width: 100%;
  margin-right: -50%;
}
.homepage-listing {
  display: flex;
  margin: 0 -10px 20px;
}
.homepage-listing-item {
  flex: 1;
  margin: 10px;
  border: 1px solid #c6c6c6;
  transition: border, background-color 0.3s;
}
.homepage-listing-item:hover {
  border: 1px solid #006DA3;
  background-color: #f5f5f5;
}
.homepage-listing-item-link {
  display: block;
  height: 100%;
  padding: 20px;
}
.homepage-listing-item-link:hover {
  text-decoration: none !important;
}
.homepage-listing-item .img-responsive {
  margin-bottom: 20px;
  width: 100%;
}
.homepage-listing-item .font-medium {
  margin-bottom: 5px;
  color: #003071;
}
.homepage-listing-item .article-date {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}
.homepage-listing-item .item-description {
  color: #003071;
  font-weight: normal;
}
.homepage-listing-item .item-description:after {
  content: "...";
}
.img-ratio-container {
  overflow: hidden;
  max-height: 200px;
}

.cta2-container {
  left: 50%;
  margin: 40px -50vw -40px -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  background: black;
}
.field--name-field-cta2-image {
  overflow: hidden;
  min-height: 540px;
  max-height: 640px;
}
.cta2-container .img-responsive {
  width: 100%;
  position: relative;
  opacity: 0.7;
}
.cta2-info-container {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}
.field--name-field-cta2-title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.field--name-field-cta2-body {
  margin-bottom: 20px;
}
.field--name-field-cta2-links {
  margin: 0 -5px;
}
.field--name-field-cta2-links .field--item {
  float: left;
  margin: 5px;
}

.non-homepage.media-list {
  margin-top: 20px;
}
.paragraph--type--external-rss {
  background-color: #fff;
}
.paragraph--type--external-rss .non-homepage .img-responsive {
  width: 175px;
}
.article-date {
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.media-left {
  margin-right: 10px;
  padding-right: 0;
}

@media (max-width: 870px) {
  .field--name-field-cta2-image {
    min-height: unset;
    max-height: unset;
  }
  .cta2-container .img-responsive {
    opacity: 1;
  }
  .cta2-info-container {
    position: static;
    background-color: #003071;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .field--name-field-as-seen-in .field--items,
  .field--name-field-image-link,
  .view-news-article-listing .view-content,
  .homepage-listing {
    flex-direction: column;
  }

  .field--name-field-as-seen-in .field--items {
    max-width: 300px;
  }

  .img-ratio-container {
    max-height: unset;
  }
}

@media (max-width: 592px) {
  .field--name-field-hero-image .paragraph--type--hero-one-column {
    margin-bottom: 20px;
  }
  .field--name-field-cta-link {
    flex-direction: column;
  }
  .cta-container {
    padding: 20px;
  }
}
