#chs-librarysearch {
    margin-top: 20px;

    h2 {
        margin-top: 20px;
    }

    select {
        margin-right: 20px;
        height: 48px;
    }

    .nav-tabs>li>a {
        border: 1px solid $lighter-gray;
        border-bottom-color: transparent;
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background-color: $off-white !important;
        color: $cwru-blue;
        border: 1px solid $cwru-light-gray;
        border-bottom-color: transparent;
    }

    .searchbar-group {
        max-width: 600px;
    }

    .button-blue {
        border: 0;
        height: 48px;
    }

    .button-gray {
        height: 48px;
    }

    .tab-content {
        background-color: $off-white;
    }

    .library-tabs {
        border: 1px solid $cwru-light-gray;
        padding: 0 20px 20px;
    }

	.card {
		margin-bottom: 6px;
    }
    
    .card-header h3 {
        padding-bottom: 0;
    }

	.card-body {
		padding: 0 15px 15px;
		border-radius: 0px 0px 5px 5px;
		border: 1px solid $cwru-light-gray;
		h4 {
			padding-top: 15px;
		}
		ul {
			font-size: 16px;
			list-style: disc;
			padding: 5px 0 0 20px;
			margin: 0;
		}
		a {
			font-size: 16px;
		}
		input.button-blue {
			padding: 6px 15px;
		}
    }
    
    button.btn-block {
        text-align: left;
        color: $link-blue;
        font-size: 16px;
        font-weight: 700;
        background-color: $lighter-gray;
        border-radius: 5px 5px 0px 0px !important;
        border: 1px solid $cwru-light-gray;
        border-bottom: none;
        padding: 10px 15px;
        &.collapsed {
            border-radius: 5px !important;
            border-bottom: 2px solid $cwru-light-gray;
        }
        &:hover {
            color: $cwru-blue;
            text-decoration: underline;
        }
        &:focus {
            outline: none;
        }
    }

    #lawLibraryMobileSearch input[type="text"] {
        width: 100%;
    }

    .input-group {
        width: 600px;
        .form-control {
            z-index: 1;
        }
    }

    .form-inline {
        input[type="checkbox"] {
            top: -3px;
        }
    }
}