.media-list {
	margin-bottom: 0;
	.media-heading {
		padding: 0;
	}
	.media-body span {
    margin-top: 20px;
    display: block;
	}
	h4 {
		line-height: 1.3;
	}
}
.media-left, .media .media-image-container {
	float: left;
  margin-right: 20px;
	@media #{$small-max} {
		float: none;
		padding-right: 0;
		display: block;
		margin-bottom: 20px;
	}
}
.media-list .media-title {
	font-weight: 600;
	font-size: 20px;
	margin-top: 10px;
	color: $cwru-blue;
	margin-bottom: 5px;
	line-height: 22px;
}
.media:first-child {
    margin-top: 0;
}
.media.hp-news:first-child{
	padding-top: 15px;
}
li.media {
  padding-bottom: 22px;
	margin-bottom: 22px;
	margin-top: 0;
  border-bottom: 1px solid $lighter-gray;
	&:last-child {
		border-bottom: none;
	}
}

li.media.border-dark {
	border-color: $light-gray;
}

li.media.single-bio:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

//glossary attachemnt styles
.view-meet-our-staff {
	.attachment-before {
		ul.media-list {
			li.media {
				display: inline;
			}
		}
	}
}

h3.glossary-group-letter {
	background: $light-gray;
}

// ksl staff listing
.view-ksl-meet-our-staff  {
	.view-footer {
		margin-left: 50px;
	}
}

.views-element-container > .view-ksl-meet-our-staff > .view-content h2 {
	padding-bottom: .875em;
}
