.secondary-nav-container {
  float: right;
  margin-right: 300px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  &.with-department {
    float: none;
    position: absolute;
    //position: relative;
    left: -75px;
    //left: -13em;
    margin-right: 0;
    //top: .9em;

    @media #{$medium-min} {
      &.with-department {
        position: relative;
        left: -13em;
        top: .9em;
        float: right;
      }
    }

    @media #{$jumbo-max} { margin-top: 50px; margin-left: 180px; }
  }

  @media #{$jumbo-max} { margin-left: 50px; }
  @media #{$large-max} { margin-left: 0; margin-right: 280px; }
  @media #{$medium-max} { display: none;}

  nav>p, nav>h2 {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .menu--secondary-navigation {
    a.sidebar-menu-title {
      color: $cwru-blue;
      font-size: 22px;
      font-weight: 700;
      margin-top: 16px;
    }
    display: flex;
    @media #{$jumbo-max}  { justify-content: flex-end; }
    li {
      border-right: 1px solid $white;
      padding-right: 4px;
      padding-left: 4px;
      line-height: .8;
      //margin-bottom: 10px;
       &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0;
        padding-right: 0;
      }
      &:after {
        color: $white;
        content: '|';
        margin-right: 6px;
        @media #{$medium-max}  { display: none; }
        display: none;
      }
      &:last-child:after {
        display: none;
      }
      a {
        color: $white;
        display: inline;
        font-size: 14px;
        padding: 0;
        line-height: 1.42857;
        &:hover {
          background-color: transparent;
          color: $white;
          text-decoration: underline;
        }
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

.region-navigation-collapsible .menu--secondary-navigation {
  display: flex;
  flex-direction: column;
  //padding-left: 8px;
  float: left;
  border-top: 1px solid $light-gray;
  >li>a {
    padding: 12px 21px;
  }
}

h2#block-secondarynavigation-2-menu {
  color: $cwru-blue;
  font-size: 22px;
  font-weight: 600;
  margin-top: 16px;
}

nav#block-secondarynavigation-2 {
    ul.page-sidebar-menu {
      margin: 0;
      clear: both;
      li {
        margin: 0;
	a {
	  padding: 12px 21px;
	  margin: 0;
          color: $cwru-blue;
	  font-weight: 700;
	  font-size: 16px;
	  line-height: 20px;
	}
      }	
    }
}
