<aside class="col-lg-4 col-md-6 col-sm-6 col-xs-12" role="complementary" aria-label="Supplemental Information">
	<div class="field field--name-field-robust-3-page-right-ref field--type-entity-reference-revisions field--label-hidden field--items">
		<div class="field--item">
			<div class="paragraph paragraph--type--aside paragraph--view-mode--default">
				<div class="field field--name-field-aside-title field--type-string field--label-hidden field--item">Aside</div>
				<div class="field field--name-field-field-aside-image-ref field--type-entity-reference field--label-hidden field--item">
					<div class="media-image-container">
						<div class="field field--name-field-image field--type-image field--label-hidden field--item">
							<img src="/sites/default/files/styles/aside_664x374_/public/2020-05/mcm-healthcare5-1920x1080_0.jpg?h=d1cb525d&amp;itok=A113q20K" width="664" height="374" alt="Group of doctors talking" typeof="foaf:Image" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="field field--name-field-aside-content field--type-text-long field--label-hidden field--item">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio.</p>
				</div>
				<div class="field field--name-field-aside-button field--type-link field--label-hidden field--item"><a href="https://case.edu">Aside Link</a></div>
			</div>
		</div>
	</div>
</aside>