<section role="region" aria-label="main-content" class="col-sm-12 col-md-9 has-sidebar">
	<div class="region region-content">
		<article role="article" about="/view-options/standard-news-views" class="robust-3-column-page full clearfix">
			<div class="content">
	    		<div class="row">
	                <div class="col-md-12 robust-content-small">
	                	<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
            				<div class="field--item">
            					<div class="paragraph paragraph--type--view paragraph--view-mode--default">
            						<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
            							<div class="field__item field__item-label-hidden">
            								<div class="views-element-container form-group">
            									<div class="view view-news-article-listing view-id-news_article_listing view-display-id-block_6 js-view-dom-id-06531eb3649543a5e5e3d2b69d3eb97ececd1c6369bd468bd04d98510e5f907d">
            										<div class="view-content">
            											<div class="item-list">
															<ul class="media-list mv-20">
																<li class="media">
																	<div>
																		<div class="media-object pv-20">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2018-08/Screen%20Shot%202018-08-06%20at%209.46.23%20AM.png?h=5637576d&amp;itok=D01T_rjQ" width="150" height="150" alt="Test" typeof="foaf:Image" class="img-responsive">
																				</div>
																				<div class="field field--name-field-caption field--type-string field--label-hidden field--item">Photo Credit</div>
																				<div class="field field--name-field-photo-caption field--type-string field--label-hidden field--item">Photo Caption</div>
																			</div>
																		</div>
																	</div>
																	<div>
																		<span><div class="media-object media-left"></div></span>
																	</div>
																	<div>
																		<span class="media-body">
																			<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
																			<div class="article-date">May 12, 2020</div>
																			<div>
																				<p>Donec imperdiet ipsum ligula, vel tincidunt lorem semper vitae. Proin placerat orci eros, id vestibulum mauris iaculis at. Donec eget finibus quam, vel tincidunt magna. Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis.</p>
																			</div>
																		</span>
																	</div>
																</li>
																<li class="media">
																	<div>
																		<div class="media-object pv-20">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2020-05/stem-quora3-1920x1080.jpg?h=d1cb525d&amp;itok=DiINfkwh" width="150" height="150" alt="People having a discussion inside a factory" typeof="foaf:Image" class="img-responsive">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div>
																		<span><div class="media-object media-left"></div></span>
																	</div>
																	<div>
																		<span class="media-body">
																			<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 2</a></h2>
																			<div class="article-date">May 27, 2020</div>
																			<div>
																				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p>
																			</div>
																		</span>
																	</div>
																</li>
																<li class="media">
																	<div>
																		<div class="media-object pv-20">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2020-05/stem-quora2-1920x1080.jpg?h=0f9dcd55&amp;itok=OVKexPfd" width="150" height="150" alt="People in a automobile plant talking" typeof="foaf:Image" class="img-responsive">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div>
																		<span><div class="media-object media-left"></div></span>
																	</div>
																	<div>
																		<span class="media-body">
																			<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 1</a></h2>
																			<div class="article-date">May 01, 2020</div>
																			<div>
																				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p>
																			</div>
																		</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>




