<div class="tab-group">
  <div class="field field--name-field-tab-section-ref field--type-entity-reference-revisions field--label-hidden field--items">
    <ul class="nav nav-tabs" role="tablist">
      <li class="field--item active" role="presentation">
        <a href="#title_1" aria-controls="title_1" role="tab" data-toggle="tab" aria-expanded="true">title 1</a>
      </li>
      <li class="field--item" role="presentation">
        <a href="#title_2" aria-controls="title_2" role="tab" data-toggle="tab" aria-expanded="false">title 2</a>
      </li>
      <li class="field--item" role="presentation">
        <a href="#title_3" aria-controls="title_3" role="tab" data-toggle="tab" aria-expanded="false">title 3</a>
      </li>
      <li class="field--item" role="presentation">
        <a href="#title_4" aria-controls="title_4" role="tab" data-toggle="tab">title 4</a>
      </li>
      <li class="field--item" role="presentation">
        <a href="#title_5" aria-controls="title_5" role="tab" data-toggle="tab">title 5</a>
      </li>
      <li class="field--item" role="presentation">
        <a href="#title_6" aria-controls="title_6" role="tab" data-toggle="tab">title 6</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="title_1">
        <p>content 1</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="title_2">
        <p>content 2</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="title_3">
        <p>content 3</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="title_4">
        <p>content 4</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="title_5">
        <p>content 5</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="title_6">
        <p>content 6</p>
      </div>
    </div>
  </div>
</div>
