.media-image-container {
  .field--name-field-photo-caption {
    color: $med-gray;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 5px;
  }
}

.ensemble-course-info-container {
  .field--name-field-director,
  .field--name-field-course-number,
  .field--name-field-rehearsal-day-time,
  .field--name-field-rehearsal-location,
  .field--name-field-participation-information {
    margin-bottom: 5px;
  }
  .field--name-field-participation-information p {
    display: inline;
  }
}
.ensemble-body-container {
  margin: 30px 0;
}
.media-image-container .field--name-field-photo-caption {
  // position: absolute;
  padding: 1rem;
  margin: 0;
}
.view-frontpage-news-articles .view-content .grid-item .views-field.views-field-nothing span.field-content .music-frontpage-grid-item img {
  margin-bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .secondary-nav-container.with-department.with-department {
    margin-top: 0;
    top: 2em;
  }
}

