// Colors ///////////////
$drk-blue:#09143A;
$cwru-blue: #003071;
$link-blue: #006DA3; //#007AB8;
$light-blue: #A6D2E6;
$lime-green: #61A530;
$green: #61A530;
$blue-green: #377E72;
$yellow: #E69E40;
$ter-orange: #B04027;
$violet: #692C95;
$white: #fff;
$off-white: #f5f5f5;
$dark-gray: #333;
$cwru-dark-gray: #999999;
$med-gray: #535353;
$light-gray: #c6c6c6;
$cwru-light-gray: #d3d3d3;
$lighter-gray: #eee;
$off-black: #1F2325;
$blk: #000000;

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $link-blue;

// Fonts ///////////////
//$titillium: 'Titillium Web', sans-serif;
$arizona: 'Arizona', sans-serif;
$arizona-bold: 'Arizona-Bold', sans-serif;
$arizona-italic: 'Arizona-Italic', sans-serif;
$arizona-bold-italic: 'Arizona-BoldItalic', sans-serif;
$arizona-text: 'Arizona-Text', serif;

$heading_font: $arizona;
$body_font: $arizona;

// Breakpoints & Media Queries ///////////////
$screen: "only screen" !default;

$tiny: 360px !default;
$xsmall: 481px !default;
$small: 767px !default;
$medium: 992px !default;
$large: 1200px !default;
$jumbo: 1300px !default;

$small-min:  "#{$screen} and (min-width: #{$small})";
$medium-min:  "#{$screen} and (min-width: #{$medium})";
$large-min:  "#{$screen} and (min-width: #{$large})";
$jumbo-min:  "#{$screen} and (min-width: #{$jumbo})";

$small-max:  "#{$screen} and (max-width: #{$small})";
$medium-max:  "#{$screen} and (max-width: #{$medium})";
$large-max:  "#{$screen} and (max-width: #{$large})";
$jumbo-max:  "#{$screen} and (max-width: #{$jumbo})";

// EXAMPLE FOR MQ REFERENCES =>
/*
body {
  background: green;
  @media #{$small-max}  { background: orange; }
  @media #{$medium-max} { background: teal; }
  @media #{$large-max}  { background: orchid; }
  @media #{$jumbo-max}  { background: aliceblue; }
}
*/
