{% block content %}
  <div class="fullscreen-content">
    <a id="main-content"></a>
    {{ page.content }}
    <div id="date-time-fullscreen">
      <div id="clock-fullscreen">
        <span id="clock-fullscreen-h"></span>
        <span id="clock-fullscreen-colon">:</span>
        <span id="clock-fullscreen-m"></span>
      </div>
      <div id="date-fullscreen"></div>
    </div>
  </div>
{% endblock %}
