// Base HTML Elements.
// Do not include class selectors here.

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: $body_font;
  font-size: 20px;
  line-height: 1.42857;
  background-color: $white;
}
input {
  outline: none;
  border: 0;
}
a {
  color: $link-blue;
  font-family: $arizona-bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
strong {
  font-weight: normal;
  font-family: $arizona-bold;
}
table {
  width: 100%;
}
::-moz-selection {
  background: $lighter-gray;
  color: $black;
}
::selection {
  background: $lighter-gray;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 700;
  font-family: $heading_font;
  line-height: 1.2;
  margin: 10px 0 5px 0;
}
h2 {
  @include underline-title();
}
h3 {
  color: $cwru-blue;
  font-size: 26px;
}
h4 {
  font-size: 23px;
}
h5,
h6 {
  font-size: 20px;
}
p {
  margin-bottom: 0.75em;
}
li {
  margin-bottom: 0.5em;
}
hr {
  border-color: #ccc;
}

/* This used to work for parent element of button divs */
/* But it is not enough now, below dont hide play button parent div */
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}
/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}
/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
.image-style-large {
  max-width: 100%;
  height: auto;
}
