// Forms
//
// Base form elements.
//
// Markup: form_html5.hbs
//
// Style guide: base.form

label {
  color: $dark-gray;
  cursor: pointer;
  font-weight: 400;
  margin: 0 0 0.1875em 0;
  padding-right: 4px;
  vertical-align: top;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="number"],
.webform-submission-form select,
textarea,
.form-control.form-select {
  border: 1px solid $light-gray;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 48px;
  width: auto;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

@media #{$medium-max} {
  input.form-control {
    width: 100%;
  }
}

form button,
form input {
  transition: all 0.3s ease;
  &[disabled] {
    transition: auto;
  }
}

.control-label {
  display: block;
}

.form-item.form-group,
fieldset.form-item {
  margin: 0;
}

input[type="checkbox"].form-checkbox,
input[type="radio"].form-radio {
  margin-top: 6px;
}

.form-item.form-type-webform-markup {
  margin-bottom: 1em;
}

.webform-button--submit {
  @include button-blue;
}
.webform-button--reset {
  @include button-gray;
}

.form-required::after {
  color: red;
  content: "*";
}

.form-control.form-text,
.form-control.form-email,
.form-control.form-tel,
.form-control.form-select,
.form-control.form-number {
  padding: 10px 16px;
  //font size here
  font-size: 20px;
  border-radius: 0;
}

.form-item .panel-title {
  font-size: $font-medium;
}

.field--name-field-aside-ref input {
  width: 100%;
}

article.webform h2,
article.webform footer {
  display: none;
}

//form select dropdowns focus-visibile
select.form-control {
  &:focus-visible {
    border-color: #66afeb !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 8%),
      0 0 8px rgba(102, 175, 233, 60%) !important;
  }
}

.library-search-checkbox-mobile {
  top: -3px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-width: 0;
  background-color: $cwru-blue;
  display: block;
  font-weight: 700;
  text-decoration: none;
}
