// Column Text
//
// This is the Column Text component. It's an example.
//
//
// Style guide: Components.column-text

// Import site utilities.
@import '../../global/utils/init';

.paragraph--type--two-column-text-2 {
  max-width: $bp-sm;
  margin: $size-medium;
  @include breakpoint($bp-lg) {
    margin: $size-medium auto;
  }
}

.paragraph--type--two-column-text {
  display: flex;
  flex-direction: column;
  @include breakpoint($bp-sm) {
    flex-direction: row;
  }

  .field__item {
    flex-grow: 1;
    flex-basis: 0;
  }

  .section-intro {
    @include breakpoint($bp-sm) {
      margin-right: $size-large;
    }
  }
}

.field-two-column-text p {
  margin-bottom: $size-small;
}
