// HERO
.paragraph--type--student-life-hero-image {
  position: relative;

  .field--name-field-image::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%);
  }
}
.student-life-hero-image-text {
  position: absolute;
  top: 15%;
  width: 25%;
  left: 10%;
  color: $white;

  @media #{$large-max} {
    width: 50%;
  }

  @media #{$small-max} {
    position: static;
    width: 100%;
    background-color: $cwru-blue;
    padding: 20px;
  }

  .field--name-field-hero-title {
    font-weight: 600;
    font-size: $font-large;
    line-height: 1.2;
    margin-bottom: 18px;
  }
  .field--name-field-hero-link {
    margin-top: 20px;
    // Need to add an arrow as a before element on the a tag
    a {
      color: $white;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
// CENTERED INTRO TEXT
.paragraph--type--student-life-centered-intro-text {
  margin-top: 30px;
  text-align: center;
  .field--name-field-sl {
    color: $cwru-blue;
    font-size: 2.2em;
    margin-bottom: 12px;
    font-weight: 300;
  }
  .field--name-field-sl-centered-intro-text {
    margin: auto;
    max-width: 84%;
    padding-bottom: 25px;
  }
}
// STUDENT LIFE GRID
.student-life-grid-wrapper {
  padding: 22px;
  // Need to replace with the SVG background image
  background-color: $lighter-gray;
  background-image: url('../images/square-bkg.svg');
  margin: 0 -22px;

  img {
    width: 100%;
  }

  .field--name-field-student-life-grid-section- {
    font-size: $font-xlarge;
    text-align: center;
    font-weight: 600;
    color: $cwru-blue;
    margin: 0 0 20px;
  }

  .field--name-field-subfeature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > .field--item {
      flex-basis: 33%;

      @media #{$medium-max} {
        flex-basis: 50%;
      }

      @media #{$small-max} {
        flex-basis: 100%;
      }
    }
  }

  .paragraph--type--student-life-subfeature-grid-sec {
    padding: 0 10px;
    margin-bottom: 22px;
  }

  .subfeature-grid-img-text {
    border: 2px solid $link-blue;
    overflow: hidden;
    position: relative;
  }

  .subfeature-grid-text {
    color: $white;
    background-color: $cwru-blue;
    padding: 10px 10px 0;
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
    
    @media #{$small-max} {
      position: static;
    }
  }

  .field--name-field-student-life-grid-title {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
  }

  .field--name-field-student-life-grid-descript {
    padding-bottom: 10px;
    font-weight: normal;

    @media #{$small-max} {
      display: block !important;
    }
  }
}
// STUDENT LIFE SUBFEATURE
.student-life-subfeature-wrapper {
  .field--name-field-section-title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: $cwru-blue;
    margin: 25px 0 20px;
  }
  .field--name-field-group-subfeature-section-r {
    @media #{$small-max} { margin: 0; }
    .paragraph--type--subfeature-section {
      margin-bottom: 11px;
    }
  }
}

.paragraph--type--homepage-events-feed {
  .field--name-field-events-section-title {
    font-size: $font-xlarge;
    text-align: center;
    font-weight: 600;
    color: $cwru-blue;
    margin: 25px 0 20px;
  }
  .field--name-field-events-page-link {
    text-align: right;

    a {
      @include button-blue;
      text-transform: uppercase;
    }
  }
}

.studentlife-feed {
  justify-content: space-between;
  margin: 0 -10px 22px -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .event-block {
    flex: 1;
    flex-basis: 20%;
    padding: 22px;
    margin: 10px;
    background-color: $off-white;
    border: 1px solid $link-blue;

    @media #{$medium-max} {
      flex-basis: 45%;
    }

    @media #{$small-max} {
      flex-basis: 100%;
    }
  }

  .event-title {
    font-size: $font-medium-small;
  }
}