{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
      <a href={{content.group_subfeature_info_container.field_lw_sub_link[0]['#url']|render}} class="link-wrapper"></a>
    {% endblock %}
  </div>
{% endblock paragraph %}
