{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_lw_stat_bar_color_opt[0]['#markup']|clean_class
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content|without('field_lw_stat_bar_color_opt') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
