.field--name-field-vertical-subfeatures > .field--item {
  margin-bottom: 40px;
}

.paragraph--type--thinkbox-subfeature {
  border: 7px solid #003071;
  padding: 20px 20px 20px 90px;
  position: relative;
  height: 100%;
  display: flex;
}

.paragraph--type--thinkbox-subfeature .field--name-field-subfeature-image-tb {
  flex: 1;
  margin-right: 40px;
}
.paragraph--type--thinkbox-subfeature .text-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.paragraph--type--thinkbox-subfeature:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 14px;
  width: 25px;
  height: 160px;
  background-color: #61A530;
}
.paragraph--type--thinkbox-subfeature:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 2px;
  width: 60px;
  height: 74px;
  background-image: radial-gradient(#003071 35%, transparent 20%);
  background-position: 0 0;
  background-size: 12px 12px;
}

.field--name-field-tb-subfeature-title {
  font-size: 36px;
  font-weight: 800;
}

.field--name-field-tb-subfeature-content {
  font-family: "Arizona", "Arial", sans-serif;
  margin-bottom: 20px;
  flex: 1;
}

.field--name-field-tb-subfeature-button {
  margin: 20px 0 0 0;
}

.field--name-field-tb-subfeature-button a {
  color: #fff !important;
  background-color: #006DA3;
  padding: 10px 20px;
  border-radius: 50px;
  min-width: 300px;
  display: inline-block;
  text-align: center;
}

.field--name-field-horizontal-subfeatures-tb {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.field--name-field-horizontal-subfeatures-tb > .field--item {
  margin: 0 20px 40px 20px;
  flex-grow: 1;
  flex-basis: calc((900px - (100% - 40px)) * 999);
}

@media only screen and (max-width: 991px) {
  .field--name-field-tb-subfeature-button a {
    min-width: 0;
  }
}
