// Section Intro
//
// This is the Section Intro component. It's an example.
//
// Markup: field--field-section-intro.html.twig
//
// Style guide: Components.section-intro
// Import site utilities.
@import '../../global/utils/init';

.section-intro {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  margin-bottom: 2em;
  @include breakpoint($bp-sm) {
    font-size: $font-size-larger;
  }
}

.section-title {
  @include font-stack-titillium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $size-small;
  border-bottom: 2px solid $green;
}

.paragraph--type--subfeature-column {
  float: left;
  padding: 0 2em;
  width: 100%;
  @include breakpoint($bp-sm) {
    width: 50%;
    padding: 2em;
  }
}

.field-entrepreneurship-subfeatur {
  max-width: 1260px;
  margin: 0 auto;
}
