.main {
  padding-right: 25px;
  border-right: 1px solid $lighter-gray;
  margin-top: 22px;
}
.paragraph--type--hero-one-column {
  margin-top: 0;
}
.field--name-field-hr-home-subfeature-ref {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 11px -11px 11px -11px;
}
.field--name-field-hr-home-subfeature-ref > .field--item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  position: relative;
  margin: 11px;
  min-width: 162px;
}
.field--name-field-hr-home-subfeature-ref > .field--item:last-child {
  margin-right: 0;
}
.paragraph--type--hero-one-column {
  margin-bottom: 10px;
}
.paragraph--type--subfeature {
  background-color: $off-white;
  height: 100%;
//  padding-bottom: 20px;
}
.field--name-field-subfeature-title {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
.field--name-field-subfeature-content {
  padding-right: 10px;
}
.field--name-field-subfeature-content ul {
//  color: #3168a6;
  padding-left: 45px;
}

.field--name-field-subfeature-link {
  position: relative;
//  display: none;
}

.side_right {
  padding-left: 25px;
  margin-top: 22px;

}

/* news */
.field--name-field-hr-home-news-ref {
  margin-top: 40px;
}
.field--name-field-hr-home-news-ref .views-field-field-article-date {
  font-size: .75em;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 15px;
}
.field--name-field-hr-home-news-ref .views-field-field-article-content {
  padding-bottom: 8px;
  padding-top: 16px;
}

.field--name-field-hr-home-news-ref h3 {
  padding-bottom: 0;
}

.field--name-field-hr-home-news-ref .views-row {
  border-bottom: 1px solid $light-gray;
margin-bottom: 12px;

}
.field--name-field-hr-home-news-ref .views-row:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.secondary-nav-container {
  margin-left: 180px;
}

#edit-combine, #edit-submit-faq {
  z-index: 1;
}

@media (max-width: 1300px) {
  div.secondary-nav-container {
    margin-left: 72px;
  }
}

@media (max-width: 1200px) {
  div.secondary-nav-container {
    margin-left: -10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .main {
    margin-bottom: 0;
    border-right: 0;
    padding-right: 15px;
  }
  .side_right {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .field--name-field-hr-home-subfeature-ref {
    flex-direction: column;
  }
  .field--name-field-hr-home-subfeature-ref > .field--item {
    margin-right: 0;
    margin-top: 22px;
  }
}

div[data-faq-cat="level1"] {
  border-top: 1px solid $med-gray;
}
div[data-faq-cat="level1"]:last-of-type {
  border-bottom: 1px solid $med-gray;
}
div[data-faq-cat="level1"] h2 {
  padding: 10px;
  margin-left: 20px;
}
div[data-faq-cat="level1"] h2:before {
  display: inline-block;
  content: "\f054";
  font-family: FontAwesome;
  font-size: 18px;
  vertical-align: middle;
  margin-left: -20px;
  transition: transform .2s;
}
div[data-faq-cat="level1"] h2.active:before {
  transform: rotate(90deg);
}
div[data-faq-cat="level2"] h3 {
  padding-left: 20px;
  margin-top: 5px;
}

div[data-faq-cat="level1"] h2 {
  cursor: pointer;
  font-size: 28px;
}

.carousel-caption .field--name-field-hero-one-link a:link,
.carousel-caption .field--name-field-hero-one-link a:visited,
.carousel-caption .field--name-field-hero-one-description a:link,
.carousel-caption .field--name-field-hero-one-description a:visited {
  color: $white;
  text-decoration: underline;
}

.carousel-caption .field--name-field-hero-one-link a:hover,
.carousel-caption .field--name-field-hero-one-link a:active,
.carousel-caption .field--name-field-hero-one-description a:hover,
.carousel-caption .field--name-field-hero-one-description a:active {
  text-decoration: none;
}
