{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ item.attributes.addClass('link-wrapper') }}>{{ item.content }}</div>
  </div>
{% endfor %}