// Subfeature
//
// There are two variations of subfeatures: default and alternating.
//
// Markup: paragraph--modular-subfeature.html.twig
//
// Style guide: Components.subfeature
// Import site utilities.
@import '../../global/utils/init';

.field-subfeatures {
  @include clearfix;
}

.modular-subfeature {
  padding-bottom: 2em;
  @include breakpoint($bp-sm) {
    padding-bottom: 4em;
  }
}

.modular-subfeature.default {
  .group-image-and-title {
    position: relative;
    margin-bottom: $size-small;
  }

  .field-modsub-image {
    img {
      width: 100%;
      display: block;
    }

    svg {
      display: none;
    }
  }

  .field-modsub-title {
    @include font-stack-titillium;
    color: $white;
    background-color: $blk;
    font-size: $font-size-medium;
    font-weight: $font-weight-black;
    padding: $size-smaller $size-smallest;
    @include breakpoint($bp-sm) {
      display: inline-block;
      position: absolute;
      margin: 0 - $size-small;
      bottom: $size-medium;
    }
  }
}

.alternating-subfeature {
  // max-width: $bp-md;
  position: relative;

  &.container {
    width: 100%;
    max-width: 100%;
    @include breakpoint($bp-sm) {
      max-width: 50em;
    }
    @include breakpoint($bp-md) {
      max-width: 50em;
    }
    @include breakpoint($bp-lg) {
      max-width: 75em;
    }
  }

  .section-title-group-adjustment {
    width: 50%;
    padding-right: 3em;
    position: absolute;
  }

  .field-subfeatures {
    column-count: 2;
    column-gap: 6em;

    >div:first-child {
      margin-top: 300px;
    }

    >div {
      margin-top: 4em;
    }
  }

  .field-section-description {
    width: 50%;
    padding-right: 3em;
    margin-top: -6em;
    margin-bottom: 6em;
  }
}
