@import '../../global/utils/init';

.paragraph--type--hero-landing-page {
  position: relative;
  max-height: 675px;
  overflow: hidden;

  h1 {
    @include font-arizona;
    font-size: 40px;
    font-weight: 700;
    color: $white;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3), 2px 2px 0 $blk;
    position: absolute;
    top: calc(50% - 50px);
    margin-left: 30px;
    line-height: 1.2;

    @include breakpoint($bp-md) {
      font-size: 70px;
      top: calc(50% - 90px);
    }
  }

  img {
    width: 100%;
  }
}
