.block-views-blockfluid-hero-block-1 + h1.page-header {
  margin-top: 20px;
}

.block-views-blockfluid-hero-block-1 .form-group {
  margin-bottom: 0;
}

.paragraph--type--msass-homepage-hero {
  margin: 0px -22px 100px -22px;
  position: relative;
  @media #{$medium-max} { margin-bottom: 0; }

  .field--name-field-hero-image:before {
    content: '';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    @media #{$medium-max} { display: none; }
  }

  .hero-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $white;
    text-align: center;
    z-index: 1;
    @media #{$medium-max} {
      position: static;
      background-color: $cwru-blue;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto -50px auto;
      background-color: $blk;
      background-image: url('../images/arrow.png');
      background-position: center;
      @media #{$medium-max} { display: none; }
    }
  }

  .field--name-field-hero-title {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 20px;
    @media #{$medium-max} {
      font-size: 40px;
      padding-top: 20px;
      line-height: 1.2;
    }
  }

  .field--name-field-hero-button a {
    display: inline-block;
    color: $white;
    border: 3px solid $white;
    padding: 20px 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
    transition: background-color 0.15s linear;
    @media #{$medium-max} { margin: 20px; }

    &:hover {
      text-decoration: none;
      background-color: $cwru-blue;
    }
  }
}


//homepage hero video

.homepage-hero-container {
    position: relative;
    margin: auto -22px -7px -22px;

  .hero__video-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    background: url('../images/exterior-mandel-school-hero.jpg') center center no-repeat;
    background-size: cover;

    .hero__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: -webkit-fill-available;
    }

    .hero-video-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

// .hero.hero--home {
//     margin: auto -22px -7px -22px;
// }s
