// Homepage

.hp-stats-section {
  background-color: $cwru-blue;
  background-image: url('../images/statsbkg.png');
  background-size: cover;
  padding-top: 0px;
  margin: 20px -22px;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 0;

  .field--name-field-stat-group-section-title {
    @include underline-title;
    color: $white;
    margin: 0px 40px 0;
    padding-top: 30px;
  }

  .field--name-field-stats {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-image: none !important;
    background-color: transparent !important;
  }

  .button-blue.button-outline-link-blue {
      border: 0;
      background: none;
      padding: 0;
      margin-top: -20px;
      width: 100%;
      text-align: right;

    .field--name-field-stats-more-button {
      border: 1px solid $white;
      background: $white;
      margin: 10px;
      display: inline-block;
      padding: 0;
      margin-right: 4%;

      &:hover {
        border-color: $link-blue;
        background: $link-blue;
        text-decoration: none;
        color: $white !important;
      }

      a {
        padding: 10px 16px;
        display: inline-block;
        color: $drk-blue !important;
        border-color: $white;
        &:hover { 
          text-decoration: none;
          color: $white !important;
        }
      }

    }
  }

}

.field--name-field-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: $cwru-blue;
  background-image: url('../images/statsbkg.png');
  background-size: cover;
  color: $white;
  margin: 20px 0;
  padding: 40px;
  flex-wrap: wrap;

  @media #{$medium-max} { flex-direction: column; }

  .field--item {
    flex-grow: 1;
    flex-basis: 33%;
  }
  @media #{$medium-min} {
    .field--item:nth-child(4), .field--item:nth-child(5), .field--item:nth-child(6) {
      padding-bottom: 25px;
      margin-top: 40px;
    }
  }
  .paragraph--type--stat {
    padding: 0 20px;
    @media #{$medium-max} { margin-bottom: 40px; }

    .field--name-field-value {
      font-weight: bold;
      font-size: 70px;
      line-height: 1.2;

      sup {
        font-size: 67px;
      }
    }
  }
}

// Landing Page
// .paragraph--type--stats-group {
//   background-color: $off-white;
//   padding: 20px;
//   margin-bottom: 20px;

//   .field--name-field-stat-group-title {
//     color: $cwru-blue;
//     font-size: 34px;
//     font-weight: 600;
//   }

//   .field--name-field-stat-items {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin: 0 -20px;

//     > .field--item {
//       flex-grow: 1;
//       flex-basis: 44%;
//       margin: 20px 20px;
//     }
//   }

//   .paragraph--type--stat {
//     display: flex;
//   }

//   .field--name-field-value {
//     font-size: 60px;
//     font-weight: 300;
//     margin-right: 20px;
//     line-height: 1;

//     sup {
//       font-size: 37px;
//     }
//   }

//   .field--name-field-description {
//     color: $cwru-blue;
//     font-size: 18px;
//     font-weight: 700;
//     font-style: italic;
//   }
// }
