.views-element-container.block-views-blockfluid-hero-block-1 {
  max-width: unset;
}
.page-head .container > .region--header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #003071;
  padding: 1em 0;
  float: none;
  /* @include breakpoint($bp-xsm) {
    flex-direction: row;
    padding: $size-medium;
  } */
}
.page-head form.navbar__search-form {
  width: auto;
  margin-bottom: 0;
}

#block-sitebranding {
  flex: 1;
}

.region--header nav {
  flex: 1;
  max-width: 600px;
  /* @include breakpoint($bp-xsm) {
      flex-basis: 400px;
    } */
}

.page-head .page-title {
  padding: 0 !important;
}

.page-title  h1 {
  font-family: "Arizona-Text", sans-serif;
}

.page-head .navbar__search-form {
  position: relative;
  margin-bottom: 1em;
  /* display: none; */
  /* @include breakpoint($bp-xsm) {
    margin-left: $size-medium;
    margin-bottom: 0;
    display: block;
  }
  @include breakpoint($bp-sm) {
    margin-left: $size-large;
  } */
}

.page-head .navbar__search {
  background-size: contain;
  outline: none;
  border: 0;
  font-size: 18px;
  border-radius: 39px;
  transition: width 0.3s;
  padding: 9px;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  display: none;
  /* @include breakpoint($bp-xsm) {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;

    &:focus {
      width: 480px;
      background-color: #fff;
    }
  } */
}

.search-icon {
  /* display: none; */
  margin-top: 1em;
  /* @include breakpoint($bp-xsm) {
    display: block;
  } */
}

.fa-search {
  font-size: 1.2em;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .region--header {
    padding: 0.5em 1em;
    flex-direction: column;
  }
}

#navbar.navbar {
  min-height: auto;
}

div.page-head {
  border-bottom: none;
  padding-bottom: 10px;
}
