// NEEDS REFACTORED

.academics-container {
  margin-top: 40px;
  .view-filters {
    float: left;
    margin-right: 20px;
    width: 250px;
    @include size(small) {float: none; width: 100%;}
    .form--inline .form-item {
      float: none;
    }
    .bef-exposed-form .form--inline > .form-item {
      float: none;
      margin-top: 10px;
    }
    .form-text {
      border: 5px solid $off-black;
      font-size: 18px;
      padding: 16px 20px;
      width: 100%;
    }
    fieldset {
      legend {
        @include size(medium) { cursor: pointer; }
        &:before {
          content: '';
          display: none;
          height: 26px;
          width: 26px;
          float: right;
          position: relative;
          margin-top: 13px;
          transform: rotate(90deg);
          background: url("../images/caret-next.svg") no-repeat;
          @include size(medium) { display: block; }
        }
      }
      .fieldset-wrapper {
        @include size(mediumUp) { display: block !important; }
        @include size(medium) { display: none; }
      }
    }
    .fieldset-legend {
      @include underline-title();
    }
    input[name="title"] {
      background-color: $lime;
      &::placeholder {
        color: $off-black;
      }
    }
    input[value="Apply"] {
      display: none;
    }
    input[value="Reset"] {
      @include button--outline();
      background-color: $white;
      padding: 20px 25px;
      transition: all .2s;
      width: 100%;
      &:hover {
        background-color: $lime;
      }
    }
    .clearSearch {
      position: absolute;
      border: 5px solid #1F2325;
      font-size: 18px;
      font-weight: 700;
      padding: 16px 20px;
      background-color: $white;
      transform: translateX(-5px);
      display: inline-block;
    }
    .form-checkbox {
      float: left;
    }
    .option {
      display: block;
      padding-left: 25px;
    }
    .academics__ul {
      margin-bottom: 30px;
      .academics__li {
        display: flex;
        margin-bottom: 6px;
        .academics__input {
          margin-right: 20px;
        }
        .academics__label{
          color: $dark-gray;
        }
      }
    }
  }
  .view-content {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    .view-header {
      font-size: 48px;
      font-weight: 600;
      width: 100%;
      margin-bottom: 30px;
    }
    .academics-block {
      border: 5px solid $cwru-blue;
      padding: 15px 15px 60px 15px;
      width: 32%;
      margin-bottom: 20px;
      position: relative;
      transition: all .4s;
      @include size("large") {width: 49%}
      @include size("medium") {width: 100%}
      &:hover {
        background-color: $off-white;
      }
      a {
        color: $black;
        font-family: $body_font;
        &:hover {
          text-decoration: none;
        }
      }
      .academics__block-summary {
        font-size: 16px;
        color: $dark-gray;
      }
      .academics__block-degree {
        font-size: 12px;
        background-color: $off-white;
        padding: 8px 12px;
        text-align: center;
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
      }
    }
  }
}
