#map-region {
	position: relative;
}

#map {
  height: 900px;
  width: 100%;
  @include size(medium) { height: 280px; }
}

#map-feature {
  position: absolute;
  padding: 10px 30px 30px 30px;
  background-color: white;
  right: 0px;
  top: 50px;
  width: 40%;
  max-width: 625px;
  height: 800px;
  background: #fff;
  @include size(medium) { position: relative; height: auto; padding-bottom: 50px; top: 0px; width:100%; max-width: 100%; }
  .map-description {
    margin-top: 1em;
  }
  .button--outline {
  	margin-left: 23px;
  	padding-top: 23px;
  }
}
.map-gallery-holder {
  .slickmain {
    max-width: 565px;
    height: auto;
    // max-height: 440px;
    .slick-slide img {
      width: 100%;
      height: auto;
    }
    button.slick-arrow {
      &::before {
        content: '';
      }
    }
    button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      &.slick-prev {
        background: url("../images/caret-white.svg") no-repeat;
        left: 5%;
      }
      &.slick-next {
        background: url("../images/caret-white.svg") no-repeat;
        right: 5%;
        margin-top: -20px;
        transform: rotate(180deg);
      }
    }
  }
}
