.field--name-field-uga-bio-view {
  @include pattern-background;
  padding: 40px 0 0 0;
}
.view-uga-bio-view {
  .counselor__block {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    @include size(small) {flex-direction: column}
    .media img{
      width: 300px;
      height: auto;
      @include size(large) {width: 200px}
      @include size(medium) {width: 300px}
      @include size(small) {width: 100%}
    }
    .counselor__block-left {
      background-color: $cwru-blue;
      padding-bottom: 20px;
      h2, p, a {
        color: $white;
        padding: 0 20px;
        margin-bottom: 0;
      }
    }
    .counselor__info {
      margin: 20px 0;
      padding: 20px;
      font-size: 18px;
      width: 100%;
      @include size(small) {margin: 0}
      .header--main {
        font-size: 24px;
      }
      .counselor__bold {
        font-weight: 700;
        font-size: 16px;
      }
      .counselor__areas {
        margin-top: 20px;
        p {
          margin-bottom: 0;
        }
      }
      strong {
        font-size: 16px;
      }
      ul {
        margin-left: 18px;
        margin-top: 0;
        padding-left: 0;
        font-size: 16px;
        li {
          list-style: disc;
          margin-bottom: 0;
        }
      }
    }
  }
}
