.field--name-field-featured-news {
  color: #fff;
  background-color: $cwru-blue;
  padding: 40px 0;

  .feed-item-block {
    margin: 20px 0;
  }

  .feed-item-title a {
    color: #fff;
    font-size: 26px;
    text-decoration: underline;
  }

  .feed-item-daterange {
    font-style: italic;
    opacity: 0.7;
  }

  a {
    transition: color 0.3s;
  }

  a:hover {
    color: $lime;
  }
}