.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  &.hero--home {
    justify-content: space-between;
    height: 100vh;
    color: $white;
    font-family: $arizona;
    overflow: hidden;
    position: relative;
    .hero__video-container {
      position: absolute;
      z-index: -100;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .hero__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .block-page-title-block {
    text-align: center;
  }
  .page-title {
    font-size: 120px;
    font-weight: 900;
    line-height: .9;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: .5em auto;
    padding: 60px 70px;
    background-color: rgba($off-black, .3);
    border: 1px solid rgba($iceberg, .1);
    @include size(medium) {font-size: 60px; padding: 20px; margin-top: 80px;};
    @include size(small) {font-size: 30px; padding: 20px; margin-top: 100px;};
    &.long-title-fix {
      @include size(jumbo) {font-size: 100px;};
      @include size(large) {font-size: 80px;};
      @include size(medium) {font-size: 60px; padding: 20px; margin-top: 80px;};
      @include size(small) {font-size: 30px; padding: 20px; margin-top: 100px;};
    }
  }
  .hero__title {
    color: $white;
    .hero__title--small {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 3px;
      display: block;
      margin-bottom: 0;
      position: absolute;
      margin-top: -36px;
      margin-left: 4px;
      text-shadow: 0 0 5px #000;
      @include size(medium) { font-size: 22px; margin-top: -20px; };
      @include size(small) { font-size: 20px; margin-top: 4px; };
      @include size(mobile) { font-size: 16px; margin-top: 28px; };
    }
    .hero__title--cwru {
      display: inline-block;
      font-size: 132px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 105px;
      border-right: 3px solid $white;
      padding-right: 30px;
      text-shadow: 0 0 5px #000;
      @include size(medium) { font-size: 100px; };
      @include size(small) { font-size: 68px; line-height: 84px; padding-right: 24px; };
      @include size(mobile) { font-size: 42px; line-height: 72px; };
    }
    .hero__title--rotating {
      display: inline-block;
      height: 90px;
      overflow: hidden;
      .hero__title--word {
        color: #61A530;
        font-size: 76px;
        font-weight: 900;
        height: 90px;
        line-height: 76px;
        letter-spacing: 2px;
        padding-left: 30px;
        transition: margin-top .3s ease;
        margin-bottom: 0;
        text-shadow: 0 0 5px #000;
        @include size(medium) { font-size: 54px; line-height: 106px; };
        @include size(small) { font-size: 40px; line-height: 126px; padding-left: 24px; };
        @include size(mobile) { font-size: 28px; line-height: 148px; };
      }
    }
  }
}
.field--name-field-uga-landing-hero,
.paragraph--type--uga-landing-hero {
  display: none;
}
