.paragraph--type--horizontal-buttons {
  padding: 30px;

  .field--name-field-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include size(small) {
      flex-direction: column;
    }

    > .field__item a {
      display: inline-block;
      padding: 20px 25px;
      margin: 1rem;
      color: black;
      background-color: $lime;
      border: 4px solid black;
      transition: 0.2s;

      &:hover {
        text-decoration: none;
        background-color: rgba(193, 205, 36, 0.2);
      }
    }
  }
}
