// NEED TO REFACTOR
$logo-height: 32px;

.region-primary-menu {
  width: 100%;
}
.navbarMain {
  @include size(large) { width: 100%; }
  .navbar__preheader {
    background-color: $cwru-blue-dark;
    padding: 18px;
    .navbar__logo-link {
      height: $logo-height;
      display: block;
      .navbar__logo {
        height: $logo-height;
      }
    }
  }
  .navbar__main {
    background-color: $cwru-blue;
    color: $white;
    padding: 36px 18px;
    display: flex;
    justify-content: space-between;
    @include size(medium) { flex-direction: column; padding: 10px;}
    a:hover {
      text-decoration: none;
    }
    .menu-toggle {
      background-color: $cwru-blue;
      height: 42px;
      width: 42px;
      border: 0;
      cursor: pointer;
      position: absolute;
      opacity: 1;
      &:focus {
        outline: 0;
      }
      &:after {
        content: "MENU";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        font-size: 11px;
        color: $white;
        font-weight: 700;
        font-family: $arizona, sans-serif;
      }
      .menu-toggle-bar {
        display: block;
        position: absolute;
        top: 14px;
        height: 2px;
        width: 30px;
        margin: 0 auto;
        background-color: $white;
        border-radius: 3px;
        transition: background-color .2s ease-in-out .2s;
        &:before, &:after {
          display: block;
          height: 2px;
          width: 30px;
          margin: 0 auto;
          background-color: $white;
          content: "";
          border-radius: 3px;
          position: relative;
        }
        &:before {
          transition: transform .2s ease-in-out, bottom .2s ease-in-out .2s;
          bottom: 6px;
        }
        &:after {
          transition: transform .2s ease-in-out, top .2s ease-in-out .2s;
          top: 4px;
        }
      }
    }
    .menu-toggle-active .menu-toggle-bar {
      background-color: transparent;
      transition: background-color .2s ease-in-out;
      &:before {
        transition: bottom .2s ease-in-out, transform .2s ease-in-out .2s;
        bottom: 2px;
        transform: rotate(45deg);
      }
      &:after {
        transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
        top: -4px;
        transform: rotate(-45deg);
      }
    }
    .menu-toggle.menu-toggle-active:after {
      content: "CLOSE";
      bottom: 2px;
      transition: all .4s ease-in-out;
    }
    .menu-header {
      @include size(medium) { margin-left: 48px; margin-top: -2px; height: 42px; }
      @include size(small) { margin-top: 2px; }
    }
    .navbar__site-title {
      font-size: 40px;
      font-weight: 400;
      color: $white;
      margin: 0;
      transition: color .2s;
      font-family: "Arizona-Text",serif;
      @include size(medium) { font-size: 32px; }
      @include size(small) { font-size: 26px; }
      &:hover {
        color: lighten($link-blue, 40%);
        text-decoration: none;
      }
      &:after {
        display: none;
      }
    }
    .navbar__nav {
      text-align: right;
      flex: 1;
      position: relative;
      padding-right: 32px;
      display: flex;
      justify-content: flex-end;
      @include size(mediumUp) {display: flex !important;}
      @include size(medium) { text-align: left; flex-direction: column; padding: 12px 42px 10px; display: none; }
      @include size(small) { padding-top: 8px; }
      .navbar__link {
        display: inline-block;
        font-family: $arizona;
        font-size: 16px;
        font-family: $arizona-bold;
        color: $white;
        text-decoration: none;
        padding: 13px 10px;
        border-radius: 28px;
        transition: all .2s ease;
        @include size(medium) { padding: 10px; font-size: 18px; width: fit-content; display: block; }
        &.is-active {
          color: darken($white, 10%);
          background-color: $link-blue;
        }
        &:hover {
          background-color: $white;
          color: $black;
        }
      }
      .navbar__search-form{
        position: absolute;
        top: 3px;
        right: 0;
        @include size(medium) { top: 7px; }
        span {
          background: url("../images/search-icon.svg") no-repeat;
          background-size: contain;
          font-size: 18px;
          width: 20px;
          height: 20px;
          position: absolute;
          display: block;
          margin-left: 10px;
          margin-top: 2px;
          @include size(medium) {margin-top: 20px;}
        }
        @include size(medium) { position: relative; }
        .navbar__search {
          background: url("../images/search-icon.svg") no-repeat;
          background-size: contain;
          font-size: 18px;
          border-radius: 39px;
          width: 19px;
          transition: all .4s, background .3s .1s;
          color: transparent;
          padding: 9px;
          cursor: pointer;
          margin-top: 11px;
          @include size(medium) { font-size: 20px; margin-top: 20px; padding: 0px 9px 4px 30px; width: 100%; max-width: 350px; margin-left: 10px; background: $cwru-blue; border-radius: 0px; border-bottom: solid $white 1px; margin-bottom: 1px; }
          &::placeholder {
            color: transparent;
            transition: all .2s .2s;
            @include size(medium) { color: $white; }
          }
          &:focus {
            width: 430px;
            color: $black;
            background: $white;
            padding: 9px 9px 9px 25px;
            cursor: auto;
            transition: all .4s, background .3s .1s;
            &::placeholder {
              color: $light-gray;
              @include size(medium) { color: $white; }
            }
            @include size(medium) { margin-bottom: 0px; transition: all 0s; border-bottom: solid $white 2px; padding: 0px 9px 4px 30px; color: $white; width: 100%; max-width: 350px; background: $cwru-blue; }
          }
        }
      }
    }
  }
}
