// Search
//
// This is the Search component. It's an example.
//
// Markup: search.twig
//
// Style guide: Components.search
// Import site utilities.
@import '../../global/utils/init';

.navbar__search-form {
  position: relative;
  margin-bottom: $size-small;
  display: none;
  @include breakpoint($bp-xsm) {
    margin-left: $size-medium;
    margin-bottom: 0;
    display: block;
  }
  @include breakpoint($bp-sm) {
    margin-left: $size-large;
  }
}

.navbar__search {
  background-size: contain;
  outline: none;
  border: 0;
  font-size: 18px;
  border-radius: 39px;
  transition: width 0.3s;
  padding: 9px;
  cursor: pointer;
  // margin-top: 11px;
  width: 100%;
  background-color: $white;
  @include breakpoint($bp-xsm) {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;

    &:focus {
      width: 480px;
      background-color: $white;
    }
  }
}

.search-icon {
  display: none;
  margin-top: $size-small;
  @include breakpoint($bp-xsm) {
    display: block;
  }
}

.fa-search {
  font-size: $font-size-medium;
  color: $white;
}
