.paragraph--type--uga-accordion-section {
  border: 1px solid $light-gray;
  padding: 15px;
  margin-bottom: 15px;
  .field--name-field-uga-accordion-title {
    font-size: 28px;
    cursor: pointer;
    @include size(small) {
      font-size: 22px;
      font-weight: 700;
    }
    .plusMinus {
      background-color: $link-blue;
      color: $white;
      display: inline-block;
      margin-right: 20px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      text-align: center;
      font-weight: 700;
      font-size: 50px;
      line-height: .8;
      transform: translateY(5px);
      @include size(small) {
        height: 30px;
        width: 30px;
        font-size: 25px;
        line-height: 1.2;
        transform: translateY(0px);
      }
    }
  }
}
