.alternating-subfeatures__container {
  padding: 60px 0;
  .alternating-subfeatures__image {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .button--outline {
    margin-top: 60px;
  }
}
.alternating-subfeatures--image-right {
  .alternating-subfeatures__image {
    right: 0;
  }
}
