.block-local-tasks-block {
  nav.tabs {
    text-align: center;
    background-color: $off-white;
    border: 1px solid $lighter-gray;
    .tabs {
      margin-bottom: 0;
      li {
        margin-bottom: 0;
        a {
          padding: 10px 40px;
          &:hover {
            background-color: $lime;
            color: $off-black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
