.footer {
  background-color: $off-white;
  padding: 60px 0;
  font-size: 14px;
  line-height: 28px;
  border-top: 1px solid $lighter-gray;
  .footer__header {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  div[class*="footer__block"] {
    @include size(medium) {
      margin-bottom: 20px;
    }
  }
  .footer__block--university {
    .footer__logo {
      width: 260px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .footer__block--department {
    display: flex;
    align-items: flex-start;
    .footer__map-icon {
      width: 28px;
      margin-right: 26px;
      margin-top: 15px;
    }
    .footer__department-info p {
      margin-bottom: 0.5em;
    }
  }
  .footer__block--social {
    .footer__social-icons {
      display: flex;
      align-items: center;
      .footer__social-icon {
        width: 38px;
        height: 38px;
        font-size: 21px;
        // margin: 0 8px 8px 0;
        margin: 0 12px 8px 0;
        padding-top: 8px;
        border-radius: 100%;
        text-align: center;
        display: inline-block;
        background-color: $cwru-blue;
        color: $white;
        transition: background-color 0.2s;
        &:hover {
          background-color: $link-blue;
          text-decoration: none;
        }
      }
    }
  }
  .footer__block--links {
    .breadcrumb {
      padding: 0;
      margin: 0;
      & > li {
        display: block;
        &:before {
          content: "";
        }
        & > i {
          display: none;
        }
      }
    }
  }
}

.region-content .breadcrumb {
  margin: 16px 0;
  padding: 0;
}
