.paragraph--type--content-gallery-section,
.paragraph--type--uga-one-col-aside-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  &.bkg-gray {
    background-color: $lighter-gray;
    .paragraph--type--uga-aside {
      background-color: white;
    }
  }
}
