.gray-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  .gray-box {
    background-color: $lighter-gray;
    padding: 30px;
    width: 49%;
    margin-bottom: 2%;
  }
}

.gray-box--outline {
  background-color: $lighter-gray;
  border: 1px solid $lime;
  padding: 12px 22px;
  font-size: 18px;
  line-height: 1.5;
  p {
    margin-bottom: 0;
  }
  .gray-box__title,
  .field--name-field-uga-aside-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
  }
}


.field--name-field-uga-two-col-gray-title {
  @include underline-title;
}
[data-col-count="4"] .paragraph--type--uga-two-col-gray {
  max-width: 49%;
  @include size(small) {max-width: 100%}
}
.paragraph--type--uga-two-col-gray {
  background-color: $off-white;
  border: 3px solid $cwru-blue;
  max-width: 32%;
  padding: 30px 30px 100px 30px;
  margin-bottom: 30px;
  position: relative;
  @include size(small) {max-width: 100%}
  .field--name-field-uga-two-col-gray-sec-title {
    font-family: $heading_font;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .field--name-field-uga-two-col-gray-link a {
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $cwru-blue;
    padding: 20px 30px;
    transition: all .2s;
    &:hover {
      background-color: $link-blue;
      text-decoration: none;
    }
  }
}
