// ANAND CHECK
.standard-gallery-holder > .slick-wrapper {
  .slick--main {
    // max-width: 565px;
    margin: auto;
    height: auto;
    @include size("medium") {
      margin-left: 0;
    }
    // max-height: 440px;
    .slide__content img {
      width: 100%;
    }
    nav.slick__arrow {
      button.slick-arrow {
        &::before {
          content: "";
        }
      }
      button {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        transition: all 0.2s;
        &.slick-prev {
          background: url("../images/caret-white.svg") no-repeat;
          left: 5%;
          background-color: $lime;
          background-size: 30px 30px;
          background-position-y: 5px;
          background-position-x: 2px;
        }
        &.slick-next {
          background: url("../images/caret-white.svg") no-repeat;
          right: 5%;
          margin-top: -20px;
          transform: rotate(180deg);
          background-color: $lime;
          background-size: 30px 30px;
          background-position-y: 5px;
          background-position-x: 2px;
        }
        &:hover {
          box-shadow: 0 0 30px transparentize($lime, 0.4);
        }
      }
    }
  }
  .slick--thumbnail {
    @include size("medium") {
      margin-left: 0;
    }
    .slick__slider {
      margin: 0 -6px;
    }
    .slick-list {
      padding: 0px;
    }
    .slick-track {
      padding-top: 12px;
      padding-bottom: 12px;
      .slick__slide {
        margin: 0px;
        max-height: 100px;
        img {
          border: none;
          padding: 6px;
        }
      }
      .slick-current {
        box-shadow: none;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        img {
          border: 2px solid $lime;
          padding: 4px;
        }
      }
      .slick__slide:before {
        display: none;
      }
    }
    nav.slick__arrow {
      display: none;
    }
  }
}
// fix for galleries having extra space above thumbnails on page load
.slick-slider .slick-list {
  max-height: 437px;
  @include size(medium) {
    max-height: 566px;
  }
}

.slick__slide {
  .slide__constrained {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    );
    .slide__caption {
      height: 100%;
      .slide__description {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        left: 307px;
        bottom: 50px;
        font-size: 20px;
        color: white;
        width: 555px;
      }
    }
  }
}
