.section-links {
  background-color: $off-black;
  padding: 15px 0;
  .section-links__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    @include size(small) {
      flex-direction: column;
    }
    .navbar__link {
      color: $white;
      font-size: 19px;
      margin-right: 40px;
      margin-bottom: 20px;
      @include size(large) {
        margin-top: 20px;
      }
      &:hover {
        color: $lime;
      }
      &.is-active {
        color: darken($lime, 10%);
        font-weight:bold;
        &:hover {
          color: $lime;
        }
      }
      &.item-below::after {
        @include size(small) {
          content: "▼";
          padding-left: 10px;
        }
      }
    }
  }
}

.section-links.third-level {
  padding: 0;
  background-color: #272d30;

  .section-links__list::before {
    content: "↳";
    display: inline-block;
    color: white;
    opacity: 0.4;
    margin-right: 40px;
  }
  @include size(small) {
    display: none;
  }
}

.sub-menu-mobile {
  display: none;
  @include size(small) {
    display: flex;
    flex-direction: column;
  }
}
