.table-responsive {
  margin: 40px 0;
}
$cell-padding: 10px 40px;
table {
  font-weight: 500;
  border: 1px solid $light-gray;
  font-size: 18px;
}
thead {
  background-color: $cwru-blue;
  color: $white;
  text-align: left;
  text-transform: uppercase;
  th {
    padding: $cell-padding;
  }
}
tfoot, tr.footer {
  background-color: $link-blue !important;
  border-color: $cwru-blue;
  text-transform: uppercase;
  td {
    color: $white;
    padding: $cell-padding;
    border-color: $cwru-blue;
  }
}
tbody {
  td {
    color: $off-black;
    padding: $cell-padding;
    border: 1px solid $light-gray;
  }
  tr {
    transition: all .2s;
    &:nth-child(even) {
      background-color: $lighter-gray;
    }
    &:hover {
      background-color: darken($lighter-gray, 5%);
    }
  }
}
table caption {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
