// Intro Text
//
// This is the Intro Text component.
//
// Markup: field--field-entrepreneurship-intro-tex.html.twig
//
// Style guide: Components.intro-text

// Import site utilities.
@import '../../global/utils/init';

.intro-text {
  max-width: $bp-sm;
  margin: $size-medium auto;
  @include breakpoint($bp-sm) {
    margin: $size-large auto;
  }

  h2 {
    @include font-depot;
    font-weight: $font-weight-regular;
    font-size: $font-size-medium;
    margin: 0 $size-small;
    @include breakpoint($bp-sm) {
      font-size: $font-size-large;
    }
  }
}
