// COLORS
$cwru-blue: #003071;
$cwru-blue-dark: #09143A;
$link-blue: #006da3;
$lime: #61A530;
$yellow: #E69E40;
$orange: #D63D1F;
$iceberg: #A6D2E6;
$white: #FFF;
$black: #000;
$off-black: #1F2325;
$dark-gray: #444;
$light-gray: #999;
$lighter-gray: #EEE;
$off-white: #F5F5F5;

// FONTS
//$titillium: 'Arizona', sans-serif;
$arizona: 'Arizona', sans-serif;
$arizona-bold: 'Arizona-Bold';
$arizona-italic: 'Arizona-Italic';
$arizona-bold-italic: 'Arizona-BoldItalic';

$heading_font: $arizona;
$body_font: $arizona;
