.view-form-sorter,
.view-faq {

  .views-field-name {
    display: inline;
  }
  .view-content.sub-accordion .views-row {
    border: none;
    margin-bottom: 8px;
  }
  .views-field-field-hr-revision-date {
    font-size: .675em;
    display: inline;
    &:before {
      content: '-';
      margin-left: 5px;
      margin-right: 2px;
    }
  }
  .views-exposed-form {
    margin: 30px 0 40px;
  }
  .form-inline {
    position: relative;
    margin-top: 16px;
    height: 50px;
  }
  .form-item {
    padding-bottom: 0;
  }
  .form--inline button {
    border: 2px solid $cwru-blue;
  }
  .form-item input {
    width: 100%;
    border: 1px $light-gray solid;
    border-radius: 0;
    height: 50px;
    padding: 5px 15px;
  }
  button[data-twig-suggestion="hr_form_sorter"],
  button[data-twig-suggestion="hr_faq"] {
    background: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    right: 1%;
    z-index: 1001;
  }
}


.ui-autocomplete {
  font-size: .625em;
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: $cwru-light-gray;
}
.ui-helper-hidden-accessible {
  display: none;
}

.form-autocomplete .input-group {
  width: 100%;
  & span.input-group-addon {
    display: none;
  }

}

form button[data-twig-suggestion="hr_form_sorter"][disabled],
form button[data-twig-suggestion="hr_faq"][disabled] {
  background-color: transparent;
}

.sub-accordion-section-title a {
  &:link, &:visited {
    color: $cwru-blue;
  }
}

.ui-autocomplete {
  box-shadow: rgba(0,0,0,0.2) 0px 10px 20px 0;

  .ui-menu-item {
//    font-size: 20px;
    padding: .5em 1em;
    &:hover {
      text-decoration: none;
    }
  }
}


// FAQ anchor styles
.hr_anchor {
  font-size: .75em;
}



