.paragraph--type--aside {
  max-width: 274px;
  display: block;
  float: right;
  margin-left: 20px;
  img {
    width: 100%;
  }
  @media #{$medium-max} {
    float: none !important;
    max-width: none;
    margin-left: 0px;
  }
}
.aside-container-mobile {
  margin-bottom: 22px;
}
