.field--name-field-sm-stat-box-section-ref {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @media #{$medium-max} { flex-direction: column; }

  > .field--item {
    flex-grow: 0;
    flex-basis: 30%;
  }

  .paragraph--type--small-stat-box-section {
    background-color: $cwru-blue;
    color: $white;
    border: 3px solid $white;
    text-align: center;
    line-height: 1;
    padding: 40px 40px;
    height: 100%;
    transform: translateY(-80px);
    @media #{$medium-max} { transform: translateY(-40px); margin-bottom: 40px; }

    .field--name-field-sm-stat-box-number {
      font-size: 70px;
    }
    .field--name-field-sm-stat-box-description {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.ipe-homepage {
  .background--black {
    background: none;
    .container {
      padding: 0;
      padding-bottom: 40px;
      background-color: $white;
      @media (max-width: $medium) {
        padding-bottom: 10px;
      }
      .field--name-field-sm-stat-box-section-ref {
        justify-content: space-around;
        margin-top: -80px;
        @media (max-width: $medium) {
          display:inline-block;
          margin-top: 0;
          padding: 30px 0 20px;
        }
        @media (max-width: $large) {
          justify-content: space-evenly;
        }
        > .field--item {
          @media (max-width: $large) {
            flex-basis: 28%;
          }
        }
        .paragraph--type--small-stat-box-section {
          padding: 20px;
          transform: none;
          @media (max-width: $medium)  {
            margin: 10px 20px;
          }
          @media (max-width: $large) {
            padding: 10px;
          }
          .field--name-field-sm-stat-box-number {
            @media (max-width: $large) {
              font-size: 55px;
            }
          }

        }
      }
    }
  }
}