// Preheader
//
// This is the Preheader component.
//
// Markup: preheader.twig
//
// Style guide: Layout.preheader
// Import site utilities.
@import '../../global/utils/init';

.preheader {
  background: $drk-blue;

  padding: 0 22px;
  margin: 0 auto;
}

.preheader--container {
  // padding: 18px 20px 10px;
  padding: 24px 0 15px;

  // @include breakpoint($bp-lg) {
  // padding: $size-small 0;
  // padding-top: 18px;
  // padding-bottom: 11px;
  // }
  @media screen and (max-width: 992px) {
    // height: 57px;
    // padding: 11px 22px;
    padding: 18px 22px 11px;
  }
}

.preheader--logo {
  // height: 30px;
  height: 32px;
  @media screen and (max-width: 992px) {
    margin: 5px 0;
    // height: 28px;
  }
}
