{{ attach_library('crew_president/preheader') }}
<section class="preheader">
  <div class="container preheader--container">
    <a href="//case.edu/">
      <img
        src="https://dudbm6bcnmy8e.cloudfront.net/cwru/img/cwru_logo_primary_white.svg"
        onerror="javascript:this.src='https://dudbm6bcnmy8e.cloudfront.net/cwru/img/cwru_logo_primary_white.png';this.style.margin='-12px 0px';this.style.minHeight='55px'"
        alt="Case Western Reserve University"
        class="preheader--logo"
        title="Case Western Reserve University">
      <span class="sr-only">Go to case.edu</span>
    </a>
  </div>
</section>
