.paragraph--type--described-image-homepage {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}
.paragraph--type--described-image-homepage > div {
  flex-basis: 400px;
  flex-grow: 1;
  margin: 10px 0;
}

.dih-description {
  padding: 0 40px;
}

.dih-description .field--name-field-description ul {
  list-style: none; /* Remove default bullets */
}

.dih-description .field--name-field-description ul li::before {
  content: "\2588";
  color: #61A530;
  font-weight: bold;
  display: inline-block;
  font-size: 0.4em;
  margin-right: 10px;
  margin-bottom: 10px;
  transform: translateY(-0.4em);
}
.paragraph--type--described-image-homepage .field--name-field-title {
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .dih-description {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 991px) {
  .paragraph--type--described-image-homepage {
    margin-left: 0px;
  }
}
