.paragraph--type--call-out {
	padding-top:1em;
	padding-bottom:1em;
	.call-out-container{
		background-color: $cwru-blue;
		padding: 2em 4em;
		color: $white;
		@media #{$small-max} {
			padding: 1em 2em
		}
		h2 {
			color: $white;
			margin-top: 0;
		}
		.field--name-field-horizontal-buttons-button {
			a {
				margin: 0;
				text-align: center;
				&:hover {
					background-color: $white;
					color: $link-blue;
				}
			}
		}
		a {
			color: $white;
		}
	}
}