#block-views-block-fluid-hero-block-1 {
  margin: 0 calc(50% - 50vw);

  .form-group {
    margin-bottom: 0;
  }

  .views-row {
    position: relative;
  }

  .views-field-title {
    position: absolute;
    bottom: 20px;
    left: 3vw;
    z-index: 1;
    padding: 30px 30px 0px;
    font-family: $arizona-bold;
    font-size: 4.5em;
    line-height: 1;
    color: $white;
    background: $blk;
    @media #{$small-max} {
      bottom: 0;
      padding: 10px 20px 0px 20px;
      font-size: 3em;
      position: initial;
    }

    .field-content {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 240px;
        height: 240px;
        left: -150px;
        bottom: 0;
        background-image: url("../images/hero-title-pattern.svg");
        background-size: contain;
        @media #{$xsmall-max} {
          display: none;
        }
      }
    }
  }

  .field--name-field-image {
    max-height: 600px;
    overflow: hidden;

    .img-responsive {
      width: 100%;
    }
  }
}

.paragraph--type--hero-one-column {
  // margin-bottom: 0;
  .field--name-field-hero-one-image-ref {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      width: 249px;
      height: 167px;
      bottom: 0;
      right: 0;
      background-image: url(/weatherhead/themes/custom/crew_weatherhead/images/hero-triangle-pattern.svg);
      background-size: contain;
      @media #{$small-max} {
        display: none;
      }
    }
  }
}

.paragraph--type--hero-with-links {
  margin-bottom: 25px;
  .container-hero-links {
    position: relative;
    .field--name-field-image {
      height: 18em;
      @media #{$medium-max} {
        height: 13.5em;
      }
      img {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
      }
    }
    .links-group {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $dark-gray;
      padding-left: 1.5em;
      align-items: center;
      display: flex;
      @media #{$medium-max} {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $dark-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
      }

      .field--name-field-hero-with-links-link {
        @media #{$medium-max} {
          width: 100%;
        }
      }

      .field--type-link a {
        display: inline-block;
        background-color: $link-blue;
        color: $white;
        padding: 0.75em 1.5em;
        margin: 0.3em -0.3em 0.3em -0.4em;
        line-height: 1;
        transition: background-color 0.3s;
        text-decoration: none;
        float: right;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        &:hover {
          background-color: $white;
          color: $link-blue;
        }
        @media #{$medium-max} {
          border-radius: 0;
          display: block;
          background-color: $link-blue;
          color: $white;
          padding: 0.75em 1.5em;
          margin: 0.5em;
          line-height: 1;
          transition: background-color 0.3s;
          text-decoration: none;
          float: none;
          text-align: center;
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }
}

// .robust-3-column-page {
//   h1.page-header {
//     margin-top: 0;
//   }
// }
