// .main-container {
// 	width: 100%;
// 	@media #{$medium-min} {
// 		padding: 0;
// 	}

// 	section[aria-label="main-content"] {
// 		margin: 0;
// 		padding: 0;
// 		@media #{$medium-min} {
// 			width: 100%;
// 		}
// 	}
// }