.navbar-wrapper {
	background: $lighter-gray;
	#navbar {
		@media #{$small-max} {
			padding: 0;
		}
	}
}

#block-crew-weatherhead-mobile-nav {
	.active a {
		white-space: unset;
		word-break: break-word;
	}
}