.page-sidebar-menu {
  font-family: $arizona;
  a {
    font-family: $arizona;
  }
  li.active.open {
    border-left: 1px solid $orange;
    .sub-menu {
      li.nav-item.open {
        .sub-menu {
          li.nav-item.open {
            a.nav-link.is-active {
              text-decoration: underline;
              &::before {
                content: "";
                width: 12px;
                height: 11px;
                background-color: $orange;
                display: inline-block;
                margin-right: 10px;
              }
            }
            .sub-menu {
              border-left: 3px solid $orange;
              margin-left: 45px;
              li.nav-item a {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.sub-menu .nav-item {
  padding-right: 10px;
}
