.paragraph--type--three-column-subfeature {
	margin: 0 calc(50% - 50vw);
	background: $white;
	.paragraph-section-title {
		color: $cwru-blue;
	}
	.field--name-field-three-col-subfeature-featu {
		display: flex;
		// flex-wrap: wrap;
		margin-top: 1em;
		@media #{$small-max} {
			flex-direction: column;
			// &>.field--item:first-child {
			// 	padding-bottom: 2em;
			// }
		}
		&>.field--item {
			margin-right: 2em;
			flex-basis: 30%;
			@media #{$small-max} {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
				@media #{$small-max} {
					.paragraph--type--subfeature-with-link {
						margin-bottom: 0;
					}
				}
			}
		}
		.paragraph-section-title {
			color: $cwru-blue;
			&::before {
		      @media #{$small-max} {   
		        margin-right: 0px;
		      }
		    }
		}
		.paragraph--type--subfeature-with-link {
			display: flex;
			flex-direction: column;
			@media #{$small-max} {
				margin-bottom: 20px;
				// &:last-child {
				// 	margin-bottom: 0;
				// }
			}
			.field--name-field-subfeature-with-link-image {
				margin-bottom: 0.5em;
			}
			.paragraph-section-title {
				
				@media #{$small-max} {
					padding-top: 0;
					// padding-top: .7em;
				}
			}
			.field--name-field-subfeature-with-link-conte {
				p {
					margin-top: 0;
				}
				li {
					margin-bottom: 7px;
				}
			}
			.field--name-field-subfeature-with-link-image{
				@media #{$small-max} {
					margin-bottom: 1em;
				}
				img{
					width: 100%;
				}
			}
		}
	}
}

// .robust-3-column-page {
// 	.paragraph--type--three-column-subfeature {
// 		margin: unset;
// 		.container {
// 			width: unset !important;
// 			padding: 2em 0 !important;
// 			padding-top: 0 !important;
// 			@media #{$medium-max} {
// 				padding: 0 !important;
// 			}
// 		}
// 	}
// }

.paragraph--type--three-column-subfeature.gray-background {
	background: $off-white;
}