.paragraph--type--two-column-text {
	margin: 0 calc(50% - 50vw);
	background: $white;
  	font-size: 1.2em;
  	@media #{$small-max} {
  		font-size: 1.1em;
  	}
  	.container {
  		@media #{$small-medium-max} {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
		}
		.paragraph-section-title {
		    &::before {
		      @media #{$small-max} {   
		        margin-right: 0px;
		      }
		    }
		}
  	}
	.field--name-field-content {
		padding-left: 2.1em;
		margin-top: 0em;
		@media #{$small-min} {
			columns: 49%;
			column-count: 2;
			column-gap: 2em;
		}
		@media #{$small-max} {
			padding-left: 0;
		}
		// @media #{$small-min} {
		// 	column-count: 2;
		// 	column-gap: 12em;
		// }
	}
}

.robust-3-column-page {
	.paragraph--type--two-column-text {
		margin: unset;
		.container {
			width: unset !important;
			// padding: 2em 0 !important;
			padding: 1em 0 !important;
		}
	}
}

.landing-page-content-type {
	.paragraph--type--two-column-text {
		.paragraph--type--content {
			margin: 0;
			.container {
				padding: 0;
			}
		}
	}
}