<article{{ attributes.addClass(classes) }}>

    <div{{ content_attributes.addClass('content col-sm-12 col-md-8 col-md-offset-2') }}>
        {% if payment_var.payment_clear is same as(TRUE) %}
            <h1 class="page-header">Thank you! Your payment has been successfully made!</h1>
        {% else %}
            <h1 class="page-header">Sorry there was an issue with the payment</h1>
        {% endif %}
        {% if payment_var.confirmation_message %}
            <p>{{ payment_var.confirmation_message|raw }}</p>
        {% endif %}
        {% if payment_var.transaction_id %}
            <p>For your reference your Confirmation number (transaction ID) is <strong>{{ payment_var.transaction_id }}</strong></p>
        {% endif %}
    </div>

</article>