// Menu
//
// This is the Menu component. It's an example.
//
// Markup: menu--main.html.twig
//
// Style guide: Components.menu

// Import site utilities.
@import '../../global/utils/init';

.menu-container {
  background-color: $lighter-gray;
}

.menu-top-level {
  display: none;
  flex-direction: column;
  background-color: $lighter-gray;
  border-left: 1px solid $white;
  padding-left: 0;

  @include breakpoint($bp-mobile-menu) {
    flex-direction: row;
    display: flex !important;
  }

  .menu-item {
    @include font-arizona;
    list-style: none;
    border-right: 1px solid $white;
    border-bottom: 1px solid $light-gray;

    @include breakpoint($bp-xsm) {
      border-bottom: 0;
    }

    &:hover {
      background-color: $white;
    }
  }

  .menu-item.dropdown {
    position: relative;

    &:hover {
      background-color: $white;

      .menu-dropdown {
        display: block;
      }
    }

    .menu-link {
      padding-right: 46px;
    }

    .menu-dropdown .menu-link {
      padding-right: 21px;
    }
  }

  .menu-dropdown {
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 250px;
    padding: 0;
    margin: 0;
    background-color: $white;

    @include breakpoint($bp-sm) {
      position: absolute;
      float: left;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .menu-item {
      border-right: 0;

      .menu-link {
        font-size: 16px;
        font-weight: 400;
        padding: 13px 21px;
        border-bottom: 1px solid $lighter-gray;

        &:hover {
          color: $link-blue;
          background-color: $off-white;
        }
      }
    }
  }

  .menu-link {
    display: block;
    position: relative;
    color: $cwru-blue;
    // font-size: 16px;
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: 8px 21px;
    text-decoration: none;

    line-height: 1.2;

    @include breakpoint($bp-xsm) {
      padding: 26px 16px 25px;
    }

    .arrow {
      height: 67px;
      width: 32px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      @media screen and (max-width: 992px) {
        height: 44px;
      }

      &::before {
        text-align: center;
        display: inline;
        font-size: 18px;
        font-family: 'Font Awesome 5 Free';
        content: '\f078';
        text-shadow: none;
        position: absolute;
        top: 18px;
        right: 17px;

        @media screen and (max-width: 992px) {
          top: 12px;
          font-size: 13px;
        }

        // @include breakpoint($bp-sm) {
        //   top: 27px;
        // }
      }
    }

    &.is-active {
      background-color: $light-gray;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.menu-toggle {
  @include font-arizona;
  display: block;
  width: 100%;
  border: 1px solid $light-gray;
  padding: 13px 21px;
  margin: 0;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-decoration: none;
  background: $lighter-gray;
  color: $cwru-blue;
  cursor: pointer;
  text-align: left;
  transition: background 250ms ease-in-out, transform 150ms ease;
  appearance: none;

  @include breakpoint($bp-mobile-menu) {
    display: none;
  }
  @media screen and (max-width: 992px) {
    font-size: 25px;
    font-weight: 600;
    padding: 16px 21px;
  }

  &:focus {
    outline: 1px solid $white;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }

  .fa-bars {
    margin-right: $size-smaller;
  }
}


.menu-search-mobile {
  .input-group {
    padding: 7px 18px;
    background: $lighter-gray;
    border-bottom: 1px solid $light-gray;
    position: relative;
  }

  .mobile-search-input {
    width: 100%;
    font-size: 18px;
    padding: 3px;
    border-radius: 4px;
  }

  .mobile-search-btn-wrapper {
    position: absolute;
    right: 18px;
    top: 3.5px;
  }

  .mobile-search-btn {
    font-size: 16px;
    box-shadow: none;
    background-color: transparent;
    color: $dark-gray;
    padding: 12px 14px;
    border: transparent;
  }

  @include breakpoint($bp-xsm) {
    display: none;
  }
}
