{{ attach_library('crew/studentlife') }}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
        {{ content.field_events_section_title }}
        <div id="eventsFeed" class="studentlife-feed"></div>
        {{ content.field_events_page_link }}
    {% endblock %}
  </div>
{% endblock paragraph %}
