{{ attach_library('crew/charts') }}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'mb-20',
  ]
%}
{% block paragraph %}
	{% block content %}
		<div{{attributes.addClass(classes)}} style="max-width: 600px">
			<canvas width="600" height="400" id="{{ paragraph.id() }}">
				<div class="sr-only">
					{{ content }}
				</div>
			</canvas>
		</div>
	{% endblock %}
{% endblock paragraph %}
