//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.mq--t {
  @include container(80em);
}

.container {
  padding: 0 22px;
  margin: 0 auto;
  @media #{$small-min}  { width: 764px; }
  @media #{$medium-min} { width: 984px; }
  @media #{$large-min}  { width: 1150px; }
  @media #{$jumbo-min}  { width: 1244px; }
}

.main-container {
  background-color: $white;
}

.region-content {
  padding-bottom: 22px;
}

.container-fluid {
  padding: 0;
  .paragraph--type--hero-one-column, .form-group {
    margin: 0;
  }
}
