@import '../../global/utils/init';

.paragraph--type--featured-initiatives-group {
  margin-bottom: $size-medium;

  .field-featured-initiative-title {
    @include font-arizona;
    font-size: $font-size-larger;
    font-weight: 700;
    color: $cwru-blue;
    margin-left: $size-smallest;
    margin-right: $size-smallest;

    @include breakpoint($bp-lg) {
      font-size: $font-size-jumbo;
    }
  }

  .field-featured-initiative-descri {
    font-size: $font-size-medium;
    margin: $size-small $size-medium;

    @include breakpoint($bp-md) {
      margin: $size-medium $size-large;
    }
  }

  .field-featured-initiative {
    @include breakpoint($bp-sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $size-small;

      .field__item:first-child {
        grid-row-end: span 1;
      }

      .field__item {
        font-size: $font-size-medium;
      }
    }

    @include breakpoint($bp-md) {
      grid-template-columns: 1.765fr 1fr 1fr;

      .field__item:first-child {
        grid-row-end: span 2;
        font-size: $font-size-larger;
      }
    }
  }
}

.paragraph--type--featured-initiatives {
  position: relative;
  height: 100%;

  .field-initiative-title {
    @include font-arizona;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    font-weight: 700;
    padding: 10px 20px $size-smallest;
    font-size: $font-size-large;
    line-height: 1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 50px;
      background-image: url('/socialwork/themes/custom/crew_socialwork/images/arrow.png');
      background-position: center;
      background-size: contain;
      transform: rotate(-90deg);
    }
  }

  article {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.5s;

    &:hover {
      scale: 1.07;
    }
  }

  .field-initiative-image.field__item .field-image {
    font-size: 0;
  }

  .field-initiative-image,
  .field-image,
  article {
    height: 100%;
  }
}
