// Menu
//
// This is the Menu component. It's an example.
//
// Markup: menu--main.html.twig
//
// Style guide: Components.menu

// Import site utilities.
@import '../../global/utils/init';

.menu-top-level {
  display: none;
  justify-content: space-between;
  padding: 0;
  margin: $size-medium 0;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    display: flex;
    margin: 0;
    margin-top: 1em;
    margin-bottom: -1em;
    flex-direction: row;
  }

  .menu-item {
    list-style: none;
  }

  .menu-link {
    display: block;
    color: $white;
    font-size: $font-size-medium;
    padding-bottom: $size-smallest;
    margin: $size-smallest 0;
    @include breakpoint($bp-xsm) {
      margin: 0;
    }

    &:hover,
    &.is-active {
      text-decoration: none;
      box-shadow: 0 2px 0 $green;
    }
  }
}

.menu-toggle {
  @include font-stack-titillium;
  @include breakpoint($bp-xsm) {
    display: none;
  }
  display: block;
  width: 100%;
  border: 1px solid $white;
  padding: 1rem 2rem;
  margin: 10px 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  color: $white;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:focus,
  &:hover {
    background: $blk;
  }

  &:focus {
    outline: 1px solid $white;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}

.robust-hero + .secondarynav {
  margin-top: -2em;
}

.secondarynav {
  background-color: $blk;
  padding: 20px 40px;
  margin-bottom: 20px;

  .menu-toggle {
    display: none;
  }

  .menu-top-level {
    justify-content: flex-start;
    display: flex;
    margin: 0;
  }

  .menu-item {
    // margin-bottom: $size-small;
    margin-right: $size-medium;
  }

  .menu-link {
    font-size: 16px;

    &:hover {
      text-decoration: underline;
      box-shadow: none;
    }
  }

  .section-nav-title {
    color: $white;

    &::after {
      content: '';
      display: block;
      background-color: $cwru-blue;
      width: 50px;
      height: 5px;
      margin: 5px 0 20px;
    }
  }
}
