aside {
	@media #{$small-min} {
		// margin-top: 2em;
	}
	.paragraph--type--aside {
		.field--name-field-aside-content {
			h2 {
				font-size: 1.7em;
				padding-left: 0;
				margin-top: .5em;
				&::before {
					display: none;
				}
			}
			h3 {
				font-size: 1.3em;
			}
		}
	}
}