.webform-submission-contact-us-form, .webform-submission-form, .views-exposed-form, #views-form-user-admin-people-default--4 {
	.form-control.form-select, .form-control.form-text, .form-control.form-email, .form-select.form-control {
		width: 100%;
	}
}

.slate-form {
	font-family: $arizona;
	font-size: 20px;
}
