.paragraph--type--full-width-feature {
	margin: 0 calc(50% - 50vw) 0;
	background-color: $dark-gray;
  @media #{$medium-min} {
    margin: 1em calc(50% - 50vw) 0;
  }
	.container {
		position:relative;
		padding: 0;
	    margin: 0;
	    width: 100%;
		.field--name-field-full-width-feature-image {
			margin: 0 calc(50% - 50vw);
      .media-image-container{
        position: unset;
      }
		}
    // .field--name-field-full-width-feature-image.overflow-image {
    //   @media #{$medium-min} {
    //     max-height: 75vh;
    //   }
    // }
    .full-width-feature-content-container {
      color: $white;
      padding: 1.2em;
      background-color: $dark-gray;
      margin: 0;
      display: inline-block;
      position: absolute;
      // width: 35%;
      top: 60%;
      transform: translateY(-60%);
      @media #{$medium-max} {
        position: relative;
        transform: unset;
        width: 100%;
        text-align: left;
        border: 2px solid $orange;
        font-size: 1.5em;
        padding: 1.2em 22px;
      }
      @media #{$medium-min} {
        max-width: 35%;
      }
      .field--type-link a {
        margin-top: 0;

        &:hover {
          background-color: $white;
          color: $link-blue;
        }
      }

      .body-content {
        p {
          font-size: 1.2em;
          @media #{$large-max} {
            font-size: 1.1em;
          }
          @media #{$medium-max} {
            font-size: 0.8em;
          }
        }
        a {
          color:$white;
          @media #{$small-max} {
            width: 100%; 
            text-align: center;
            line-height: 1.2;
            // padding: unset;
            font-size: 0.9em;
          }
        }
      }

      .paragraph-section-title {
        color: $white;
        padding-left: 0;
        padding-bottom: 0;

        &::before {
          display: none;
        }
        .field--name-field-full-width-feature-title {
          font-size: 1.2em;
          @media #{$medium-max} {
            font-size: 0.8em;
          }
        }

        // @media #{$medium-max} {
        //   font-size: 2.3em;
        // }
      }
    }
	}

}


.paragraph--type--full-width-feature.text-left {
  .full-width-feature-content-container {
    color: $white;
    padding: 1.2em;
    background-color: $dark-gray;
    border-top: 2px solid $orange;
    border-right: 2px solid $orange;
    border-bottom: 2px solid $orange;
    left: 0;
    @media #{$small-max} {
      position: relative;
      transform: unset;
      border: 2px solid $orange;
      padding: 1.2em 22px;
    }
  }
}

.paragraph--type--full-width-feature.text-right {
  .full-width-feature-content-container {
		border-right: 0;
		right: 0;
    border-top: 2px solid $orange;
    border-left: 2px solid $orange;
    border-bottom: 2px solid $orange;
		@media #{$small-max} {
			position: relative;
			transform: unset;
			border: 2px solid $orange;
      padding: 1.2em 22px;
		}
	}
}
