.paragraph--type--quick-links-w-horizontal-buttons {
  .paragraph-section-title {
    &::before {
      @media #{$small-max} {   
        margin-right: 0px;
      }
    }
  }

  .field--name-field-quick-links-buttons {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    @media #{$medium-max} {
      flex-wrap: nowrap;
    }
    @media #{$small-max} {
      flex-direction: column;
    }
    .field--item {
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      @media #{$small-max} {
        margin-right: 0;
      }
    }
    .field--type-link a {
      margin: 1em 0 0;
      text-align: center;
      @media #{$small-max} {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.landing-page-content-type {
  .paragraph--type--quick-links-w-horizontal-buttons {
    margin: 0em calc(50% - 50vw);
    background: $white;
    @media #{$medium-max} {
        margin-top: 0;
        margin-bottom: 0;
      }
  }
  .field--name-field-quick-links-body {
    color: $cwru-blue;
    font-size: 1.2em;
    // padding-left: 1.9em;
    @media #{$small-max} {
      // padding-left: 0;
      font-size: 1.1em;
    }
  }
}

.robust-3-column-page {
  .paragraph--type--quick-links-w-horizontal-buttons {
    padding-top:1em;
    .field--name-field-quick-links-buttons {
      padding-bottom: 1em;
    }
    .container {
      width: unset !important;
      padding: 0em 0 0em 0 !important;
      .field--name-field-quick-links-buttons:first-child {
        margin-top:-2em;
      }
    }
  }
}
