.paragraph--type--stats-group {
  padding-bottom: 0;
  background: transparent;
  .stats-section-container {
    background: transparent;
    padding: 0;
    .field--name-field-stat-items {
      margin: 0;
      @media #{$small-max} {
        flex-direction: column;
      }
      & > .field--item {
        text-align: center;
        flex-grow: 0;
        margin: 20px 0;
        flex-basis: 30%;
        .paragraph--type--stat {
          text-align: center;
          .field--name-field-stat-value {
            color: $orange;
            font-family: $arizona-bold;
          }
          .field--name-field-stat-description {
            color: $cwru-blue;
            font-size: 0.9em;
          }
          @media #{$small-max} {
            text-align: left;
          }
        }
        @media #{$small-max} {
          margin-bottom: 0.3em;
        }
      }
    }
  }
}

.paragraph--type--stats-robust-three-column {
  padding-bottom: 1em;
  padding-top: 1em;
  .stats-container{
    background: $off-white;
    padding: 1em 3em 1em 2em;
  }
  
  h2 {
    font-size: 1.9em;
  }
}
