.paragraph--type--two-column-subfeature {
	margin: 0 calc(50% - 50vw);
	background: $white;
	.paragraph-section-title {
		color: $cwru-blue;
	}
	.field--name-field-two-column-subfeature-para {
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    row-gap: 2em;
	    margin-top: 1em;
		@media #{$small-max} {
			flex-direction: column;
      		row-gap: 0;
		}
		&>.field--item {
			flex-basis: 45%;
			&:last-of-type {
				.paragraph--type--subfeature-with-button {
					.field--name-field-three-column-subfeature-bu {
						a {
							// margin-top: 1em;
						}
					}
				}
			}
		}
		}
		.paragraph-section-title {
			color: $cwru-blue;
			&::before {
		      @media #{$small-max} {   
		        margin-right: 0px;
		      }
		    }
		}
		.paragraph--type--subfeature-with-button {
			display: flex;
			flex-direction: column;
			padding-left: 5px;
			@media #{$medium-max} {
				margin-bottom: 30px;
			}
			.paragraph-section-title {
				//padding-top: .7em;
				@media #{$small-max} {
					padding-top: 0;
				}
			}
			.field--name-field-three-column-subfeature-im {
				position: relative;
				margin-bottom: 0.5em;
				&::before {
					content: '';
					width: 4em;
					height: 4em;
					border-top: 100px solid $orange;
      				border-right: 100px solid transparent;
					display: inline-block;
					position: absolute;
					top: -0.25em;
					left: -0.25em;
					z-index: 10;
				}
				img{
					width: 100%;
				}
			}
			.field--name-field-three-column-subfeature-co p {
				margin-top: 0;
			}
			.field--name-field-three-column-subfeature-bu {
				a {
					margin: 0;
					text-align: center;
					@media #{$small-max} {
						width: 100%;
						line-height: 1.3;
					}
			}
		}
	}
}

.robust-3-column-page {
	.paragraph--type--two-column-subfeature {
		margin: unset;
		.container {
			width: unset !important;
			// padding: 2em 0 !important;
			padding: 1em 0 !important;
			// padding-top: 0 !important;
			@media #{$medium-max} {
				padding: 0 !important;
			}
		}
	}
}
