.landing-page
  .field--item:last-of-type
  .paragraph--type--two-column-content-and-photo {
  margin-bottom: 2em;
}
.landing-page
.field--name-field-main-content
  .field--item:last-child
  .paragraph--type--two-column-content-and-photo
  .container {
  margin-bottom: 4em;
}
.paragraph--type--two-column-content-and-photo {
  margin: 0 calc(50% - 50vw);
  background: $cwru-blue;
  color: $white;
  margin-bottom: 2em;
  @media #{$small-max} {
    font-size: 1.1em;
  }

  .container {
    padding-bottom: 0;
    margin-bottom: 2em;
    .two-column-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: -2em;
      @media #{$small-medium-min} {
        min-height: 475px;
      }
      @media #{$medium-max} {
        flex-direction: column;
      }

      .two-col-content-body {
        width: 50%;
        flex: 1;
        margin-right: 3em;
        padding-bottom: 2em;
        text-align: left;
        margin-bottom: 2.5em;

        @media #{$medium-max} {
          width: 100%;
          margin-bottom: 0;
        }
        //  @media #{$small-max} {
        //   padding-bottom: 0;
        // }

        p {
          margin-bottom: 25px;
        }
        p:last-child {
          margin-bottom: 0;
        }
        li{
          margin-bottom:7px;
        }
        .paragraph-section-title {
          color: $white;
          padding-bottom: 0;
          &::before {
            @media #{$medium-max} {
              margin-right: 0px;
            }
          }
          // @media #{$small-max} {
          //   margin-top: 0 !important;
          // }
        }

        .field--name-field-2-col-content-photo-body,
        .field--name-field-two-col-content-photo-butt {
          padding-left: 2.1em;
          @media #{$small-max} {
            padding-left: 0;
          }
        }
        .field--name-field-two-col-content-photo-butt a {
          margin-top: 1.3em;
          
          @media #{$small-max} {
            width: 100%;
            line-height: 1.3em;
            padding: 1em;
            margin-top: 1em;
            text-align: center;
            padding: 0.7em;
          }
        }
      }

      .two-column-photo-container {
        width: 40%;
        position: relative;
        overflow: hidden;
        @media #{$medium-max} {
          width: 100%;
        }

        * {
          position: unset;
        }

        img {
          bottom: 0;
          height: 100%;
          left: 0;
          margin: 0;
          max-width: none;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          object-fit: cover;
          @media #{$medium-max} {
            position: relative;
          }
        }
      }
    }
  }
}

.landing-page-two-column-first {
  margin: 0 calc(50% - 50vw);
  .paragraph--type--two-column-content-and-photo {
    margin: unset;
    background-color: unset;
    color: unset;
    .container {
      .two-column-container {
        .two-col-content-body {
          @media #{$medium-max} {
            padding-bottom: 0;
          }
          // p:last-child {
          //   margin-bottom: revert;
          // }
        }
        .two-column-photo-container {
          margin-top: 1.5em;
        }
      }
    }
  }
}

.robust-3-column-page {
  .paragraph--type--two-column-content-and-photo {
    margin: unset;
    padding-left: 2em;
    padding-right: 2em;
    .container {
      width: unset !important;
      padding: 2em 0 !important;
    }
  }
}

.paragraph--type--two-column-content-and-photo.text-right {
  .container {
    .two-column-container {
      flex-direction: row-reverse;
      @media #{$medium-max} {
        flex-direction: column;
      }
      .two-col-content-body {
        margin-left: 3em;
        margin-right: 0;
        @media #{$medium-max} {
          margin-left: 0;
        }
      }
    }
  }
}

.paragraph--type--two-column-content-and-photo {
  .field--name-field-two-col-content-photo-butt a:hover {
    background-color: $white;
    color: $link;
  }
  &.gray-background{
    background: $off-white;
    color: $dark-gray;
    .field--name-field-two-col-content-photo-butt a:hover {
      background-color: $cwru-blue;
      color: $white;
    }
    .paragraph-section-title {
      color: $cwru-blue !important;
      &::before{
        background-image: url("../images/header-square.svg");
      }
    }
  }

  &.white-background {
  background: $white;
  color: $dark-gray;
    .field--name-field-two-col-content-photo-butt a:hover {
      background-color: $cwru-blue;
      color: $white;
    }

    .paragraph-section-title {
      color: $cwru-blue !important;
    }

    .container {
      .two-column-container {
        margin-bottom: 0;
        .two-col-content-body {
          margin-bottom: 0;
        }
      }
    }
  }
  &.blue-background {
    .field--name-field-two-col-content-photo-butt a:hover {
      background-color: $white;
      color: $link;
      text-decoration: none;
    }
  }
}

.landing-page-two-column-first.blue-bkg
  .paragraph--type--two-column-content-and-photo {
  font-size: 1.2em;
  line-height: 1.5;
  @media #{$small-max} {
    font-size: 1.1em;
  }
  .container {
    .two-column-container {
      .two-column-photo-container {
        &::before {
          background-image: none;
        }
      }
    }
  }
}

.paragraph--type--two-column-content-and-photo.blue-background {
  .container {
    .two-column-container {
      .two-column-photo-container {
        &::before {
          content: "";
          position: absolute;
          z-index: 1;
          display: block;
          width: 249px;
          height: 167px;
          bottom: 0;
          right: 0;
          background-image: url(/weatherhead/themes/custom/crew_weatherhead/images/blue-two-column-image-pattern.svg);
          background-size: contain;
        }
      }
    }
  }
}

.paragraph--type--two-column-content-and-photo.blue-background.text-right {
  .container {
    .two-column-container {
      .two-column-photo-container {
        &::before {
          background-image: url(/weatherhead/themes/custom/crew_weatherhead/images/blue-two-column-image-pattern-left.svg);
          left: 0;
        }
      }
    }
  }
}


