.paragraph--type--two-column-content-and-stats{
	margin: 0 calc(50% - 50vw);
	background: $white;
	.container {
		display: flex;
		@media #{$medium-max} {
			flex-direction: column;
		}
		.two-col-cont-stats-left {
			margin-right: 2em;
			h2 {
				&::before {
			        @media #{$small-max} {   
			        	margin-right: 0px;
			        }
		        }
			}
			.field--name-field-first-column-text {
				padding-left: 2.1em;
				margin-top: 1em;
				@media #{$small-max} {
					padding-left: 0;
				}
			}
		}
		.paragraph--type--stats-group {
			margin-bottom: 0; 
			@media #{$small-max} {
				margin-bottom: 20px;
			}
			.paragraph--type--stat {
				text-align: left !important;
			}
		}
	}
}

.paragraph--type--stats-robust-three-column {
	h2.paragraph-section-title {
		.field--name-field-stats {
			overflow-wrap: break-word;
		}
	}
}