.fullscreen-content div {
  margin: 0;
  padding: 0;
}

article.fullscreen .slick img {
  max-width: none;
  width: auto;
  height: 100vh;
}

#date-time-fullscreen {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  color: $white;
  text-shadow: 0 0 20px $blk;
}

#clock-fullscreen {
  font-size: 96px;
}

#clock-fullscreen-colon {
  animation: blink 1s ease-in-out infinite;
}

#date-fullscreen {
  font-size: 30px;
  font-weight: 300;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
