// NEEDS REFACTORING FOR THIS THEME

@mixin white-link() {
  color: $white;
  text-decoration: underline;
  font-family: $arizona-bold;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

  &:hover {
    text-decoration: none;
  }
}

@mixin underline-title($size: 30px) {
  font-size: $size;
  font-weight: 700;
  font-family: $heading_font;
  line-height: 1.2;
  margin-bottom: 10px;
  &:after {
    content: '';
    display: block;
    background-color: $lime;
    width: 50px;
    height: 5px;
    margin: 5px 0 20px 0;
  }
}
