@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin pattern-background {
  background-color: $lighter-gray;
  background-image: url('../images/pattern.png');
}
