.view-equipment-listing .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .view-equipment-listing .view-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.view-equipment-listing .view-content .views-row {
  -webkit-flex-basis: 32%;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  border: 7px solid #3168a6;
  padding: 16px 15px 10px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  width: calc(49.999% - 20px);
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow-wrap: anywhere;
}

@media only screen and (max-width: 1199px) {
  .view-equipment-listing .view-content .views-row {
    width: calc(49% - 20px);
  }
}

@media (max-width: 992px) {
  .view-equipment-listing .view-content .views-row {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-left: 0;
    width: 100%;
  }
}

.view-equipment-listing .view-content .views-row a:hover {
  text-decoration: none;
}

.view-equipment-listing .view-content .views-row .thinkbox__block .header--main--dark {
  color: #1F2325;
  font-size: 30px;
  font-weight: 700;
}

.view-equipment-listing .view-content .views-row .thinkbox__block p {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.view-equipment-listing .view-content .views-row .thinkbox__block .thinkbox__block-summary {
  color: #000;
  font-family: "DepotNew-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.view-equipment-listing .view-content .views-row .thinkbox__block .contextual-region .field--type-image img {
  margin: auto;
  padding-bottom: 10px;
}

.views-element-container {
  max-width: 1370px;
  margin: 0 auto;
}

.view-equipment-listing .view-filters {
  float: left;
  max-width: 300px;
  padding: 20px;
  position: relative;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }
}

.view-equipment-listing .view-filters .form-type-textfield {
  width: 75%;
  margin-top: -20px;
}

.view-equipment-listing .view-filters .form-type-textfield .control-label {
  display: none;
}

.view-equipment-listing .view-filters .form-type-textfield .form-text.form-control {
  height: 70px;
  font-size: 18px;
  width: 120%;
  border: 7px solid #3168a6;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-type-textfield {
    width: 100%;
    padding-right: 60px;
  }
}

.view-equipment-listing .view-filters .form-submit {
  background-color: #eee;
  border: none;
  left: -7px;
  position: absolute;
  top: -13px;
  color: #000;
  height: 56px;
  width: 40px;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-submit {
    left: -32px;
  }
}

.view-equipment-listing .view-filters .form-submit .fa-search {
  color: #626262;
}

.view-equipment-listing .view-filters legend {
  border-bottom: none;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters legend {
    cursor: pointer;
  }
  .view-equipment-listing .view-filters legend:before {
    content: '';
    background: url("../../../caret-next.svg") no-repeat;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    height: 26px;
    width: 26px;
    float: right;
    margin-top: 13px;
  }
}

.view-equipment-listing .view-filters .fieldgroup.form-wrapper {
  margin-left: 16px;
  width: 90%;
}

.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item {
  display: block !important;
}

.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item .control-label {
  font-size: 20px;
  font-weight: 500;
  padding-left: 27px;
}

.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item .control-label .form-checkbox {
  margin-right: 10px;
  margin-left: -27px;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper {
    display: none;
  }
}

@media (min-width: 767px) {
  .view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper {
    display: block !important;
  }
}

.view-equipment-listing .view-filters .form-actions.form-wrapper {
  position: absolute;
}

@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-actions.form-wrapper {
    right: 21px;
  }
}
