.view-equipment-listing .view-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .view-equipment-listing .view-content {
    flex-direction: column;
  }
}
.view-equipment-listing .view-content .views-row {
  flex-basis: 32%;
  flex-grow: 1;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  border: 7px solid #006DA3;
  padding: 16px 15px 10px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  width: calc(49.999% - 20px);
  flex: 0 0 auto;
  overflow-wrap: anywhere;
}
.view-equipment-listing .view-content .views-row:hover {
  border: 7px solid #003071;
  transition: border 0.2s ease;
}
@media only screen and (max-width: 1199px) {
  .view-equipment-listing .view-content .views-row {
    width: calc(49% - 20px);
  }
}
@media (max-width: 992px) {
  .view-equipment-listing .view-content .views-row {
    flex-basis: 100%;
    margin-left: 0;
    width: 100%;
  }
}
.view-equipment-listing .view-content .views-row a:hover {
  text-decoration: none;
}
.view-equipment-listing .view-content .views-row .thinkbox__block .header--main--dark {
  color: #09143A;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 0px;
  text-align: center;
}
.view-equipment-listing .view-content .views-row .thinkbox__block p {
  flex-grow: 1;
}
.view-equipment-listing .view-content .views-row .thinkbox__block .thinkbox__block-summary {
  color: #000;
  font-family: "Arizona", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.view-equipment-listing a .field--type-image img {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.views-element-container {
  max-width: 1370px;
  margin: 0 auto;
}

.view-equipment-listing .view-filters {
  float: left;
  max-width: 300px;
  padding: 20px;
  position: relative;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }
}
.view-equipment-listing .view-filters .form-type-textfield {
  width: 75%;
  margin-top: -20px;
}
.view-equipment-listing .view-filters .form-type-textfield .control-label {
  display: none;
}
.view-equipment-listing .view-filters .form-type-textfield .form-text.form-control {
  height: 70px;
  font-size: 18px;
  width: 100%;
  border: 7px solid #006DA3;
  border-style: solid hidden solid solid;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-type-textfield {
    width: 100%;
    padding-right: 60px;
  }
}
.view-equipment-listing .view-filters .form-submit {
  background-color: #eee;
  border: none;
  position: relative;
  top: -20px;
  color: #000;
  height: 70px;
  width: 63px;
  border: 7px solid #006DA3;
  border-style: solid solid solid hidden;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-submit {
    position: relative;
  }
}
.view-equipment-listing .view-filters .form-submit .fa-search {
  color: #626262;
}
.view-equipment-listing .view-filters legend {
  border-bottom: none;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters legend {
    cursor: pointer;
    padding: 10px;
    border: 7px solid #d3d3d3;
  }
  .view-equipment-listing .view-filters legend:before {
    content: "";
    background: url("../../../caret-next.svg") no-repeat;
    transform: rotate(90deg);
    position: relative;
    height: 26px;
    width: 26px;
    float: right;
    margin-top: 13px;
  }
}
.view-equipment-listing .view-filters .fieldgroup.form-wrapper {
  margin-left: 16px;
  width: 90%;
}
.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item {
  display: block !important;
}
.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item .control-label {
  font-size: 20px;
  font-weight: 500;
  padding-left: 27px;
}
.view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper .form-item .control-label .form-checkbox {
  margin-right: 10px;
  margin-left: -27px;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper {
    display: none;
  }
}
@media (min-width: 767px) {
  .view-equipment-listing .view-filters .fieldgroup.form-wrapper .fieldset-wrapper {
    display: block !important;
    margin-bottom: 10px;
  }
}
.view-equipment-listing .view-filters .form-actions.form-wrapper {
  position: absolute;
}
@media (max-width: 767px) {
  .view-equipment-listing .view-filters .form-actions.form-wrapper {
    right: 21px;
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}
