// Sidebar Block
//
// Sidebar blocks are 1/4th of the page on desktop view. They drop to the bottom on mobile. Sidebars can contain multiple blocks such as an events feed, button groups, or a general aside.
//
// Markup: block.hbs
//
// Style guide: components.block

.aside-title,
.field--name-field-aside-title,
.field--name-field-additional-information-tit .field--label {
  @include aside-title;
}

.field--name-field-twocol-sidebar-ref {
  margin-top: 22px;
}

.field--name-field-aside-ref,
.field--name-field-landing-aside-ref,
.aside-wrapper,
.field--name-field-external-rss {
  clear: both;
  @include span(12);
  @media #{$medium-min} {
    @include span(4 last);
    margin-left: 22px;
  }
  @media #{$jumbo-min} {
    @include span(4 last);
    position: relative;
    z-index: 1;
  }
  background-color: $white;
}
.knowledge-base .field--name-field-aside-ref,
.service-catalog .field--name-field-aside-ref {
  width: 100%;
}
.paragraph--type--aside,
.paragraph--type--external-rss,
.field--name-field-additional-information-tit .field--item {
  width: 100%;
  margin-left: 0;
  margin-bottom: 25px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 1px 0;
  background-color: $off-white;

  .img-responsive {
    width: 100%;
  }

  .field--name-field-aside-image-ref {
    display: block;
    margin: 20px;
    max-width: 100%;
    width: 100%;
    padding: 15px;
    height: auto;
    width: auto;
    vertical-align: middle;
  }
  .field--name-field-aside-content h4 {
    margin-top: 16px;
  }
  .field--name-field-field-aside-image-ref
    + .field--name-field-aside-content
    h4 {
    margin-top: 0;
  }
  .field--name-field-aside-content {
    padding-top: 20px;
  }
  .field--name-field-aside-content ul li:first-child {
    margin: 0 !important;
  }
  .field--name-field-aside-content {
    margin: 0 20px;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    p {
      margin-top: 10px;
    }
    ol {
      padding: 0 20px;
    }
    li {
      padding-bottom: 10px;
    }
    form {
      button {
        @include button-block-blue;
        font-weight: 700;
      }
      p a {
        color: $link-blue !important;
        &:hover,
        &:active {
          color: $cwru-blue !important;
        }
        &:visited {
          color: $link-blue !important;
        }
      }
    }
  }
  .field--name-field-aside-button {
    margin: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    a {
      @include button-block-blue;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  .embedded-entity img {
    @media #{$jumbo-max} {
      max-width: 65%;
    }
  }
}

.field--name-field-aside-content .video-embed-field-responsive-video {
  margin-top: 20px;
}

.field--name-field-additional-information-tit .field--label {
  font-weight: normal;
  &:after {
    content: "";
  }
}
.field--name-field-additional-information-tit .field--item {
  padding: 15px;
}

// Anand: turned this off because it breaks responsive tables
//FIXING ASIDE RESPONSIVENESS FOR BASIC PAGES
// @media #{$medium-max}  {
//   .basic-page > .content {
//     display: table;
//   }
//   .field--name-body {
//       display: table-header-group;
//   }
//   .paragraph--type--aside{
//     display: table-footer-group;
//   }
//   .field--name-field-aside-ref {
//     margin-left: 0px;
//   }
// }
