.view-core-facilities-listing {
    display: table;
    .view-filters {
        display: table-header-group;
        form {
            @media (min-width: $small) {
                max-width: 60%;
            }
        }
        .form-inline {
            position: relative;
            display: flex;
            flex-direction: column-reverse;

            .form-actions {
                height: 0px;
            }
            .form-item-general-search {
                display: flex;
                .form-control.form-text {
                    flex: 1;
                }
            }
        }
        .form-item {
            label {
                cursor: default;
                margin-bottom: 3px;
                font-weight: bold;
            }
            .select-wrapper select {
                width: 100%;
            }
        }
        .form-submit {
            background-color: $link-blue;
            border: none;
            position: relative;
            float: right;
            height: 48px;
            @media (max-width: 767px) {
                top: 15px;
            }
            .glyphicon {
                top: 3px;
            }
        }
        .form-type-textfield {
            @media (max-width: $small) {
                padding-right: 114px;
            }
            ::-webkit-input-placeholder {
                font-style: italic;
             }
             :-moz-placeholder {
                font-style: italic;  
             }
             ::-moz-placeholder {
                font-style: italic;  
             }
             :-ms-input-placeholder {  
                font-style: italic; 
             }
        }
    }
    .view-header {
        display: table-row-group;
    }
    .view-content {
        display: table-footer-group;
        li {
            margin-bottom: 5px;
            .facility-container {
                .field--name-field-core-facilities-affiliatio {
                    display: inline;
                    .field--label {
                        display: none;
                    }
                    .field--items {
                        display: inline;
                        .field--item {
                            display: inline;
                            background: $lighter-gray;
                            padding: 0 4px 0 4px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

.core-facilities {
    .button-blue {
        margin-top: 15px;
        @media (max-width: 767px) {
            margin: 15px auto;
        }
        .field--name-field-core-facilities-website {
            a, a:visited {
                color: $white !important;
                text-decoration: none !important;
            }
        } 
    }

    .field--name-field-core-facilities-affiliatio {
        .field--items {
            display: inline;
            .field--item {
                display: inline;
                // background: $lighter-gray;
                // padding: 0 4px 0 4px;
                // border-radius: 5px;
            }
            .field--item:after {
                content: ',';
            }
            .field--item:last-child::after {
                content: none;
            }
        }
    }

    .field--name-field-core-facilities-category {
        .field--items {
            display: inline;
            .field--item {
                display: inline;
                // background: $lighter-gray;
                // padding: 0 4px 0 4px;
                // border-radius: 5px;
            }
            .field--item:after {
                content: ',';
            }
            .field--item:last-child::after {
                content: none;
            }
        }
    }

    .field--name-field-core-facilities-overview {
        p {
            margin: 0 0 15px 0;
        }
    }
}
