.paragraph--type--countdown-timer {
  .field--name-field-event-label {
    font-size: 26px;
    font-weight: 400;
    color: $cwru-blue;
  }

  .tLabel {
    font-style: italic;
    color: $med-gray;
  }

  #daysBox,
  #hoursBox,
  #minsBox,
  #secsBox {
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: $cwru-blue;
    color: $white;
    display: block;
    padding: 5px;
    text-align: center;
  }

  .box {
    display: inline-block;
    height: auto;
    text-align: center;
    margin-right: 5px;
  }
}
