.views-field-field-article-date {
  display: inline-block;
  margin: 6px 15px 15px 0;
  min-width: 60px;
  .field-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .month {
    font-size: .75em;
    background-color: $cwru-blue;
    color: $white;
    padding: 0 1em;
  }
  .day {
    font-size: 1.2em;
    border: 1px solid $light-gray;
    border-top: none;
    background-color: $white;
  }
}

.view-alumni-news .views-row,
.view-security-reports .views-row {
  display: flex;
  margin-bottom: 22px;
  .field--name-field-aside-ref & {
    margin: 0 10px;
  }
}
