// Events Views
//
// Events for Subfeatures/Sidebars and page content. Should contain no more than 3-5 of the latest events. Include a button to the full event listing.
//
// Weight: -18
//
// Style guide: components.events

// Events - Subfeature/Sidebar
//
// Markup: events-subfeature.hbs
//
// Weight: -17
//
// Style guide: components.events.subfeature

// Events - Page Content
//
// Markup: events-content.hbs
//
// Weight: -16
//
// Style guide: components.events.content

.event-content main {
  .field--label {
    font-weight: 600;
  }
  .field--label-above {
    margin-bottom: 10px;
  }
}
@media #{$small-max} {
  .event-content .row {
    display: flex;
    flex-direction: column;
    main {
      order: 2;
    }
    aside {
      order: 1;
    }
  }
}

.event-detail-page {
  .field--name-field-event-description {
    margin-bottom: 20px;
  }

  div.article-image {
    margin: 5px 0px 20px 30px;
    max-width: 300px;
  }
}

// event listing view styling
.view-event-listing {
  //.views-row {
  //  .views-field-field-event-location {
  //    margin: 10px 0;
  //  }
  //  .views-field-field-event-details-summary {
  //    margin-top: 10px;
  //  }
  //}
  .media-list .media-body span {
    margin-top: 0;
  }
}

.event-detail-page {
  .field--name-field-event-url a {
    @include button-blue;
  }
}
