.external-profile {
	.field--name-field-ext-profile-org-info-ref {
		font-weight: 600;
		margin-bottom: 10px;
		.field--item {
			.paragraph--type--organization-information{
				margin-bottom: 10px;
				div {
					display: inline;
				}
				.field--name-field-organization {
					&:before {
						content: ", ";
						margin-left: -4px;
					}
				}
			}
		}
	}
	.field--name-field-ext-prof-biography {
		margin: 22px 0;
	}

	.profile-aside {
		border: 1px solid $light-gray;
	    padding: 12px;
	    margin-left: 22px;
	    margin-bottom: 22px;
	    word-break: break-word;
		.field--name-field-ext-profile-image {
			margin-bottom: 12px;
		}
		.dept-building-section {
			margin-bottom: 20px;
		}
		@media (max-width: $small) {
			float: none !important;
			margin-left: 0;
		}
	}
}

// Listing styles
.paragraph--type--organization-information.paragraph--view-mode--external-profiles-listing {
  
  margin-bottom: 10px;
  
  .field--name-field-job-title, 
  .field--name-field-organization {
    display: inline;
  }
  .field--name-field-organization::before{
    content: ', ';
	margin-left: -4px;
  }
}
