.views-view-grid {
  .views-row {
    margin-bottom: 20px;
    .views-col {
      @media #{$medium-max} {
        float: none;
        width: 100% !important;
      }
    }
  }

  .col-1 > article {
    margin-right: 10px;
    @media #{$medium-max} {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
  .col-2 > article {
    margin-left: 10px;
    @media #{$medium-max} {
      margin-left: 0px;
    }
  }

  .field--name-field-image {
    padding: 5px;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    img {
      @media #{$medium-max} {
        width: 100%;
      }
    }
  }

  .field--name-field-photo-caption {
    padding: 10px;
    background-color: $lighter-gray;
  }
}

.view-mode-article-image-with-caption,
.view-mode-full {
  margin-bottom: 15px;
  .blazy.field--name-field-image {
    padding: 5px;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    img {
      width: 100%;
    }
  }

  .field--name-field-photo-caption {
    padding: 10px;
    background-color: $lighter-gray;
  }
}

.view-mode-image-with-caption,
.view-mode-image-with-caption-small,
.view-mode-image-with-caption-medium,
.view-mode-image-with-caption-large {
  .field--name-field-photo-caption {
    background-color: $lighter-gray;
    padding: 10px;
  }
}
.view-mode-image-with-caption {
  img {
    width: 100%;
  }
}
.view-mode-image-with-caption-small {
  width: 100px;
}
.view-mode-image-with-caption-medium {
  width: 220px;
}
.view-mode-image-with-caption-large {
  width: 480px;
}

article.embedded-entity {
  .field--name-field-photo-caption {
    background-color: $lighter-gray;
    padding: 10px;
  }
}

.embedded-entity {
  .image-with-caption-large .img-responsive {
    width: 100%;
  }
  .field--name-field-photo-caption {
    background-color: $lighter-gray;
    padding: 10px;
  }
}
