#map-region {
  position: relative;
}

#map {
  height: 750px;
  width: 100%;
  @media #{$medium-max} { height: 380px; }
}

#map-feature {
  position: absolute;
  padding: 20px 0px 20px 20px;
  background-color: $white;
  right: 0px;
  top: 50px;
  width: 40%;
  max-width: 625px;
  height: 650px;
  background: $white;
  @media #{$medium-max} { position: relative; height: auto; padding-bottom: 50px; top: 0px; width:100%; max-width: 100%; padding: 20px 0px; }
  .map-description {
    margin-top: 1em;
    max-width: 565px;
  }
  .button--outline {
    padding-top: 23px;
    @include button-blue;
  }
}
.map-gallery-holder {
  .slickmain {
    max-width: 565px;
    height: auto;
    margin-top: 10px;
    // max-height: 440px;
    .slick-slide img {
      width: 100%;
      height: auto;
    }
    button.slick-arrow {
      z-index: 1;
      top: 25%;
      @media #{$large-max} { top: 19%; }
      @media #{$medium-max} { top: 34%; }
    }
  }
}
