// Pagination
//
// When a listing gets longer than 10-20 items, pagination can be used to split them up. In addition to links for page numbers, we also include links for First page, Previous page, Next page, and Last page. Some of those links are hidden when on the first or the last page.
//
// Markup: pagination.hbs
//
// Weight: -15
//
// Style guide: components.pagination

.pagination > li > a,
.pagination > li > span {
  color: $link-blue;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $link-blue;
  border-color: $link-blue;
}
