// for /firstyear custom paragraph ToDo List

.field--name-field-todo-list > .field--item {
  position: relative;

  &:nth-child(even) {
    margin-left: 5vw;

    @media #{$small-max} {
      margin-left: 0;
    }
  }

  .counter {
    font-size: 70px;
    font-weight: bold;
    color: $cwru-blue;
    background-image: url('../images/step.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 270px;
    padding-left: 38px;
    padding-top: 65px;
    position: absolute;
    left: -250px;

    @media #{$small-max} {
      display: none;
    }
  }
}
  

.paragraph--type--todo-list {
  max-width: 600px;
  margin: 40px 20px;
  padding: 34px;
  border: 4px solid $yellow;
  border-radius: 25px;
  box-shadow: -12px -12px $cwru-blue, -12px 12px $cwru-blue;

  @media #{$small-max} {
    margin: 40px 0;
    max-width: none;
  }

  .field--name-field-title {
    color: $cwru-blue;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .field--name-field-start-date,
  .field--name-field-end-date {
    color: $med-gray;
    font-weight: bold;
    display: inline;
  }

  .field--name-field-list-items {
    margin-top: 16px;

    ul {
      padding-left: 24px;
    }
  }

  .field--name-field-not-available-text {
    margin-top: 16px;
  }

  .field--name-field-start-date-unavailable {
    color: $ter-orange;
    font-weight: bold;
  }

  .field--name-field-view-list-link a {
    display: block;
    text-align: right;
    text-transform: uppercase;
    margin-top: 16px;
  }
}

.road-container {
  width: 40%;
  background-image: url('../images/road.png');
  background-repeat: repeat-y;
  background-size: 100%;

  @media #{medium-max} {
    width: 20%;
  }
  @media #{$small-max} {
    display: none;
  }
}