

.travel-trip{
  .top-box-wrapper {
    background-color: $lighter-gray;
    padding: 20px;
    border: 1px solid $dark-gray;
    margin-bottom: 20px;

    .field--type-link {
      a {
        margin-top: 0.5em;
      }
    }
    .mb-10:last-of-type {
      margin-bottom: 0px;
    }
    .pricing{
      p {
        display: inline-flex;
        margin-bottom: 0px;
      }
    }
    .button-blue{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .details{
    padding:0;
  }
  a[href$=".pdf"]:after {
		content: "\f1c1";
	}
}
.view-travel{
  h2{
    font-family: "DepotNew-Bold",sans-serif;
    padding: 0 0 0.3em;
    margin-top: 0;
    &::before {
      content: none;
    }
  }
  .media-left{
    padding-right:0;
  }
}




