// Webform

div.region-highlighted {
  div.alert-danger {
    display: none;
  }
}

div.region-highlighted.webform-error-message {
  div.alert-danger {
    display: block !important;
  }
}

form.webform-submission-experiential-education-database--form, form.webform-submission-experiential-education-submissio-form {
	label, legend {
	    font-weight: 600;
	    font-family: $body_font, sans-serif;
	    padding: 0 0 0.3em;
	    margin: 0;
	    line-height: 1.1;
	    font-size: 20px;
	}
	.form-checkboxes, .form-type-radio {
		label {
			font-weight: 400;
			padding: 0 20px;
			line-height: 1.42857;
		}
	}
}

//Controller - Decistion Tree - Webform
.webform-submission-decision-tree-form {
	legend {
		clear: left;
		box-sizing: border-box;
		margin: 0 0 1em 0;
		padding: 0;
		position: relative;
		border: none; 
		.fieldset-legend {
			display: block;
			font-weight: bold;
		    padding: 4px 12px !important;
		    background: $off-white !important;
		    border-bottom: 5px solid $link-blue;
		    font-size: 24px;
		    //max-width: 620px;
		    margin-top: 20px;
		}
	}
	.form-item {
		margin: 0;
		padding-top: 0;
	}
	.radios--wrapper {
		padding: 0;
	}
	table {
		caption {
			color: $blk;
			font-weight: 600;
		}
	}
}

.webform-submission-nac-application-form {
	.webform-progress-tracker .progress-step.is-active .progress-marker {
		background-color: $link-blue;
		width: 27px;
	}
	input[type=password], input[type=text], input[type=email], input[type=tel], input:not([type]) {
		background: $white;
		border: 1px solid $cwru-dark-gray;
		padding: 6px 10px !important;
		font-size: 18px !important;
		border-radius: 0;
	}
	.form-wrapper {
		margin-bottom: 0;
		.control-label {
			font-weight: 600;
			font-size: 18px;
		}
		.form-group {
			padding: 0;
		}
		.select-wrapper {
			.form-select {
				padding: 6px 16px;
			}
		}
		.panel {
			border: none;
			box-shadow: none;
			.panel-heading {
				font-weight: bold;
			    padding: 4px 12px !important;
			    background: $off-white !important;
			    border-bottom: 5px solid $link-blue;
			    font-size: 20px;
			    overflow-wrap: anywhere;
			    //max-width: 620px;
			    //margin-top: 40px;
			}
		}
		.form-item-applicant-name, .form-item-physical-address, .form-item-organization-affiliation, .form-item-personal-response-questions-label, .form-item-mailing-address-label, .form-item-phone-numbers, .form-item-email-address {
			.control-label {
				font-weight: bold;
			    padding: 4px 12px !important;
			    background: $off-white !important;
			    border-bottom: 5px solid $link-blue;
			    font-size: 24px;
			}
		}
		fieldset {
			legend {
				font-weight: bold;
			    padding: 4px 12px !important;
			    background: $off-white !important;
			    border-bottom: 5px solid $link-blue;
			    font-size: 24px;
			    //max-width: 620px;
			    margin-top: 40px;
			}
			.fieldset-wrapper {
				.form-type-checkbox {
					margin: 0;
				}
				.form-checkboxes {
					margin: 0;
					input[type="checkbox"].form-checkbox, input[type="radio"].form-radio {
						margin-top: 8px;
					}
				}
			}
		}
	}
}
