<div
  class="view view-personal-profiles view-id-personal_profiles view-display-id-block_1 js-view-dom-id-19dab6e466ffa23489aa9bfbb61d649939a51817c40c2675ca5289608bebf2ee">
  <div class="view-content">
    <div>
      <ul class="media-list">
        <li class="media">
          <div class="views-field views-field-field-personal-profile-image-ref pull-left">
            <div class="field-content">
              <div class="media-image-container">
                <div class="field field--name-field-image field--type-image field--label-hidden field--item">
                  <img
                    src="/sites/default/files/styles/biography_listing/public/2020-05/shrek-forever-after-1587549453.jpg?h=96a96008&amp;itok=REUxqlIv"
                    alt="Anand Upadhyay" typeof="foaf:Image" class="img-responsive" width="176" height="210">
                </div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-title">
            <h2 class="field-content">
              <a href="/node/201" hreflang="en">Anand Upadhyay</a>
            </h2>
          </div><span class="views-field views-field-field-personal-profile-major"><strong
              class="views-label views-label-field-personal-profile-major">Area of Study: </strong><span
              class="field-content">
              Design
            </span></span><span class="views-field views-field-field-personal-profile-hometown"><strong
              class="views-label views-label-field-personal-profile-hometown">Hometown: </strong><span
              class="field-content">
              Cleveland
            </span></span><span class="views-field views-field-field-personal-profile-grad-year"><strong
              class="views-label views-label-field-personal-profile-grad-year">Graduation Year: </strong><span
              class="field-content">
              2011
            </span></span>
        </li>
        <li class="media">
          <div class="views-field views-field-field-personal-profile-image-ref pull-left">
            <div class="field-content">
              <div class="media-image-container">
                <div class="field field--name-field-image field--type-image field--label-hidden field--item">
                  <img
                    src="/sites/default/files/styles/biography_listing/public/2020-05/PussInBootsTransparent.png?h=0fce5727&amp;itok=ObZwZs4_"
                    alt="Cheng Chen" typeof="foaf:Image" class="img-responsive" width="176" height="210">
                </div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-title">
            <h2 class="field-content">
              <a href="/node/196" hreflang="en">Cheng Chen</a>
            </h2>
          </div><span class="views-field views-field-field-personal-profile-major"><strong
              class="views-label views-label-field-personal-profile-major">Area of Study: </strong><span
              class="field-content">
              Systems and Control Engineering
            </span></span><span class="views-field views-field-field-personal-profile-hometown"><strong
              class="views-label views-label-field-personal-profile-hometown">Hometown: </strong><span
              class="field-content">
            </span></span><span class="views-field views-field-field-personal-profile-grad-year"><strong
              class="views-label views-label-field-personal-profile-grad-year">Graduation Year: </strong><span
              class="field-content">
              2010
            </span></span>
        </li>
        <li class="media">
          <div class="views-field views-field-field-personal-profile-image-ref pull-left">
            <div class="field-content">
              <div class="media-image-container">
                <div class="field field--name-field-image field--type-image field--label-hidden field--item">
                  <img
                    src="/sites/default/files/styles/biography_listing/public/2020-05/Wilburn-8848.jpg?h=2a479378&amp;itok=c_xk5w2o"
                    alt="Megan Wilburn" typeof="foaf:Image" class="img-responsive" width="176" height="210">
                </div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-title">
            <h2 class="field-content">
              <a href="/node/206" hreflang="en">Megan Wilburn</a>
            </h2>
          </div><span class="views-field views-field-field-personal-profile-major"><strong
              class="views-label views-label-field-personal-profile-major">Area of Study: </strong><span
              class="field-content">
              Computers
            </span></span><span class="views-field views-field-field-personal-profile-hometown"><strong
              class="views-label views-label-field-personal-profile-hometown">Hometown: </strong><span
              class="field-content">
              Akron
            </span></span><span class="views-field views-field-field-personal-profile-grad-year"><strong
              class="views-label views-label-field-personal-profile-grad-year">Graduation Year: </strong><span
              class="field-content">
              2018
            </span></span>
        </li>
        <li class="media">
          <div class="views-field views-field-field-personal-profile-image-ref pull-left">
            <div class="field-content">
              <div class="media-image-container">
                <div class="field field--name-field-image field--type-image field--label-hidden field--item">
                  <img
                    src="/sites/default/files/styles/biography_listing/public/2020-05/Screen%20Shot%202020-05-15%20at%2012.46.26%20PM.png?h=5f6db03c&amp;itok=g-ekK9xv"
                    alt="Zach Burklund" typeof="foaf:Image" class="img-responsive" width="176" height="210">
                </div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-title">
            <h2 class="field-content">
              <a href="/node/191" hreflang="en">Zach Burklund</a>
            </h2>
          </div><span class="views-field views-field-field-personal-profile-major"><strong
              class="views-label views-label-field-personal-profile-major">Area of Study: </strong><span
              class="field-content">
              Computers
            </span></span><span class="views-field views-field-field-personal-profile-hometown"><strong
              class="views-label views-label-field-personal-profile-hometown">Hometown: </strong><span
              class="field-content">
              Omaha
            </span></span><span class="views-field views-field-field-personal-profile-grad-year"><strong
              class="views-label views-label-field-personal-profile-grad-year">Graduation Year: </strong><span
              class="field-content">
              2013
            </span></span>
        </li>
      </ul>
    </div>
  </div>
</div>