<footer aria-label="footer" class="footer container" role="contentinfo" style="padding-top: 0px;">
	<div class="region region-footer">
		<section class="views-element-container block block-views block-views-blocksecondary-footer-block-1 clearfix" id="block-secondary-footer-block">
			<div block="block-secondary-footer-block" class="form-group">
				<div class="view view-secondary-footer view-id-secondary_footer view-display-id-block_1 js-view-dom-id-8f31a9c7337fcc6bcce0e330a219324e21927e2fb61e6c9f002ea4ed95bab425">
					<div class="view-content">
        				<div class="secondary-footer-row views-row">
        					<div class="footer__block footer__block--department mr-20">
  								<img src="https://dudbm6bcnmy8e.cloudfront.net/cwru-drupal-assets/images/pin-icon.svg" alt="map marker" class="footer__map-icon hidden-sm hidden-xs">
  								<div class="footer__department-info">
    								<div class="footer__header h3">School of Medicine</div>
          							<div><strong>Phone:</strong> <a href="tel:216.368.2000">216.368.2000</a></div>
          							<div><strong>Email:</strong> <a href="mailto:medweb@case.edu">medweb@case.edu</a></div>
									<div class="mb-20"><a href="mailto:medweb@case.edu">Site Feedback</a></div>
    							</div>
							</div>
							<div class="field field--name-field-address-block field--type-entity-reference-revisions field--label-hidden field--items">
            					<div class="field--item">
            						<div class="paragraph paragraph--type--footer-address paragraph--view-mode--default">
										<div class="field field--name-field-title field--type-string field--label-hidden field--item">Health Education Campus</div>
										<div class="address-block address-block-physical">
    										<p>Campus Location:</p>
    										<div class="field field--name-field-address field--type-string field--label-hidden field--item">9501 Euclid Ave.</div>
											<div class="field field--name-field-city field--type-string field--label-hidden field--item">Cleveland</div>
											<div class="field field--name-field-state field--type-string field--label-hidden field--item">OH</div>
											<div class="field field--name-field-zip field--type-string field--label-hidden field--item">44106</div>
    									</div>
    									<div class="address-block address-block-mailing">
    										<p>Mailing Address:</p>
											<div class="field field--name-field-mailing-address field--type-string field--label-hidden field--item">10900 Euclid Ave.</div>
											<div class="field field--name-field-mailing-city field--type-string field--label-hidden field--item">Cleveland</div>
											<div class="field field--name-field-mailing-state field--type-string field--label-hidden field--item">OH</div>
											<div class="field field--name-field-mailing-zip field--type-string field--label-hidden field--item">44106-7341</div>
    									</div>
    								</div>
								</div>
								<div class="field--item">
									<div class="paragraph paragraph--type--footer-address paragraph--view-mode--default">
										<div class="field field--name-field-title field--type-string field--label-hidden field--item">Research Campus</div>
										<div class="address-block address-block-physical">
    										<p>Campus Location:</p>
											<div class="field field--name-field-address field--type-string field--label-hidden field--item">2109 Adelbert Road</div>
											<div class="field field--name-field-city field--type-string field--label-hidden field--item">Cleveland</div>
											<div class="field field--name-field-state field--type-string field--label-hidden field--item">OH</div>
											<div class="field field--name-field-zip field--type-string field--label-hidden field--item">44106</div>
										</div>
										<div class="address-block address-block-mailing">
    										<p>Mailing Address:</p>
											<div class="field field--name-field-mailing-address field--type-string field--label-hidden field--item">10900 Euclid Ave.</div>
											<div class="field field--name-field-mailing-city field--type-string field--label-hidden field--item">Cleveland</div>
											<div class="field field--name-field-mailing-state field--type-string field--label-hidden field--item">OH</div>
											<div class="field field--name-field-mailing-zip field--type-string field--label-hidden field--item">44106-4921</div>
    									</div>
    								</div>
								</div>
        					</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section role="region" aria-label="footer sections" class="views-element-container block block-views block-views-blockfooter-block-footer clearfix" id="block-views-block-footer-block-footer">
			<div block="block-views-block-footer-block-footer" class="form-group">
				<div class="footer view view-footer view-id-footer view-display-id-block_footer js-view-dom-id-696e5830e642913884fd3c790796ff4aa4bfbd59d5aef2b97884fa4edc7a72fe">
					<div class="view-content">
        				<div class="views-row" style="padding: 0px;">
    						<script type="text/javascript">
								document.querySelector("footer.footer").style.paddingTop = "0";
								document.querySelector("#block-views-block-footer-block-footer .views-row").style.padding = "0";
							</script>
							<div class="secondary-footer width-100">
								<div class="footer-first flex flex-space-between flex-col-md">
    								<img src="https://cwru-webcontent.s3.amazonaws.com/wdd/public/cwru-drupal-assets/images/cwru-formal-logo-white-rev-tag.svg" alt="Case Western Reserve University Logo with Tagline" class="footer__logo mb-20-md" title="Case Western Reserve University">
    								<div class="mb-40-md">
									    <p>© 2021 <a href="//case.edu/">Case Western Reserve University</a></p>
									    <address>10900 Euclid Ave. Cleveland, Ohio 44106</address>
									    <p>216.368.2000<br>
	        								<a href="https://case.edu/utech/departments/information-security/policies/legal-privacy-notice">Legal Notice</a> | <a href="https://case.edu/privacy-statement/index.html">Privacy Policy</a>
	      								</p>
    								</div>
    								<div class="footer__block footer__block--social">
                                    	<div class="footer__header h3">Social Media</div>
                                    	<div class="footer__social-icons">
                  							<a href="https://www.facebook.com/CWRUSOM" target="_blank" title="CWRU Facebook" class="footer__social-icon fa fa-facebook"><span class="sr-only">Facebook</span></a>
                							<a href="https://twitter.com/cwrusom" target="_blank" title="CWRU Twitter" class="footer__social-icon fa fa-twitter"><span class="sr-only">Twitter</span></a>
                							<a href="https://www.instagram.com/cwru_med/" target="_blank" title="CWRU Instagram" class="footer__social-icon fa fa-instagram"><span class="sr-only">Instagram</span></a>
                							<a href="https://www.linkedin.com/school/case-western-reserve-university-school-of-medicine/" target="_blank" title="CWRU Linkedin" class="footer__social-icon fa fa-linkedin"><span class="sr-only">Linkedin</span></a>
            							</div>
                					</div>
                					<div class="footer__block footer__block--links">
    									<div class="footer__header h3" tabindex="0">CWRU Links</div>
    									<ul role="menu" class="footer-links">
        									<li role="menuitem"><a href="https://case.edu/admissions/">Apply to CWRU</a></li>
        									<li role="menuitem"><a href="https://case.edu/give/">Give Now</a></li>
        									<li role="menuitem"><a href="https://case.edu/visit/">Visit Campus</a></li>
        									<li role="menuitem"><a href="https://webapps.case.edu/directory/">University Directory</a></li>
    									</ul>
    								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="scroll-to-top" style="display: block;">
		<span class="fa-stack fa-lg">
    		<i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
    		<i class="fa fa-arrow-up fa-stack-1x" aria-hidden="true"></i>
		</span>
	</div>
</footer>