<header class="navbar navbar-default container" id="navbar" role="navigation" aria-label="Main Navigation Header">
	<div class="col-xs-12 no-padding">
    	<div class="navbar-header">
    		<div class="hidden-xs hidden-sm region region-navigation">
    			<nav aria-label="mainmenumenu navigation menu" id="block-crew-main-menu">
    				<ul block="block-crew-main-menu" class="menu nav navbar-nav" role="menubar">
				        <li class="hidden-md hidden-lg mobile-search-box" role="menuitem" tabindex="0">
				          <form action="//www.case.edu/search-results/" class="navbar__search-form" name="searchForm" role="search" aria-label="main search">
				            <span class="search-icon hidden-md hidden-lg"></span>
				            <input placeholder="Search CWRU" title="searchbox" type="search" class="navbar__search" name="q" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
				            <span class="mobile-search-btn">
				              <button type="submit" class="btn submit" aria-label="Submit Search">
				                <i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Submit Search</span>
				              </button>
				            </span>
				            <input type="hidden" name="cx" value="004305171799132815236:ciq4c8b3yv4">
				            <input type="hidden" name="ie" value="UTF-8">
				            <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
				          </form>
				        </li>
                        <li class="expanded dropdown active" role="menuitem" tabindex="-1"><a href="/node/21">Homepage Options <span class="arrow" aria-haspopup="true"></span></a>
                        	<ul block="block-crew-main-menu" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0">
                            	<li role="menuitem"><a href="/node/36" data-drupal-link-system-path="node/36">Homepage Full Width Feature</a></li>
		                        <li role="menuitem"><a href="/node/26" data-drupal-link-system-path="node/26">Homepage Full Width Feature/ 5 Subfeatures</a></li>
		                        <li role="menuitem"><a href="/node/31" data-drupal-link-system-path="node/31">Homepage Text Heavy</a></li>
		                        <li role="menuitem"><a href="/node/221" data-drupal-link-system-path="node/221">Homepage full width feature with content region</a></li>
		                        <li class="active" role="menuitem"><a href="/node/41" data-drupal-link-system-path="node/41" class="is-active">Homepage w/ Sidebar</a></li>
		                        <li role="menuitem"><a href="/node/126" data-drupal-link-system-path="node/126">Homepage w/ Sidebar w/Content</a></li>
        					</ul>
						</li>
                        <li class="expanded dropdown" role="menuitem" tabindex="-1"><a href="/content-options">Content Options <span class="arrow" aria-haspopup="true"></span></a>
                            <ul block="block-crew-main-menu" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0">
                            	<li role="menuitem"><a href="/content-options/basic-page" data-drupal-link-system-path="node/141">Basic Page</a></li>
                        		<li role="menuitem"><a href="/content-options/landing-page" data-drupal-link-system-path="node/136">Landing Page</a></li>
                        		<li role="menuitem"><a href="/content-options/paragraph-types" data-drupal-link-system-path="node/61">Paragraph Types</a></li>
		                        <li role="menuitem"><a href="/content-options/subfeatures-no-sidebar" data-drupal-link-system-path="node/216">Subfeatures No Sidebar</a></li>
		                        <li role="menuitem"><a href="/content-options/subfeatures-sidebar" data-drupal-link-system-path="node/66">Subfeatures With Sidebar</a></li>
		                        <li role="menuitem"><a href="/content-options/webform" data-drupal-link-system-path="node/231">Webform</a></li>
        					</ul>
  
            			</li>
                        <li class="expanded dropdown" role="menuitem" tabindex="-1"><a href="/view-options">View Options <span class="arrow" aria-haspopup="true"></span></a>
                        	<ul block="block-crew-main-menu" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0" style="">
                            	<li role="menuitem"><a href="/view-options/events-views" data-drupal-link-system-path="node/186">Events Views</a></li>
		                        <li role="menuitem"><a href="/view-options/personal-profile-views" data-drupal-link-system-path="node/236">Personal Profile VIews</a></li>
		                        <li role="menuitem"><a href="/view-options/sortable-news" data-drupal-link-system-path="node/211">Sortable News</a></li>
		                        <li role="menuitem"><a href="/view-options/standard-news-views" data-drupal-link-system-path="node/181">Standard News Views</a></li>
       						</ul>
  
            			</li>
        			</ul>
        		</nav>
        	</div>
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <i class="fa fa-bars" aria-hidden="true"></i>
	            Navigation + Search
         	</button>
         </div>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse">
    	<div class="hidden-md hidden-lg row region region-navigation-collapsible">
    		<nav aria-label="mobilemenu navigation menu" id="block-crew-mobile-nav">
    			<ul block="block-crew-mobile-nav" class="menu nav navbar-nav" role="menubar">
			        <li class="hidden-md hidden-lg mobile-search-box" role="menuitem" tabindex="0">
			          <form action="//www.case.edu/search-results/" class="navbar__search-form" name="searchForm" role="search" aria-label="mobile search">
			            <span class="search-icon hidden-md hidden-lg"></span>
			            <input placeholder="Search CWRU" title="searchbox" type="search" class="navbar__search" name="q" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
			            <span class="mobile-search-btn">
			              <button type="submit" class="btn submit" aria-label="Submit Search">
			                <i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Submit Search</span>
			              </button>
			            </span>
			            <input type="hidden" name="cx" value="004305171799132815236:ciq4c8b3yv4">
			            <input type="hidden" name="ie" value="UTF-8">
			            <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
			          </form>
			        </li>
                    <li class="expanded dropdown active" role="menuitem" tabindex="-1"><a href="/node/21">Homepage Options <span class="arrow" aria-haspopup="true"></span></a>
                    	<ul block="block-crew-mobile-nav" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0">
                        	<li role="menuitem"><a href="/node/36" data-drupal-link-system-path="node/36">Homepage Full Width Feature</a></li>
	                        <li role="menuitem"><a href="/node/26" data-drupal-link-system-path="node/26">Homepage Full Width Feature/ 5 Subfeatures</a></li>
	                        <li role="menuitem"><a href="/node/31" data-drupal-link-system-path="node/31">Homepage Text Heavy</a></li>
	                        <li role="menuitem"><a href="/node/221" data-drupal-link-system-path="node/221">Homepage full width feature with content region</a></li>
	                        <li class="active" role="menuitem"><a href="/node/41" data-drupal-link-system-path="node/41" class="is-active">Homepage w/ Sidebar</a></li>
	                        <li role="menuitem"><a href="/node/126" data-drupal-link-system-path="node/126">Homepage w/ Sidebar w/Content</a></li>
        				</ul>
  
            		</li>
                    <li class="expanded dropdown" role="menuitem" tabindex="-1"><a href="/content-options">Content Options <span class="arrow" aria-haspopup="true"></span></a>
                    	<ul block="block-crew-mobile-nav" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0">
                            <li role="menuitem"><a href="/content-options/basic-page" data-drupal-link-system-path="node/141">Basic Page</a></li>
	                        <li role="menuitem"><a href="/content-options/landing-page" data-drupal-link-system-path="node/136">Landing Page</a></li>
	                        <li role="menuitem"><a href="/content-options/paragraph-types" data-drupal-link-system-path="node/61">Paragraph Types</a></li>
	                        <li role="menuitem"><a href="/content-options/subfeatures-no-sidebar" data-drupal-link-system-path="node/216">Subfeatures No Sidebar</a></li>
	                        <li role="menuitem"><a href="/content-options/subfeatures-sidebar" data-drupal-link-system-path="node/66">Subfeatures With Sidebar</a></li>
	                        <li role="menuitem"><a href="/content-options/webform" data-drupal-link-system-path="node/231">Webform</a></li>
        				</ul>
					</li>
                    <li class="expanded dropdown" role="menuitem" tabindex="-1"><a href="/view-options">View Options <span class="arrow" aria-haspopup="true"></span></a>
                    	<ul block="block-crew-mobile-nav" class="menu dropdown-menu" role="menu" aria-hidden="true" tabindex="0">
                            <li role="menuitem"><a href="/view-options/events-views" data-drupal-link-system-path="node/186">Events Views</a></li>
	                        <li role="menuitem"><a href="/view-options/personal-profile-views" data-drupal-link-system-path="node/236">Personal Profile VIews</a></li>
	                        <li role="menuitem"><a href="/view-options/sortable-news" data-drupal-link-system-path="node/211">Sortable News</a></li>
	                        <li role="menuitem"><a href="/view-options/standard-news-views" data-drupal-link-system-path="node/181">Standard News Views</a></li>
    					</ul>
					</li>
    			</ul>
    		</nav>
    	</div>
    </div>
</header>