<article role="article" about="/node/36" class="homepage-w-full-width-feature full clearfix">
	<div class="content">
		<div class="field field--name-field-subfeature-ref field--type-entity-reference-revisions field--label-hidden field--items">
			<div class="field--item">
				<div class="paragraph paragraph--type--view paragraph--view-mode--default">
					<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
						<div class="field__item field__item-label-hidden">
							<div class="views-element-container form-group">
								<div class="view view-news-article-listing view-id-news_article_listing view-display-id-block_8 js-view-dom-id-c4a8258903acbbf11dd16346c8047dfc37549ca2ed13a50f770d06cfe72531e7">
									<div class="view-header">
		    							<div>News</div>
									</div>
		    						<div class="view-content">
		    							<div class="item-list">
											<ul class="media-list mv-20">
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
															<div class="article-date">May 27, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 2</a></h2>
															<div class="article-date">May 12, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 1</a></h2>
															<div class="article-date">May 01, 2020</div>
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="view-footer">
		    							<div class="field--name-field-subfeature-link n-mb-15"><a href="https://case.edu">View More News</a></div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="field--item">
				<div class="paragraph paragraph--type--view paragraph--view-mode--default">
					<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
						<div class="field__item field__item-label-hidden">
							<div class="views-element-container form-group">
								<div class="view view-news-article-listing view-id-news_article_listing view-display-id-block_8 js-view-dom-id-c4a8258903acbbf11dd16346c8047dfc37549ca2ed13a50f770d06cfe72531e7">
									<div class="view-header">
		    							<div>News</div>
									</div>
		    						<div class="view-content">
		    							<div class="item-list">
											<ul class="media-list mv-20">
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 4</a></h2>
															<div class="article-date">May 31, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
															<div class="article-date">May 12, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 2</a></h2>
															<div class="article-date">May 05, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 1</a></h2>
															<div class="article-date">May 01, 2020</div>
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="view-footer">
		    							<div class="field--name-field-subfeature-link n-mb-15"><a href="https://case.edu">View More News</a></div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="field--item">
				<div class="paragraph paragraph--type--view paragraph--view-mode--default">
					<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
						<div class="field__item field__item-label-hidden">
							<div class="views-element-container form-group">
								<div class="view view-news-article-listing view-id-news_article_listing view-display-id-block_8 js-view-dom-id-c4a8258903acbbf11dd16346c8047dfc37549ca2ed13a50f770d06cfe72531e7">
									<div class="view-header">
		    							<div>News</div>
									</div>
		    						<div class="view-content">
		    							<div class="item-list">
											<ul class="media-list mv-20">
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
															<div class="article-date">May 27, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 2</a></h2>
															<div class="article-date">May 12, 2020</div>
														</span>
													</div>
												</li>
												<li class="media">
													<div class="views-field views-field-nothing">
														<span class="field-content">
															<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 1</a></h2>
															<div class="article-date">May 01, 2020</div>
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="view-footer">
		    							<div class="field--name-field-subfeature-link n-mb-15"><a href="https://case.edu">View More News</a></div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    
		</div>
	</div>
</article>