<div class="region region-content">
	<article role="article" about="/content-options/subfeatures-no-sidebar" class="robust-3-column-page full clearfix">
		<div class="content">
			<div class="row">
            	<div class="col-md-12 robust-content-small">
            		<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
        				<div class="field--item">
        					<div class="paragraph paragraph--type--vertical-subfeatures-group paragraph--view-mode--default">
        						<div class="field field--name-field-vertical-subfeature-sectio field--type-entity-reference-revisions field--label-above clearfix flex flex-space-between flex-wrap flex-col-md mt-20 field--items">
									<div class="field--item flex flex-1 flex-basis-half mh-10">
										<div class="paragraph paragraph--type--vertical-subfeature paragraph--view-mode--default">
											<div class="row height-100">
												<div class="col-xs-4">
													<div class="field field--name-field-vertical-sub-image-ref field--type-entity-reference field--label-hidden field--item">
														<div style="max-width:480px;">
															<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																<img src="/sites/default/files/styles/large/public/2020-05/mcm-healthcare2-1920x1080.jpg?itok=rqi3UJQ-" width="480" height="270" alt="Group of people talking in the hospital" typeof="foaf:Image" class="img-responsive">
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-8 flex flex-col height-100">
													<div class="field field--name-field-vertical-sub-title field--type-string field--label-hidden field--item">vertical subfeature 1 title</div>
													<div class="field field--name-field-vertical-sub-content field--type-text-long field--label-hidden field--item">
														<p>verticle subfeature 1 content&nbsp;<br>Nulla at nunc rhoncus, lobortis arcu vitae, pharetra orci. Pellentesque eu nisi et urna blandit facilisis. Donec eu erat sed nunc ultricies tincidunt. Fusce in auctor risus, non elementum nunc. Nulla facilisi. Phasellus et odio ut arcu maximus scelerisque. Duis auctor varius velit, sed iaculis erat malesuada at. Proin nibh risus, hendrerit eget elit vel, suscipit ornare purus. Cras</p>
													</div>
													<div class="field field--name-field-vertical-sub-link field--type-link field--label-hidden field--item"><a href="/">vsub1 link</a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="field--item flex flex-1 flex-basis-half mh-10">
										<div class="paragraph paragraph--type--vertical-subfeature paragraph--view-mode--default">
											<div class="row height-100">
												<div class="col-xs-4">
													<div class="field field--name-field-vertical-sub-image-ref field--type-entity-reference field--label-hidden field--item">
														<div style="max-width:480px;">
															<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																<img src="/sites/default/files/styles/large/public/2020-05/stem-quora3-1920x1080.jpg?itok=p2x-UNEB" width="480" height="270" alt="People having a discussion inside a factory" typeof="foaf:Image" class="img-responsive">
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-8 flex flex-col height-100">
													<div class="field field--name-field-vertical-sub-title field--type-string field--label-hidden field--item">vertical subfeature 2 title</div>
													<div class="field field--name-field-vertical-sub-content field--type-text-long field--label-hidden field--item">
														<p>verticle subfeature 2 content&nbsp;<br>Nulla at nunc rhoncus, lobortis arcu vitae, pharetra orci. Pellentesque eu nisi et urna blandit facilisis. Donec eu erat sed nunc ultricies tincidunt. Fusce in auctor risus, non elementum nunc. Nulla facilisi. Phasellus et odio ut arcu maximus scelerisque. Duis auctor varius velit, sed iaculis erat malesuada at. Proin nibh risus, hendrerit eget elit vel, suscipit ornare purus. Cras</p>
													</div>
													<div class="field field--name-field-vertical-sub-link field--type-link field--label-hidden field--item"><a href="/">vsub2 link</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>