a.button-blue {
  display: inline-block;
  background-color: #3168a6;
  color: #fff;
  padding: 1em 1.5em;
  margin: 1em 0;
  border-radius: 20em;
  line-height: 1;
  transition: background-color 0.3s;
  text-decoration: none;
}

a.button-blue:hover {
  background-color: #0a304e;
  color: #fff;
  text-decoration: none;
}

a.button-block-blue {
  display: block;
}

h2 {
  font-size: 2.1em;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1rem;
}

h2::before {
  content: '';
  width: 29px;
  height: 28px;
  background-image: url("../images/header-square.svg");
  position: absolute;
  left: 0;
  top: 0.15em;
}
