@mixin white-link() {
  color: $white;
  text-decoration: underline;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

  &:hover {
    text-decoration: none;
  }
}

@mixin aside-title() {
  background-color: $dark-gray;
  color: $white;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 11px 22px;
  min-height: 50px;
}
