body {
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: transparent;
  }
  
#filter {
  
  width: 10%;
  margin-left: 20px;
  padding-left: 20px;
}

#active-resumes {
  
  width: 20%;
  text-align: left;

}

#preamble {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;

}
#filter-header {
  background-color: #626262;
  color: #ffffff;
  padding: 3px 6px 4px 6px;
  margin-bottom: 8px;
}

#resume {
  align-items: center;
  width:100%;

}

#btn-primary, #btn-primary:visited {
  color: #fff;
  background-color: #0a304e;
  border-color: #072237;

}
#btn-primary:hover, #btn-primary:active {
  background-color: #072237 !important;
}
  
  
  
  