{{ attach_library('crew_thinkbox/stats') }}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <h2>{{ content.field_stat_box_group_title }}</h2>
      {{ content|without('field_stat_box_group_title') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
