// BREAKPOINTS
$mobile: 480px !default;
$small: 767px !default;
$medium: 991px !default;
$mediumUp: 992px !default;
$large: 1199px !default;
$jumbo: 1200px !default;

@mixin size($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mobile) {@content;}
  }
  @else if $media == small {
    @media only screen and (max-width: $small) {@content;}
  }
  @else if $media == medium {
    @media only screen and (max-width: $medium) {@content;}
  }
  @else if $media == mediumUp {
    @media only screen and (min-width: $mediumUp) {@content;}
  }
  @else if $media == large {
    @media only screen and (max-width: $large) {@content;}
  }
  @else if $media == jumbo {
    @media only screen and (min-width: $jumbo) {@content;}
  }
}

// USAGE EXAMPLE
// .changing-color {
//   color: red;
//   @include size(small) {color:blue;}
//   @include size(medium) {color:green;}
// }
