{% if vars.events is empty %}
  <p> There are no events at this time... <p>
{% else %}
  {% for event in vars.events %}
    {% if loop.index <= min(vars.events|length, vars.items_to_display) %}
    <div class='gCalFlow flex-1'>
      <div class='gcf-item-block'>
        <div class='gcf-item-header-block'>
          <div class='gcf-item-date-block'>
            <div class='gcf-item-daterange'>
              <span class='month'>{{ event.start.dateTime|date('M') }}</span>
              <span class='day'>{{ event.start.dateTime|date('d') }}</span>
            </div>
          </div>
          <div class='gcf-item-title-block'>
            <div class='gcf-item-title'>
              <a target={{ event.start.htmlLink }}>{{ event.summary }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
