// @import url("https://fonts.googleapis.com/css?family=DepotNew:200,200i,300,400,400i,600,600i,700,700i");

.adminimal-admin-toolbar a[href="#"] {
  color: red !important;
  text-decoration: underline;
}

body {
  font-family: $arizona;
  background-color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $arizona;
}

h1 {
  font-family: $arizona-bold;
  font-size: 2.2em;
}

.region-content h1 {
  position: relative;
  padding-left: 4rem;
  line-height: 1.2;
  margin-top: 22px;

  &::before {
    content: "";
    width: 1em;
    height: 1em;
    background-image: url("../images/h1-triangle.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}

a,
a:link,
a:visited,
a:hover a:focus {
  font-family: $arizona-bold;
  font-weight: normal;
}

.slick--field-robust-3-hero-ref--default
  + .content
  .row
  .robust-content-small
  h1 {
  margin-top: auto;
}

.main-container {
  h1 {
    // margin-top: 25px;
    &
      + article
      .content
      .field--item:first-of-type
      .paragraph--type--content
      .field--name-field-content
      > h2:first-child {
      margin-top: 0.5em;
    }
  }
}

h2 {
  font-family: $arizona-bold;
  font-size: 1.9em;
  position: relative;
  padding-left: 1em;
  padding-bottom: 0;
  // margin-bottom: 1rem;
  // margin-top: .5em;

  // &:first-of-type {
  //   margin-top: 0.5em !important;
  // }

  &::before {
    content: "";
    width: 29px;
    height: 28px;
    background-image: url("../images/header-square.svg");
    position: absolute;
    left: 0;
    top: 0.15em;

    @media #{$small-max} {
      display: inline-block;
      position: initial;
      margin-right: 10px;
    }
  }
  @media #{$small-max} {
    padding-left: 0;
  }
}
.sidebar-menu-title h2 {
  padding-left: 0;
  &::before {
    content: unset;
  }
}

a.sidebar-menu-title h2 {
  margin-top: 22px;
  line-height: 1;
}

.blue-bkg h2::before {
  background-image: url("../images/header-square-white.svg");
}

h3 {
  padding-top: 0.3em;
}

.main-container a {
  text-decoration: underline;
  
  &:hover{
    text-decoration-thickness: 3px;
  }
}
.region-sidebar-first a {
  text-decoration: none;
  &:hover{
    text-decoration-thickness: unset;
  }
}
.region-breadcrumbs a {
  &:hover{
    text-decoration-thickness: unset;
    color: $cwru-blue;
  }
}

a,
a:link,
a:visited,
a:hover a:focus {
  font-family: $arizona-bold;
}

hr{
  padding-top:12px;
  margin-bottom: 12px;
  margin-top:0;
  border-bottom: 1px solid $lighter-gray;
  border-top: 0;
}

.page-head .page-title div {
  font-size: 36px;
}

.landing-page-content-type
  .field--name-field-main-content
  > .field--item:last-child
  .blue-bkg {
  margin-bottom: -15px;
}
.landing-page-content-type
  .field--name-field-main-content
  > .field--item:last-child
  .blue-background {
  margin-bottom: -15px;
}

// .landing-page-content-type
//   .landing-page-two-column-first
//   .paragraph--type--two-column-content-and-photo {
// }

.paragraph--type--aside .field--name-field-aside-content {
  padding-top: 10px;
}

article .embedded-entity .media-image-container {
  @media #{$small-min} {
    width: min-content;
  }
  .field--type-image {
    @media #{$small-min} {
      width: max-content;
    }
    .img-responsive {
      @media #{$small-max} {
        width: 100%;
      }
    }
  }
}
@media #{$screen} and (min-width: #{$medium})and (max-width: #{$large}){
  .footer__block{
    &:nth-of-type(2) {
      padding-right: 2em ;
      padding-left: 2em;
    }

  }
}

.field--name-field-content ul {
  margin-bottom: 15px;
}

table {
  caption {
    color: $cwru-blue;
    font-weight: 600;
    font-family: $arizona;
    padding: 0 0 0.3em;
    margin: 0;
    line-height: 1.1;
    font-size: 1.25em;
  }
}

ul.two-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
