// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import 'utils/init';

// Base
//
// Plain html element styling. Shouldn't require
// any classes.
// ========================================
@import 'base/base';

.sr-only {
  @include element-invisible;
}

.container {
  margin: 0 auto;
  max-width: $bp-lg;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.font-size-one-half {
  font-size: 1.5em;
}

.line-height-one-half {
  line-height: 1.5em;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

// Responsive utility classes
.hide-md-down {
  display: none;
  @include breakpoint($bp-md) {
    display: block;
  }
}

.hide-md-up {
  display: block;
  @include breakpoint($bp-md) {
    display: none;
  }
}

.hide-sm-up {
  display: block;
  @include breakpoint($bp-sm) {
    display: none;
  }
}

.hide-sm-down {
  display: none;
  @include breakpoint($bp-sm) {
    display: block;
  }
}

.page-title-container-h1 {
  max-width: 1260px;
  margin: 0 auto;
  
  h1 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 36px;
  }
}

.container-hard {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}

// Drupal admin elements
//
// For elements only visible to logged in users
// ========================================
.local-tasks-block {
  margin: $size-small $size-medium $size-smallest;
  border-bottom: 1px solid $$cwru-light-gray;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    margin: 0 0 -1px;
    padding: $size-smallest $size-small;
  }

  .is-active {
    border-top: 3px solid $link-blue;
    border-bottom: 1px solid $white;
    border-left: 1px solid $$cwru-light-grayr;
    border-right: 1px solid $$cwru-light-gray;
  }
}

.system-messages {
  color: $dark-gray;
  font-weight: bold;
  background-color: $off-white;
  margin: $size-small $size-medium;
  padding: $size-smallest $size-small;
  border: 1px solid $$cwru-light-gray;
  border-left: 3px solid $link-blue;
}

// buttons

.button-gray,
.button-gray-link a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 16px;
  line-height: 1.33333;
  font-size: 20px;
  color: $dark-gray;
  background-color: $lighter-gray;
  border-color: $lighter-gray;
  transition: all .3s;
}

.button-gray:focus, .button-gray.focus, .button-gray:hover, .button-gray:active, .button-gray.active,
.button-gray-link a:focus,
.button-gray-link a.focus,
.button-gray-link a:hover,
.button-gray-link a:active,
.button-gray-link a.active {
  background-color: $white;
  border-color: $white;
}

.button-gray:hover,
.button-gray-link a:hover {
  text-decoration: none;
}

.button-blue,
.button-blue-link a,
.form-submit.btn-primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 16px;
  line-height: 1.33333;
  font-size: 20px;
  color: $white;
  background-color: $cwru-blue;
  border-color: $cwru-blue;
  transition: all .3s;
  color: $white !important;
}

.button-blue:focus, .button-blue.focus, .button-blue:hover, .button-blue:active, .button-blue.active,
.button-blue-link a:focus,
.button-blue-link a.focus,
.button-blue-link a:hover,
.button-blue-link a:active,
.button-blue-link a.active,
.form-submit.btn-primary:focus,
.form-submit.btn-primary.focus,
.form-submit.btn-primary:hover,
.form-submit.btn-primary:active,
.form-submit.btn-primary.active {
  background-color: $link-blue;
  border-color: $link-blue;
  color: $white;
}

.button-blue:hover, .button-blue:link:hover,
.button-blue-link a:hover,
.button-blue-link a:link:hover,
.form-submit.btn-primary:hover,
.form-submit.btn-primary:link:hover {
  text-decoration: none;
}

.button-block-gray,
.button-block-gray-link a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 16px;
  line-height: 1.33333;
  font-size: 20px;
  color: $dark-gray;
  background-color: $lighter-gray;
  border-color: $lighter-gray;
  transition: all .3s;
  text-align: center;
  display: block;
  width: 100%;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 9px;
}

.button-block-gray:focus, .button-block-gray.focus, .button-block-gray:hover, .button-block-gray:active, .button-block-gray.active,
.button-block-gray-link a:focus,
.button-block-gray-link a.focus,
.button-block-gray-link a:hover,
.button-block-gray-link a:active,
.button-block-gray-link a.active {
  background-color: $white;
  border-color: $white;
}

.button-block-gray:hover,
.button-block-gray-link a:hover {
  text-decoration: none;
}

.button-block-blue,
.button-block-blue-link a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 16px;
  line-height: 1.33333;
  font-size: 20px;
  color: $white;
  background-color: $cwru-blue;
  border-color: $cwru-blue;
  transition: all .3s;
  text-align: center;
  display: block;
  width: 100%;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 9px;
  color: $white important;
}

.button-block-blue:focus, .button-block-blue.focus, .button-block-blue:hover, .button-block-blue:active, .button-block-blue.active,
.button-block-blue-link a:focus,
.button-block-blue-link a.focus,
.button-block-blue-link a:hover,
.button-block-blue-link a:active,
.button-block-blue-link a.active {
  background-color: $cwru-blue;
  border-color: $cwru-blue;
  color: $white;
}

.button-block-blue:hover, .button-block-blue:link:hover,
.button-block-blue-link a:hover,
.button-block-blue-link a:link:hover {
  text-decoration: none;
}

.button-gray-link,
.button-blue-link,
.button-block-gray-link,
.button-block-blue-link {
  margin-bottom: 22px;
}

.button-gray-link a:hover,
.button-block-gray-link a:hover {
  color: $white;
  background-color: $link-blue;
}

.profile-aside {
  border: 1px solid $light-gray;
  padding: 12px;
  margin-left: 22px;
  margin-bottom: 22px;
  word-break: break-all;
  font-size: 18px;
  max-width: 276px;
  float: right;
}

.paragraph--type--job-title-affiliation {
  margin-bottom: 22px;

  .field__item {
    font-weight: bold;
    display: inline;

    &::before {
      content: ', ';
      margin-left: -4px;
    }

    &:first-of-type::before {
      content: '';
      margin-left: 0;
    }
  }
}

.paragraph--type--biography-education > .field__item {
  display: inline;

  &::before {
      content: ', ';
      margin-left: -4px;
    }

    &:first-of-type::before {
      content: '';
      margin-left: 0;
    }
}