.paragraph--type--lw-full-image-feature {
    position: relative;
    margin-left: -22px;
    margin-right: -22px;
    margin-top: 40px;
    margin-bottom: 40px;

    .text-container {
        position: absolute;
        color: $white;
        background-color: $blk;
        bottom: 50px;
        max-width: 500px;
        padding: 30px;

        @media #{$medium-max}  { 
            position: static;
            max-width: 100%;
        }
    }

    &.move-left .text-container{
        left: 50px;
    }

    &.move-right .text-container{
        right: 50px;
    }

    .field--name-field-lw-full-img-ft-title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .field--name-field-lw-full-img-ft-link {
        display: inline;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    img {
        width: 100%;
    }
}