.field--name-field-lw-get-started-heading {
    @include underline-title;
    color: $white;
    margin: 20px 40px;
}

.paragraph--type--lw-get-started-group {
    display: flex;
    background-color: $cwru-blue;
    margin-left: -22px;
    margin-right: -22px;

    @media #{$medium-max}  { flex-direction: column; }
}

.paragraph--type--get-started {
    border: 1px solid $link-blue;
}

.field--name-field-lw-get-started-group {
    color: $white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 20px 40px;
    flex-wrap: wrap;

    @media #{$large-max}  {
        > .field--item {
            flex-basis: calc(50% - 20px);
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }

    @media #{$small-max}  {
        flex-direction: column;

        > .field--item {
            margin-left: 0;
        }
    }

    .field--item a {
        @include law-button;
        display: block;
        color: $white;
        background-color: $drk-blue;
        transition: background-color 0.2s;

        &:hover {
            text-decoration: none;
            background-color: $link-blue;
        }

        @media #{$medium-max}  { font-size: 18px; }
    }
}