// homepage hero
.views-field-field-hero-landing-image-ref .field--name-field-image img {
    width: 100%;
}
.homepage-hero-container {
    position: relative;

    .hero.hero--home {
        position: relative;

        .law-video-banner {
            width: 133px;
            height: 173px;
            position: absolute;
            right: 0;
            top: 0;
            @media #{$small-max}  {
                display: none;
            }
            display: none;
        }
    }
}

.field--name-field-lw-hm-hero {
    margin-left: -22px;
    margin-right: -22px;
}

.field--name-field-lw-hm-hero-text {
    color: $white;
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    right: 40px;
    top: 60%;
    text-shadow: 0 3px 6px rgba(0,0,0,.15);

    @media #{$small-max}  {
        top: unset;
        bottom: 10px;
        right: 20px;
        font-size: 26px;
    }

    .pre-text {
        font-size: 60px;

        @media #{$small-max}  {
            font-size: 40px;
        }
    }
}

// landing hero
.paragraph--type--hero-landing-page {
    margin-bottom: 0;
}

.block-views-blockfluid-hero-block-1 > .form-group {
    margin-bottom: 0;
    margin-left: -22px;
    margin-right: -22px;
}

// hero one column image displays youtube play icon when video is available
.youtube-icon {
    position: relative;
    .object {
        position: absolute;
        background: $ter-orange;
        width: 70px;
        height: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px/100px;
        box-shadow: 1px 1px rgba(0, 0, 0, .2);
        cursor: pointer;
    }
    .play-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-left: 18px solid $off-white;
        border-bottom: 12px solid transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-body {
        position: relative;
        padding: 15px;
    }

}

article.robust-3-column-page > div.content {
    .modal-dialog {
        @media (min-width: 992px) {
            position: absolute;
            top: 50%;
            margin-top: -290px;
            left: 50%;
            margin-left: -450px;
        }
    }
}

.field--name-field-lw-hm-hero-text {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 70%, transparent);
    left: 0px;
    padding: 10px 40px 10px 10px;
    margin: auto -62px auto -22px;
    bottom: 6px;
}

.hero__video {
    width: 100%;
    max-width: -webkit-fill-available;
}
.hero.hero--home {
    margin: auto -22px -7px -22px;
}

@media only screen and (min-width: 991px) {
    .field--name-field-lw-hm-hero-text {
        bottom: 0px;
    }

    .hero.hero--home {
        height: 488px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 991px) {
    .hero__video {
        width: auto;
        max-width: none;
    }
    .hero.hero--home {
        height: 430px;
        overflow: hidden;
    }
    .field--name-field-lw-hm-hero-text {
        bottom: 0px;
        padding: 10px 30px 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .field--name-field-lw-hm-hero-text {
        margin: auto -42px auto -22px;
        padding: 10px 40px 30px 10px;
        bottom: 7px;
    }
    .hero.hero--home {
        height: auto;
        overflow: hidden;
    }
    .hero__video {
        width: 100%;
        max-width: none;
    }
}

