.field--name-field-lw-blue-styled-buttons-ref {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;

    > .field--item {
        flex-basis: 50%;
        padding: 11px;

        @media #{$medium-max}  { flex-basis: 100%; }
    }
}

.paragraph--type--lw-blue-styled-buttons {
    @include law-button;
    color: $white;
    height: 100%;
    transition: background-color 0.2s;

    &:hover {
        background-color: $link-blue;
    }

    .field--name-field-lw-blue-styled-buttons-tit {
        font-size: 26px;
        font-weight: bold;
    }

    .field--name-field-lw-blue-styled-buttons-des {
        font-weight: normal;
    }
}

.paragraph--type--blue-styled-buttons-group {
    .field--name-field-blue-button {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        > .field--item {
            flex: 1;
            margin: 10px;
            flex-basis: calc(50% - 20px);
        }
    }
}

.button-anchor-wrap {
    &:after {
        content: none !important;
    }

    &:hover {
        text-decoration: none;
    }

    &[href$=".pdf"] .field--name-field-lw-blue-styled-buttons-tit::after {
        content: '\f1c1';
        color: $white;
        padding-left: 10px;
        padding-right: 2px;
        display: inline-block;
        line-height: 14px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        font-size: inherit;
        text-rendering: auto;
    }
}