#lawLibraryMobileSearch {
	.card {
		margin-bottom: 6px;
	}
	h3 {
		padding-bottom: 0px;
	}
	button.btn-block {
		text-align: left;
		color: $link-blue;
		font-size: 16px;
		font-weight: 700;
		background-color: $lighter-gray;
		border-radius: 5px 5px 0px 0px !important;
		border: 1px solid $cwru-light-gray;
		border-bottom: none;
		padding: 10px 15px;
		&.collapsed {
			border-radius: 5px !important;
			border-bottom: 2px solid $cwru-light-gray;
		}
		&:hover {
			color: $cwru-blue;
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}
	.card-body {
		padding: 0 15px 15px;
		border-radius: 0px 0px 5px 5px;
		border: 1px solid $cwru-light-gray;
		h4 {
			padding-top: 15px;
		}
		ul {
			font-size: 16px;
			list-style: disc;
			padding: 5px 0 0 20px;
			margin: 0;
		}
		a {
			font-size: 16px;
		}
		input.button-blue {
			padding: 6px 15px;
		}
	}
}
#lawLibraryDesktopSearch {
	.library-tabs {
		border-radius: 0px 5px 5px 5px;
		padding: 0px 15px 20px;
	}
	input.button-blue {
		padding: 6px 15px;
	}
	.tab-pane {
		ul {
			font-size: 16px;
			list-style: disc;
			padding: 5px 0 0 20px;
			margin: 0;
		}
	}
}