.paragraph--type--lw-stat-bar-group {
    color: $white;
    background-color: $cwru-blue;
    background-image: url('../images/stat-pattern.svg');
    margin-bottom: 20px;
    padding: 0 20px;

    &.grey-background {
        background-color: $dark-gray;
    }
}

.field--name-field-lw-stat-bar {
    display: flex;
    justify-content: space-around;

    @media #{$small-max}  { flex-direction: column; }

    > .field--item {
        margin-bottom: 30px;
        margin-top: 30px;
        flex-basis: 19%;
    }
}

.field--name-field-lw-area-interest-heading {
    @include underline-title;
}

// specific to horizontal version on homepage
.field--name-field-lw-hm-content {
    .paragraph--type--lw-stat-bar-group {
        margin-left: -22px;
        margin-right: -22px;
        text-align: center;
    }

    @media #{$small-max}  {
        .field--name-field-lw-stat-bar {
            padding: 20px;
        
            > .field--item {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .field--name-field-lw-stat-bar-number {
        font-size: 80px;
        font-weight: bold;
        line-height: 1;

        @media #{$small-max}  {
            font-size: 45px;
        }
    }
}

// specific to vertical version in asides
.field--name-field-lw-landing-aside {
    .field--name-field-lw-stat-bar {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;

        .field--item:last-child {
            margin-bottom: 0;
        }
    }

    .field--name-field-lw-stat-bar-number {
        font-size: 46px;
        font-weight: bold;
    }

    .paragraph--type--lw-stat-bar-section {
        display: flex;
    }

    .field--name-field-lw-stat-bar-number {
        margin-right: 20px;
    }
}

.lw-homepage .paragraph--type--lw-stat-bar-group {
    margin-bottom: -40px;
}