// TITLE FOR UNDERLINE
@mixin underline-title {
    color: $cwru-blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: $light-blue;
    }
}

.underline-title {
    @include underline-title;

    &.white {
        color: $white;
    }
}