section.intro-text {
    &::after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: $light-blue;
        text-align: center;
        margin: auto; 
        margin-top: 1.6em;
    }
}