.quick-links-container {
  background: $off-white;
}
.paragraph--type--quick-links-w-horizontal-buttons {
  .paragraph-section-title {
    color: $blk;
    margin-top: 0;
    &::before {
      @media #{$small-max} {   
        margin-right: 0px;
      }
    }
  }

  .field--name-field-quick-links-buttons {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    @media #{$medium-max} {
      flex-wrap: nowrap;
    }
    @media #{$small-max} {
      flex-direction: column;
    }
    .field--item {
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      @media #{$small-max} {
        margin-right: 0;
      }
    }
    .field--type-link a {
      margin: .5em 0 1em;
      text-align: center;
      line-height: 1.33333;
      font-size: 20px;
      color: $white;
      background-color: $cwru-blue;
      border-color: $cwru-blue;
      transition: all .3s;
      text-align: center;
      display: inline-block;
      background-image: none;
      border: 1px solid rgba(0,0,0,0);
      padding: 1rem 2rem;
      @media #{$small-max} {
        width: 100%;
        text-align: center;
      }
    }
    .field--type-link a:hover, .field--type-link a:focus {
      background-color: $link-blue;
      border-color: $link-blue;
      text-decoration: none;
      color: $white;
    }
    .field--name-field-intro-text-button a:hover, .field--name-field-intro-text-button a:focus {
      background-color: $link-blue;
      border-color: $link-blue;
      text-decoration: none;
      color: $white;
    }
  }
}

// .landing-page-content-type {
//   .paragraph--type--quick-links-w-horizontal-buttons {
//     margin: 0em calc(50% - 50vw);
//     background: $white;
//     @media #{$medium-max} {
//         margin-top: 0;
//         margin-bottom: 0;
//       }
//   }
//   .field--name-field-quick-links-body {
//     color: $cwru-blue;
//     font-size: 1.2em;
//     // padding-left: 1.9em;
//     @media #{$small-max} {
//       // padding-left: 0;
//       font-size: 1.1em;
//     }
//   }
// }

// .robust-3-column-page {
//   .paragraph--type--quick-links-w-horizontal-buttons {
//     padding-top:1em;
//     .field--name-field-quick-links-buttons {
//       padding-bottom: 1em;
//     }
//     .container {
//       width: unset !important;
//       padding: 0em 0 0em 0 !important;
//       .field--name-field-quick-links-buttons:first-child {
//         margin-top:-2em;
//       }
//     }
//   }
// }
