.thinkbox-title h1.page-header {
  color: white;
  width: 600px;
  background: rgba(0, 48, 113, 0.66);
  text-align: center;
  padding: 20px;
  display: block;
  margin: 20px auto;
  font-size: 60px;
}

.region-fluid-content {
  position: relative;
}

.region-fluid-content h1.page-header {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.region-fluid-content .paragraph--type--hero-full-width {
  margin-top: 0;
}

h2.field--name-field-intro-text-title {
  font-family: "Arizona", "Arial", sans-serif;
  font-size: 36px;
  color: black;
}

@media only screen and (max-width: 769px) {
  h2.field--name-field-intro-text-title {
    font-size: 26px;
  }
  .region-fluid-content h1.page-header {
    width: auto;
    margin: 0;
    position: static;
    transform: none;
    background: #003071;
    font-size: 34px;
  }
}
