//=======================================================
// Variables
//=======================================================

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

$size-largest: 6em;
$size-large: 4em;
$size-medium: 2em;
$size-medium-small: 1.5em;
$size-small: 1em;
$size-smaller: 0.75em;
$size-smallest: 0.5em;
