// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import "utils/init";

// Base
//
// Plain html element styling. Shouldn't require
// any classes.
// ========================================
@import "base/base";

.field-content > p {
  margin-bottom: $size-small;
}

.sr-only {
  @include element-invisible;
}

.container {
  margin: 0 auto;
  max-width: $bp-lg;
}

.width-100 {
  width: 100%;
}

.font-size-one-half {
  font-size: 1.5em;
}

.line-height-one-half {
  line-height: 1.5em;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.mb-10 {
  margin-bottom: 10px;
}

// Responsive utility classes
.hide-md-down {
  display: none;
  @include breakpoint($bp-md) {
    display: block;
  }
}

.hide-md-up {
  display: block;
  @include breakpoint($bp-md) {
    display: none;
  }
}

.hide-sm-up {
  display: block;
  @include breakpoint($bp-sm) {
    display: none;
  }
}

.hide-sm-down {
  display: none;
  @include breakpoint($bp-sm) {
    display: block;
  }
}

// Drupal admin elements
//
// For elements only visible to logged in users
// ========================================
.local-tasks-block {
  margin: $size-small $size-medium $size-smallest;
  border-bottom: 1px solid $cwru-light-gray;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    margin: 0 0 -1px;
    padding: $size-smallest $size-small;
  }

  .is-active {
    border-top: 3px solid $link-blue;
    border-bottom: 1px solid $white;
    border-left: 1px solid $cwru-light-gray;
    border-right: 1px solid $cwru-light-gray;
  }
}

.system-messages {
  color: $dark-gray;
  font-weight: bold;
  background-color: $off-white;
  margin: $size-small $size-medium;
  padding: $size-smallest $size-small;
  border: 1px solid $cwru-light-gray;
  border-left: 3px solid $link-blue;
}

.dropcap {
  color: $cwru-blue;
  font-size: 200px;
  font-weight: bold;
  float: left;
  line-height: 160px;
  padding-top: 4px;
  padding-right: 8px;
}

.system-main-block {
  background-color: $white;
}

// .content-aside-container {
//   display: flex;
//   background-color: $color-white;

//   .field-robust-3-page-ref {
//     background-color: $color-white;
//     padding: $size-medium;
//     margin-top: -$size-largest;
//     margin-left: $size-small;
//   }
// }

.page-title-block {
  display: none;
}

.basic-page .page-title-block {
  display: block;
  background-color: $off-white;

  h1 {
    font-size: 38px;
    background-color: $white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px 0;
  }
}

.field-image {
  font-size: 0;
}

.embedded-entity.align-right {
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: $size-medium;

  > thead > tr {
    color: $white;
    background-color: $cwru-blue;
    text-align: left;

    th {
      padding: $size-smallest;
    }
  }

  > tbody > tr {
    background-color: $off-white;
    border-bottom: 2px solid $white;

    &:nth-of-type(even) {
      background-color: $lighter-gray;
    }

    > td {
      padding: $size-smallest;
      word-break: break-word;
    }
  }
}

.container.content-basic-page-container {
  max-width: 1200px;
}

.content-basic-page-container {
  background-color: $white;
  padding: $size-small $size-medium;

  p {
    margin-bottom: $size-small;
  }
}

.content-sidebar-container {
  display: flex;
  background-color: $white;
  flex-direction: column;

  @include breakpoint($bp-md) {
    flex-direction: row;
  }

  .field-robust-3-page-ref {
    flex: 3;
    background-color: $white;
    padding: $size-medium-small;
    z-index: 1;

    @include breakpoint($bp-md) {
      margin-top: -$size-largest;
      margin-left: $size-medium-small;
    }

    .paragraph--type--content .field-content p:first-child {
      @include clearfix;

      &::first-letter {
        float: left;
        color: $cwru-blue;
        font-size: 100px;
        font-weight: $font-weight-bold;
        line-height: 0.75;

        @include breakpoint($bp-md) {
          font-size: 130px;
        }
      }
    }
  }

  .field-robust-3-page-right-ref {
    flex: 1;
  }
}
