.field--name-field-biography-specialties {
	.field--item {
		word-break: break-word;
		margin-bottom: 5px;
    	padding-bottom: 5px;
    	border-bottom: 1px solid $cwru-light-gray;
    	&:last-child {
    		border-bottom: none;
    	}
	}
}