.paragraph--type--law-clinic-institute-centers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;

    > div {
        flex-basis: 50%;
        padding: 11px;

        @media #{$small-max}  { flex-basis: 100%; }
    }

    img {
        width: 100%;
    }

    .group-right-side-text {
        color: $white;
        background-color: $blk;
        padding: 25px 35px;

        .field--name-field-lw-clinic-feat-im-heading {
            font-size: 26px;
            font-weight: 600;
        }

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.field--name-field-lw-clinic-feat-heading {
    @include underline-title;
}

.field--name-field-lw-clinic-feat-desc li {
    list-style-type: square;
    margin-bottom: 5px;
}