.field--name-field-lw-sub-ref {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;

    @media #{$small-max}  { 
        flex-direction: column;
    }

    > .field--item {
        flex-basis: 50%;
        padding: 20px;
    }
}

.paragraph--type--lw-sub-section {
    border: 1px solid $med-gray;
    position: relative;

    img {
        width: 100%;
    }

    .sub-info-container {
        @include law-button;
        position: absolute;
        bottom: 0;
        transition: background-color .2s;

        &.link-blue {
            background-color: $link-blue;
        }

        @media #{$medium-max}  { 
            position: relative;
            background-color: $link-blue;
        }
    }

    .field--name-field-lw-sub-link a {
        color: $white;
        font-size: 26px;
    }

    .field--name-field-lw-sub-content {
        color: $white;
        display: none;

        @media #{$medium-max}  { 
            display: block;
        }
    }

    > .link-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// vertical subfeatures
.field--name-field-vertical-subfeature-sectio {
    flex-direction: column;

    .field--name-field-vertical-sub-title {
        color: $cwru-blue;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.2;
    }
}

.field--name-field-lw-landing-content .paragraph--type--subfeature-landing {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}