.field--name-field-notice-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
}

.field--name-field-notice-boxes > .field--item {
  background-color: $lighter-gray;
  flex: 1;
  flex-basis: 47%;
  margin: 20px 10px;
}

.paragraph--type--notice-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field--name-field-notice-link-and-title {
  margin: 20px;
}

.field--name-field-notice-image .media-image-container {
  width: 250px;
}

.field--name-field-notice-link-and-title {
  font-size: 23px;
  flex-basis: 251px;
  flex-grow: 1;
}
