.paragraph--type--lw-quote {
    color: $white;
    background-color: $dark-gray;
    text-align: center;
    padding: 60px 160px;
    margin-left: -22px;
    margin-right: -22px;
    margin-bottom: 40px;

    @media #{$small-max}  { 
        padding: 40px;
    }

    .field--name-field-lw-quote {
        font-size: 38px;
        font-style: italic;
        position: relative;

        @media #{$small-max}  { 
            font-size: 26px;
        }

        &::before {
            content: '“';
            font-size: 200px;
            color: $link-blue;
            position: absolute;
            top: -80px;
            left: -50px;
            font-style: normal;
            opacity: 0.4;
        }
    }

    .field--name-field-lw-quote-attrib::before {
        content: '~';
    }
}

// two column quote
.field--name-field-lw-two-col-quote-ref {
    display: flex;
    justify-content: center;
    margin-left: -22px;
    margin-right: -22px;
    
    @media #{$small-max}  { 
        flex-direction: column;
    }

    > .field--item {
        flex-basis: 50%;
        margin-left: 22px;
        margin-right: 22px;
        max-width: 450px;
    }
}

.paragraph--type--lw-two-column-quote {

    .paragraph--type--lw-two-col-quote-sec {
        margin-bottom: 40px;
    }

    .field--name-field-lw-two-col-quote-title {
        font-size: 32px;
        font-weight: bold;
        color: $cwru-blue;
        margin-bottom: 20px;
    }

    .field--name-field-lw-two-col-quote-img-ref {
        margin-bottom: 20px;
        border: 2px solid $dark-gray;
    }

    .field--name-field-lw-two-col-quote-attrib {
        text-align: right;
        font-style: italic;

        &::before {
            content: '~';
        }
    }
}

.field--name-field-lw-landing-content > .field--item:last-of-type .paragraph--type--lw-quote {
    margin-bottom: -22px;
}