.paragraph--type--lw-two-col-stat-con {
    background-color: $lighter-gray;
    margin-left: -22px;
    margin-right: -22px;
    padding: 44px;

    .field--name-field-lw-two-col-stat-header {
        color: $cwru-blue;
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .field--name-field-lw-two-col-stat-content-re > .field--item {
        margin-bottom: 30px;
    }

    .paragraph--type--lw-two-col-stat-sec {
        display: flex;
        align-items: flex-start;

        @media #{$small-max}  { flex-direction: column; }
    }

    .stat-container {
        color: $white;
        background-color: $cwru-blue;
        background-image: url('../images/stat-pattern.svg');
        padding: 20px 30px;
        margin-right: 30px;
        flex: 1;

        @media #{$small-max}  {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .stat-info-container {
        flex: 2;
    }

    .field--name-field-lw-two-col-stat-number {
        font-size: 46px;
        font-weight: bold;
        line-height: 1;
    }

    .field--name-field-lw-two-col-stat-desc {
        margin-left: 10px;
    }

    .field--name-field-lw-two-col-content-title {
        color: $blk;
        font-size: 30px;
        font-weight: bold;
    }
}