#visit-us-calendar {
    .day-header {
        font-weight: 600;
        font-size: 24px;
        margin-top: 20px;
        border-bottom: 1px solid $off-white;
    }

    > div > button.btn-primary {
        margin-top: 40px;
        background-color: $cwru-blue;
        font-size: 20px;
        padding: 10px 16px;
        font-weight: bold;
        transition: background-color 0.2s;

        &:hover {
            background-color: $link-blue;
        }
    }
}