// library hours module
#library-hours-module {
  max-width: 600px;

  .header-wrap {
    .additional-description {
      margin-bottom: 10px;
    }
  }

  .calendar-day-wrap {
    padding: 15px;
    border-bottom: 1px solid $white;

    &:nth-child(even) {
      background-color: $lighter-gray;
    }

    &:nth-child(odd) {
      background-color: $white;
    }

    .calendar-day {
      float: left;
    }

    .calendar-time {
      float: right;
    }
  }

  .additional-link {
    padding: 10px;
    text-decoration: underline;
  }
}

// library search module
.view-library-search {
  ul.nav-tabs {
    margin-bottom: -1px;

    li {
      margin-bottom: 0px;

      a {
        font-size: 16px;

        @media #{$large-max} {
          padding: 10px 8px;
        }
      }
    }
  }

  form,
  .tab-pane {
    font-size: 16px;

    h4 {
      padding-top: 15px;
    }
  }

  .library-tabs {
    background-color: $off-white;
  }

  .books-container {
    margin-top: 20px;
  }

  input[type="text"] {
    border-radius: 5px;
  }

  .panel-collapse {
    padding: 0px 15px 15px;
  }

  .panel-heading {
    border-bottom: 1px solid $cwru-light-gray;
  }
}

// homepage recent news view
.view-recent-news {
  .views-row .views-field-field-article-image-ref {
    display: none;
  }

  .views-row:first-of-type .views-field-field-article-image-ref {
    display: block;
    margin-bottom: 10px;
    max-width: 250px;
  }

  .view-content {
    display: grid;
    grid-template-areas: "main story1" "main story2" "main story3" "main button";
    grid-gap: 20px 40px;

    @media #{$small-max} {
      display: block;

      .views-row {
        margin-bottom: 20px;
      }
    }
  }

  .views-row:first-of-type {
    grid-area: main;
  }

  .views-row:nth-of-type(3) {
    border-top: 1px solid $lighter-gray;
    padding-top: 20px;
  }

  .views-row:nth-of-type(4) {
    border-top: 1px solid $lighter-gray;
    padding-top: 20px;
  }
}

// homepage upcoming events view
.view-upcoming-events {
  color: $white;
  background-color: $dark-gray;
  margin: 20px -22px -37px;
  padding: 20px;

  .view-content {
    display: flex;

    @media #{$small-max} {
      flex-direction: column;
    }
  }

  .calendar-item {
    background-color: $cwru-blue;
    border: 1px solid $link-blue;
    text-align: center;
    margin-right: 20px;
    float: left;
    padding: 0 10px;

    .month {
      text-transform: uppercase;
    }

    .day {
      font-size: 46px;
      font-weight: bold;
      line-height: 0.5;
      margin-bottom: 13px;
    }
  }

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.related-news {
  max-width: 984px;
  margin: 0 auto;

  .view-content {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;

    > a {
      display: block;
      height: 100%;
    }

    .views-row {
      border: 2px solid $link-blue;
      padding: 20px;
      margin: 20px;
      flex-grow: 1;
      flex-basis: 250px;

      > .views-field {
        background-color: $dark-gray;
        padding: 20px;
        height: 100%;
        transition: background-color 0.3s;
        position: relative;

        &:hover {
          background-color: $cwru-blue;
        }
      }
    }

    .title {
      font-size: 22px;
      line-height: 1.4;
      padding-bottom: 40px;
      height: 100%;
    }

    .desc {
      font-size: 14px;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      letter-spacing: 0.5px;
    }

    a,
    a:hover,
    h3 {
      color: $white;
      text-decoration: none;
    }
  }
}

.view-media-mentions > .view-content {
  padding-top: 5px;
}

.views-field-nothing {
  display: inline-block;
  margin: 6px 15px 15px 0;
  min-width: 60px;

  .field-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .month {
    font-size: 0.75em;
    background-color: $cwru-blue;
    color: $white;
    padding: 0 1em;
  }

  .day {
    font-size: 1.2em;
    border: 1px solid $light-gray;
    border-top: none;
    background-color: $white;
  }
}

.past-events-row {
  border-bottom: 1px solid $cwru-light-gray;
  &:last-child {
    border-bottom: none;
  }

  .views-field-nothing {
    margin: 5px 5px 5px 0;

    .past-events-listing {
      font-size: 16px;
      text-align: left;
      padding: 5px 0;
    }
  }
}

// HOMEPAGE EVENTS VIEW
.view-display-id-block_18 {
  margin: 20px -22px -37px;
  padding: 20px 40px;
  background-color: $dark-gray;
  .view-content {
    display: flex;
    justify-content: space-around;
    @media #{$medium-max} {
      flex-direction: column;
    }
    .views-row {
      padding-right: 20px;
      flex-basis: 33%;
      a {
        color: $white;
      }
      .views-field-nothing {
        .month {
          padding-top: 2px;
          border: 1px solid $link-blue;
          border-bottom: none;
        }
        .day {
          padding-bottom: 6px;
          line-height: 0.8;
          font-weight: 600;
          background-color: $cwru-blue;
          color: $white;
          border: 1px solid $link-blue;
          border-top: none;
          font-size: 1.8em;
        }
      }
    }
  }
  .view-footer {
    .button-outline-link-blue {
      border: 1px solid $cwru-blue;
      background: $link-blue;
      margin: 10px;
      &:hover {
        border-color: $link-blue;
        background: $cwru-blue;
      }
    }
  }
}

.view-id-media_mentions_table {
  > .view-filters {
    margin-bottom: 25px;

    .form-item-field-media-hits-link-title {
      width: 100%;

      label {
        border-bottom: none;
        width: auto;
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: 600;
        margin-left: 12%;

        @media #{$large-max} {
          margin-left: 6%;
        }

        @media #{$small-max} {
          margin-left: 0;
        }
      }

      input {
        margin-left: 12%;
        width: 60%;
        margin-bottom: 10px;

        @media #{$large-max} {
          margin-left: 6%;
          width: 68%;
        }

        @media #{$small-max} {
          margin-left: 0;
          width: 65%;
        }
      }
    }

    [id^="edit-actions"] {
      position: absolute;
      margin-top: 36px;
      right: 15%;

      @media #{$large-max} {
        right: 10%;
      }

      @media #{$small-max} {
        right: 0;
        width: 33%;
      }
    }
  }

  fieldset.fieldgroup {
    width: 36%;
    margin-right: 2%;

    &:first-of-type {
      margin-left: 12%;

      @media #{$large-max} {
        margin-left: 6%;
      }

      @media #{$small-max} {
        margin-left: 0;
      }
    }

    &:last-of-type {
      margin-right: 0;

      @media #{$small-max} {
        padding-bottom: 25px;
      }
    }

    @media #{$large-max} {
      width: 42%;
    }

    @media #{$small-max} {
      width: 100%;
      max-width: 440px;
    }

    legend {
      border-bottom: none;
      width: auto;
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: 600;
    }

    .fieldset-wrapper {
      height: 140px;
      overflow-y: scroll;
      border: 1px solid $light-gray;

      div.form-type-checkbox {
        width: 100%;
        padding: 4px;

        @media #{$small-max} {
          margin: 0;
        }
      }

      label {
        font-size: 16px;
        margin-left: 25px;

        @media #{$small-max} {
          margin-left: 5px;
        }

        input {
          margin: 4px 5px 5px -20px;
          position: absolute;
        }
      }
    }
  }

  .view-header {
    background-color: $cwru-blue;
    color: $white;
    margin: 20px 0;
    padding: 20px;
    font-size: 18px;

    a {
      color: $white;
      text-decoration: underline;
    }

    .media-hits-header {
      margin-bottom: 20px;
      div.text-right {
        padding-top: 10px;

        span {
          font-size: 48px;
          line-height: 0.8;

          &.total {
            font-size: 84px;
          }
        }
      }
      i {
        font-size: 120px;
      }
      div.text-center {
        padding-top: 10px;
        padding-right: 35px;
      }
      & + div {
        padding-top: 10px;
      }
    }
  }
}

.view-id-full_events_listing {
  .views-row {
    background-color: $off-white;
    .views-field-nothing {
      margin: 0;
      @media #{$small-max} {
        width: 100%;
      }
    }
  }
  h3 {
    background-color: $cwru-blue;
    padding: 10px 25px;
    color: $white;
    margin: 40px 0 20px;
    &:first-of-type {
      margin-top: 20px;
    }
  }
  .grid-wrapper {
    display: grid;
    grid-template-columns: 98px 134px 2fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @media #{$small-max} {
      grid-template-columns: 120px;
      grid-template-rows: 60px;
    }
  }
  &.view-display-id-block_2 .grid-wrapper {
    grid-template-columns: 120px 2fr 4fr;
    @media #{$small-max} {
      grid-template-columns: 120px;
      grid-template-rows: auto;
    }
    .event-date {
      @media #{$small-max} {
        grid-area: 1/1/2/1;
      }
    }
    .event-image {
      @media #{$small-max} {
        grid-area: 1/2/2/2;
      }
    }
    .event-details {
      @media #{$small-max} {
        grid-area: 3/1/2/3;
      }
    }
  }
  .event-date {
    padding: 10px;
    color: $white;
    background-color: $cwru-blue;
    border-right: 1px solid $off-white;
    font-weight: 600;
    @media #{$small-max} {
      grid-area: 1/1/3/1;
    }
    .event-day-of-week {
      font-size: 16px;
    }
    .event-day-of-month,
    .event-day-start,
    .event-day-end {
      font-size: 50px;
      line-height: 0.9;
    }
    .event-month {
      font-size: 16px;
    }
    .event-year {
      font-size: 16px;
      line-height: 1;
      display: block;
      margin-top: -2px;
    }
  }
  .event-time {
    padding: 10px;
    background-color: $med-gray;
    color: $white;
    font-size: 28px;
    span {
      display: block;
      @media #{$small-max} {
        display: inline-block;
      }
    }
    @media #{$small-max} {
      grid-area: 1/2/1/2;
    }
    @media #{$phone-max} {
      font-size: 19px;
      line-height: 2;
    }
  }
  .event-image {
    @media #{$small-max} {
      grid-area: 2/2/2/2;
      img {
        width: 100%;
      }
    }
  }
  .event-details {
    padding: 10px;
    @media #{$small-max} {
      grid-area: 4/1/3/3;
    }
    .event-sponsor {
      font-size: 16px;
      p {
        margin-bottom: 8px;
      }
    }
    .event-title {
      display: block;
      margin-bottom: 8px;
    }
    .event-speaker {
      font-size: 16px;
      p {
        margin-bottom: 8px;
      }
    }
    .event-cle-hours {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
