{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
<section{{attributes.addClass(classes)}}>
	{% block content %}
		<!--BEGIN: Javascript to handle elements related to form processing =============================== -->
		<script type="text/javascript">
			// <![CDATA[
			function limittoFullText(myForm) {
				if (myForm.fulltext_checkbox.checked) 
				myForm.clv0.value = "Y";
				else 
				myForm.clv0.value = "N";
			}

			function limittoScholarly(myForm) {
				if (myForm.scholarly_checkbox.checked) 
				myForm.clv1.value = "Y";
				else 
				myForm.clv1.value = "N";
			}

			function limittoCatalog(myForm) {
				if (myForm.catalog_only_checkbox.checked) 
				myForm.clv2.value = "Y";
				else 
				myForm.clv2.value = "N";
			}

			function limittoIR(myForm) {
				if (myForm.IR_only_checkbox.checked) 
				myForm.clv3.value = "Y";
				else 
				myForm.clv3.value = "N";
			}

			function ebscoPreProcess(myForm) {
				myForm.bquery.value = myForm.search_prefix.value + myForm.uquery.value;
			}

			function limittoArticles(myForm) {
				myForm.bquery.value += ' AND ZT Article';
			}

			function limittoBooks(myForm) {
				myForm.bquery.value += ' AND PT Book';
			}
			// ]]>
		</script>
		<!--END: Javascript to handle elements related to form processing =============================== -->

		<div id="chs-librarysearch">
			<div
				class="yui-navset" id="demo">
				<!-- BEGIN: Definition of Tab Names =============================== -->
				<ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="tabs-0" role="tablist" style="border-bottom: 0px solid #d3d3d3;">
					<li class="active" role="presentation">
						<a aria-controls="search" data-toggle="tab" href="#tab1" role="tab">Search Everything</a>
					</li>
					<li role="presentation">
						<a aria-controls="e-journals" data-toggle="tab" href="#tab2" role="tab">eJournals</a>
					</li>
					<li role="presentation">
						<a aria-controls="catalog" data-toggle="tab" href="#tab3" role="tab">Catalog</a>
					</li>
					<li role="presentation">
						<a aria-controls="pub-med" data-toggle="tab" href="#tab4" role="tab">PubMed</a>
					</li>
					<li role="presentation">
						<a aria-controls="database" data-toggle="tab" href="#tab5" role="tab">Databases</a>
					</li>
					<li role="presentation">
						<a aria-controls="ohiolink" data-toggle="tab" href="#tab6" role="tab">OhioLINK</a>
					</li>
				</ul>

				<div
					class="tab-content responsive library-tabs hidden-xs hidden-sm">
					<!-- CUSTOM SEARCH TAB -->
					<div class="tab-pane active" id="tab1" role="tabpanel">
						<form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)" target="_blank" class="form-inline">
							<h2 class="mb-20">Search Everything</h2>
							<div class="mb-20">
								<!-- Limiter: Full text check box set the above value to Y, or alternatively you can have script append FT Y to the users search -->
								<input id="fulltext_checkbox_all" name="fulltext_checkbox" class="position-relative" onclick="limittoFullText(this.form)" type="checkbox">
								<label for="fulltext_checkbox_all">Full-Text (online)</label>

								<!-- Limiter: Scholarly/Peer-Reviewed check box set the above value to Y -->
								<input id="scholarly_checkbox_articles" name="scholarly_checkbox" class="position-relative" onclick="limittoScholarly(this.form)" type="checkbox">
								<label for="scholarly_checkbox_articles">Scholarly (Peer Reviewed)</label>
							</div>

							<input name="direct" type="hidden" value="true">
							<input
							name="scope" type="hidden" value="site">

							<!-- target an EDS profile -->
							<input name="site" type="hidden" value="eds-live">
							<input
							name="profile" type="hidden" value="eds">

							<!-- Auth type -->
							<input name="authtype" type="hidden" value="ip,shib,guest">
							<input name="custid" type="hidden" value="s8481523">
							<input
							name="groupid" type="hidden" value="main">

							<!-- Limiter: Full Text -->
							<input name="cli0" type="hidden" value="FT">
							<input
							name="clv0" type="hidden" value="N">

							<!-- Limiter: Scholarly/Peer-Reviewed -->
							<input name="cli1" type="hidden" value="RV">
							<input
							name="clv1" type="hidden" value="N">

							<!-- Limiter: Catalog Only -->
							<input name="cli2" type="hidden" value="FC">
							<input
							name="clv2" type="hidden" value="N">

							<!-- Limiter: Institutional Repositories Only -->
							<input name="cli3" type="hidden" value="FC1">
							<input
							name="clv3" type="hidden" value="N">

							<!-- Dropdown menu to prepend the selected value below to the user's search term -->
							<select name="search_prefix" onchange="#" size="1" style="min-width: 150px" class="form-control library-search-select">
								<option selected="selected" value="">Keyword</option>
								<option value="TI ">Title</option>
								<option value="AU ">Author</option>
							</select>
							<!-- search box and submit button -->
							<div class="input-group searchbar-group">
								<input name="bquery" type="hidden" value="">
								<input class="form-control" name="uquery" placeholder="Search for articles, journals, books, databases, etc." type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
								</span>
							</div>
						</form>
					</div>

					<!-- JOURNALS TAB -->
					<div class="tab-pane" id="tab2" role="tabpanel">
						<form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)" target="_blank" class="form-inline">
							<h2 class="mb-20">Search eJournals</h2>
							<!-- Dropdown menu to prepend the selected value below to the user's search term -->
							<select name="search_prefix" onchange="#" size="1" style="min-width: 150px" class="form-control">
								<option selected="selected" value="">Title</option>
								<option value="">Keyword</option>
								<option value="IS ">ISSN</option>
							</select>

							<input name="direct" type="hidden" value="true">
							<input
							name="scope" type="hidden" value="site">

							<!-- target an EDS profile -->
							<input name="site" type="hidden" value="eds-live">
							<input name="profile" type="hidden" value="pfi">
							<input
							name="defaultdb" type="hidden" value="edspub">

							<!-- Auth type -->
							<input name="authtype" type="hidden" value="ip,guest">
							<input name="custid" type="hidden" value="s8481523">
							<input
							name="groupid" type="hidden" value="main">

							<!-- search box and submit button -->
							<div class="input-group searchbar-group">
								<input name="bquery" type="hidden" value="">
								<input class="form-control" name="uquery" placeholder="Search by keyword/subject, title, or ISSN" type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
								</span>
							</div>
						</form>
					</div>

					<!-- Catalog TAB -->
					<div class="tab-pane" id="tab3" role="tabpanel">
						<form id="catalogForm" onsubmit="submitFormFuncCatalog(event)" class="form-inline">
							<h2 class="mb-20">Search Catalog</h2>

							<!-- Dropdown menu to prepend the selected value below to the user's search term -->
							<select name="search_type" onchange="#" size="1" style="min-width: 150px" class="form-control">
								<option selected="selected" value="t">Title</option>
								<option value="X">Keyword</option>
								<option value="a">Author</option>
								<option value="i">ISBN</option>
								<option value="i">ISSN</option>
							</select>

							<div class="input-group searchbar-group">
								{# <input name="searchtype" type="hidden" value="Y"/> #}
								<input class="form-control" name="searcharg" placeholder="Search by keyword/subject, title, author, ISBN, ISSN, etc." type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
								</span>
							</div>							
							<span class="input-group-btn">
								<input class="button-blue mt-20" onclick="openCatalog()" type="button" target="_blank" value="Browse CWRU Catalog">
							</span>

							<script>
								function submitFormFuncCatalog(e) {
									e.preventDefault();
									var myForm = document.getElementById('catalogForm');
									var searchTerm = myForm.elements["searcharg"].value.trim();
									if (searchTerm == '') {
										window.open('https://catalog.case.edu/search');
									} else {
										window.open('https://catalog.case.edu/search/?searchtype=' + myForm.elements['search_type'].value + '&searcharg=' + myForm.elements["searcharg"].value);
									}
									return false;
								}

								function openCatalog(e) {
									window.open("https://catalog.case.edu");
								}
							</script>
						</form>
					</div>

					<!-- PubMed TAB -->
					<div class="tab-pane" id="tab4" role="tabpanel">
						<form id="pubmedForm" onsubmit="submitFormFuncPubMed(event)" class="form-inline">
							<h2 class="mb-20">Search PubMed</h2>
							<div class="input-group searchbar-group">
								<input class="form-control" name="pubmed" placeholder="Search by author, article title, PMID, DOI, etc." type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
								</span>
							</div>

							<script>
								function submitFormFuncPubMed(e) {
									e.preventDefault();
									var myForm = document.getElementById('pubmedForm');
									var searchTerm = myForm.elements["pubmed"].value.trim();
									if (searchTerm == '') {
										window.open('https://pubmed.ncbi.nlm.nih.gov/?otool=cwruclib');
									} else {
										window.open('https://pubmed.ncbi.nlm.nih.gov/?holding=cwruclib_fft_ndi&otool=cwruclib&term=' + myForm.elements["pubmed"].value);
									}
									return false;
								}
							</script>
						</form>
					</div>

					<!-- Database TAB -->
					<div class="tab-pane" id="tab5" role="tabpanel">
						<form id="databaseForm" onsubmit="submitFormFuncdb(event)" class="form-inline">
							<h2 class="mb-20">Search Databases</h2>
							{# ADD STUFF #}
							<div class="input-group searchbar-group">
								<input class="form-control" name="database" placeholder="Search by database name" type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
									<a class="button-gray" href="https://chs.libguides.com/az.php?s=177717" target="_blank">Browse List</a>
								</span>
							</div>

              				<script>
								function submitFormFuncdb(e) {
									e.preventDefault();
									var myForm = document.getElementById('databaseForm');
									window.open('https://chs.libguides.com/az.php?s=177717&q=' + myForm.elements["database"].value);
									return false;
								}
							</script>
						</form>
					</div>

					<!-- OhioLINK TAB -->
					<div class="tab-pane" id="tab6" role="tabpanel">
						<form id="ohiolinkForm" onsubmit="submitFormFuncOhioLink(event)" class="form-inline">
							<h2 class="mb-20">Search OhioLINK</h2>
							<!-- Dropdown menu to append the selected value below to the user's search term -->
							<select name="search_postfix" onchange="#" size="1" style="min-width: 150px" class="form-control">
								<option selected="selected" value="__Orightresult__U?lang=eng">Keyword</option>
								<option value="__Ff:facetfields:title:title:Title::__Orightresult__U__X0?lang=eng">Title</option>
								<option value="__Ff:facetfields:author:author:Author::__Orightresult__U__X0?lang=eng">Author</option>
								<!-- No specific flags for ISBN or ISSN, but plain search finds them-->
								<option value="__Orightresult__U?lang=eng">ISBN</option>
								<option value="__Orightresult__U?lang=eng">ISSN</option>
							</select>

							<div class="input-group searchbar-group">
								<input class="form-control" name="ohiolink" placeholder="Search by keyword/subject, author, title, ISBN, ISSN, etc." type="text"/>
								<span class="input-group-btn">
									<input class="button-blue" type="submit" value="Search">
								</span>
							</div>

							<script>
								function submitFormFuncOhioLink(e) {
									e.preventDefault();
									var myForm = document.getElementById('ohiolinkForm');
									window.open('https://catalog.ohiolink.edu/iii/encore/search/C__S' + myForm.elements["ohiolink"].value + myForm.elements['search_postfix'].value);
									return false;
								}
							</script>
						</form>
					</div>
				</div>

					

				{# MOBILE STARTS HERE #}
				<div class="accordion visible-xs visible-sm" id="lawLibraryMobileSearch">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h3 class="mb-0">
								<button aria-controls="collapseOne" aria-expanded="true" class="btn btn-block" data-target="#collapseOne" data-toggle="collapse" type="button">Search Everything</button>
							</h3>
						</div>
						<div aria-labelledby="headingOne" class="collapse in" data-parent="#lawLibraryMobileSearch" id="collapseOne">
							<div class="card-body">
								<form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)" target="_blank">
									<h2>Search Everything</h2>
									<!-- Dropdown menu to prepend the selected value below to the user's search term -->
									<select name="search_prefix" onchange="#" size="1" style="min-width: 150px" class="mb-20">
										<option selected="selected" value="">Keyword</option>
										<option value="TI ">Title</option>
										<option value="AU ">Author</option>
									</select>

									<input name="direct" type="hidden" value="true">
									<input
									name="scope" type="hidden" value="site">

									<!-- target an EDS profile -->
									<input name="site" type="hidden" value="eds-live">
									<input
									name="profile" type="hidden" value="eds">

									<!-- Auth type -->
									<input name="authtype" type="hidden" value="ip,shib,guest">
									<input name="custid" type="hidden" value="s8481523">
									<input
									name="groupid" type="hidden" value="main">

									<!-- Limiter: Full Text -->
									<input name="cli0" type="hidden" value="FT">
									<input
									name="clv0" type="hidden" value="N">

									<!-- Limiter: Scholarly/Peer-Reviewed -->
									<input name="cli1" type="hidden" value="RV">
									<input
									name="clv1" type="hidden" value="N">

									<!-- Limiter: Catalog Only -->
									<input name="cli2" type="hidden" value="FC">
									<input
									name="clv2" type="hidden" value="N">

									<!-- Limiter: Institutional Repositories Only -->
									<input name="cli3" type="hidden" value="FC1">
									<input
									name="clv3" type="hidden" value="N">

									<!-- search box and submit button -->
									<input name="bquery" type="hidden" value="">
									<input name="uquery" placeholder="Search for articles, journals, books, databases, etc." type="text"/>

									<div
										class="mb-20">
										<!-- Limiter: Full text check box set the above value to Y, or alternatively you can have script append FT Y to the users search -->
										<input id="fulltext_checkbox_all_mobile" name="fulltext_checkbox" class="position-relative library-search-checkbox-mobile" onclick="limittoFullText(this.form)" type="checkbox">
										<label for="fulltext_checkbox_all_mobile">Full-Text (online)</label>
										<br/>
										<!-- Limiter: Scholarly/Peer-Reviewed check box set the above value to Y -->
										<input id="scholarly_checkbox_articles_mobile" name="scholarly_checkbox" class="position-relative library-search-checkbox-mobile" onclick="limittoScholarly(this.form)" type="checkbox">
										<label for="scholarly_checkbox_articles_mobile">Scholarly (Peer Reviewed)</label>
									</div>

									<input class="button-blue" type="submit" value="Search">
								</form>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingTwo">
							<h3 class="mb-0">
								<button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-block collapsed" data-target="#collapseTwo" data-toggle="collapse" type="button">Search eJournals</button>
							</h3>
						</div>
						<div aria-labelledby="headingTwo" class="collapse" data-parent="#lawLibraryMobileSearch" id="collapseTwo">
							<div class="card-body">
								<form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)" target="_blank">
									<h2>Search eJournals</h2>
									<!-- Dropdown menu to prepend the selected value below to the user's search term -->
									<select name="search_prefix" onchange="#" size="1" style="min-width: 150px" class="mb-20">
										<option selected="selected" value="TI ">Title</option>
										<option value="">Keyword</option>
										<option value="IS ">ISSN</option>
									</select>

									<input name="direct" type="hidden" value="true">
									<input
									name="scope" type="hidden" value="site">

									<!-- target an EDS profile -->
									<input name="site" type="hidden" value="eds-live">
									<input name="profile" type="hidden" value="pfi">
									<input
									name="defaultdb" type="hidden" value="edspub">

									<!-- Auth type -->
									<input name="authtype" type="hidden" value="ip,guest">
									<input name="custid" type="hidden" value="s8481523">
									<input
									name="groupid" type="hidden" value="main">

									<!-- search box and submit button -->
									<input name="bquery" type="hidden" value="">
									<input name="uquery" placeholder="Search by keyword/subject, title, or ISSN" type="text"/>
									<input class="button-blue" type="submit" value="Search">
								</form>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingThree">
							<h3 class="mb-0">
								<button aria-controls="collapseThree" aria-expanded="false" class="btn btn-block collapsed" data-target="#collapseThree" data-toggle="collapse" type="button">Search Catalog</button>
							</h3>
						</div>
						<div aria-labelledby="headingThree" class="collapse" data-parent="#lawLibraryMobileSearch" id="collapseThree">
							<div class="card-body">
								<form id="catalogForm2" onsubmit="submitFormFuncCatalog2(event)">
									<h2>Search Catalog</h2>
									<!-- Dropdown menu to prepend the selected value below to the user's search term -->
									<select name="search_type" onchange="#" size="1" style="min-width: 150px" class="mb-20">
										<option selected="selected" value="t">Title</option>
										<option value="X">Keyword</option>
										<option value="a">Author</option>
										<option value="i">ISBN</option>
										<option value="i">ISSN</option>
									</select>

									{# <input name="searchtype" type="hidden" value="Y"/> #}
									<input name="searcharg" placeholder="Search by keyword/subject, title, author, ISBN, ISSN, etc." type="text"/>
									<input class="button-blue" type="submit" value="Search">
									<input class="button-blue" onclick="openCatalog()" type="button" target="_blank" value="Browse CWRU Catalog">

									<script>
										function submitFormFuncCatalog2(e) {
											e.preventDefault();
											var myForm = document.getElementById('catalogForm2');
											var searchTerm = myForm.elements["searcharg"].value.trim();
											if (searchTerm == '') {
												window.open('https://catalog.case.edu/search');
											} else {
												window.open('https://catalog.case.edu/search/?searchtype=' + myForm.elements['search_type'].value + '&searcharg=' + myForm.elements["searcharg"].value);
											}
											return false;
										}
									</script>
								</form>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFour">
							<h3 class="mb-0">
								<button aria-controls="collapseFour" aria-expanded="false" class="btn btn-block collapsed" data-target="#collapseFour" data-toggle="collapse" type="button">Search PubMed</button>
							</h3>
						</div>
						<div aria-labelledby="headingFour" class="collapse" data-parent="#lawLibraryMobileSearch" id="collapseFour">
							<div class="card-body">
								<form id="pubmedForm2" onsubmit="submitFormFuncPubMed2(event)">
									<h2>Search PubMed</h2>
									<input name="pubmed" placeholder="Search by author, article title, PMID, DOI, etc." type="text"/>
									<input name="Search" class="button-blue" type="submit" value="Search">

									<script>
										function submitFormFuncPubMed2(e) {
											e.preventDefault();
											var myForm = document.getElementById('pubmedForm');
											var searchTerm = myForm.elements["pubmed"].value.trim();
											if (searchTerm == '') {
												window.open('https://pubmed.ncbi.nlm.nih.gov/?otool=cwruclib');
											} else {
												window.open('https://pubmed.ncbi.nlm.nih.gov/?holding=cwruclib_fft_ndi&otool=cwruclib&term=' + myForm.elements["pubmed"].value);
											}
											return false;
										}
									</script>
								</form>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFive">
							<h3 class="mb-0">
								<button aria-controls="collapseFive" aria-expanded="false" class="btn btn-block collapsed" data-target="#collapseFive" data-toggle="collapse" type="button">Databases</button>
							</h3>
						</div>
						<div aria-labelledby="headingFive" class="collapse" data-parent="#lawLibraryMobileSearch" id="collapseFive">
							<div class="card-body">
								<form id="databaseForm2" onsubmit="submitFormFuncdb2(event)">
									<h2>Databases</h2>
									<input class="form-control" name="database" placeholder="Search by database name" type="text"/>
									<span class="input-group-btn">
										<input class="button-blue" type="submit" value="Search">
									</span>
									<a class="button-gray" href="https://chs.libguides.com/az.php?s=177717" target="_blank">Browse List</a>
									<script>
										function submitFormFuncdb2(e) {
										e.preventDefault();
										var myForm = document.getElementById('databaseForm2');
										window.open('https://chs.libguides.com/az.php?s=177717&q=' + myForm.elements["database"].value);
										return false;
										}
									</script>
								</form>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingSix">
							<h3 class="mb-0">
								<button aria-controls="collapseSix" aria-expanded="false" class="btn btn-block collapsed" data-target="#collapseSix" data-toggle="collapse" type="button">Search OhioLINK</button>
							</h3>
						</div>
						<div aria-labelledby="headingSix" class="collapse" data-parent="#lawLibraryMobileSearch" id="collapseSix">
							<div class="card-body">
								<form id="ohiolinkForm2" onsubmit="submitFormFuncOhioLink2(event)">
									<h2>Search OhioLINK</h2>
									<!-- Dropdown menu to append the selected value below to the user's search term -->
									<select name="search_postfix" onchange="#" size="1" style="min-width: 150px" class="mb-20">
										<option selected="selected" value="__Orightresult__U?lang=eng">Keyword</option>
										<option value="__Ff:facetfields:title:title:Title::__Orightresult__U__X0?lang=eng">Title</option>
										<option value="__Ff:facetfields:author:author:Author::__Orightresult__U__X0?lang=eng">Author</option>
										<!-- No specific flags for ISBN or ISSN, but plain search finds them-->
										<option value="__Orightresult__U?lang=eng">ISBN</option>
										<option value="__Orightresult__U?lang=eng">ISSN</option>
									</select>
									
									<input name="ohiolink" placeholder="Search by keyword/subject, title, author, ISBN, ISSN, etc." type="text"/>
									<input name="Search" class="button-blue" type="submit" value="Search">

									<script>
										function submitFormFuncOhioLink2(e) {
											e.preventDefault();
											var myForm = document.getElementById('ohiolinkForm2');
											window.open('https://catalog.ohiolink.edu/iii/encore/search/C__S' + myForm.elements["ohiolink"].value + myForm.elements['search_postfix'].value);
											return false;
										}
									</script>
								</form>
							</div>
						</div>
					</div>

				</div>

			{% endblock %}
		</section>
