<div class="hero hero--home">
  <div class="hero__video-container">
    <video style="width:100%;marging:20px 0;" autoplay="autoplay" playsinline="playsinline" poster="./themes/custom/crew/video/veale.png" class="hero__video" title="people discussing a design over a table" muted loop="loop">
      <source src="./themes/custom/crew/video/veale.mp4" type="video/mp4" />
      <img src="./themes/custom/crew/video/veale.png" alt="people discussing a design over a table" />
    </video>
  </div>
</div>
