.container {
  font-family: 'DepotNew-Bold', sans-serif;
  position: fixed;
  top: 6.4rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  color: white;
}
.container ul {
  padding: 0;
}
.container ul li {
  list-style: none;
}
.container > div {
  width: 100%;
  z-index: 2;
}
/* .container .imageHolder {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
} */
.container .imageHolder {
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.container .imageHolder img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.container .menuRight {
  background-color: #003071;
  padding: 11.2rem 3.2rem 1.6rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.container .menuRight a {
  display: block;
  color: white;
  font-weight: 700;
}
.container .menuRight a.active,
.container .menuRight a:hover {
  color: #E69E40;
  text-decoration: none;
}
.container .menuRight label {
  font-size: 1.44rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #a6d2e6;
}
.container .menuRight .menuMain li {
  position: relative;
}
.container .menuRight .menuMain li span {
  position: absolute;
  height: 3px;
  background-color: #E69E40;
  top: 50%;
  left: -60px;
  width: 0;
  transition: width 0.2s;
}
.container .menuRight .menuMain li:hover span {
  width: 50px;
}
.container .menuRight .menuMain a {
  padding: 10px 0;
  font-size: 3.52rem;
}
.container .menuRight input {
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: 1px solid #a6d2e6;
  background-color: #006DA3;
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  transition: background 0.2s;
}

input::-webkit-input-placeholder {
  color: #f5f5f5;
}
input::-moz-placeholder {
  color: #f5f5f5;
}
input::-ms-placeholder {
  color: #f5f5f5;
}
input::placeholder {
  color: #f5f5f5;
}

.container .menuRight input:focus {
  box-shadow: 0 0 10px 0 #a6d2e6;
  background-color: #006DA3 66;
}
.container .menuRight label {
  position: relative;
  display: block;
}
.icon {
  position: absolute;
  right: 5px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
}
.container .menuRight .menuHeight {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  flex: 1;
}
.container .menuRight .menuHeight > div:first-of-type {
  flex: 1;
}
.container .forLinks {
  border-left: #E69E40 solid 6px;
  padding: 1.6rem 2.4rem;
  font-size: 2.24rem;
}
.container .forLinks ul,
.container .forLinks li {
  margin: 1.6rem 0;
}
.container a[aria-current="page"] {
  color: #E69E40;
}
.container .otherLinks {
  border-top: 1px solid #a6d2e6;
  padding: 1.6rem 3.2rem 0;
  margin: 0 -32px;
  position: relative;
}
.container .otherLinks ul {
  display: flex;
  font-size: 1.76rem;
  margin: 0 -1.6rem;
  align-items: center;
  flex-wrap: wrap;
}
.container .otherLinks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.container .otherLinks ul a,
.container .otherLinks ul label {
  padding: 1.6rem;
}
.container .otherLinks li {
  margin: 0;
}
.panel {
  background-color: black;
  width: 50vw;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.panel.right {
  left: 50%;
}

.leftHalf {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    top: 0;
  }
  .container > div {
    width: 50vw;
  }
  .leftHalf {
    display: block;
  }
  .container .forLinks {
    border-left: #E69E40 solid 10px;
    font-size: 1.92rem;
  }
  .container .otherLinks::before {
    display: none;
  }
}
