.scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  display: none;
  right: 20px;
}
.scroll-to-top > i {
  display: inline-block;
  //Font size here
  font-size: 32px;
}
.scroll-to-top:hover {
  cursor: pointer;
}
.scroll-to-top:hover > i {
  color: $link-blue;
}
@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    right: 10px;
  }
  .scroll-to-top > i {
    //Font size here
    font-size: 28px;
  }
}
