{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}

{% if 'True' in content.field_move_text_to_right_side[0] %}
    {% set alignment = 'move-right' %}
{% else %}
    {% set alignment = 'move-left' %}
{% endif %}

{% block paragraph %}
    <div{{ attributes.addClass(classes, alignment) }}>
        {% block content %}
            {{ content|without('field_move_text_to_right_side') }}
        {% endblock %}
    </div>
{% endblock paragraph %}
