{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}
{% block paragraph %}
    <a href={{content.field_lw_blue_styled_buttons_lin[0]['#url']|render}} class="button-anchor-wrap">
        <div{{ attributes.addClass(classes) }}>
            {% block content %}
                {{ content|without('field_lw_blue_styled_buttons_lin') }}
            {% endblock %}
        </div>
    </a>
{% endblock paragraph %}
