{{ attach_library('crew_entrepreneurship/stat-group') }}

{% block paragraph %}
  <div{{ attributes.addClass('stat-group') }}>
    <div class="container">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
