// Stat Group
//
// This is the Stat Group component. It's an example.
//
// Markup: paragraph--stat-group.html.twig
//
// Style guide: Components.stat-group

// Import site utilities.
@import '../../global/utils/init';

.stat-group {
  color: $white;
  background-image: url('../assets/stat-bkg.svg');
  background-size: cover;
  background-position: center;
  background-color: $dark-gray;
  padding: $size-medium $size-large;
}

.field-stat- {
  @include breakpoint($bp-lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > .field__item {
      width: 25%;

      &:nth-child(1) {
        transform: translateX(50px);
      }

      &:nth-child(2) {
        transform: translateY(70px);
      }

      &:nth-child(4) {
        transform: translateX(120px);
      }

      &:nth-child(5) {
        transform: translateX(-80px);
      }
    }
  }
}

.field-stat- > .field__item {
  margin-bottom: $size-medium;
  @include breakpoint($bp-md) {
    margin: $size-medium;
  }
}

.field-stat-number {
  @include font-stack-titillium;
  font-size: $font-size-larger;
  font-weight: $font-weight-black;
  letter-spacing: 3px;
  line-height: 1;
  @include breakpoint($bp-md) {
    font-size: 80px; //size needs to be hard coded
  }

  &.outline {
    @include text-shadow($white);
    color: $dark-gray;
    letter-spacing: 6px;
  }
}

.stat-pound {
  font-size: 0.5em;
  vertical-align: super;
  @include breakpoint($bp-md) {
    font-size: 38px; //size needs to be hard coded
  }
}
