/* Home Events Feed */
.field--name-field-tb-homepage-event-view-ref {
  background: #09143A;
  color: white;
  margin: 40px calc(50% - 50vw);
  padding: 40px;
}

.home-events-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.home-feed-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -10px;
}

.home-feed-item {
  flex: 1;
  flex-basis: 400px;
  margin: 40px;
  font-family: "Arizona", "Arial", sans-serif;
  font-size: 16px;
}

.home-event-type {
  font-weight: 700;
  text-transform: uppercase;
}
a.home-event-title {
  color: #61A530 !important;
  font-size: 20px;
}
a.home-event-title:hover {
  color: #61A530 !important;
  text-decoration: underline;
}

.home-feed-item .cal {
  background: white;
  color: black;
  font-size: 26px;
  font-weight: 700;
  width: 70px;
  height: 70px;
  line-height: 1;
  padding: 8px;
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.home-feed-item .cal:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 50px;
  background-color: #61A530;
}
.home-feed-item .cal:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 20px;
  height: 35px;
  background-image: radial-gradient(#fff 35%, transparent 20%);
  background-position: 0 0;
  background-size: 7px 7px;
}

/* /events Event Feed */
.field--name-field-landing-content-ref .event-feed {
  background: #003071;
  color: white;
  margin: 40px calc(50% - 50vw);
  padding: 40px;
}

/* robust 3 col events feed */
.field--name-field-robust-3-page-ref .home-feed-container {
  margin: 10px -10px;
}
.field--name-field-robust-3-page-ref a.home-event-title {
  color: #006DA3 !important;
  font-size: 20px;
}
.field--name-field-robust-3-page-ref a.home-event-title:hover {
  color: #006DA3 !important;
  text-decoration: underline;
}
.field--name-field-robust-3-page-ref .home-feed-item .cal {
  background: #003071;
  color: white;
  font-size: x-large;
  display: grid;
}
.field--name-field-robust-3-page-ref .home-feed-item .cal:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 20px;
  height: 35px;
  background-image: radial-gradient(#000 35%, transparent 20%);
  background-position: 0 0;
  background-size: 7px 7px;
}

@media only screen and (max-width: 500px) {
  .field--name-field-tb-homepage-event-view-ref {
    padding: 40px 0;
  }
  .home-feed-container {
    padding: 10px;
  }
}
