.main-content-container {
  background-color: white;
}

.page-head .page-title h1, .page-head .page-title div {
  font-weight: 600;
}

.hero-video-pres {
  width: 100%;
}

video {
  display: block;
  margin-top: 20px;
}

.paragraph--type--small-stat-box-section {
  display: block;
  transform: translateY(-80px);
  border: 3px solid #fff;
  padding: 24px 40px;
  background-color: #0a304e;
  color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph--type--small-stat-box-section .field--name-field-sm-stat-box-number {
  font-size: 44px;
  margin-bottom: 10px;
}

.paragraph--type--small-stat-box-section .field--name-field-sm-stat-box-description {
  font-size: 24px;
  line-height: 1.2;
}

.field--name-field-sm-stat-box-section-ref .field--item:first-of-type .paragraph--type--small-stat-box-section {
  border-top: 3px solid #fff;
}

.field--name-field-sm-stat-box-section-ref .field--item:last-of-type .paragraph--type--small-stat-box-section {
  border-bottom: 3px solid #fff;
}

.background--black {
  background-color: white;
  margin-bottom: -40px;
}

/* do not need anymore
.list-style-disc.media-list li:before {
  position: absolute;
  left: 15px;
  top: 10px;
  content: '';
  width: 8px;
  height: 8px;
  text-align: center;
  padding-right: 8px;
  border-radius: 50%;
  background-color: #000;
}
*/

.list-style-disc.media-list li {
  padding-left: 40px;
  /* position: relative; */
}

.view-news-article-listing .view-header h2 {
  margin-top: 40px !important;
  margin-bottom: 5px;
}

.ipe-homepage .view-news-article-listing .view-content {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.view-news-article-listing .news-row {
  flex: 1;
  margin: 10px;
  border: 1px solid #c6c6c6;
  transition: border, background-color 0.3s;
}

.news-row>div, .news-row>div>span, .news-row>div>span>a {
  height: 100%;
}

.view-news-article-listing .news-row a {
  display: block;
  padding: 20px;
}

.view-news-article-listing .news-row:hover {
  border: 1px solid #3168a6;
  background-color: #f5f5f5;
}

.view-news-article-listing h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #0a304e;
  font-size: 24px;
}

.view-news-article-listing .article-date {
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
}

.view-news-article-listing .article-content {
  color: black;
  font-weight: normal;
}

.view-news-article-listing a:hover {
  text-decoration: none;
}

/* STAT BAR */

.paragraph--type--lw-stat-bar-group {
  color: #fff;
  background-color: #0a304e;
  background-image: url(/themes/custom/crew_presidentsearch/images/stats-bkg.jpg);
  margin: 40px 0;
  padding: 1px 20px;
}

.field--name-field-stat-bar-group-title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 20px;
}

.field--name-field-lw-stat-bar>.field--item {
  margin-bottom: 30px;
  margin-top: 30px;
}

.field--name-field-lw-stat-bar-number {
  font-size: 46px;
  font-weight: 700;
  flex-shrink: 0;
  line-height: 1;
}

/* STAT BAR HOMEPAGE OVERRRIDES */

.field--name-field-home-content .field--name-field-lw-stat-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.field--name-field-home-content .paragraph--type--lw-stat-bar-section {
  display: block;
  text-align: center;
}

.field--name-field-home-content .field--name-field-lw-stat-bar>.field--item {
  flex: 1;
}

.field--name-field-home-content .field--name-field-lw-stat-bar-number {
  font-size: 60px;
}

@media screen and (max-width: 991px) {
  .background--black {
    margin-bottom: 30px;
  }
  .paragraph--type--small-stat-box-section {
    transform: translateY(0);
    border: none;
  }
  .view-news-article-listing .view-content, .field--name-field-home-content .field--name-field-lw-stat-bar, .paragraph--type--lw-stat-bar-section, .field--name-field-3col-content {
    flex-direction: column;
  }
  .field--name-field-home-content .paragraph--type--lw-stat-bar-section {
    text-align: left;
  }
  .field--name-field-statbar-content {
    padding-right: 0;
  }
}

.video-embed-field-responsive-video {
  margin-top: 0;
}

.feed-item-daterange {
  width: 51px;
}

.view-event-listing .col-sm-11 {
  font-weight: 600;
}

.field--name-field-statbar-content {
  font-size: 12px;
  text-align: right;
  padding-right: 30px;
}

.field--name-field-3col-content {
  display: flex;
  margin: 0 -10px;
}

.field--name-field-3col-content .field--item {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f6f6f6;
}

.field--name-field-home-content>.field--item:first-of-type .paragraph--type--content  {
  max-width: 920px;
  margin: 0 auto;
}