// Breadcrumbs
//
// Breadcrumb navigation at the top of every page. The current page should not be linked. The homepage should always be labeled "Home."
//
// Markup: breadcrumb.hbs
//
// Style guide: components.breadcrumb

.breadcrumb {
  text-transform: uppercase;
  color: $med-gray;
  font-size: $font-tiny-tiny;
  font-weight: 700;
  margin-top: 20px;
  border-bottom: 1px solid $lighter-gray;
  background: 0 0;
  padding: 0 0 10px;
  margin: 15px 0 0 0;
  border-radius: 0;
  line-height: 1.42857;
}

.breadcrumb li {
  margin: 0;
  line-height: 1.42857;
}

.breadcrumb .fa {
  font-size: $font-teeny-tiny;
  margin: 0 0 0 0;
}

.breadcrumb a,
.breadcrumb a:hover {
  color: $link-blue;
}

.breadcrumb > .active {
  color: $med-gray;
}

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
  color: $med-gray;
  font-size: $font-teeny-tiny;
}
