.catalog-list {
  border-top: 1px solid $cwru-blue;
  border-bottom: 1px solid $cwru-blue;
  padding: 1em;
}

.catalog-list li {
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  display: inline;
  margin-right: 1em;
  font-weight: 600;
  color: $cwru-dark-gray;
}
