.ehs-hp-content {
	.field--name-field-twocol-subfeature-ref {
		.paragraph--type--vertical-subfeatures-group {
			margin-top: 30px;
			.field--name-field-vertical-subfeature-sectio.field--items {
				// display: flex;
				.field--item.flex-basis-500 {
					flex-basis: 45%;
				}
			}
		}
	}
}