// Fire Evacuation Map for EHS

#main-map-content {
  width: 100%;

  #map {
    width: 70%;
    height: 600px;
    float: left;
    @media #{$medium-max} { width: 100%; height: 400px; }
  }

  #key {
    width: 30%;
    height: 600px;
    float: left;
    @media #{$medium-max} { width: 50%; height: 200px; }
    select {
      height: 100%;
      width: 100%;
    }
  }

  #legend {
    width: 100%;
    float: left;
    padding: 10px 0px;
    @media #{$medium-max} { width: 50%; padding: 10px; }
  }

}
