//File Type Extensions List
//
// PDF
// Word
// Excel
// PowerPoint
// Text
// Sound
// Video
// Archive

$file-types: (
	pdf:	(content: "\f1c1", iconcolor: #cc080a),
	PDF:	(content: "\f1c1", iconcolor: #cc080a),

	doc:	(content: "\f1c2", iconcolor: #2277bb),
	DOC:	(content: "\f1c2", iconcolor: #2277bb),
	docx:	(content: "\f1c2", iconcolor: #2277bb),
	DOCX:	(content: "\f1c2", iconcolor: #2277bb),
	dot:	(content: "\f1c2", iconcolor: #2277bb),
	DOT:	(content: "\f1c2", iconcolor: #2277bb),
	dotx:	(content: "\f1c2", iconcolor: #2277bb),
	DOTX:	(content: "\f1c2", iconcolor: #2277bb),
	docm:	(content: "\f1c2", iconcolor: #2277bb),
	DOCM:	(content: "\f1c2", iconcolor: #2277bb),
	dotm:	(content: "\f1c2", iconcolor: #2277bb),
	DOTM:	(content: "\f1c2", iconcolor: #2277bb),
	odt:	(content: "\f1c2", iconcolor: #2277bb),
	ODT:	(content: "\f1c2", iconcolor: #2277bb),
	fodt:	(content: "\f1c2", iconcolor: #2277bb),
	FODT:	(content: "\f1c2", iconcolor: #2277bb),
	wps:	(content: "\f1c2", iconcolor: #2277bb),
	WPS:	(content: "\f1c2", iconcolor: #2277bb),
	wpd:	(content: "\f1c2", iconcolor: #2277bb),
	WPD:	(content: "\f1c2", iconcolor: #2277bb),
	pages:	(content: "\f1c2", iconcolor: #2277bb),
	PAGES:	(content: "\f1c2", iconcolor: #2277bb),

	csv:	(content: "\f1c3", iconcolor: #22bb66),
	CSV:	(content: "\f1c3", iconcolor: #22bb66),
	tsv:	(content: "\f1c3", iconcolor: #22bb66),
	TSV:	(content: "\f1c3", iconcolor: #22bb66),
	ods:	(content: "\f1c3", iconcolor: #22bb66),
	ODS:	(content: "\f1c3", iconcolor: #22bb66),
	fods:	(content: "\f1c3", iconcolor: #22bb66),
	FODS:	(content: "\f1c3", iconcolor: #22bb66),
	xlsb:	(content: "\f1c3", iconcolor: #22bb66),
	XLSB:	(content: "\f1c3", iconcolor: #22bb66),
	xlam:	(content: "\f1c3", iconcolor: #22bb66),
	XLAM:	(content: "\f1c3", iconcolor: #22bb66),
	xls:	(content: "\f1c3", iconcolor: #22bb66),
	XLS:	(content: "\f1c3", iconcolor: #22bb66),
	xlt:	(content: "\f1c3", iconcolor: #22bb66),
	XLT:	(content: "\f1c3", iconcolor: #22bb66),
	xlsx:	(content: "\f1c3", iconcolor: #22bb66),
	XLSX:	(content: "\f1c3", iconcolor: #22bb66),
	xlsm:	(content: "\f1c3", iconcolor: #22bb66),
	XLSM:	(content: "\f1c3", iconcolor: #22bb66),
	xltx:	(content: "\f1c3", iconcolor: #22bb66),
	XLTX:	(content: "\f1c3", iconcolor: #22bb66),
	xltm:	(content: "\f1c3", iconcolor: #22bb66),
	XLTM:	(content: "\f1c3", iconcolor: #22bb66),
	numbers:	(content: "\f1c3", iconcolor: #22bb66),
	NUMBERS:	(content: "\f1c3", iconcolor: #22bb66),

	odp:	(content: "\f1c4", iconcolor: #d64e2a),
	ODP:	(content: "\f1c4", iconcolor: #d64e2a),
	fodp:	(content: "\f1c4", iconcolor: #d64e2a),
	FODP:	(content: "\f1c4", iconcolor: #d64e2a),
	ppsx:	(content: "\f1c4", iconcolor: #d64e2a),
	PPSX:	(content: "\f1c4", iconcolor: #d64e2a),
	ppsm:	(content: "\f1c4", iconcolor: #d64e2a),
	PPSM:	(content: "\f1c4", iconcolor: #d64e2a),
	sldx:	(content: "\f1c4", iconcolor: #d64e2a),
	SLDX:	(content: "\f1c4", iconcolor: #d64e2a),
	sldm:	(content: "\f1c4", iconcolor: #d64e2a),
	SLDM:	(content: "\f1c4", iconcolor: #d64e2a),
	thmx:	(content: "\f1c4", iconcolor: #d64e2a),
	THMX:	(content: "\f1c4", iconcolor: #d64e2a),
	ppt:	(content: "\f1c4", iconcolor: #d64e2a),
	PPT:	(content: "\f1c4", iconcolor: #d64e2a),
	pptx:	(content: "\f1c4", iconcolor: #d64e2a),
	PPTX:	(content: "\f1c4", iconcolor: #d64e2a),
	pptm:	(content: "\f1c4", iconcolor: #d64e2a),
	PPTM:	(content: "\f1c4", iconcolor: #d64e2a),
	pot:	(content: "\f1c4", iconcolor: #d64e2a),
	POT:	(content: "\f1c4", iconcolor: #d64e2a),
	potx:	(content: "\f1c4", iconcolor: #d64e2a),
	POTX:	(content: "\f1c4", iconcolor: #d64e2a),
	potm:	(content: "\f1c4", iconcolor: #d64e2a),
	POTM:	(content: "\f1c4", iconcolor: #d64e2a),
	ppam:	(content: "\f1c4", iconcolor: #d64e2a),
	PPAM:	(content: "\f1c4", iconcolor: #d64e2a),
	pps:	(content: "\f1c4", iconcolor: #d64e2a),
	PPS:	(content: "\f1c4", iconcolor: #d64e2a),
	key:	(content: "\f1c4", iconcolor: #d64e2a),
	keynote:	(content: "\f1c4", iconcolor: #d64e2a),
	KEYNOTE:	(content: "\f1c4", iconcolor: #d64e2a),

	rtf:	(content: "\f0f6", iconcolor: #444444),
	RTF:	(content: "\f0f6", iconcolor: #444444),
	rtfd:	(content: "\f0f6", iconcolor: #444444),
	RTFD:	(content: "\f0f6", iconcolor: #444444),
	odf:	(content: "\f0f6", iconcolor: #444444),
	ODF:	(content: "\f0f6", iconcolor: #444444),
	txt:	(content: "\f0f6", iconcolor: #444444),
	TXT:	(content: "\f0f6", iconcolor: #444444),
	epub:	(content: "\f0f6", iconcolor: #444444),
	EPUB:	(content: "\f0f6", iconcolor: #444444),
	text:	(content: "\f0f6", iconcolor: #444444),
	TEXT:	(content: "\f0f6", iconcolor: #444444),

	mp3:	(content: "\f1c7", iconcolor: #89039B),
	MP3:	(content: "\f1c7", iconcolor: #89039B),
	flac:	(content: "\f1c7", iconcolor: #89039B),
	FLAC:	(content: "\f1c7", iconcolor: #89039B),
	m4a:	(content: "\f1c7", iconcolor: #89039B),
	M4A:	(content: "\f1c7", iconcolor: #89039B),
	wav:	(content: "\f1c7", iconcolor: #89039B),
	WAV:	(content: "\f1c7", iconcolor: #89039B),
	mp4a:	(content: "\f1c7", iconcolor: #89039B),
	MP4A:	(content: "\f1c7", iconcolor: #89039B),
	aac:	(content: "\f1c7", iconcolor: #89039B),
	AAC:	(content: "\f1c7", iconcolor: #89039B),
	wma:	(content: "\f1c7", iconcolor: #89039B),
	WMA:	(content: "\f1c7", iconcolor: #89039B),
	midi:	(content: "\f1c7", iconcolor: #89039B),
	MIDI:	(content: "\f1c7", iconcolor: #89039B),
	ogg:	(content: "\f1c7", iconcolor: #89039B),
	OGG:	(content: "\f1c7", iconcolor: #89039B),
	band:	(content: "\f1c7", iconcolor: #89039B),
	BAND:	(content: "\f1c7", iconcolor: #89039B),
	mid:	(content: "\f1c7", iconcolor: #89039B),
	MID:	(content: "\f1c7", iconcolor: #89039B),
	aiff:	(content: "\f1c7", iconcolor: #89039B),
	AIFF:	(content: "\f1c7", iconcolor: #89039B),
	pcm:	(content: "\f1c7", iconcolor: #89039B),
	PCM:	(content: "\f1c7", iconcolor: #89039B),
	alac:	(content: "\f1c7", iconcolor: #89039B),
	ALAC:	(content: "\f1c7", iconcolor: #89039B),

	mp4:	(content: "\f1c8", iconcolor: #444444),
	MP4:	(content: "\f1c8", iconcolor: #444444),
	avi:	(content: "\f1c8", iconcolor: #444444),
	AVI:	(content: "\f1c8", iconcolor: #444444),
	mov:	(content: "\f1c8", iconcolor: #444444),
	MOV:	(content: "\f1c8", iconcolor: #444444),
	avc:	(content: "\f1c8", iconcolor: #444444),
	AVC:	(content: "\f1c8", iconcolor: #444444),
	264:	(content: "\f1c8", iconcolor: #444444),
	h264:	(content: "\f1c8", iconcolor: #444444),
	H264:	(content: "\f1c8", iconcolor: #444444),
	wmv:	(content: "\f1c8", iconcolor: #444444),
	WMV:	(content: "\f1c8", iconcolor: #444444),
	flv:	(content: "\f1c8", iconcolor: #444444),
	FLV:	(content: "\f1c8", iconcolor: #444444),
	ogv:	(content: "\f1c8", iconcolor: #444444),
	OGV:	(content: "\f1c8", iconcolor: #444444),
	mpg:	(content: "\f1c8", iconcolor: #444444),
	MPG:	(content: "\f1c8", iconcolor: #444444),
	mpeg:	(content: "\f1c8", iconcolor: #444444),
	MPEG:	(content: "\f1c8", iconcolor: #444444),
	m4v:	(content: "\f1c8", iconcolor: #444444),
	M4V:	(content: "\f1c8", iconcolor: #444444),
	mpg4:	(content: "\f1c8", iconcolor: #444444),
	MPG4:	(content: "\f1c8", iconcolor: #444444),
	mv4:	(content: "\f1c8", iconcolor: #444444),
	MV4:	(content: "\f1c8", iconcolor: #444444),
	asf:	(content: "\f1c8", iconcolor: #444444),
	ASF:	(content: "\f1c8", iconcolor: #444444),
	qt:	(content: "\f1c8", iconcolor: #444444),
	QT:	(content: "\f1c8", iconcolor: #444444),
	zip:	(content: "\f1c6", iconcolor: #444444),
	ZIP:	(content: "\f1c6", iconcolor: #444444),
	rar:	(content: "\f1c6", iconcolor: #444444),
	RAR:	(content: "\f1c6", iconcolor: #444444),
	tgz:	(content: "\f1c6", iconcolor: #444444),
	TGZ:	(content: "\f1c6", iconcolor: #444444),
	pzip:	(content: "\f1c6", iconcolor: #444444),
	PZIP:	(content: "\f1c6", iconcolor: #444444),
	gz:	(content: "\f1c6", iconcolor: #444444),
	GZ:	(content: "\f1c6", iconcolor: #444444),
	tar:	(content: "\f1c6", iconcolor: #444444),
	TAR:	(content: "\f1c6", iconcolor: #444444),
	7z:	(content: "\f1c6", iconcolor: #444444),
	7Z:	(content: "\f1c6", iconcolor: #444444),
	sit:	(content: "\f1c6", iconcolor: #444444),
	SIT:	(content: "\f1c6", iconcolor: #444444),
	sitx:	(content: "\f1c6", iconcolor: #444444),
	SITX:	(content: "\f1c6", iconcolor: #444444),
	iso:	(content: "\f1c6", iconcolor: #444444),
	ISO:	(content: "\f1c6", iconcolor: #444444),
	bz2:	(content: "\f1c6", iconcolor: #444444),
	BZ2:	(content: "\f1c6", iconcolor: #444444),
	s7z:	(content: "\f1c6", iconcolor: #444444),
	S7Z:	(content: "\f1c6", iconcolor: #444444),
	dmg:	(content: "\f1c6", iconcolor: #444444),
	DMG:	(content: "\f1c6", iconcolor: #444444),
	zipx:	(content: "\f1c6", iconcolor: #444444),
	ZIPX:	(content: "\f1c6", iconcolor: #444444),
	gzip:	(content: "\f1c6", iconcolor: #444444),
	GZIP:	(content: "\f1c6", iconcolor: #444444),
	z:	(content: "\f1c6", iconcolor: #444444),
	Z:	(content: "\f1c6", iconcolor: #444444),
	zz:	(content: "\f1c6", iconcolor: #444444),
	ZZ:	(content: "\f1c6", iconcolor: #444444),
	bin:	(content: "\f1c6", iconcolor: #444444),
	BIN:	(content: "\f1c6", iconcolor: #444444)
);

@each $name, $files in $file-types {
  a[href$=".#{$name}"]:after {
    content: map-get($files, content);
    color: map-get($files, iconcolor);
    padding-left:5px;
    padding-right:2px;
    display: inline-block;
    line-height: 14px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  	a[href$=".#{$name}"].blue-background:after,
	a[href$=".#{$name}"].button-blue:after,
	a[href$=".#{$name}"].button-block-blue:after {
		color: $white;
	}
	.field--name-field-subfeature-link a[href$=".#{$name}"]:after,
	.paragraph--type--aside .field--name-field-aside-button a[href$=".#{$name}"]:after,
	.paragraph--type--button .field--name-field-button a[href$=".#{$name}"]:after,
	.field--name-field-sf-section-link a[href$=".#{$name}"]:after,
	.field--name-field-vertical-sub-link a[href$=".#{$name}"]:after {
        color: $white !important;
	}
	.paragraph--type--button.button-block-gray-link .field--name-field-button a[href$=".pdf"]::after {
		color: #cc080a !important;
	}
	.paragraph--type--stacked-button-wrapper.blue_button a[href$=".pdf"]::after {
		color: #FFFFFF;
	}
	.paragraph--type--stacked-button-wrapper.blue_button a:hover[href$=".pdf"]::after {
		color: #003071;
	}
	.paragraph--type--stacked-button-wrapper.grey_button a[href$=".pdf"]::after {
		color: #FFFFFF;
	}
	.paragraph--type--stacked-button-wrapper.grey_button a:hover[href$=".pdf"]::after {
		color: #003071;
	}

	a[href$=".#{$name}"] + .fa-lock:before {
		color: map-get($files, iconcolor);
	}
}

a[href*="/system/files/"][href$=".pdf"]:after {
	content: '\f1c1  \f023';
}
a[href*="/system/files/"][href$=".doc"]:after {
	content: '\f1c2  \f023';
}
a[href*="/system/files/"][href$=".docx"]:after {
	content: '\f1c2  \f023';
}
a[href*="/system/files/"][href$=".xls"]:after {
	content: '\f1c3  \f023';
}
a[href*="/system/files/"][href$=".xlsx"]:after {
	content: '\f1c3  \f023';
}
