// Intro Text
//
// Intro text is large, centered text that is generally used for sites with less images. It should always be used near the top of the homepage or landing page and only one per page.
//
// Markup: introtext.hbs
//
// Style guide: components.introText

.intro-text {
  margin: 40px 0;

  @media #{$medium-min} {
    padding: 0 143px;
  }
}

.homepage-w-sidebar .intro-text {
  padding: 0 15px;
}

.field--name-field-intro-text-title {
  font-size: 38px;
  font-weight: 600;
  margin-top: 0;
}

.field--name-field-intro-text {
  font-size: 24px;
  margin: 15px 0;
}

.slick + .field--name-field-intro-text-ref .intro-text {
  margin-top: 20px;
}

.field--name-field-intro-text {

  .intro-text,
  .field--name-field-content {
    margin: 40px 0;
    @media #{$medium-min} {
      padding: 0 143px;
    }
  }

  .field--name-field-intro-text-title {
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
  }

  .field--name-field-intro-text {
    font-size: 24px;
    margin: 15px 0;
  }

  .field--name-field-content {
    text-align: center;
  }
}

.field--name-field-intro-text-button a {
  line-height: 1.33333;
  font-size: 20px;
  color: $white;
  background-color: $cwru-blue;
  border-color: $cwru-blue;
  transition: all .3s;
  text-align: center;
  display: inline-block;
  background-image: none;
  border: 1px solid rgba(0,0,0,0);
  padding: 1rem 2rem;
  margin-top: 1em;
}
.field--name-field-intro-text-button a:hover, .field--name-field-intro-text-button a:focus {
  background-color: $link-blue;
  border-color: $link-blue;
  text-decoration: none;
  color: $white;
}

article[about="/bulletin/node/16"] {

  .field--name-field-intro-text .field--name-field-content,
  .field--name-field-intro-text .intro-text {
    margin-top: 50px;
    margin-bottom: 44px;
  }

  .bg-off-white {
    background-color: $white;
  }
}

//MEM Intro Text
.mem-centered-intro-text .intro-text {
  margin: 0;
}

//Human Fusions CIT
.human-fusions-cit .field--name-field-intro-text {
  font-size: 5rem;
  font-weight: bold;
  color: $cwru-blue;
  margin: 0;

  @media (max-width: $medium) {
    font-size: 3rem;
  }
}

// Socialwork styles.
.msass-home-updated__intro-text-container {
  margin-bottom: 40px;
  padding: 40px 0;

  &::after {
    background-color: $light-blue;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    min-width: 150px;
    width: 50%;
  }
}

.msass-home-updated__intro-title,
.msass-home-updated__intro-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

.msass-home-updated__intro-title {
  color: $cwru-blue;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 40px;
}

.msass-home-updated__intro-text {
  font-size: 24px;
  margin-bottom: 40px;
}
