.drupal-messages {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid $white;
  @extend .tmp-shadow;
  ol { @extend .no-ul-list; }
  &.messages--status {
    background: $off-white;
    color: $dark-gray;
  }
  &.messages--warning {
    background: rgba(#E69E40, .3);
    color: $dark-gray;
  }
  &.messages--error {
    background: rgba(#B04027, .3);
    color: $ter-orange;
  }
}

// Hide Missed Login CAS messages
.region.region-content .alert {
  display: none;
}

.field--name-field-alert {
  border: 2px solid $drk-blue;
  padding: 20px;
  background-color: $off-white;
  margin: 20px 0;
}