// Moderation Draft State Edits
#content-moderation-entity-moderation-form {
  >ul.entity-moderation-form {
    margin: 0 0 12px 0;
    padding: 14px 20px 5px;
    li {
      &:first-child {
      	flex-basis: 100%;
      }
      &:nth-child(2) {
      	margin-right: 20px;
      }
      &:nth-child(3) {
      	display: none;
      }
      &:last-child {
      	align-self: auto;
      }
      div {
        label {
          float: left;
          font-weight: 600;
          &:after {
            content: ": ";
          }
        }
        .select-wrapper {
          float: left;
          margin-top: -2px;
          select {
          	font-size: 16px;
          }
        }
      }
      button {
      	background-color: $link-blue;
      	border-color: $link-blue;
      	padding: 4px 20px 5px;
      	font-family: "Open Sans";
      	margin-bottom: 2px;
      	font-weight: 700;
      	&:hover, &:focus {
      		background-color: $light-blue;
      		box-shadow: 0 1px 2px hsla(203,10%,10%,0.25);
      	}
      }
    }
  }
}
