.paragraph--type--quick-links-w-horizontal-buttons {
  background: $white;
  padding: 2rem 0 3rem;
  margin: 0;
  @media #{$small-max} {
    margin: 0 calc(50% - 50vw);
    padding: 2rem 2.5rem 3rem;
  }

  .container {
    padding: 0;
    width: 100%;

    h2 {
      margin-top: 0;
      padding: 0;
      margin-bottom: 3rem;

      .field--name-field-quick-links-title {
        @include inline-title-orange;
        color: $cwru-blue;
      }
    }

    .field--name-field-quick-links-body {
      margin-bottom: 3rem;
    }

    .field--name-field-quick-links-buttons {
      display: flex;
      justify-content: space-between;
      margin: 0;
      gap: 2rem;

      @media #{$small-max} {
        flex-direction: column;
      }

      & > .field--item {
        .paragraph--type--horizontal-buttons {
          display: flex;
          height: 100%;

          .field--name-field-horizontal-buttons-button {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
              @include button-blue-bg;
              display: flex;
              height: 100%;
              align-items: center;
              @media #{$small-max} {
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  &.white_background {
    .quick-links-container {
      padding: 0;
    }
  }

  &.gray_background {
    background: $off-white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &.gray_pattern_background {
    background: url("../images/pattern_hexagon_gray.jpg") center center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.robust-3-column-page {
  section.has-sidebar:has(aside) {
    .paragraph--type--quick-links-w-horizontal-buttons {
      .container {
        .field--name-field-quick-links-buttons {
          justify-content: left;
          flex-wrap: wrap;
          & > .field--item {
            flex-basis: 48%;
          }
          @media #{$large-max} {
            flex-direction: column;
            width: 100%;
          }
        }
      }
    }
  }
}
.robust-3-column-page {
  .paragraph--type--quick-links-w-horizontal-buttons {
    padding: 3rem 0 4rem;
    @media #{$small-max} {
      padding: 2rem 2.5rem 3rem;
    }

    &.gray_background {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    &.gray_pattern_background {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .field--name-field-quick-links-buttons {
      justify-content: space-evenly;
    }
  }
}

.landing-page-rebranded,
.home-page-rebranded {
  .container {
    .field--name-field-quick-links-body,
    .field--name-field-quick-links-buttons {
      @media #{$small-max} {
        margin-top: 3rem;
      }
    }
    @media #{$small-min} {
      .field--name-field-quick-links-body {
        margin-top: 4rem;
      }

      .field--name-field-horizontal-buttons-button {
        margin-top: 4rem;
      }
    }
  }
}
