.field--name-field-hr-home-stackedbtn-ref ul {
  margin-left: 0;
  padding-left: 0;
}

.stacked-button-wrapper-field__items {
  margin-left: 0;
  padding-left: 0;
}

.stacked-button-wrapper-field__item {
  background-color: $cwru-blue;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
  font-size: 18px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a.stacked-buttons__link {
  align-items: center;
  background-color: $cwru-blue;
  border-left: 12px solid $cwru-blue;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $lighter-gray;
    color: $cwru-blue;
    text-decoration: none;
  }

  &.stacked-buttons__link--grey_button {
    background-color: $lighter-gray;
    border-left: 12px solid $lighter-gray;
    color: $cwru-blue;

    &:hover,
    &:focus {
      background-color: $cwru-blue;
      color: $lighter-gray;
    }
  }
}

.stacked-button__icon {
  margin: 0;
  min-width: 32px;
  padding-right: 12px;
  width: 32px;
}

.stacked-button__text {
  width: calc(100% - 32px);
}

//Horizontal Stacked Buttons - Will need a wrapper of .horizontal-stacked-btns around the main grouping
.horizontal-stacked-btns .field--name-field-stacked-buttons-group-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;

  @media #{$medium-max} {
    flex-direction: column;
  }

  .field--item {
    flex: 1;
    margin: 0 10px 10px;

    a {
      background-color: $cwru-blue;
      border: 5px solid $link-blue;
      color: $white;
      display: block;
      font-size: 3rem;
      margin-bottom: 10px;
      min-height: 40px;
      overflow-wrap: anywhere;
      padding: 15px 20px;
      text-align: center;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        background-color: $link-blue;
        text-decoration: none;
      }
    }
  }
}
