.paragraph--type--stat-group-with-images {
  background: white;
  padding: 3.5rem 0 3rem;
  margin: 0;
  clear: right;
  @media #{$small-max} {
    margin: 0 calc(50% - 50vw);
    padding: 3.5rem 2.5rem 3rem;
  }

  .container {
    padding: 0;

    .paragraph-section-title {
      padding-bottom: 0;
      margin-top: 0;

      .field--name-field-stat-group-img-title {
        @include inline-title-orange;
        color: $cwru-blue;
        font-size: 3.4rem;
        font-weight: 600;
      }
    }

    .field--name-field-stat-group-img-stat {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 4rem;
      gap: 6rem;
      @media #{$small-max} {
        flex-direction: column;
        margin-top: 2rem;
      }

      > .field--item {
        flex-grow: 1;
        flex-basis: 30%;
        margin: 0;

        .paragraph--type--stat-with-image {
          display: flex;

          .field--name-field-stat-with-image-image {
            margin-right: 1rem;
          }

          .val-descr-container {
            .field--name-field-stat-with-image-value {
              font-size: 6rem;
              font-weight: 700;
              margin-right: 2rem;
              line-height: 1;
              color: $cwru-blue;

              sup {
                font-size: 3.7rem;
                top: 0;
              }
            }

            .field--name-field-stat-with-image-descriptio {
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
        }
      }
    }

    .field--name-field-stat-group-img-buttons {
      text-align: right;
      margin-top: 5rem;

      // a {
      //   @include button-blue;
      // }
    }
  }
  &.gray_background {
    background: $off-white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &.gray_pattern_background {
    background: url("../images/pattern_hexagon_gray.jpg") center center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.landing-page-rebranded,
.home-page-rebranded {
  .container {
    .field--name-field-stat-group-img-stat {
      @media #{$small-max} {
        margin-top: 3rem;
      }
    }
  }
}
