.paragraph--type--stats-group {
  background-color: $off-white;
  padding: 20px;
  margin-bottom: 20px;
  clear:right;

  .field--name-field-stat-group-title {
    color: $cwru-blue;
    font-size: 34px;
    font-weight: 600;
  }

  .field--name-field-stat-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px;

    > .field--item {
      flex-grow: 1;
      flex-basis: 44%;
      margin: 20px 20px;
    }
  }

  .paragraph--type--stat {
    display: flex;
  }

  .field--name-field-value {
    font-size: 60px;
    font-weight: 300;
    margin-right: 20px;
    line-height: 1;

    sup {
      font-size: 37px;
      top: 0;
    }
  }

  .field--name-field-description {
    color: $cwru-blue;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
  }

  //2 column stats feature, ex: rothleadership
  .stats-section-container {
    background: $cwru-blue;
    margin: -20px;
    padding: 20px 40px 30px;
    clear: right;
    .field--name-field-stat-group-title {
      font-size: 1.75em;
      color: $white;
    }
    .field--name-field-stat-items {
      .field--item {
        margin-bottom: 0;
      }
      .paragraph--type--stat {
        flex-direction: column;
        text-align: left;
        color: $white;
        .field--name-field-stat-value {
          font-size: 2.5em;
          font-weight: 700;
          line-height: 1em;
        }
        // .field--name-field-stat-description {
        //   font-weight: 600;
        // }
      }
    }
  }
}

// 3 column stats feature, ex: give
.paragraph--type--stats-section{
  background: $off-white;
  padding: 1em 3em 1em 2em;
  margin:1rem 0;
  .paragraph--type--stats-group {
    padding: 0;
    margin-bottom: 0px;
    .field--name-field-stat-items{
      margin:0;

      >.field--item{
        flex-grow: 0;
        margin: 20px 0;
        flex-basis: 100%;
        @media #{$small-min} {
          text-align: center;
          flex-basis: 30%;
        }

        .field--name-field-stat__value{
          font-size: 2.5em;
          font-weight: 700;
          color: $dark-gray;
          line-height: 1em;
        }
      }
    }
  }
  h2 + .field--name-field-stat-group{
    .paragraph--type--stats-group {
      margin-bottom: 20px;
    }
  }
}
