// Primary Tabs
//
// Simple tabs styling.
//
// Markup: tabs.hbs
//
// Style guide: components.tabs
.block-tabs {
  margin: 1.5em 0;
  ul {
    display: block;
    padding-left: 0;
    border-bottom: 1px solid $light-gray;
    li {
      display: inline-block;
      a {
        margin: 0;
        padding: 0.4em;
        text-decoration: none;
      }
    }
  }
}


.tab-group {
  margin-bottom: 20px;
  background-color: $off-white;

  .nav-tabs {
    border-bottom: 1px solid #626262;
    background-color: $white;
    > li {
      min-width: 150px;
      margin-bottom: -1px;
      > a {
        font-size: 18px;
        font-weight: 700;
        background-color: $lighter-gray;
        border-bottom: 1px solid #626262;
        border-radius: 0;
        padding: 14px 20px;
        &.dropdown-toggle {
          margin-right: 0;
        }
      }
      &.tabdrop {
        min-width: 10px;
      }
      .fa {
        width: 1.25em;
        text-align: center;
      }
    }
    .caret {
      display: none;
    }
    > li.active > a,
    > li.active > a:focus,
    > li.active > a:hover {
      color: $white;
      background-color: #626262;
      border: 1px solid #626262;
    }
    .dropdown.open>.dropdown-toggle,.dropup.open>.dropdown-toggle {
      border-color: $cwru-light-gray
    }
    .dropdown-menu {
      margin-top: 10px;
      border-radius: 0;
      min-width: 175px;
      position: absolute;
      z-index: 1000;
      float: left;
      list-style: none;
      text-shadow: none;
      padding: 0;
      background-color: $white;
      margin: 10px 0 0;
      border: 1px solid $lighter-gray;
      li>a {
        padding: 8px 16px;
        color: $link-blue;
        text-decoration: none;
        display: block;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        white-space: nowrap;
      }
      li.active:hover>a,
      li.active>a,
      li:hover>a {
        text-decoration: none;
        background-image: none;
        background-color: $off-white;
        color: $med-gray;
        filter: none;
      }
    }
  }

  .tab-content {
    font-size: 20px;
    padding: 20px;
    .tab-pane > p:last-child {
      margin-bottom: 0;
    }
    .paragraph--type--tab-section .field--name-field-tab-section-title {
      display: none;
    }
  }
}
