.paragraph--type--two-column-text {
  padding: 2rem 0 3rem;
  background: $white;
  margin: 0;
  @media #{$small-max} {
    margin: 0 calc(50% - 50vw);
    padding: 2rem 2.5rem 3rem;
  }

  .container {
    width: 100%;
    padding: 0;

    h2 {
      padding: 0;

      .field--name-field-two-column-text-title {
        @include inline-title-orange;
        color: $cwru-blue;
      }
    }

    .field--name-field-two-column-text-text {
      display: flex;
      margin-top: 2rem;
      gap: 4rem;

      @media #{$small-max} {
        flex-direction: column;
        gap: 3rem;
      }

      & > .field--item {
        flex-basis: 50%;

        img {
          display: none;
        }

        .paragraph--type--text-and-button {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 2rem;
        }
      }
    }
  }

  &.gray_background {
    background: $off-white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &.gray_pattern_background {
    background: url("../images/pattern_hexagon_gray.jpg") center center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.robust-3-column-page {
  section.has-sidebar:has(aside) {
    .paragraph--type--two-column-text {
      .field--name-field-two-column-text-text {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}

.landing-page-rebranded,
.home-page-rebranded {
  .paragraph--type--two-column-text {
    .container {
      .field--name-field-two-column-text-text {
        @media #{$small-max} {
          margin-top: 3rem;
        }
      }
      @media #{$small-min} {
        .field--name-field-two-column-text-text {
          margin-top: 4rem;
          gap: 18rem;

          & > .field--item {
            .paragraph--type--text-and-button {
              gap: 3rem;
            }
          }
        }
      }
      @media #{$small-max} {
        .field--name-field-two-column-text-text {
          gap: 3rem;
        }
      }
    }
  }
}
