<div class="field field--name-field-twocol-subfeature-ref field--type-entity-reference-revisions field--label-hidden field--items">
	<div class="field--item">
		<div class="paragraph paragraph--type--subfeatures-group paragraph--view-mode--default">
			<div class="field field--name-field-group-subfeature-section-r field--type-entity-reference-revisions field--label-hidden field--items">
				<div class="field--item">
					<div class="paragraph paragraph--type--view paragraph--view-mode--default">
						<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
							<div class="field__item field__item-label-hidden">
								<div class="views-element-container form-group">
									<div class="view view-homepage-events-listing view-id-homepage_events_listing view-display-id-block_2 js-view-dom-id-81bf701e15e620208aa0079ba8e988377dd9ffc3a8049bceafe6d29b867e655a">
										<div class="view-header">
      										<div class="rss_section_title">Events</div>
    									</div>
      									<div class="view-content">
      										<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jun</span>
														<span class="day">08</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">06</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Lorem Ipsum</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">12</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Donex Imperdiet</a></span>
												</div>
											</div>
										</div>
										<div class="view-footer"><a class="button-block-blue" href="https://case.edu">View More Events</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field--item">
					<div class="paragraph paragraph--type--view paragraph--view-mode--default">
						<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
							<div class="field__item field__item-label-hidden">
								<div class="views-element-container form-group">
									<div class="view view-homepage-events-listing view-id-homepage_events_listing view-display-id-block_2 js-view-dom-id-81bf701e15e620208aa0079ba8e988377dd9ffc3a8049bceafe6d29b867e655a">
										<div class="view-header">
      										<div class="rss_section_title">Events</div>
    									</div>
      									<div class="view-content">
      										<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jun</span>
														<span class="day">08</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">06</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Lorem Ipsum</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">12</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Donex Imperdiet</a></span>
												</div>
											</div>
										</div>
										<div class="view-footer"><a class="button-block-blue" href="https://case.edu">View More Events</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field--item">
					<div class="paragraph paragraph--type--view paragraph--view-mode--default">
						<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
							<div class="field__item field__item-label-hidden">
								<div class="views-element-container form-group">
									<div class="view view-homepage-events-listing view-id-homepage_events_listing view-display-id-block_2 js-view-dom-id-81bf701e15e620208aa0079ba8e988377dd9ffc3a8049bceafe6d29b867e655a">
										<div class="view-header">
      										<div class="rss_section_title">Events</div>
    									</div>
      									<div class="view-content">
      										<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jun</span>
														<span class="day">08</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">06</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Lorem Ipsum</a></span>
												</div>
											</div>
											<div class="flex mb-20 views-row">
      											<div class="views-field views-field-nothing">
      												<span class="field-content">
      													<span class="month">Jul</span>
														<span class="day">12</span>
													</span>
												</div>
												<div class="views-field views-field-title">
													<span class="field-content"><a href="/node/116" hreflang="en">Donex Imperdiet</a></span>
												</div>
											</div>
										</div>
										<div class="view-footer"><a class="button-block-blue" href="https://case.edu">View More Events</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
