<!--<section role="region" aria-label="main-content" class="col-xs-12">
	<div class="region region-content">
		<article role="article" about="/node/221" class="homepage-w-full-width-feature full clearfix">
			<div class="content">
				<div id="slick-node-221-hero-oncol-ref-default-1" data-blazy="" class="slick blazy slick--optionset--cwru-slideshow blazy--on slick--initialized">
					<div id="slick-node-221-hero-oncol-ref-default-1-slider" data-slick="{&quot;mobileFirst&quot;:true}" class="slick__slider slick-initialized slick-slider">
						<div id="slick-node-221-hero-oncol-ref-default-1-slider" data-slick="{&quot;mobileFirst&quot;:true}" class="slick__slider slick-initialized slick-slider">
							<div aria-live="polite" class="slick-list draggable">
								<div class="slick-track" role="listbox" aria-label="Image carousel" aria-roledescription="carousel" style="opacity: 1; width: 4424px; transform: translate3d(-1106px, 0px, 0px);">
									<div class="slick__slide slide slide--1 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1106px;">
										<div class="paragraph paragraph--type--hero-one-column paragraph--view-mode--default">
											<a href="/" tabindex="-1">
												<div class="field field--name-field-hero-one-image-ref field--type-entity-reference field--label-hidden field--item">
													<div class="media-image-container">
														<div class="field field--name-field-image field--type-image field--label-hidden field--item">
															<img src="/sites/default/files/styles/hero_one_column/public/2018-08/Screen%20Shot%202018-08-06%20at%209.46.23%20AM.png?h=5637576d&amp;itok=7ADcMuWN" width="1200" height="450" alt="Test" typeof="foaf:Image" class="img-responsive">
														</div>
														<div class="field field--name-field-caption field--type-string field--label-hidden field--item">Photo Credit</div>
													</div>
												</div>
												<div class="carousel-caption">
													<div class="field field--name-field-hero-one-title field--type-string field--label-hidden field--item"><h2>Slider 2 title</h2></div>
													<div class="field field--name-field-hero-one-description field--type-text-long field--label-hidden field--item"><p>slider 2 description</p></div>
													<div class="field field--name-field-hero-one-link field--type-link field--label-hidden field--item"><div class="hero-white-hover">slider 2 link</div></div>
												</div>
											</a>
										</div>
									</div>
									<div class="slick__slide slide slide--0 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" aria-roledescription="slide" style="width: 1106px;">
										<div class="paragraph paragraph--type--hero-one-column paragraph--view-mode--default">
											<a href="/" tabindex="0">
												<div class="field field--name-field-hero-one-image-ref field--type-entity-reference field--label-hidden field--item">
													<div class="media-image-container">
														<div class="field field--name-field-image field--type-image field--label-hidden field--item">
															<img src="/sites/default/files/styles/hero_one_column/public/2020-05/stem-quora4-1920x1080.jpg?h=d1cb525d&amp;itok=strH5Ptm" width="1200" height="450" alt="Students reviewing research" typeof="foaf:Image" class="img-responsive" id="slick-slide00">
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<nav class="slick__arrow" aria-label="image slider navigation arrows" style="top: 41%;">
							<button type="button" data-role="none" class="carousel-control left slick-prev slick-arrow" aria-label="Previous" role="button" style=""></button>
							<button type="button" data-role="none" class="carousel-control right slick-next slick-arrow" aria-label="Next" role="button" style=""></button>
						</nav>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
-->

