<div class="region region-content">
	<article role="article" about="/content-options/subfeatures-no-sidebar" class="robust-3-column-page full clearfix">
		<div class="content">
			<div class="row">
            	<div class="col-md-12 robust-content-small">
            		<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
        				<div class="field--item">
        					<section class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default">
								<div class="row eq-height">
        							<div class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default col-lg-6 col-md-6 col-sm-12 col-xs-12 alt-subfeatures">
        								<div class="field field--name-field-alt-sub-image-ref field--type-entity-reference field--label-hidden field--item">
        									<div class="media-image-container">
        										<div class="field field--name-field-image field--type-image field--label-hidden field--item">
        											<img src="/sites/default/files/styles/alternating_subfeature/public/2020-05/stem-quora2-1920x1080.jpg?h=0f9dcd55&amp;itok=wlTUnVa3" width="705" height="528" alt="People in a automobile plant talking" typeof="foaf:Image" class="img-responsive">
        										</div>
        									</div>
        								</div>
        							</div>
        							<div class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default col-lg-6 col-md-6 col-sm-12 col-xs-12 alt-subfeatures">
        								<div class="field field--name-field-alt-sub-title field--type-string field--label-hidden field--item">alternate subfeature 1</div>
        								<div class="field field--name-field-alt-sub-content field--type-text-long field--label-hidden field--item">
        									<p>alt sub 1 content</p>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="field--item">
							<section class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default">
								<div class="row eq-height">
        							<div class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default col-lg-6 col-md-6 col-sm-12 col-xs-12 alt-subfeatures">
        								<div class="field field--name-field-alt-sub-title field--type-string field--label-hidden field--item">alternate subfeature 2</div>
        								<div class="field field--name-field-alt-sub-content field--type-text-long field--label-hidden field--item">
        									<p>alt sub 2 content</p>
										</div>
									</div>
									<div class="paragraph paragraph--type--alternating-subfeature paragraph--view-mode--default col-lg-6 col-md-6 col-sm-12 col-xs-12 alt-subfeatures">
										<div class="field field--name-field-alt-sub-image-ref field--type-entity-reference field--label-hidden field--item">
											<div class="media-image-container">
												<div class="field field--name-field-image field--type-image field--label-hidden field--item">
													<img src="/sites/default/files/styles/alternating_subfeature/public/2020-05/mcm-healthcare4-1920x1080.jpg?h=d1cb525d&amp;itok=eM-MleIy" width="705" height="528" alt="Group of people talking" typeof="foaf:Image" class="img-responsive">
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>