<div class="region region-content">
	<article role="article" about="/content-options/subfeatures-no-sidebar" class="robust-3-column-page full clearfix">
		<div class="content">
			<div class="row">
            	<div class="col-md-12 robust-content-small">
            		<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
    					<div class="field--item">
    						<div class="paragraph paragraph--type--subfeatures-group paragraph--view-mode--default">
    							<div class="field field--name-field-group-subfeature-section-r field--type-entity-reference-revisions field--label-hidden field--items">
    								<div class="field--item">
    									<div class="paragraph paragraph--type--subfeature-section paragraph--view-mode--default no-image">
    										<div class="field field--name-field-sf-section-title field--type-string field--label-hidden field--item">Subfeature Section 1</div>
    										<div class="field field--name-field-sf-section-content field--type-text-long field--label-hidden field--item">
    											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio. Mauris fermentum fringilla ante, quis consectetur erat. Duis ut massa rutrum, dapibus leo non, volutpat erat.</p>
											</div>
										</div>
									</div>
									<div class="field--item">
										<div class="paragraph paragraph--type--subfeature-section paragraph--view-mode--default no-image">
											<div class="field field--name-field-sf-section-title field--type-string field--label-hidden field--item">Subfeature Section 2</div>
											<div class="field field--name-field-sf-section-content field--type-text-long field--label-hidden field--item">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio. Mauris fermentum fringilla ante, quis consectetur erat. Duis ut massa rutrum, dapibus leo non, volutpat erat.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="field--item">
							<div class="paragraph paragraph--type--subfeatures-group paragraph--view-mode--default">
								<div class="field field--name-field-group-subfeature-section-r field--type-entity-reference-revisions field--label-hidden field--items">
    								<div class="field--item">
    									<div class="paragraph paragraph--type--subfeature-section paragraph--view-mode--default no-image">
    										<div class="field field--name-field-sf-section-title field--type-string field--label-hidden field--item">Subfeature Section 1</div>
    										<div class="field field--name-field-sf-section-content field--type-text-long field--label-hidden field--item">
    											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio. Mauris fermentum fringilla ante, quis consectetur erat. Duis ut massa rutrum, dapibus leo non, volutpat erat.</p>
											</div>
										</div>
									</div>
									<div class="field--item">
    									<div class="paragraph paragraph--type--subfeature-section paragraph--view-mode--default no-image">
    										<div class="field field--name-field-sf-section-title field--type-string field--label-hidden field--item">Subfeature Section 2</div>
    										<div class="field field--name-field-sf-section-content field--type-text-long field--label-hidden field--item">
    											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio. Mauris fermentum fringilla ante, quis consectetur erat. Duis ut massa rutrum, dapibus leo non, volutpat erat.</p>
											</div>
										</div>
									</div>
									<div class="field--item">
    									<div class="paragraph paragraph--type--subfeature-section paragraph--view-mode--default no-image">
    										<div class="field field--name-field-sf-section-title field--type-string field--label-hidden field--item">Subfeature Section 3</div>
    										<div class="field field--name-field-sf-section-content field--type-text-long field--label-hidden field--item">
    											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio. Mauris fermentum fringilla ante, quis consectetur erat. Duis ut massa rutrum, dapibus leo non, volutpat erat.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>