<!-- <section role="region" aria-label="main-content" class="col-sm-12 col-md-9 has-sidebar">
	<div class="region region-content">
		<article role="article" about="/content-options/paragraph-types" class="robust-3-column-page full clearfix">
			<div class="content">
    			<div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 robust-content-small">
                    	<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
                    		<div class="field--item">
                    			<div class="well well-blue well-button">
									<div class="row vertical-align">
    									<div class="col-sm-9">
            								<h4><div class="field field--name-field-well-title field--type-string field--label-hidden field--item">Well Section</div></h4>
            								<div class="field field--name-field-well-content field--type-text-long field--label-hidden field--item">
            									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id. Cras ut ullamcorper neque, sit amet eleifend leo. Etiam eget quam euismod, blandit quam ut, finibus odio.</p>
											</div>
										</div>
								        <div class="col-sm-3 vertical-align-column">
								        	<div class="vertical-align-inner">
								        		<div class="field field--name-field-well-button field--type-link field--label-hidden field--item"><a href="https://case.edu">Button link</a></div>
								        	</div>
								        </div>
								    </div>
								</div>
                    		</div>
                    		<div class="field--item">
                    			<div class="paragraph paragraph--type--photo-gallery paragraph--view-mode--default">
        							<div class="photoswipe-gallery" data-pswp-uid="1">
        								<div class="field field--name-field-images field--type-entity-reference field--label-hidden field--items grid" style="position: relative; height: 204.406px;">
            								<div class="field--item grid-item" style="float: left; width: calc(33.3333%); padding: 1.5px; position: absolute; left: 0px; top: 0px;">
            									<a href="http://cwru.prod.acquia-sites.com/sites/default/files/styles/photoswipe_scale_to_800px_width_/public/2020-05/mcm-healthcare5-1920x1080_0.jpg?itok=5Tr-Qr3o" class="photoswipe" data-size="950x534" data-overlay-title="Group of doctors talking">
            										<img src="/sites/default/files/styles/masonry/public/2020-05/mcm-healthcare5-1920x1080_0.jpg?itok=sf81JAlQ" width="300" height="169" alt="Group of doctors talking" title="" typeof="foaf:Image" class="img-responsive">
            									</a>
            								</div>
            								<div class="field--item grid-item" style="float: left; width: calc(33.3333%); padding: 1.5px; position: absolute; left: 179.109px; top: 0px;">
            									<a href="http://cwru.prod.acquia-sites.com/sites/default/files/styles/photoswipe_scale_to_800px_width_/public/2020-05/mcm-healthcare4-1920x1080.jpg?itok=zs2LB-qL" class="photoswipe" data-size="950x534" data-overlay-title="Group of people talking">
            										<img src="/sites/default/files/styles/masonry/public/2020-05/mcm-healthcare4-1920x1080.jpg?itok=Nr4_G7jb" width="300" height="169" alt="Group of people talking" title="" typeof="foaf:Image" class="img-responsive">
            									</a>
            								</div>
            								<div class="field--item grid-item" style="float: left; width: calc(33.3333%); padding: 1.5px; position: absolute; left: 179.109px; top: 0px;">
            									<a href="http://cwru.prod.acquia-sites.com/sites/default/files/styles/photoswipe_scale_to_800px_width_/public/2020-05/mcm-healthcare2-1920x1080.jpg?itok=r1W525uq" class="photoswipe" data-size="950x534" data-overlay-title="Group of people talking in the hospital">
            										<img src="/sites/default/files/styles/masonry/public/2020-05/mcm-healthcare2-1920x1080.jpg?itok=2_0bQj94" width="300" height="169" alt="Group of people talking in the hospital" title="" typeof="foaf:Image" class="img-responsive">
            									</a>
            								</div>
            								<div class="field--item grid-item" style="float: left; width: calc(33.3333%); padding: 1.5px; position: absolute; left: 179.109px; top: 0px;">
            									<a href="http://cwru.prod.acquia-sites.com/sites/default/files/styles/photoswipe_scale_to_800px_width_/public/2020-05/stem-quora3-1920x1080.jpg?itok=67PXrBsE" class="photoswipe" data-size="950x534" data-overlay-title="People having a discussion inside a factory">
            										<img src="/sites/default/files/styles/masonry/public/2020-05/stem-quora3-1920x1080.jpg?itok=N-e4NnLV" width="300" height="169" alt="People having a discussion inside a factory" title="" typeof="foaf:Image" class="img-responsive">
            									</a>
            								</div>
            								<div class="field--item grid-item" style="float: left; width: calc(33.3333%); padding: 1.5px; position: absolute; left: 179.109px; top: 0px;">
            									<a href="http://cwru.prod.acquia-sites.com/sites/default/files/styles/photoswipe_scale_to_800px_width_/public/2020-05/stem-quora2-1920x1080.jpg?itok=zotL0uB-" class="photoswipe" data-size="950x534" data-overlay-title="People in a automobile plant talking">
            										<img src="/sites/default/files/styles/masonry/public/2020-05/stem-quora2-1920x1080.jpg?itok=163zoATo" width="300" height="169" alt="People in a automobile plant talking" title="" typeof="foaf:Image" class="img-responsive">
            									</a>
            								</div>
            							</div>
        							</div>
        						</div>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
		</article>
	</div>
</section> -->