.header {
  font-family: "Arizona", sans-serif;
  background: #003071;
  padding-bottom: 0;
}
.header::after {
  content: "";
  position: absolute;
  background: #003071;
  top: 0;
  left: 0;
  right: 0;
  height: 126px;
  z-index: 99;
}

.zIndex {
  position: relative;
  z-index: 101;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.logo {
  max-height: 40px;
  width: 100%;
}

.row {
  padding: 20px 0;
}

.alignRight {
  display: flex;
  justify-content: center;
}

.button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  border-radius: 50px !important;
  background: white;
  display: flex;
  font-weight: 700;
  gap: 10px;
  font-size: 1.6rem;
  align-items: center;
  line-height: 1;
  transition: box-shadow 0.2s;
  margin: 1.6rem 0;
}
.button:hover {
  box-shadow: 0 0 20px #006DA3;
}

@media only screen and (min-width: 768px) {
  .button {
    margin: 0;
  }
  .alignRight {
    justify-content: flex-end;
  }
  .logo {
    width: auto;
  }
  .header::after {
    height: 88px;
  }
}
