.block-views-blockfluid-hero-block-1 + h1.page-header,
#block-sectionnavigation + h1.page-header {
  max-width: 940px;
  margin: 0 auto;
}

.landing-page .content-with-sidebar,
.area-of-study-page .content-with-sidebar {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  @media #{$medium-max} { flex-direction: column; }

  .field--name-field-content,
  .field--name-body {
    flex: 3;
    margin-right: 20px;
    @media #{$medium-max} { margin-bottom: 20px; }
  }
  .field--name-field-sidebar,
  .field--name-field-aside-ref-aos {
    flex: 2;

    .paragraph--type--blue-background-section {
      color: $white;
      background-color: $cwru-blue;
      background-image: url('../images/bluebkg-repeat.png');
      background-repeat: repeat;
      padding: 40px 10px 20px 20px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(at top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%);
      }

      a {
        text-decoration: underline;
      }

      h2, h3, a {
        color: $white;
      }
      h2 {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }
  }
}

.field--name-field-aside-ref-aos .paragraph--type--blue-background-section {
  margin-bottom: 20px;
}
