.view-featured-news {
  @include clearfix;
  margin-bottom: 40px;

  .view-content {
    display: flex;
    margin: 0 -10px 20px;
    @media #{$medium-max} { flex-direction: column; }

    .views-row {
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 10px;
      border: 1px solid $light-gray;
      transition: border, background-color 0.3s;
      @media #{$medium-max} { margin-bottom: 20px; }

      .news-link-wrapper {
        display: block;
        height: 100%;
        padding: 20px;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        border: 1px solid $link-blue;
        background-color: $off-white;
      }

      .img-responsive {
        width: 100%;
      }
    }
  }

  .media-image-container {
    margin-bottom: 20px;
  }

  .views-field-title {
    font-size: 24px;
    margin-bottom: 5px;
    color: $cwru-blue;
  }

  .featured-news-date {
    color: $dark-gray;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .views-field-field-article-content {
    color: $cwru-blue;
    font-weight: normal;
  }

  .views-field-title + div {
    font-weight: 600;
    margin-bottom: 5px;
  }
}
