.view-homepage-events-listing {
	.view-content {
		margin-top: 40px;
		@media #{$large-max} {
			flex-direction: column;
		}

		.views-row {
			display: flex;
			border: none;
			font-size: 20px;
			.views-field-nothing {
			    display: inline-block;
			    margin: 0px 15px 15px 0;
			    min-width: 60px;
			    .month {
			    	padding-top: 2px;
			    	padding-bottom: 2px;
				    border: 1px solid $link-blue;
				    border-bottom: none;
				    background: $link-blue;
				    color: $white;
			    }
			    .day {
			    	padding-top: 5px;
			    	padding-bottom: 6px;
				    line-height: .8;
				    font-weight: 600;
				    background-color: $lighter-gray;
				    //background-color: $cwru-blue;
				    color: $dark-gray;
				    border: 1px solid $link-blue;
				    border-top: none;
				    font-size: 1.8em;
			    }
			}
		}
	}
}