.field--name-field-hero-buttons-heading {
    color: $white;
    margin: 20px 40px;
    font-size: 30px;
    font-weight: 700;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: $link-blue;
    }
}

.paragraph--type--hero-button-group {
    display: flex;
    background-color: $cwru-blue;
    margin-left: -22px;
    margin-right: -22px;

    @media #{$medium-max}  { flex-direction: column; }
}

.paragraph--type--hero-button {
    border: 1px solid $link-blue;
}

.field--name-field-hero-buttons-group {
    color: $white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 20px 40px;
    flex-wrap: wrap;

    @media #{$large-max}  {
        > .field--item {
            flex-basis: calc(50% - 20px);
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }

    @media #{$small-max}  {
        flex-direction: column;

        > .field--item {
            margin-left: 0;
        }
    }

    .field--item a {
        width: 100%;
        padding: 15px 40px 15px 20px;
        position: relative;
        display: block;
        color: $white;
        background-color: $drk-blue;
        transition: background-color 0.2s;

        &:hover {
            text-decoration: none;
            background-color: $link-blue;
        }

        &::after {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            content: '>';
            background-color: $blk;
            color: $white;
            padding: 4px;
            font-weight: 700;
        }

        @media #{$medium-max}  { font-size: 18px; }
    }
}