.paragraph--type--photo-row,
.paragraph--type--photo-grid {
  margin: 20px -22px 40px -22px;

  .field--name-field-photo-section {
    display: flex;
    flex-wrap: wrap;
    @media #{$small-max} { flex-direction: column; flex-wrap: nowrap; }

    > .field--item {
      flex-grow: 1;
      flex-basis: 0;
      @media #{$medium-max} { flex-basis: 50%; }
      @media #{$small-max} { flex-basis: 100%; }
    }
  }

  .field--name-field-photo-sec {
    display: flex;
    flex-wrap: wrap;
    @media #{$medium-max} { flex-direction: column; flex-wrap: nowrap; }

    > .field--item {
      flex-grow: 1;
      flex-basis: 50%;
      @media #{$small-max} { flex-basis: 100%; }
    }
  }
}

.paragraph--type--photo-section {
  position: relative;

  .field--name-field-title-and-link a,
  .grid-info a {
    color: $white;
    display: block;
    margin: 20px;

    &:hover {
      text-decoration: none;
    }
  }

  .field--name-field-photo-link-description {
    color: $white;
    margin: -15px 20px 20px 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .field--name-field-photo::before {
    content: '';
    position: absolute;
    top: 33%;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
    z-index: 2;
    @media #{$small-max} { background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.8)); top: 0;}
  }

  .field--name-field-image {
    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
}

.paragraph--type--photo-row .field--name-field-title-and-link,
.paragraph--type--photo-grid .grid-info {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.paragraph--type--photo-grid .grid-info {
  max-width: 650px;
}

.paragraph--type--photo-section:hover img {
  transform: scale(1.1);
}

.paragraph--type--photo-full-width {
  margin: 20px -22px 40px -22px;
  position: relative;

  .grid-info {
    max-width: 650px;
    position: absolute;
    bottom: 0;
    z-index: 3;
  }

  .field--name-field-photo-full-width-title-and a,
  .grid-info a {
    color: $white;
    display: block;
    margin: 20px;

    &:hover {
      text-decoration: none;
    }
  }

  .field--name-field-photo-full-width-link-desc {
    color: $white;
    margin: -15px 20px 20px 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .field--name-field-full-width-photo::before {
    content: '';
    position: absolute;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
    z-index: 2;
    @media #{$small-max} { background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.8)); top: 0;}
  }

  .field--name-field-image {
    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
}

.paragraph--type--photo-full-width:hover img {
  transform: scale(1.1);
}
