.two-col-eq-rtcenters {
    .paragraph--type--research-and-training-centers {
        display: flex;
        flex-wrap: wrap;
        margin-left: -11px;
        margin-right: -11px;
        margin-top: 40px;

        > div {
            flex-basis: 50%;
            padding: 11px;

            @media #{$small-max}  { flex-basis: 100%; }
        }

        img {
            width: 100%;
        }

        .group-right-side-text {
            color: $white;
            background-color: $blk;
            padding: 25px 35px;

            .field--name-field-rt-centers-image-heading {
                font-size: 26px;
                font-weight: 900;
                margin-bottom: 10px;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    .field--name-field-rt-centers-heading {
        @include underline-title;
    }

    .field--name-field-rt-centers-content li {
        list-style-type: square;
        margin-bottom: 5px;
    }
}