.field--name-field-quotes-section-title,
.field--name-field-news-section-title {
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  color: $cwru-blue;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    background-color: $cwru-blue;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    left: 0.5em;
    width: 100%;
    margin-right: -50%;
  }
}
