.section-nav {
  background-color: $light-black;
  float: none;
  padding: 0 40px;
  margin: 0 0 20px 0;

  .section-nav-title {
    color: $white;
    font-size: 30px;
    font-weight: 600;

    &:after {
      content: '';
      display: block;
      background-color: $link-blue;
      width: 50px;
      height: 5px;
      margin: 5px 0 20px 0;
    }
  }

  .menu__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .menu__link {
    color: $white;
    padding: 0;
    font-size: 16px;

    &:hover {
      color: $white;
      background-color: unset;
      text-decoration: underline;
    }
  }
}
