<section class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-block footer-col-4">
  <div class="container-inner">
    <h2 tabindex="0" class="footer-label">CWRU Links</h2>
      <ul class="footer-links">
        <li>
          <a href="http://case.edu/admissions/">Apply</a>
          <i class="li-pipe" aria-hidden="true">|</i>
        </li>
        <li>
          <a href="https://securelb.imodules.com/s/1526/index.aspx?sid=1526&amp;gid=1&amp;pgid=327&amp;cid=914">Give</a>
          <i class="li-pipe" aria-hidden="true">|</i>
        </li>
        <li>
          <a href="http://case.edu/visit/">Visit</a>
          <i class="li-pipe" aria-hidden="true">|</i>
        </li>
        <li>
          <a href="https://webapps.case.edu/directory/">Directory</a>
        </li>
      </ul>
  </div>
</section>
