{{ attach_library('crew/library') }}

<section{{ attributes }}>
    <div class="collections-select-container">
        Search
        <select id="collections-select" aria-label="select collection" class="collections-select" onload="showCurrentForm(this)" onchange="showCurrentForm(this)">
            <option value="discovery">Discovery</option>
            <option value="libraryWebsite">Library Website</option>
        </select>
        <i class="fa fa-caret-down"></i>
    </div>

    {# basic form #}
    <form id="discovery" action="https://search.ebscohost.com/login.aspx" method="get" target="_blank" onsubmit="ebscoPreProcess(this)" class="clearfix">
        <div class="ksl-search-form">
            <div class="search-select-container">
                <i class="fa fa-search"></i>
                <select class="search-select" onchange="#" name="search_prefix" aria-label="search prefix">
                <option selected="selected" value="">Keyword</option>
                <option value="TI ">Title</option>
                <option value="AU ">Author</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>
            <input name="direct" value="true" type="hidden">
            <input name="scope" value="site" type="hidden">
            <input name="site" value="eds-live" type="hidden">
            <input name="profile" value="eds" type="hidden">
            <input name="authtype" value="cookie,ip,shib,url,uid" type="hidden">
            <input name="custid" value="s8481523" type="hidden">
            <input name="groupid" value="main" type="hidden">
            <input name="bquery" value="" type="hidden">
            <input class="search-input" type="text" placeholder="e.g. Queen Victoria..." name="uquery" role="search" aria-label="library search">
            <button class="search-button" type="submit">Search <i class="ml-10 fa fa-caret-right"></i></button>
        </div>
        <div class="mv-20 ml-20">
            <input name="cli4" value="FT1" type="hidden">
            <input name="clv4" type="hidden" value="Y">
            <input type="checkbox" name="ailc_checkbox" id="ailc_checkbox_all" onclick="limittoAiLC(this.form)" CHECKED>
            <label for="ailc_checkbox_all">Available in Library Collection</label>
            <!-- Limiter: Scholarly/Peer-Reviewed -->
            <input name="cli1" value="RV" type="hidden">
            <input name="clv1"  type="hidden" value="N">
            <input name="scholarly_checkbox" id="scholarly_checkbox_articles" onclick="limittoScholarly(this.form)" type="checkbox">
            <label  for="scholarly_checkbox_articles">Scholarly (Peer-Reviewed)</label>
            <p class="text-right italic">or browse the <a href="https://catalog.case.edu/">Catalog</a>, <a href="http://researchguides.case.edu/databases">Databases</a>, or <a href="https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=s8481523&groupid=main&profile=pfi">E-Journals</a> directly</p>
        </div>
    </form>

    <form id="libraryWebsite" style="display:none" action="//www.case.edu/search-ksl/" class="clearfix">
        <div class="ksl-search-form">
            <input class="search-input" type="text" placeholder="e.g. Queen Victoria..." name="q" role="search" aria-label="library search">
            <button class="search-button" type="submit">Search <i class="ml-10 fa fa-caret-right"></i></button>
            <input type="hidden" name="cx" value="006550978271547248129:vipjqan54rk">
            <input type="hidden" name="ie" value="UTF-8">
            <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
        </div>
        <div class="mv-20 ml-20">
            <p class="text-right italic">or browse the <a href="https://catalog.case.edu/">Catalog</a>, <a href="http://researchguides.case.edu/databases">Databases</a>, or <a href="https://search.ebscohost.com/login.aspx?authtype=ip,shib&custid=s8481523&groupid=main&profile=pfi">E-Journals</a> directly</p>
        </div>
    </form>
</section>
