// Header
//
// This is the Header component. Work in progress.
//
// Markup: region--header.html.twig
//
// Style guide: Layout.header

// Import site utilities.
@import '../../global/utils/init';

.region--header {
  background-color: $cwru-blue;
  // padding: $size-medium $size-small;

  // @include breakpoint($bp-lg) {
  // padding: $size-medium 0;
  // }

  .header-container {
    flex-wrap: wrap;
    // padding: 20px 17px 18px;
    padding: 22px 17px 26px;
    @media screen and (min-width: 1200px) {
      // padding: 24px 0;
      padding: 22px 0 26px;
    }
    @media screen and (max-width: 992px) {
      // padding: 20px 21px 18px;
      padding: 20px 21px 27px;
    }

    > div:first-child {
      flex: 1;
    }
  }
}

.page-title {
  display: inline-block;
  margin-right: $size-medium;

  h1,
  div {
    @include font-arizona;
    color: $white;
    font-family: "Arizona-Text", sans-serif;
    font-size: 10vw;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    @include breakpoint($bp-xxsm) {
      // font-size: 40px;
      font-size: 48px;
    }
    @media screen and (max-width: 992px) {
      // font-size: 32px;
      font-size: 38px;
    }
  }
}
