.alternating-subfeatures__container {
  padding: 60px 0;
  .alternating-subfeatures__image {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .button--outline {
    margin-top: 60px;
  }
}
.alternating-subfeatures--image-right {
  .alternating-subfeatures__image {
    right: 0;
  }
}

.field--name-field-ipe-quote-ref {
  padding: 80px 0;
  background-color: $white;
  .right .row div:first-child {
    float: right !important;
  }
}
.field--name-field-quote-text {
  color: $cwru-dark-gray;
  font-size: 32px;
  @media #{$medium-max} { font-size: 26px;}
}
.field--name-field-quote-attribution {
  color: $cwru-blue;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 40px;
  @media #{$medium-max} { font-size: 22px;}
}
.field--name-field-quote-link a{
  @include button-blue;
}

.paragraph--type--quote-subfeatures.container-fluid {
  margin-bottom: 80px;
}

.quote-image--left {
  margin-left: -15px;
  @media #{$medium-max} { margin-left: 0;}
  img {
    width: 100%;
  }
}
.quote-image--right .field--name-field-quote-image {
  margin-right: -15px;
  img {
    width: 100%;
  }
}

.field--name-field-quote-align {
  display: none;
}
