.field--name-field-ipe-subfeature-ref {
  display: flex;
  margin: 22px 0;
  flex-direction: row;
  @media #{$medium-max} { flex-direction: column;}

  > .field--item {
    flex: 1;
    background-color: $off-white;
    margin-right: 44px;
    padding-bottom: 48px;
    margin-left: 0;
    padding-bottom: 1px; // fixes issues with buttons when there are two asides
    @media #{$medium-max} { margin-bottom: 44px; margin-right: 0;}
  }
  > .field--item:last-child {
    margin-right: 0;
    @media #{$medium-max} { margin-bottom: 0;}
  }
  img {
    width: 100%;
  }
}

.field--name-field-ipe-sub-title {
  margin: 38px 10px 10px;
  color: $cwru-blue;
  font-weight: 600;
  font-size: 26px;
}

.field--name-field-ipe-sub-content {
  margin: 0 10px 38px 10px;
}
.field--name-field-ipe-sub-link a {
  @include button-blue;
  width: relative;
  bottom: 0;
  margin: 0 10px;
}

.subfeature-padding {
  padding: 80px 0 40px;
}

.ipe-homepage {
  .subfeature-padding {
    background-color: none;
    padding-top: 0;
    padding-bottom: 0;
    .container {
      background-color: $white;
      .field--name-field-ipe-subfeature-ref {
        margin-bottom: 40px;
        margin-top: 0;
        .paragraph--type--ipe-subfeature {
          padding-bottom: 20px;
          height: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          .field--name-field-ipe-sub-title {
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
          }
          .field--name-field-ipe-sub-content {
            margin-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            flex-grow: 1;
          }
          .field--name-field-ipe-sub-link {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}