// Section Title
//
// This is the Section Title component. It's an example.
//
// Markup: field--field-section-title.html.twig
//
// Style guide: Components.section-title
// Import site utilities.
@import '../../global/utils/init';

.section-title {
  @include font-stack-titillium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $size-small;
  border-bottom: 2px solid $green;
}
