{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'container'
  ]
%}

<script>
    if (window.location.port != '8083') { // do not run this on Acquia DevDesktop, which uses port 8083
      window.setTimeout(function() {
        window.location = "{{ site_url }}" //window.location.protocol + "//" + window.location.host + drupalSettings.path.baseUrl;
      }, 5000);
    }
</script>


<article{{ attributes.addClass(classes).setAttribute('style', 'padding: 2em 4em') }}>

  <div{{ content_attributes.addClass('content col-sm-12 col-md-8 col-md-offset-2') }}>
    {% if content.field_error_type.0['#markup'] == '403' %}
      <h1 class="font-size-one-half">Access Denied</h1>
      <p>It appears you do not have appropriate access to this page. If you believe this in error, please contact <a href="mailto:webteam@case.edu">webteam@case.edu</a>.</p>
    {% elseif content.field_error_type.0['#markup'] == '404' %}
      <h1 class="font-size-one-half">Oops! Page not found.</h1>
      <p>We can’t find the page you are looking for. Please use our search bar to find something specific, or visit our homepage at <a href="{{ site_url }}">case.edu</a>. (If you wait a few seconds, we’ll take you there ourselves.)</p>
    {% elseif content.field_error_type.0['#markup'] == '503' %}
      <h1 class="font-size-one-half">This service is unavailable.</h1>
      <p>We’re sorry—something has gone wrong and our website isn’t working properly. Please check back soon; we hope to have things fixed shortly.</p>
    {% endif %}
  </div>

</article>
