// Search
//
// This is the Search component. It's an example.
//
// Markup: search.twig
//
// Style guide: Components.search
// Import site utilities.
@import '../../global/utils/init';

.region--header {
  .inputs {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px;

    &.has-department {
      margin-top: 10px;
    }
  }

  form {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    width: 230px;
    display: inline-block;
    padding: 0;
  }

  .form-control {
    padding-right: 0;
    color: $med-gray;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.42857;
    border-radius: 25px;
    outline: 0;
  }

  .button {
    padding: 0;
    height: 34px;
    z-index: 3;
    position: relative;
    background-color: transparent;
    font-size: 14px;
  }
}


.navbar__search-form.desktop {
  margin: 0;
  margin-right: 2em;
  font-size: 14px;
  line-height: 20px;
  width: 230px;
  padding: 0;
  display: none;

  @include breakpoint($bp-xsm) {
    display: inline-block;
    margin-top: 0.7em;
  }

  .input-group {
    position: relative;
  }

  .navbar__search {
    box-shadow: none;
    float: right;
    width: 100%;
    padding: 6px 0 6px 15px;
    transition: ease-in-out, width 0.35s ease-in-out;
    border: 1px solid $light-gray;
  }

  .navbar__search:focus {
    width: 125%;
  }

  .form-submit {
    border: 0;
    box-shadow: none;
    color: $cwru-blue;
    z-index: 3;
  }

  .mobile-search-btn {
    position: absolute;
    right: 10px;
  }

  .input-group-btn > .btn:hover {
    z-index: 3;
  }
}

// .navbar__search-form {
//   position: relative;
//   margin-bottom: $size-small;
//   display: none;
//   @include breakpoint($bp-xsm) {
//     margin-left: $size-medium;
//     margin-bottom: 0;
//     display: block;
//   }
//   @include breakpoint($bp-sm) {
//     margin-left: $size-large;
//   }
// }

// .navbar__search {
//   background-size: contain;
//   outline: none;
//   border: 0;
//   font-size: 18px;
//   border-radius: 39px;
//   transition: width 0.3s;
//   padding: 9px;
//   cursor: pointer;
//   // margin-top: 11px;
//   width: 100%;
//   background-color: $color-white;
//   @include breakpoint($bp-xsm) {
//     background-color: transparent;
//     position: absolute;
//     right: 0;
//     bottom: 0;

//     &:focus {
//       width: 480px;
//       background-color: $color-white;
//     }
//   }
// }

// .search-icon {
//   display: none;
//   margin-top: $size-small;
//   @include breakpoint($bp-xsm) {
//     display: block;
//   }
// }

// .fa-search {
//   font-size: $font-size-medium;
//   color: $color-white;
// }
