// Section Intro
//
// This is the Section Intro component. It's an example.
//
// Markup: field--field-section-intro.html.twig
//
// Style guide: Components.section-intro

// Import site utilities.
@import '../../global/utils/init';

.section-intro {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  margin-bottom: $size-small;
  @include breakpoint($bp-sm) {
    font-size: $font-size-larger;
  }
}
