.field--name-field-stat-items {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  padding: 0;
}

.field--name-field-stat-items > .field--item {
  flex-grow: 1;
  flex-basis: 350px;
  margin: 20px;
}

.paragraph--type--stat {
  display: flex;
}

.field--name-field-stat-value {
  font-size: 60px;
  font-weight: 300;
  margin-right: 10px;
  line-height: 1;
}

.field--name-field-stat-description {
  color: #003071;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.paragraph--type--stat-group {
  margin: 0 -16px;
  padding: 40px;
}
.paragraph--type--stat-group .field--name-field-stat-group-title {
  margin-bottom: 20px;
}
.paragraph--type--stat-group.dark-background {
  background-color: #09143A;
}

.paragraph--type--stat-group.dark-background .field--name-field-stat-value {
  color: #61A530;
  font-weight: 800;
}
.paragraph--type--stat-group.dark-background
  .field--name-field-stat-description,
.paragraph--type--stat-group.dark-background
  .field--name-field-stat-group-title {
  color: #fff;
}

/* Stat Box Group */
.field--name-field-stat-box-group-title {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.field--name-field-stat-box-items {
  display: flex;
  flex-wrap: wrap;
}
.paragraph--type--stat-box-group {
  background-color: #eee;
  margin: 0 -16px;
  padding: 20px;
}
.field--name-field-stat-box-items > .field--item {
  margin: 0 20px 20px;
  background-color: #003071;
  color: #fff;
  padding: 20px;
  flex: 1;
  flex-basis: 250px;
  border: 2px solid #61A530;
}

.field--name-field-stat-box-items .paragraph--type--stat {
  flex-direction: column;
  align-items: center;
}
.field--name-field-stat-box-items .field--name-field-stat-value {
  margin-right: 0;
  margin-bottom: 10px;
}
.field--name-field-stat-box-items .field--name-field-stat-description {
  color: #fff;
  text-align: center;
}

.field--name-field-stats-dark-background {
  display: none;
}

@media (max-width: 1200px) {
  .field--name-field-stat-box-items {
    flex-direction: column;
  }
  .field--name-field-stat-box-items > .field--item {
    flex: auto;
  }
}
