// Homepage Hero
//
// This is the Homepage Hero component. It's an example.
//
// Markup: field-group-html-element--group-hero.html.twig
//
// Style guide: Components.homepage-hero
// Import site utilities.
@import '../../global/utils/init';

.hero-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: $zi-below-ground;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.homepage-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 720px;
  position: relative;

  > .field__item {
    text-align: center;
  }
}

.field-hero-image-description,
.field-hero-image-title,
.field-image-description,
.field-image-title {
  color: $white;
  background-color: $blk;
  padding: 0 16px;
  margin-left: $size-small;
  margin-right: $size-small;
}

.field-hero-image-title,
.field-image-title {
  font-size: $font-size-jumbo;
  font-weight: $font-weight-bold;
  margin-bottom: $size-smallest;
}

.field-hero-image-title {
  margin-bottom: 10px;
}

.field-hero-image-description,
.field-image-description {
  font-size: $font-size-medium;
}

.robust-hero {
  background-color: $dark-gray;
  position: relative;
  padding: 0;
  overflow: hidden;
  margin-bottom: $size-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint($bp-md) {
    height: 550px;
    padding: $size-large $size-small;
  }

  .field-image-title {
    margin: -10px 10px 0;
    display: inline-block;
    width: auto;
    @include breakpoint($bp-md) {
      width: fit-content;
      margin: 10px 0;
    }
  }

  .field-image-description {
    margin: 10px;
    width: fit-content;
    max-width: none;
    padding: 16px;
    @include breakpoint($bp-md) {
      margin: 10px 0;
      max-width: 40%;
    }
  }

  .field-image-description,
  .field-image-title {
    position: relative;
    z-index: $zi-medium;
  }

  .field-hero-landing-page-image {
    position: relative;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    @include breakpoint($bp-md) {
      position: absolute;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.hero-text-container {
  margin: 0 auto;
  max-width: 59em;
  width: 100%;
}
