/** styles for the boxes **/

div.paragraph--type--subfeature {
    #blue-link, #blue-link--2, #blue-link--3, #blue-link--4, #blue-link--5, #blue-link--6 {
		  padding: 20px;
		  border: 1px solid $blk;
		  @media #{$small-max} {
		    padding: 5px;
		  }
    }
}

div.give-subfeature {
  @media #{$medium-max} {
    & .field--item {
      flex-basis: 40%;
    }
  }
  @media #{$small-max} {
	  & .field--name-field-subfeature-ref {
		  margin-right: -11px;
	  } 
  }
  	.field--name-field-subfeature-link a {
		display: flex;
		height: 250px;
		align-items: center;
		justify-content:center;
		font-size: 1.5em;
		padding: 20px;
		@media #{$small-max} {
		    height: initial;
		    font-size: 1.25em;
		}
	}


}

/** styles for hero description text **/
div.centered-description {
	div.paragraph--view-mode--fluid-hero {
		position: relative;
	}
	.paragraph--type--hero-one-column.paragraph--view-mode--fluid-hero {
		div.carousel-caption {
			margin: 0;
			position: absolute;
			top: 55%;
			left: 50%;
			bottom: initial;
			right: initial;
			width: 50vw;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			background-color: rgba(0, 0, 0, .75);
			text-align: center;
			font-size: 2em;
			font-weight: 700;
			@media #{$medium-max} {
			    font-size: 1em;
			    top: 50%;
			    width: 75%;
			}
			@media #{$small-max} {
				font-size: .75em;

			}
		}

	}
}
