.paragraph--type--gallery button.slick-arrow {
  // z-index: 5;
  display: inline-block;
}
.slick-next:before {
  color: $white !important;
}
.slick-prev:before {
  color: $white !important;
}
.slick-next:hover:before {
  color: $white !important;
}
.slick-prev:hover:before {
  color: $white !important;
}
.small-gallery,
.medium-gallery {
  max-width: 444px;
  float: right;
  margin: 0 0 20px 20px;
  @media #{$small-max} {
    width: 100%;
    float: none;
    margin: 20px 0;
  }
}
.small-gallery-left {
  max-width: 444px;
  margin: 0 20px 20px 0;
}
.ful-width-gallery {
  width: 100%;
  margin-bottom: 20px;
}
.slick__arrow {
  z-index: 1;
}
button.slick-arrow {
  padding-bottom: 60px;
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
.field--name-field-gallery-image-caption {
  font-style: italic;
  padding: 15px 15px 1px;
  background-color: $off-white;
}
.field--name-field-gallery-title {
  font-size: $font-medium;
  color: $white;
  background-color: $cwru-blue;
  padding: 0.25em 1em;
}

.paragraph--type--gallery .slick-slider {
  background-color: $off-white;
}
