// Header
//
// 3 Header options
//
// Weight: -15
//
// Style guide: components.header

// Header - Single Entitiy
//
// Markup: header.hbs
//
// Weight: -17
//
// Style guide: components.header.single

// Header - Department Subset
//
// Markup: headerSubset.hbs
//
// Weight: -16
//
// Style guide: components.header.deptSubset

// Header - w/Resources Links
//
// Markup: headerResourcesLinks.hbs
//
// Weight: -15
//
// Style guide: components.header.resourcesLinks


.region-header {
  border-top: 1px dotted $light-gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.page-head {
  //border-bottom: 1px solid $white;
  background: $cwru-blue;
  padding-bottom: 25px;

  .container {
    display: table;
    @media #{$medium-max} { display: block; }
  }

  .container>div {
    display: table-cell;
    float: none;
  }

  .container,
  .col-md-6,
  .col-md-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .page-title {
    display: inline-block;
    padding: 22px 0;
    padding-bottom: 0;
    font-family: $arizona-text, serif;
    @media #{$medium-max} {
      padding: 20px 22px;
      padding-bottom: 0;
    }

    h1 {
      font-family: $arizona-text, serif;
    }

    h1, div, a {
      color: $white;
      font-size: 40px;
      font-weight: 200;
      margin: 0px;
      padding: 0;
      line-height: 1.15;
      letter-spacing: .01em;
      @media #{$medium-max} { font-size: 32px; }
    }

		a:hover {
		  text-decoration: none;
	  }

		& .secondary-school-name {
		  margin-top: 0px;
		}

  }
  .department-header {
    padding: 0;

    h1, h2, div {
      color: $white;
      // background-color: $med-gray;
      font-size: 28px;
      font-weight: 400;
      padding: 5px 20px;
      margin: 0px;
      //min-width: 375px;
      min-width: auto;
      display: inline-block;
      font-family: $arizona-text, serif;
      line-height: 1.1;
      @media #{$medium-min} {
        padding-bottom: 0;
        padding-left: 0;
      }
      @media #{$small-max} {
        font-size: 25px;
      }
    }
  }

  .form-group {
    margin: 0;
  }
}

//Removes the header navbar and deletes the padding from region-content when the navbar moves up into the header; the "Move Nav Insider Header" theme setting within crew must be selected!
.empty-header {
  @media (min-width: $medium) {
    display: none;
  }
  @media (max-width: $medium) {
    width: 100%;
  }
}
.empty-header + div.main-container .region-content:first-of-type {
  padding-bottom: 0;
}
