.pill {
  color: $med-gray;
  background-color: $off-white;
  border: 1px solid $light-gray;
  font-size: .75em;
  font-weight: bold;
  padding: .25em .5em;
  margin-bottom: 20px;
  display: inline-block;
}
