.paragraph--type--pull-quote-with-image{ 
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;

    .field--name-field-quote{
        font-size: 2rem;
        font-style: italic;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom:0rem;
        padding-left: 5.5rem;
        padding-top: 3rem;
        padding-right: 3rem;
        position: relative;
        &::before{
            content: '“';
            color: $link-blue;
            font-family: initial;
            font-weight: 900;
            font-style: normal;
            font-size: 9rem;
            line-height: 1.2;
            display: block;
            padding-left: 0rem;
            background-image: url("../images/hero-title-pattern.svg");
            background-size: cover; 
            position: absolute;
            height: 6rem;
            width: 6rem;
            left: 0;
            top: 0;
        }
        
    }
    .field--name-field-citation{
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1;
        padding-right: 5rem;
        padding-bottom: 2em;
        text-align: right;
        position: relative;
        &::before{
            content:"\2014 \00a0";
        }
        &::after{
            content: "";
            background-image: url("https://case.edu/weatherhead/themes/custom/crew_weatherhead/images/blue-triangle.svg");
            background-size: cover; 
            position: absolute;
            height: 4rem;
            width: 4rem;
            bottom: 0;
            right: 0;
        }       
    }
    .field--name-field-quote-image{
        width: 100%;
        img{
            margin: auto;
        }
    }
    .field--name-field-citation-and-quote{
        width: 100%;
    }
    .quote-only-container {
        width: 100%;
    }

    // .field--name-field-quote-image + .field--name-field-citation-and-quote{
    //     // width: 100%;
    //     background-color: orange;
    // }
    
}



@media (min-width: 576px) {
    .paragraph--type--pull-quote-with-image { 
        .field--name-field-citation-and-quote{
            .field--name-field-citation{
                font-size: 1.8rem;
            }
        }
        .field--name-field-quote-image + .field--name-field-citation-and-quote{
            .field--name-field-quote{
             font-size: 2.2rem;
            }
            .field--name-field-citation{
                font-size: 1.8rem
            }
        }
    }
    .col-lg-8.col-md-6.col-sm-6.col-xs-12.robust-content-small{
        .paragraph--type--pull-quote-with-image {
            flex-wrap: nowrap;
            flex-direction: row;
            .field--name-field-quote-image{
                width: 28%;
                padding-bottom:0rem;
            }

            .field--name-field-quote-image + .field--name-field-citation-and-quote{
                width: 71%;
                .field--name-field-quote{
                    font-size: 2rem;
                    padding-top: 1rem;
                    padding-left: 5rem;
                    &::before{
                        line-height: .8;
                    }
                }
                .field--name-field-citation{
                    padding-top: 1rem;
                    font-size: 1.8rem;
                }
            }

        }
    }
}

 @media (min-width: 768px) {
    .paragraph--type--pull-quote-with-image { 
        flex-direction: row;
        justify-content: space-between;

        .field--name-field-quote{
            font-size: 2.3rem;
            padding-left: 8rem;
            padding-top: 2rem;
            padding-right: 1.2rem;
            &::before{
                font-size: 13rem;
                line-height: .8;
                padding-left: 0rem;
                height: 10rem;
                width: 10rem;
            }
        }

        .field--name-field-citation{
            font-size: 1.8rem;
            padding-right: 8rem;
            &::after{
                height: 7.3rem;
                width: 7.3rem;
            }
        }
        .field--name-field-quote-image{
            width: 33%;
            img{
                margin: 0;
            }
        }
        .field--name-field-quote-image + .field--name-field-citation-and-quote{
            width: 66%;
            .field--name-field-quote{
                padding-left: 9rem;
                font-size: 2rem;
                &::before{
                    padding-left: 1.5rem;
                }
            }
            .field--name-field-citation{
                font-size: 1.8rem;
            }
        }

    }
    .col-lg-8.col-md-6.col-sm-6.col-xs-12.robust-content-small{
        .paragraph--type--pull-quote-with-image {
            flex-wrap: wrap;
            .field--name-field-quote-image{
                width: 100%;
                padding-bottom:1rem;
                img{
                    margin: 0;
                }
            }
            .field--name-field-quote-image + .field--name-field-citation-and-quote{
                width: 100%;
            }

            .field--name-field-citation-and-quote{ 
                width: 100%;
                padding-bottom:1rem;
                .field--name-field-quote{
                    padding-left: 5.5rem;
                    font-size: 2rem;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 1.5;
                    padding-bottom:0rem;
                    padding-top: 1rem;
                    padding-right: 3rem;
                    position: relative;
                    &::before{
                        content: '“';
                        color: $link-blue;
                        font-family: initial;
                        font-weight: 900;
                        font-style: normal;
                        font-size: 9rem;
                        line-height: -.8;
                        display: block;
                        padding-left: 0rem;
                        background-image: url("../images/hero-title-pattern.svg");
                        background-size: cover; 
                        position: absolute;
                        height: 6rem;
                        width: 6rem;
                        left: 0;
                        top: 0;
                        
                    }
                    
                }
                .field--name-field-citation{
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 1;
                    padding-right: 5rem;
                    text-align: right;
                    position: relative;
                    &::before{
                        content:"\2014 \00a0";
                    }
                    &::after{
                        content: "";
                        background-image: url("https://case.edu/weatherhead/themes/custom/crew_weatherhead/images/blue-triangle.svg");
                        background-size: cover; 
                        position: absolute;
                        height: 4rem;
                        width: 4rem;
                        bottom: 0;
                        right: 0;
                    }       
                }
            }
        }
    }
 }

 @media (min-width: 1200px) {

    .paragraph--type--pull-quote-with-image { 
        .field--name-field-quote-image + .field--name-field-citation-and-quote{
            .field--name-field-quote{
             font-size: 2.2rem;
            }
            .field--name-field-citation{
                font-size: 1.8rem;
            }
        }
    }
    .col-lg-8.col-md-6.col-sm-6.col-xs-12.robust-content-small{
        .paragraph--type--pull-quote-with-image {
            flex-wrap: nowrap;
            .field--name-field-quote-image{
                width: 28%;
                padding-bottom:0rem;
            }
            .field--name-field-quote-image + .field--name-field-citation-and-quote{
                width: 71%;
            }
        }
    }
 }

            