/* search by topic styles */
div.view-id-search_by_topic {
  div.view-content {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    column-count: 2;
  }
  .views-row {
    margin-bottom: .5em;
    @media #{$small-max} {
      width: 100%;
    }
  }
}

/* search by name styles */
div.view-id-bef_me {
  p.views-filters-tags {
    font-size: .9em;
  }
  .view-header {
    font-size: .75em;
    margin: 5px 0 12px 0;
  }
}

/* exposed filter form styles*/
form#views-exposed-form-bef-me-page-1 {
  input {
    z-index: 0;
    margin-right: 20px;
  }
  span.input-group-addon {
    display: none;
  }
}
