.paragraph--type--vertical-subfeatures-group {
  background-color: $white;
  margin-top: -20px;
}

.field--name-field-vertical-subfeature-section {
  margin-left: -10px;
  margin-right: -10px;
}

.vertical-subfeature {
  padding: 10px 0 20px 0;
  width: 100%;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-flow: row wrap;
  }
}

.vertical-subfeature__col--left {
  
  @media screen and (min-width: 767px) {
    padding-right: 16px;
    width: 33.3333%;
  }
}

.vertical-subfeature__col--right {
  padding-top: 12px;
  
  @media screen and (min-width: 767px) {
    padding-left: 16px;
    padding-top: 0;
    width: 66.666%;
  }
}

.vertical-subfeature__header {
  color: $blk;
  font-size: 30px;
}

.vertical-subfeature__img img {
  margin-top: 10px;
  width: 100%;
}

.vertical-subfeature__body {
  flex: 1;
}

.vertical-subfeature__section-link a {
  @include button-blue;
}

// Vertical Card styles.
.vertical-subfeature--vertical-card {
  background-color: $lighter-gray;
  padding: 32px 24px;

  @media screen and (min-width: 767px) {
    padding: 0;
  }

  .vertical-subfeature__col--left {
    margin: 0 auto;
    max-width: 300px;

    @media screen and (min-width: 767px) {
      max-width: initial;
      margin: 0;
    }
  }

  .field--name-field-photo-caption {
    display: none;
  }

  .vertical-subfeature__col--right {
    padding: 16px 0 0;

    @media screen and (min-width: 767px) {
      padding: 24px 24px 24px 16px;
    }
  }

  .vertical-subfeature__img img {
    margin-top: 0;
  }

  .vertical-subfeature__header {
    color: $cwru-blue;
    font-size: 30px;
    font-weight: 700;
  }

  .vertical-subfeature__section-link {
    padding-top: 24px;
  }
}
