// Wells
//
// Wells can be either gray background with blue buttons, or blue background with gray buttons.
//
//Markup: wells.hbs
//
// Style guide: components.wells

.well {
  padding: 20px;
  border-radius: 0;
  box-shadow: none;
  &.well-gray {
    background-color: $lighter-gray;
    border: 1px solid $lighter-gray;
    .field--name-field-well-button {
      text-align: right;
      a {
        @include button-blue;
        min-width: 125px;
      }
    }
  }
  &.well-blue {
    background-color: $cwru-blue;
    border: 1px solid $cwru-blue;
    color: $white;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }
    .field--name-field-well-content a {
      @include white-link;
    }
    .field--name-field-well-button {
      text-align: right;
      a {
        @include button-gray;
        min-width: 125px;
      }
    }
  }
}
.printing-services-homepage.content.field--name-field-well {
  padding: 0px 20px 0px 20px;
}

.field--name-field-intro-text-ref .well {
  margin-top: 20px;
}
