<div class="paragraph paragraph--type--accordion paragraph--view-mode--default" id="accordion_0">

  <div
    class="field field--name-field-accordion-section-ref field--type-entity-reference-revisions field--label-hidden field--items">
    <div class="field--item">
      <div class="paragraph paragraph--type--accordion-section paragraph--view-mode--default">

        <div class="field field--name-field-accordion-section-title field--type-string field--label-hidden field--item">
          <p class="h3">
            <a class="accordion-toggle accordion-toggle-styled collapsed" role="tab" data-toggle="collapse"
              data-parent="accordion_0" href="#collapse_0_0">
              Facts at a Glance
            </a>
          </p>
        </div>

        <div
          class="field field--name-field-accordion-section-content field--type-text-long field--label-hidden field--item collapse"
          id="collapse_0_0">
          <p>UTech Research Computing provides an advanced medium-sized supercomputing facility for research and
            scholarship activity. Every year more users have turned to RCCI through collaboration and enablement of
            their research projects.</p>

          <p>
            <meta charset="utf-8">
          </p>

          <p dir="ltr">In late 2004, UTech deployed a high performance computing (HPC) cluster for research use. Today
            the HPC resource has grown to over 4,400&nbsp;CPU cores, 165,000 GPU cores, and approximately 305 terabytes
            of high-speed parallel storage. UTech also provides over 5 petabytes of storage capacity for research
            projects in both archival and scale-out storage systems. &nbsp;</p>

          <p dir="ltr">A broad array of multi-disciplinary and specialized applications software is available on both
            the HPC cluster and UTech Software Center supporting computationally-intensive research in physics,
            chemistry, mathematics, statistics, biochemistry, biophysics, mechanical and aerospace engineering,
            materials science, chemical engineering, computer science and engineering, and other disciplines.</p>

          <p dir="ltr">With the receipt of an NSF CC-NIE award in October 2013, UTech deployed a Science DMZ on its
            network to optimize network configuration, security policies, and performance to support robust connectivity
            for high-performance scientific computing, high volume data transfers, visualization, and the ability to
            remotely control experiments or to participate in experiments at a distance. The deployment includes
            IntraOhio and Internet2 connectivity speeds at 100 Gigabits per second.</p>

          <p dir="ltr">The growth of these resources has been funded through investments by UTech, the Office of the
            Provost, and individual researchers throughout the university.</p>
        </div>

      </div>
    </div>
    <div class="field--item">
      <div class="paragraph paragraph--type--accordion-section paragraph--view-mode--default">

        <div class="field field--name-field-accordion-section-title field--type-string field--label-hidden field--item">
          <p class="h3">
            <a class="accordion-toggle accordion-toggle-styled collapsed" role="tab" data-toggle="collapse"
              data-parent="accordion_0" href="#collapse_0_1">
              Advisory Committee on Research Computing
            </a>
          </p>
        </div>

        <div
          class="field field--name-field-accordion-section-content field--type-text-long field--label-hidden field--item collapse"
          id="collapse_0_1">
          <p>The <a data-entity-substitution="canonical" data-entity-type="node"
              data-entity-uuid="3844a411-10f5-422b-9e12-68cc91baf7f2"
              href="/utech/departments/research-computing/about-us/advisory-committee-research-computing"
              title="Advisory Committee on Research Computing">Advisory Committee on Research Computing</a>
            <meta charset="utf-8">(ACRC) advises UTech on strategic issues related to the support of the CWRU research
            community's IT-related needs.
          </p>

          <p>
            <meta charset="utf-8">
          </p>
        </div>

      </div>
    </div>
    <div class="field--item">
      <div class="paragraph paragraph--type--accordion-section paragraph--view-mode--default">

        <div class="field field--name-field-accordion-section-title field--type-string field--label-hidden field--item">
          <p class="h3">
            <a class="accordion-toggle accordion-toggle-styled collapsed" role="tab" data-toggle="collapse"
              data-parent="accordion_0" href="#collapse_0_2">
              Funding Applications
            </a>
          </p>
        </div>

        <div
          class="field field--name-field-accordion-section-content field--type-text-long field--label-hidden field--item collapse"
          id="collapse_0_2">
          <p dir="ltr">
            <meta charset="utf-8">If you are interested in utilizing UTech Research Computing resources as part of a
            research proposal, see the <a
              href="https://case.edu/utech/departments/research-computing/services/consultation-services">Consultation
              Services</a> section of this website.
          </p>
        </div>

      </div>
    </div>
  </div>

</div>