<article role="article" about="/view-options/events-views" class="robust-3-column-page full clearfix">
	<div class="content">
     	<div class="row">
	      	<div class="col-md-12 robust-content-small">
	      		<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
	            	<div class="field--item">
	            		<div class="paragraph paragraph--type--view paragraph--view-mode--default">
	            			<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
	            				<div class="field__item field__item-label-hidden">
	            					<div class="views-element-container form-group">
	            						<div class="view view-full-event-listing view-id-full_event_listing view-display-id-block_4 js-view-dom-id-e1af090011dca0a931546164ce348e569b865b3ed1a910e65675804d486c4621">
	            							<div class="view-content">
	            								<div class="item-list">
													<ul class="media-list mv-20">
														<li class="media">
															<div class="views-field views-field-nothing media-body">
																<span class="field-content">
																	<div class="pqhs-event-calendar-icon">
																		<span class="month">Jun</span>
																		<span class="day">08</span>
																		<span class="year">2022</span>
																	</div>
																	<div class="pqhs-event-details">
																		<h2 class="font-medium"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></h2>
																		<p></p>
																		<p>Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis. Morbi consequat sit amet odio ut porta. Aenean accumsan vitae purus sagittis vulputate. Cras pulvinar magna ut placerat volutpat. Duis metus sapien, lobortis cursus ligula eget, luctus egestas ante.</p>
																		<p></p>
																	</div>
																</span>
															</div>
														</li>
														<li class="media">
															<div class="views-field views-field-nothing media-body">
																<span class="field-content">
																	<div class="pqhs-event-calendar-icon">
																		<span class="month">Jul</span>
																		<span class="day">06</span>
																		<span class="year">2022</span>
																	</div>
																	<div class="pqhs-event-details">
																		<h2 class="font-medium"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></h2>
																		<p></p>
																		<p>Donec imperdiet ipsum ligula, vel tincidunt lorem semper vitae. Proin placerat orci eros, id vestibulum mauris iaculis at. Donec eget finibus quam, vel tincidunt magna. Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis. Morbi consequat sit amet odio ut porta.</p>
																		<p></p>
																	</div>
																</span>
															</div>
														</li>
														<li class="media">
															<div class="views-field views-field-nothing media-body">
																<span class="field-content">
																	<div class="pqhs-event-calendar-icon">
																		<span class="month">Jul</span>
																		<span class="day">12</span>
																		<span class="year">2022</span>
																	</div>
																	<div class="pqhs-event-details">
																		<h2 class="font-medium"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></h2>
																		<p></p>
																		<p>Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis. Morbi consequat sit amet odio ut porta. Aenean accumsan vitae purus sagittis vulputate. Cras pulvinar magna ut placerat volutpat. Duis metus sapien, lobortis cursus ligula eget, luctus egestas ante.</p>
																		<p></p>
																	</div>
																</span>
															</div>
														</li>
														<li class="media">
															<div class="views-field views-field-nothing media-body">
																<span class="field-content">
																	<div class="pqhs-event-calendar-icon">
																		<span class="month">Aug</span>
																		<span class="day">17</span>
																		<span class="year">2022</span>
																	</div>
																	<div class="pqhs-event-details">
																		<h2 class="font-medium"><a href="/node/116" hreflang="en">Duis Rutrum Aliquet Justo</a></h2>
																		<p></p>
																		<p>Donec imperdiet ipsum ligula, vel tincidunt lorem semper vitae. Proin placerat orci eros, id vestibulum mauris iaculis at. Donec eget finibus quam, vel tincidunt magna. Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis. Morbi consequat sit amet odio ut porta.</p>
																		<p></p>
																	</div>
																</span>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>