<footer class="footer container" role="contentinfo">
  <div class="region region-footer">
    <section role="region" aria-label="footer sections" class="views-element-container block block-views block-views-blockfooter-block-footer clearfix" id="block-views-block-footer-block-footer">
      <div block="block-views-block-footer-block-footer" class="form-group">
        <div class="footer view view-footer view-id-footer view-display-id-block_footer js-view-dom-id-2f1fbb6e50164183916bcb3edba412d55cfce2c6751abd4afb189400e93dae9a">
          <div class="view-content">
            <div class="views-row">
               <div class="footer__block footer__block--university">
                <img src="https://dudbm6bcnmy8e.cloudfront.net/cwru-drupal-assets/images/cwru-logo-formal.svg" onerror="javascript:this.src='https://dudbm6bcnmy8e.cloudfront.net/cwru/img/logo-footer-default.png'" alt="Case Western Reserve University Logo with Tagline" class="footer__logo" title="Case Western Reserve University">
                <p>© 2021 <a href="//case.edu/">Case Western Reserve University</a></p>
                <address>10900 Euclid Ave. Cleveland, Ohio 44106</address>
                <p>
                  <a href="tel:12163682000">216.368.2000</a>
                  <br>
                  <a href="https://case.edu/utech/departments/information-security/policies/legal-privacy-notice">Legal Notice</a> | <a href="https://case.edu/privacy-statement/index.html">Privacy Policy</a>
                </p>
              </div>
              <div class="footer__block footer__block--department">
                <img src="https://dudbm6bcnmy8e.cloudfront.net/cwru-drupal-assets/images/pin-icon.svg" alt="map marker" class="footer__map-icon hidden-sm hidden-xs">
                <div class="footer__department-info">
                  <div class="footer__header h3">Default Build</div>
                  <strong>Campus Location:</strong>
                  <p>
                    Adelbert Hall, Suite 14
                    <br>
                    2040 Adelbert Road
                    <br>
                    Cleveland, OH 44106
                  </p>
                  <strong>Mailing Address:</strong>
                  <p>
                    10900 Euclid Ave.
                    <br>
                    Cleveland, OH 44106-7017
                  </p>
                  <p>
                    <strong>Phone:</strong> <a href="tel:216.368.4440">216.368.4440</a>
                  </p>
                  <p>
                    <a href="mailto:webteam@case.edu">Site Feedback</a>
                  </p>
                </div>
              </div>
              <div class="footer__block footer__block--social">
                <h3 class="footer__header">Social Media</h3>
                <div class="footer__social-icons">
                  <a href="https://www.youtube.com/user/case" target="_blank" title="CWRU Youtube" class="footer__social-icon fa fa-youtube">
                    <span class="sr-only">Youtube</span>
                  </a>
                  <a href="https://www.linkedin.com/school/case-western-reserve-university/" target="_blank" title="CWRU Linkedin" class="footer__social-icon fa fa-linkedin">
                    <span class="sr-only">Linkedin</span>
                  </a>
                  <a href="https://twitter.com/cwru" target="_blank" title="CWRU Twitter" class="footer__social-icon fa fa-twitter">
                    <span class="sr-only">Twitter</span>
                  </a>
                  <a href="https://www.facebook.com/casewesternreserve" target="_blank" title="CWRU Facebook" class="footer__social-icon fa fa-facebook">
                    <span class="sr-only">Facebook</span>
                  </a>
                  <a href="https://instagram.com/cwru/" target="_blank" title="CWRU Instagram" class="footer__social-icon fa fa-instagram">
                    <span class="sr-only">Instagram</span>
                  </a>
              </div>
                  </div>
              <div class="footer__block footer__block--links">
                <div class="footer__header h3" tabindex="0">CWRU Links</div>
                <ul role="menu" class="footer-links">
                  <li role="menuitem">
                    <a href="https://case.edu/admissions/">Apply to CWRU</a>
                  </li>
                  <li role="menuitem">
                    <a href="https://case.edu/give/">Give Now</a>
                  </li>
                  <li role="menuitem">
                    <a href="https://case.edu/visit/">Visit Campus</a>
                  </li>
                  <li role="menuitem">
                    <a href="https://webapps.case.edu/directory/">University Directory</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
