<section role="region" aria-label="main-content" class="col-sm-12 col-md-9 has-sidebar">
	<div class="region region-content">
		<article role="article" about="/view-options/sortable-news" class="robust-3-column-page full clearfix">
			<div class="content">
    			<div class="row">
                    <div class="col-md-12 robust-content-small">
                    	<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
            				<div class="field--item">
            					<div class="paragraph paragraph--type--view paragraph--view-mode--default">
            						<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
            							<div class="field__item field__item-label-hidden">
            								<div class="views-element-container form-group">
            									<div class="scrolling-view view view-news-article-listing view-id-news_article_listing view-display-id-block_9 js-view-dom-id-27e417283e2059fc392b67fd92764fbbc43bb8d3ffba7dc31f821f10011b890c">
            										<div class="view-header">
      													<p>Search results, if found, will automatically update as terms are selected. If no results are displayed, please revise your search terms.</p>
														<h2 class="h3">Filter by Category</h2>
													</div>
											        <div class="view-filters form-group">
											        	<form class="views-exposed-form bef-exposed-form" data-bef-auto-submit-full-form="" data-drupal-selector="views-exposed-form-news-article-listing-block-9" action="/view-options/sortable-news" method="get" id="views-exposed-form-news-article-listing-block-9" accept-charset="UTF-8">
											        		<div class="form--inline form-inline clearfix">
											        			<fieldset data-drupal-selector="edit-field-article-taxonomy-target-id" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-field-article-taxonomy-target-id--Ld4tGfPLROc--wrapper">
    																<legend><span class="fieldset-legend"> </span></legend>
																	<div class="fieldset-wrapper">
																		<div id="edit-field-article-taxonomy-target-id--Ld4tGfPLROc" class="form-checkboxes">
																			<div data-drupal-selector="edit-field-article-taxonomy-target-id" class="fieldgroup form-composite form-checkboxes" id="edit-field-article-taxonomy-target-id--Ld4tGfPLROc--wrapper">
																				<div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-field-article-taxonomy-target-id-1 js-form-item-field-article-taxonomy-target-id-1 checkbox">
																					<label for="edit-field-article-taxonomy-target-id-1--EqLR7M_Ppq8" class="control-label option">
																						<input data-drupal-selector="edit-field-article-taxonomy-target-id-1" class="form-checkbox" type="checkbox" id="edit-field-article-taxonomy-target-id-1--EqLR7M_Ppq8" name="field_article_taxonomy_target_id[1]" value="1">
																						Sortable Term 1
																					</label>
																				</div>
																				<div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-field-article-taxonomy-target-id-6 js-form-item-field-article-taxonomy-target-id-6 checkbox">
																					<label for="edit-field-article-taxonomy-target-id-6--zdSno_YdjZY" class="control-label option">
																						<input data-drupal-selector="edit-field-article-taxonomy-target-id-6" class="form-checkbox" type="checkbox" id="edit-field-article-taxonomy-target-id-6--zdSno_YdjZY" name="field_article_taxonomy_target_id[6]" value="6">
																						Sortable Term 2
																					</label>
																				</div>
																				<div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-field-article-taxonomy-target-id-11 js-form-item-field-article-taxonomy-target-id-11 checkbox">
																					<label for="edit-field-article-taxonomy-target-id-11--hLCDot6QGSE" class="control-label option">
																						<input data-drupal-selector="edit-field-article-taxonomy-target-id-11" class="form-checkbox" type="checkbox" id="edit-field-article-taxonomy-target-id-11--hLCDot6QGSE" name="field_article_taxonomy_target_id[11]" value="11">
																						Sortable Term 3
																					</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</fieldset>
																<div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions--F1S9aJ99SRE">
																	<button data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit btn-info btn" data-drupal-selector="edit-submit-news-article-listing-hyx88crxpwi" type="submit" id="edit-submit-news-article-listing--hyX88CrXpwI" value="Apply" name="">Apply </button>
																</div>
															</div>
														</form>
													</div>
													<div class="view-content">
														<div class="item-list">
															<ul class="media-list mv-20">
																<li class="media">
																	<div class="views-field views-field-field-article-image-ref-1">
																		<div class="field-content">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2018-08/Screen%20Shot%202018-08-06%20at%209.46.23%20AM.png?h=5637576d&amp;itok=D01T_rjQ" width="150" height="150" alt="Test" typeof="foaf:Image" class="img-responsive">
																				</div>
																				<div class="field field--name-field-caption field--type-string field--label-hidden field--item">Photo Credit</div>
																				<div class="field field--name-field-photo-caption field--type-string field--label-hidden field--item">Photo Caption</div>
																			</div>
																		</div>
																	</div>
																	<div class="views-field views-field-nothing-1">
																		<span class="field-content">
																			<div class="media-object media-left"></div>
																		</span>
																	</div>
																	<div class="views-field views-field-nothing">
																		<span class="field-content">
																			<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
																			<div class="article-date">May 27, 2020</div>
																			<div><p>Donec imperdiet ipsum ligula, vel tincidunt lorem semper vitae. Proin placerat orci eros, id vestibulum mauris iaculis at. Donec eget finibus quam, vel tincidunt magna. Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis.</p></div>
																		</span>
																	</div>
																</li>
																<li class="media">
																	<div class="views-field views-field-field-article-image-ref-1">
																		<div class="field-content">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2020-05/stem-quora3-1920x1080.jpg?h=d1cb525d&amp;itok=DiINfkwh" width="150" height="150" alt="People having a discussion inside a factory" typeof="foaf:Image" class="img-responsive">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="views-field views-field-nothing-1">
																		<span class="field-content">
																			<div class="media-object media-left"></div>
																		</span>
																	</div>
																	<div class="views-field views-field-nothing">
																		<span class="field-content">
																			<h2 class="font-medium"><a href="/node/51" hreflang="en">News Article 2</a></h2>
																			<div class="article-date">May 12, 2020</div>
																			<div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p></div>
																		</span>
																	</div>
																</li>
																<li class="media">
																	<div class="views-field views-field-field-article-image-ref-1">
																		<div class="field-content">
																			<div class="media-image-container">
																				<div class="field field--name-field-image field--type-image field--label-hidden field--item">
																					<img src="/sites/default/files/styles/events_image_thumbnail_150x150_/public/2020-05/stem-quora3-1920x1080.jpg?h=d1cb525d&amp;itok=DiINfkwh" width="150" height="150" alt="People having a discussion inside a factory" typeof="foaf:Image" class="img-responsive">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="views-field views-field-nothing-1">
																		<span class="field-content">
																			<div class="media-object media-left"></div>
																		</span>
																	</div>
																	<div class="views-field views-field-nothing">
																		<span class="field-content">
																			<h2 class="font-medium"><a href="/node/51" hreflang="en">News Article 1</a></h2>
																			<div class="article-date">May 01, 2020</div>
																			<div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p></div>
																		</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
