<section role="region" aria-label="main-content" class="col-sm-12 col-md-9 has-sidebar">
	<div class="region region-content">
		<article role="article" about="/view-options/standard-news-views" class="robust-3-column-page full clearfix">
			<div class="content">
	    		<div class="row">
	                <div class="col-md-12 robust-content-small">
	                	<div class="field field--name-field-robust-3-page-ref field--type-entity-reference-revisions field--label-hidden field--items">
	                		<div class="field--item">
	                			<div class="paragraph paragraph--type--view paragraph--view-mode--default">
	                				<div class="field field--name-field-view-viewfield field--type-viewfield field--label-hidden">
	                					<div class="field__item field__item-label-hidden">
	                						<div class="views-element-container form-group">
	                							<div class="view view-news-article-listing view-id-news_article_listing view-display-id-block_3 js-view-dom-id-c9a93488837e09d5239048111895c4d6d5e44a23039451165ba17427f2f905e9">
	                								<div class="view-content">
	                									<div class="flex mb-20 views-row">
	                										<div class="views-field views-field-nothing">
	                											<span class="field-content pr-10 pv-5">
		                											<span class="month">May</span>
																	<span class="day">27</span>
																</span>
															</div>
															<div class="views-field views-field-nothing-1">
																<span class="field-content">
																	<h2 class="font-medium"><a href="/node/91" hreflang="en">News Article 3</a></h2>
																	<div>
																		<p>Donec imperdiet ipsum ligula, vel tincidunt lorem semper vitae. Proin placerat orci eros, id vestibulum mauris iaculis at. Donec eget finibus quam, vel tincidunt magna. Maecenas quis congue ex. Nam dignissim tincidunt dolor quis tempus. Donec auctor accumsan leo a lobortis.</p>
																	</div>
																</span>
															</div>
														</div>
														<div class="flex mb-20 views-row">
															<div class="views-field views-field-nothing">
																<span class="field-content pr-10 pv-5">
																	<span class="month">May</span>
																	<span class="day">12</span>
																</span>
															</div>
															<div class="views-field views-field-nothing-1">
																<span class="field-content">
																	<h2 class="font-medium"><a href="/node/51" hreflang="en">News Article 2</a></h2>
																	<div>
																		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p>
																	</div>
																</span>
															</div>
														</div>
														<div class="flex mb-20 views-row">
															<div class="views-field views-field-nothing">
																<span class="field-content pr-10 pv-5">
																	<span class="month">May</span>
																	<span class="day">01</span>
																</span>
															</div>
															<div class="views-field views-field-nothing-1">
																<span class="field-content">
																	<h2 class="font-medium"><a href="/node/46" hreflang="en">News Article 1</a></h2>
																	<div>
																		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus tortor quam, in consectetur neque laoreet posuere. Donec sed imperdiet est. Mauris pulvinar nulla lacus, non aliquet tortor efficitur id.</p>
																	</div>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>


