<nav class="pager-nav text-center" role="navigation" aria-labelledby="pagination-heading">
    <ul class="pagination js-pager__items">
    	<li class="pager__item is-active active">
        	<a href="?page=0" title="Current page">1</a>
        </li>
        <li class="pager__item">
        	<a href="?page=1" title="Go to page 2">2</a>
        </li>
        <li class="pager__item">
            <a href="?page=2" title="Go to page 3">3</a>
        </li>
        <li class="pager__item">
            <a href="?page=3" title="Go to page 4">4</a>
        </li>
        <li class="pager__item">
            <a href="?page=4" title="Go to page 5">5</a>
        </li>
        <li class="pager__item pager__item--next">
        	<a href="?page=1" title="Go to next page" rel="next">
            	<span aria-hidden="true">Next ›</span>
        	</a>
        </li>
		<li class="pager__item pager__item--last">
        	<a href="?page=6" title="Go to last page" rel="last">
        		<span aria-hidden="true">Last »</span>
        	</a>
    	</li>
	</ul>
</nav>