// Colors
//
// CWRU has a limited brand color palette.
//
// Weight: -15
//
// Style guide: base.colors

// Brand Colors
//
// The primary blue is used for headings, buttons, and backgrounds. It should be used sparingly and to draw attention to important areas. The lighter blue is only to be used for links and button hover states.
//
// Colors:
// $cwru-blue: #0a304e - Primary brand color
// $link-blue: #3168a6 - Used only for links and buttons
//
// Style guide: base.colors.brand
$drk-blue: #09143a;
$cwru-blue: #003071;
$link-blue: #006da3;
$light-blue: #a6d2e6;
$green: #61a530;
$blue-green: #377e72;
$yellow: #e69e40;
$orange: #d63d1f;
$ter-orange: #b04027;
$violet: #692c95;
$white: #fff;
$off-white: #f5f5f5;
$dark-gray: #333;
$cwru-dark-gray: #999999;
$med-gray: #535353;
$light-gray: #c6c6c6;
$cwru-light-gray: #d3d3d3;
$lighter-gray: #eee;
$blk: #000000;
$orange: #d63d1f;

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $link-blue;

// Fonts ///////////////
$arizona: "Arizona", sans-serif;
$arizona-text: "Arizona-Text", serif;

$heading_font: $arizona;
$body_font: $arizona;

$font-teeny-tiny: 0.5em;
$font-tiny-tiny: 0.63em;
$font-tiny: 0.75em;
$font-small: 0.85em;
$font-medium-small: 1.15em;
$font-medium: 1.25em;
$font-medium-large: 1.35em;
$font-large: 1.5em;
$font-xlarge: 1.75em;
$font-double: 2em;

// Susy config ///////////////
$susy: (
  columns: 12,
  // The number of columns in grid
  gutters: 1/4,
  // The size of a gutter in relation to a single column
);

// Breakpoints
//
// Media query info goes here
//
// Styleguide base.breakpoints
$screen: "only screen" !default;

$phone: 480px !default;
$small: 768px !default;
$medium: 992px !default;
$large: 1200px !default;
$jumbo: 1300px !default;

$phone-min: "#{$screen} and (min-width: #{$phone})";
$small-min: "#{$screen} and (min-width: #{$small})";
$medium-min: "#{$screen} and (min-width: #{$medium})";
$large-min: "#{$screen} and (min-width: #{$large})";
$jumbo-min: "#{$screen} and (min-width: #{$jumbo})";

$phone-max: "#{$screen} and (max-width: #{$phone})";
$small-max: "#{$screen} and (max-width: #{$small})";
$medium-max: "#{$screen} and (max-width: #{$medium})";
$large-max: "#{$screen} and (max-width: #{$large})";
$jumbo-max: "#{$screen} and (max-width: #{$jumbo})";

// EXAMPLE FOR MQ REFERENCES =>
/*
body {
  background: green !important;
  @media #{$small-max}  { background: orange !important; }
  @media #{$medium-max} { background: teal !important; }
  @media #{$large-max}  { background: orchid !important; }
  @media #{$jumbo-max}  { background: aliceblue !important; }
}
*/

// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}
.tmp-shadow {
  -webkit-box-shadow: 0 0 2px 0 rgba($med-gray, 1);
  -moz-box-shadow: 0 0 2px 0 rgba($med-gray, 1);
  box-shadow: 0 0 2px 0 rgba($med-gray, 1);
}
.tmp-shadow-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.blocked-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;
  @extend .tmp-shadow;
}
