//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

// .mq--t {
//   @include container(80em);
// }

.container {
  padding: 0 22px;
  margin: 0 auto;
  // @media #{$small-max}  { width: 100%; }
  // @media #{$medium-max} { width: 100%; }
  // @media #{$large-min}  { width: 1150px; }
  // @media #{$jumbo-min}  { width: 1244px; }
  // @media #{$small-min}  { width: 100%; }
  @media #{$large-max} {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
  @media only screen and (min-width: 993px) {
    width: 984px;
  }
  @media only screen and (min-width: 1200px) {
    width: 1150px;
  }
  @media only screen and (min-width: 1300px) {
    width: 1244px;
  }
}

.main-container {
  background-color: $white;
  // @media #{$small-min}  { width: 100%; }
  // @media #{$medium-min} { width: 100%; }
  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.landing-page .region-content {
  padding-bottom: 0px;
}

.paragraph-section-title {
  div {
    display: inline;
  }
}

.two-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-right {
  .container {
    .two-column-container {
      flex-direction: row-reverse;
    }
  }
}

.two-column-even {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1;
  }
}

.breakout {
  margin: 0 calc(50% - 50vw);
}

.video-background {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  max-height: 732px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  iframe {
    width: 100%;
    height: 56.25vw;
  }

  @media #{$small-max} {
    display: none;
  }
}
.video-placeholder {
  background-image: url("../images/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  height: 56.25vw;

  @media #{$small-max} {
    display: block;
  }
}
