//Page title and secondary nav
#ksl-head-container {
	display: flex;
	justify-content: space-between;
	@media #{$medium-min} {
		//padding-left: 2em;
		padding-left: 1.1em;
		padding-right:2em;
	}

	.col-md-6, .col-md-9, .col-md-3 {
		flex-basis: 50%;
		@media only screen and (max-width: $medium) {
			flex-basis: 100%;
		}
	}

  .page-title h1,
  .page-title div div {
    font-size: 35px;
    font-family: "Arizona-Text", sans-serif;
  }

	//Right side of header with secondary nav and search
	#head-right-side {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		//height: 100%;

		@media only screen and (max-width: $medium) {
			display: none;
		}

		//secondary-navigation
		.secondary-nav-container.with-department.with-department {
			left: 0;
			//top: 0;
			top: 0.7em;
			//position: unset;
			position: relative;
		}

		.secondary-nav-container.with-department {
			left: auto;
			position: unset;
			margin-left: 0;
			margin-right: 1.5em;
			margin-top: 0;
		}

		//Search 
		#ksl-head-search {
			display: flex;
			position:relative;
			height: 100%;
			justify-content: flex-end;
			align-items: center;
			top: 0.7em;
			.navbar__search-form {
				position:relative;
				right: 0;
				top: 0px;
				z-index: 9999;
				width: auto;
				input[type=search] {
					background: url("../images/search-icon.svg") no-repeat center center;
					background-size: 18px 22px;
					transition: all .4s;
					width: 35px;
					padding: 0 13px;
					color: transparent;
					cursor: pointer;
					border: 0;
					border-radius: 1px;
					box-shadow: 0;
					position: absolute;
					right: 0px;
					z-index: 9999;
					&:focus {
						width: 450px;
						padding: 13px;
						padding-left: 20px;
						cursor: auto;
						background-color: $white;
						color: $blk;
						background: $white; //url("../images/search-icon-gray.png") no-repeat 5px center;
						z-index: 9999;
						border: 0;
						box-shadow: 0;
						outline: transparent;
						border-radius: 39px;
						font-size: 1.3em;
						top: -10px;
					}
				}
				input::placeholder {
					color: transparent;
				}
				input:focus {
					&::placeholder {
						color: $med-gray;
					}
				}
				#search-btn {
					display: none;
					color: $off-white;
					font-weight: lighter;
					background: $cwru-blue;
					border: 0;
					border-bottom: 5px solid $cwru-blue;
					padding: 5px 10px;
					transition: all 0.2s ease 0s;
					@media only screen and (max-width: 1124px) {
						font-size: 18px;
					}
				}
				@media (max-width: $small)  {
					top: 13px;
					right: 10px;
				}
				@media only screen and (max-width: $xsmall) {
					display: none;
				}
				@media (min-width: $jumbo) {
					// top: 7%;
					top: 0;
				}
			}
		}
	}
	
}