.view-ksl-news-feed-home {
  .view-content {
    display: flex;
    @media #{$medium-max} { flex-direction: column}

    > div {
      background-color: $white;
      margin: 0;
      margin-right: 20px;      
    }
    .views-field-nothing {
      .field-content {
        display: inline;
        h3 {
          margin-top: .5em;
        }
        .article-date {
          margin: 0;
        }
      }
    }
  }

  .view-footer {
    .field--type-link.container {
      width: 100%;
      text-align: right;
      a {
        display: inline;
      }
    }
  }
}