// Search Styles.
.ksl-landing-page__pattern-bkg {
  background-image: url("https://case.edu/static/pattern-443ea79283f04c32791ec68cb70e07df.svg");
  background-size: cover;
  margin-left: -22px; 
  margin-right: -22px;
  padding-left: 22px;
  padding-right: 22px;
}


.ksl-landing-page__search-wrapper {
  padding: 32px 0;
  display: flex;
  flex-flow: row wrap;
}

.ksl-landing-page__search {
  background: $white;

  @media #{$medium-min} {
    padding-right: 20px;
    width: 75%;
  }
}

.ksl-landing-page__result {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.5s;

  &.active {
    max-height: 900px;
  }

  @media #{$small-min} {
    display: none;

    &.active {
      display: block;
    }
  }
}

.ksl-landing-page__result--catalog .ksl-landing-page__limiter {

  .ksl-landing-page__btn--blue {
    background-color: $cwru-blue;
    border: 0;
    color: $white;
    padding: 8px 12px;

    &:hover,
    &:focus {
      background-color: $link-blue;
    }
  }
}

.ksl-landing-page__result--database .ksl-landing-page__search-group {
  width: 100%;
}

.ksl-landing-page__nav-items {
  margin: 0;
  padding: 0;

  @media #{$small-min} {
    display: flex;
    flex-flow: row wrap;
  }
}

.ksl-landing-page__nav-item {
  display: grid;
  list-style-type: none;

  @media #{$small-min} {
    display: flex;
  }
}

// TODO: Need to update base link styles
// to avoid needing to target the a tag.
a.ksl-landing-page__nav-link {
  background-color: $white;
  border: 1px solid $cwru-blue;
  border-bottom-width: 0;
  color: $cwru-blue;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;

  &:hover,
  &:focus {
    background-color: $cwru-blue;
    color: $white;
  }

  .active & {
    background-color: $cwru-blue;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.ksl-landing-page__seach-form-wrapper {
  border: 1px solid $cwru-blue;
  padding: 8px;

  @media screen and (min-width: 580px) {
    display: flex;
    flex-flow: row wrap;
  }
}

.ksl-landing-page__select {
  appearance: none;
  background-color: $cwru-blue;
  background-image: url("../images/caret-down-white.svg");
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-size: 17px;
  border: 0;
  color: $white;
  cursor: pointer;
  padding: 12px;
  text-align: center;
  width: 100%;
  @media #{$small-min} {
    background-color: transparent;
    background-image: url("../images/caret-down.svg");
    border-right: 1px solid $cwru-dark-gray;
    color: $blk;
    padding: 0;
    width: 20%;
    text-align: center;
  }
  @media #{$large-max} {
    text-align: left;
    padding-left: 1rem;
  }
  @media #{$small-max} {
    text-align: center;
    padding-left: 0;
  }
}

.ksl-landing-page__search-group {
  width: 100%;

  @media #{$small-min} {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
  }

  .ksl-landing-page__input {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 8px 40px;
    width: 100%;

    @media #{$small-min} {
      width: 75%;
    }
    @media #{$small-max} {
      border: 1px solid $cwru-blue;
      padding: 8px 15px;
    }
  }

  .ksl-landing-page__btn {
    background-color: $cwru-blue;
    background-image: url("../images/caret-right-white.svg");
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    border: 0;
    color: $white;
    padding: 12px;
    width: 100%;

    @media #{$small-min} {
      background-color: transparent;
      background-image: url("../images/caret-right.svg");
      border-left: 1px solid $cwru-dark-gray;
      color: $blk;
      padding: 0;
      width: 25%;
    }

    &::after {
      content: '\f107';
    }
  }
}

.ksl-landing-page__limiter {
  display: flex;
  flex-flow: row wrap;
  padding: 12px 0;

  .ksl-landing-page__input-wrapper {
    margin-right: 24px;
  }
}

// Vertical Subfeature styles.
.ksl-landing-page__vert-sub {
  padding: 30px 0 20px;
  @media #{$large-min} {
    padding-bottom: 50px;
  }
  @media #{$large-max} {
    padding-bottom: 0;
  }
  @media #{$small-max} {
    padding-top: 15px;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $light-blue;
  }

  .field--name-field-ksl-subfeature::after {
    @media #{$large-min} {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 3.4em auto 0;
      width: 400px;
    }
    @media #{$large-max} {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 2.75em auto 2em;
      width: 400px;
    }
    @media #{$small-max} {
      display: none;
    }
  }

  .vertical-subfeature--vertical-card {
    background: none !important;
    padding: 0 !important;
    @media #{$medium-min} {
      padding-left: 7rem !important;
      padding-right: 5rem !important;
    }
    @media #{$small-min} {
      flex-wrap: nowrap;
    }

    .vertical-subfeature__header {
      font-size: 25px !important;
      @media #{$medium-max} {
        margin-top: 1rem;
      }
    }

    .vertical-subfeature__col--left {
      padding: 0;
      @media #{$medium-max} {
        margin: 0;
      }
      .vertical-subfeature__img {
        margin-right: 40px;
        border: 10px solid #a34831;
        box-shadow: 10px 10px #a3483a;
        padding: 0;
      }
    }

    .vertical-subfeature__col--right {
      @media #{$small-min} {
        padding: 0 !important;
      }
    }
  }
}

// Slideshow/Stacked Button styles.
.ksl-lading-page__slide-wrapper {
  padding-bottom: 20px;
  margin-left: -22px; 
  margin-right: -22px;
}

.ksl-landing-page__slider {

  @media #{$medium-min} {
    width: 100%;
  }

  .slick-slider {
    margin-top: 0;
    background-color: $cwru-blue;
    margin-bottom: 0;
  }

  .slick--skin--classic .slide__caption {
    min-height: initial;
    @media #{$small-min} {
      width: 85%;
    }
  }

  .field--name-field-gallery-image-caption a {
    color: $white;
    text-decoration: underline;
  }

  .field--name-field-gallery-image-caption a:focus, .field--name-field-gallery-image-caption a:hover {
    color: $white;
    text-decoration: none;
  }
}

.ksl-landing-page__stacked-btns {

  @media #{$medium-min} {
    padding-left: 20px;
    width: 25%;
  }
  @media #{$medium-max} {
    margin-top: 15px;
  }
  @media #{$xsmall-max} {
    width: 100%;
  }
}

// Stacked button styles.
.ksl-landing-page__stacked-btns .stacked-button-wrapper-field__item {
  margin-bottom: 12px;
  @media #{$medium-max} {
    margin-bottom: 0;
  }
}

// Event Styles.
.ksl-landing-page__events {
  border-bottom: 1px solid $light-blue;
  margin-bottom: 32px;
  padding: 10px 0 24px;

  @media #{$small-min} {
    border-bottom: 0;

    &::after {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 2em auto 0;
      width: 400px;
    }
  }

  @media #{$small-max} {
    padding-bottom: 35px;
  }

  .paragraph--type--external-rss {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
  }

  .rss_section_title {
    background-color: transparent;
    color: $cwru-blue;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
    padding: 0;
    text-transform: none;

    &::after {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 5px 0 20px 0;
      width: 60px;
    }
  }

  .feed {
    padding-left: 0;
    padding-right: 0;

    ul {
      margin: 0;

      @media #{$small-min} {
        display: flex;
        flex-flow: row wrap;
      }
    }
  }

  .feed-item-block {
    border-bottom: 0;
  }

  .feed-item-block.feed-events-date {
    padding: 16px 0;

    @media #{$small-min} {
      padding: 0;
      padding-right: 32px;
      width: 33.333%;
    }
  }

  .paragraph--type--external-rss .field--name-field-subfeature-link {
    padding-top: 16px;

    @media #{$small-min} {
      display: grid;
      justify-content: flex-end;
      padding-top: 40px;
    }
  }

  .field--name-field-subfeature-link a {
    width: inherit;
  }

  .feed-item-daterange.feed-me {
    background-color: $cwru-blue;
    border: 0;
    padding: 4px 12px;
    width: inherit;
  }

  .feed-item-daterange.feed-me .month,
  .feed-item-daterange.feed-me .day {
    background-color: transparent;
    color: $white;
    padding-bottom: 0.1em;
  }

  .feed-item-daterange.feed-me .month {
    font-size: 1.2em;
    line-height: 1;
    margin: 0 auto;
  }

  .feed-item-daterange.feed-me .day {
    font-size: 2.5em;
    line-height: 0.7;
    font-weight: 700;
  }
}

.ksl-landing-page__col-sub {
  border-bottom: 1px solid $light-blue;
  margin-bottom: 32px;
  padding: 0;

  @media #{$small-min} {
    border-bottom: 0;

    &::after {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 2em auto 0;
      width: 400px;
    }

    .field--name-field-subfeature-section-ref {
      margin: 0 !important;

      .field--item {
        padding-top: 0 !important;
      }
    }
  }
  @media #{$small-max} {
    padding-bottom: 20px;
  }

  .subfeature-section__content-wrapper {
    padding: 16px 0;
  }

  .subfeature-section__header {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    &::after {
      background-color: $light-blue;
      content: '';
      display: block;
      height: 2px;
      margin: 5px 0 8px 0;
      width: 60px;
    }
  }
}

.ksl-landing-page__news {
  padding-bottom: 24px;

  .field--name-field-photo-caption {
    display: none;
  }

  .container {
    padding: 0;
  }
  .paragraph-section-title {
    color: $cwru-blue;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 40px 0 0;
    padding-top: 0px;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: $light-blue;
      margin: 5px 0 8px 0;
    }
  }

  .view-ksl-news-feed-home {
    @media #{$small-max} {
      .view-content > div {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .article-date {
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
  }
}
