.homepage-w-full-width-feature .field--name-field-mid-section {
  display: flex;
  @media #{$medium-max} { flex-direction: column; }

  > .field--item:first-child {
    flex: 3;
    margin-right: 20px;
    @media #{$medium-max} { margin-right: 0; margin-bottom: 20px;}
  }

  > .field--item:last-child {
    flex: 1;
  }
  .paragraph--type--content {
    background-color: $cwru-blue;
    color: $white;
    height: 100%;
    padding: 20px;
    h2, h3 {
      color: $white;
      margin-bottom: 20px;
    }
    .button-blue {
      margin-top: 20px;
      border: 1px solid $white;
    }
  }
  ul {
    margin-bottom: 0;
  }
}
