// Import site utilities.
@import '../../global/utils/init';

.scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  display: none;
  right: 20px;
}
