{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    <h2{{ item.attributes.addClass('color-white') }}>{{ item.content }}</h2>
  </div>
{% endfor %}