<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/upstream-configuration/modules/iframe/tests" />
        <option value="$PROJECT_DIR$/web/modules/contrib/iframe/tests" />
      </list>
    </option>
  </component>
</project>