.page-header, .hero-page-title-info {
	display: none;
}
.hero-title-container {
	position: relative;
	.page-header {
		position: absolute;
		top: 65%;
		//bottom: 35%;
		z-index: 6;
		margin: 0;
		width: 100%;
		text-align: center;
		font-size: 93px;
		text-shadow: 4px 4px $blk;
		color: $white;
		padding: 0;
		font-weight: 900;
		transform: translateY(-65%);
		//transform: translate(35%);
		// @media (min-width: $small)  {
		// 	top: 35%;
		// }
		@media (max-width: $large)  {
			font-size: 80px;
		}
		@media (max-width: $medium)  {
			font-size: 60px;
		}
		@media (max-width: $small)  {
			font-size: 44px;
			text-shadow: 2px 2px $blk;
			bottom: 0 !important;
			top: inherit;
			//text-align: left;
			transform: none;
			padding-left: 30px;
			padding-right: 30px;
		}
		@media (max-width: $tiny)  {
			padding-left: 10px;
			padding-right: 10px;
		}
		.page-title-name {
			padding: 10px 40px 30px;
			margin: 0;
			display: inline-block;
			position: relative;
			overflow: hidden;
			.hero-page-title-info{
				//display: none;
				color: $blk;
				font-size: 26px;
				text-shadow: none;
				margin-top: 20px;
				@media (max-width: $small)  {
					margin-top: 10px;
					//color: $white;
					font-size: 24px;
				}
				@media (max-width: $tiny)  {
					font-size: 20px;
				}
			}
			.glass-blur {
				 content: ''; 
				 width: 100%;
				 height: 100%;
				 position: absolute;
				 left: 0;
				 top: 0; 
				 //box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
				 //filter: blur(10px);
				 background-color: rgba(255,255,255, .50);
				// backdrop-filter: blur(30px);
				 transform: scale(1.1);
				 z-index: -1;
				 // @media (max-width: $small)  {
				 // 	background-color: rgba(0,0,0, .40);
				 // }
			}
			@media (max-width: $small)  {
				padding: 20px;
				padding-top: 15px;
				width: 100%;
			}
			@media (max-width: $tiny)  {
				padding: 10px;
				padding-top: 7px;
				font-size: 30px;
			}
		}
	}
	.page-header-long {
		font-size: 72px;
		@media (max-width: $large)  {
			font-size: 60px;
		}
		@media (max-width: $medium)  {
			font-size: 45px;
		}
		@media (max-width: $small)  {
			font-size: 33px;
		}
	}
	.img-responsive {
		width: 100%;
	}
	.overlay-on {
		background-color: $blk;
		.img-responsive {
			opacity: .7;
		}
	}
}