.field--name-field-grad-program-into-text, .field--name-field-about-the-program {
	background-color: $lighter-gray;
	padding-bottom: 20px;
	background-image: url("../images/gray_texture_bg.png");
}
.paragraph--type--centered-intro-text {
	background-color: $white;
	max-width: 80%;
	margin: -40px auto 20px;
	z-index: 7;
	position: relative;
	@media (max-width: $medium) {
		margin-top: 0;
		max-width: 100%;
	}
	@media (min-width: $large) {
		max-width: 1170px;
	}
	.breadcrumb {
		border: none;
		padding-left: 30px;
		padding-bottom: 0;
		@media (max-width: $tiny)  {
			padding-left: 15px;
		}
		.case-home a {
			width: 11px;
			height: 12px;
		}
	}
	section.intro-text {
		text-align: left;
		padding: 0 40px 40px;
		color: $blk;
		margin-bottom: 0;
		@media (max-width: $tiny)  {
			padding: 0 20px 20px;
		}
		.field--name-field-ctn-intro-text-into-title {
			text-transform: uppercase;
			padding-bottom:40px;
			color: $blk;
			margin-top: 0;
			&:after {
				content: '';
			    display: block;
			    background-color: $link-blue;
			    width: 100px;
			    height: 2px;
			    margin: 20px 0 20px 0;
			    @media (max-width: $small) {
			    	margin: 5px 0 10px;
			    }
			}
			@media (max-width: $medium)  {
				padding-bottom: 10px;
			}
			@media (max-width: $tiny)  {
				font-size: 28px;
			}
		}
		.subtitle-description-text-wrapper {
			padding-left: 135px;
			margin-top: -75px;
			@media (max-width: $medium)  {
				padding-left: 0;
				margin-top: 0;
			}
			@media (max-width: $tiny)  {
				font-size: 18px;
			}
		}
		.field--name-field-ctn-intro-text-intro-subti {
			// font-family: $arizona-bold;
			font-size: 50px;
			line-height: 1.2;
			margin-bottom: 15px;
			font-weight: 800;
			@media (max-width: $small) {
				font-size: 32px;
			}
		}
		.field--name-field-ctn-intro-text-intro-descr {
			font-family: $arizona;
			line-height: 1.7;
		}
	}
}
