.views-element-container {
	max-width: 1370px;
	margin: 0 auto;
}
.view-grad-program-listing .view-filters {
	float: left;
	max-width: 300px;
	padding: 20px;
	background-color: $cwru-blue;
	color: $white;
	position: relative;
	margin-right: 15px;
	@media (max-width: $small) {
		float: none;
		max-width: 100%;
		margin-right: 0;
	}
	.form-type-textfield {
		width: 75%;
		.control-label {
			display: none;
		}
		.form-text.form-control {
			height: 50px;
			font-size: 18px;
			width: 100%;
		}	
		@media (max-width: $small) {
			width: 100%;
			padding-right: 60px;
		}	
	}
	legend {
		border-bottom: none;
		color: $white;
		font-size: 30px;
		font-weight: 600;
		@media (max-width: $small) {
			cursor: pointer;
			&:before {
				content: '';
				background: url("../images/caret-next.svg") no-repeat;
				transform: rotate(90deg);
				position: relative;
				height: 26px;
				width: 26px;
				float: right;
				margin-top: 13px;
			}
		}
	}
	.fieldgroup.form-wrapper {
		margin-left: 16px;
		width: 90%;
		.fieldset-wrapper {
			.form-item {
				display: block !important;
				.control-label {
					color: $white;
					font-size: 20px;
					font-weight: 500;
					padding-left: 27px;
					.form-checkbox {
						margin-right: 10px;
						margin-left: -27px;
					}
				}
			}
			@media (max-width: $small) {
				display: none;
			}
			@media (min-width: $small) {
				display: block !important;
			}
		}

	}
	.form-actions.form-wrapper {
		position: absolute;
		.button {
			font-size: 0;
			padding: 16px 21px;
			border: 0;
			background-color: $lime-green;
			span {
				font-size: 18px;
			}
		}
		@media (max-width: $small) {
			right: 21px;
		}
	}
}