.paragraph--type--two-column-content-with-stats {
	background-color: $off-white;
	.landing-page-content-row-ow-bg.container {
		padding: 0;
		@media (max-width: $medium) {
			width: 100%;
			//padding-left: 20px;
			//padding-right: 20px;
		}
		.landing-page-content-row {
			@media (max-width: $medium)  {
				padding-left: 20px;
				margin-right: 0;
			}
			@media (max-width: $small)  {
				padding: 0;
				margin: 0;
			}
			.field--name-field-two-col-w-stats-content {
				@media (min-width: $small)  {
					display: flex;
					flex-wrap: wrap;
					.field--item.field-column:first-child {
						flex: 1;
						flex-basis: 59%;
					}
					.field--item.field-column {
						flex: 1;
						flex-basis: 40%;
					}
				}
				//*****Section Titles & Content*****
				.paragraph--type--content-w-title-white-bg {
					@media (min-width: $small)  {
						display: flex;
						flex-direction: column;
						height: 100%;
					}
					.content-with-title-column-white {
						padding-left: 0;
						padding: 40px;
						padding-right: 20px;
						width: 60%;
						@media (min-width: $small)  {
							width: 100%;
							height: 100%;
						}
						@media (max-width: $small)  {
							width: 100%;
							margin-right: -15px;
							margin-left: 0;
							padding: 40px;
							padding-bottom: 0px !important;
						}
						@media (max-width: $tiny)  {
							padding: 20px;
							padding-bottom: 0px !important;
						}
						.section-content-title {
							text-transform: uppercase;
							font-size: 26px;
							font-weight: 600;
							padding-bottom:40px;
							&:after {
								content: '';
							    display: block;
							    background-color: $link-blue;
							    width: 100px;
							    height: 2px;
							    margin: 20px 0 20px 0;
							    @media (max-width: $small) {
							    	margin: 5px 0 10px;
							    }
							}
							@media (max-width: $medium)  {
								padding-bottom: 10px;
							}
						}
						.field--name-field-content-white-bg-quote-or- {
							padding-left: 135px;
							margin-top: -75px;
							line-height: 1.7;
							font-size: 21px;
							.field--name-field-content {
								margin-bottom: 15px;
							}
							@media (max-width: $medium)  {
								padding-left: 0;
								margin-top: 0;
							}
							@media (max-width: $small)  {
								margin-top: 0;
								padding-left: 0;
							}
							@media (max-width: $tiny)  {
								font-size: 18px;
							}
							.paragraph--type--fast-fact-section {
								margin-top: 40px;
								.fast-fact-group {
									line-height: 1;
									font-size: 16px;
									border-left: 5px solid $lime-green;
									padding-left: 10px;
									margin-bottom: 15px;
									margin-top: 20px;
									.field--name-field-fast-fact-title {
										font-weight: 700;
										text-transform: uppercase;
										margin-bottom: 15px;
										margin-left: 10px;
										font-size: 18px;
									}
									.field--name-field-fast-fact-fact {
										margin-left: 10px;
										margin-bottom: 15px;
										line-height: 1.5;
									}
									.field--name-field-fast-fact-link a {
										text-decoration: underline;
										margin-left: 10px;
									}
								}
							}
						}
					}
				}
			}
			
			//By the Numbers Paragraph
			.paragraph--type--stats-all {
				@media (min-width: $small)  {
					display: flex;
					flex-direction: column;
					height: 100%;
				}
				@media (max-width: $small)  {
					padding-top: 5px;
					padding-bottom: 20px;
				}
				.stats-group-all {
					padding: 40px;
					padding-right: 20px;
					//width: 40%;
					@media (min-width: $small)  {
						width: 100%;
						height: 100%;
						padding-left: 50px;
						padding-right: 20px;
					}
					@media (max-width: $small)  {
						width: 100%;
						margin-right: -15px;
						margin-left: 0;
						padding-top: 0;
						padding-bottom: 20px !important;
					}
					@media (max-width: $tiny)  {
						padding: 20px;
						padding-top: 0;
						padding-bottom: 0px !important;
					}
					.section-content-title {
						background: $white;
						padding-left: 30px;
						padding-top: 20px;
						border: 3px solid $drk-blue;
						border-bottom: 0;
						padding-right: 30px;
						padding-bottom: 0px;
						.stats-row-hr {
						    border: 0;
						    height: 1px;
						    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
						    margin: 40px 0;
							display: none;
						    @media (min-width: $small)  {
								display: none;
							}
						}
						h2 {
							text-transform: uppercase;
							padding-bottom: 0px;
							text-align: left;
							margin-top: 0;
							&:after {
								content: '';
							    display: block;
							    background-color: $link-blue;
							    width: 100px;
							    height: 2px;
							    margin: 20px 0 20px 0;
								margin-bottom: 0;
							    @media (max-width: $small) {
							    	margin: 5px 0 10px;
							    }
							}
							@media (max-width: $small)  {
								padding-bottom: 10px;
							}
						}
						@media (max-width: $small)  {
							margin-top: 20px;
						}
					}
					.field--name-field-stats-all-content {
						background: white;
						padding-left: 30px;
						padding-top: 20px;
						border: 3px solid black;
						border-top: 0;
						padding-right: 30px;
						padding-bottom: 20px;
						.paragraph--type--stats {
							@media (min-width: $jumbo) {
								display: flex;
								flex-wrap: nowrap;
								height: 100%;
								padding-bottom: 10px;
							}
							margin-bottom: 15px;
							// .field--name-field-stats-value, .field--name-field-stats-description, .field--name-field-stats-description p {
							// 	display: inline;
							// }
							.stats-section-row {
								@media (min-width: $jumbo) {
									flex: 1;
									flex-basis: 100%;
								}
								.stats-section-col-num {
									padding-right: 0;
									@media (min-width: $jumbo) {
										display: flex;
										flex-direction: column;
										height: 100%;
										//justify-content: center;
									}
									@media (max-width: $jumbo) {
										padding-bottom: 10px;
									}
									@media (max-width: $jumbo) and (min-width: $small) {
										width: 100%;
									}
								}
							}
							.field--name-field-stats-value {
								font-size: 45px; 
								color: $lime-green;
								text-align: right;
								font-weight: 600;
								//flex-basis: 30%;
								//margin-right: 20px;
								line-height:.8;
								@media (max-width: $jumbo) {
									text-align: left;
								}
								@media (max-width: $medium) {
									font-size: 40px;
									//flex-basis: 20%;
									text-align: left;
								}
							}
							.stats-section-col-desr {
								@media (min-width: $jumbo) {
									display: flex;
									flex-direction: column;
									height: 100%;
									justify-content: center;
								}
								@media (max-width: $jumbo) and (min-width: $small) {
									width: 100%;
								}
							}
							.field--name-field-stats-description {
								font-size: 18px;
								font-family: $arizona;
								//flex-basis: 65%;
								p {
									line-height: 1.2;
									margin: 0;
								}
								@media (max-width: $small)  {
									font-size: 18px;
									//flex-basis: 75%;
									//text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
}
