// Quote
//
// This is the Quote component. It's an example.
//
//
// Style guide: Components.quote

// Import site utilities.
@import '../../global/utils/init';

.paragraph--type--quote- {
  clear: both;

  .section-title {
    margin: 0 $size-medium;
  }
}


.field-quote .field__item:nth-child(2) .paragraph--type--quote {
  flex-direction: row-reverse;
}

.paragraph--type--quote {
  flex-direction: row;
  margin: $size-large 0;

  @include breakpoint($bp-sm) {
    display: flex;
  }

  > div {
    flex-grow: 1;
    flex-basis: 0;
  }

  svg {
    width: 150px;
    opacity: 0.15;
  }

  .field-quote-image .image-holder {
    position: relative;
    margin-bottom: $size-medium;
    @include breakpoint($bp-sm) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }

    svg {
      position: absolute;
      bottom: -$size-small;
      left: -$size-small;
    }
  }
}

.group-content-and-title {
  margin: 0 $size-medium;

  svg {
    display: none;
    @include breakpoint($bp-sm) {
      display: block;
    }
  }
}

.field-quote-text {
  margin: $size-small 0;
}

.field-quote-attribution {
  color: $cwru-blue;
  text-align: right;
  margin-left: $size-medium;

  &::before {
    content: '~ ';
  }
}
