.field--name-field-grad-program-contact-row {
	background-color: $cwru-blue;
	padding: 40px;
	color: $white;
	font-weight: 500;
	font-family: $arizona;
	@media (max-width: $tiny)  {
		font-size: 18px;
	}
	.paragraph--type--program-contact-row {
		border: 1px solid $cwru-light-gray;
		padding: 0px;
		padding-top: 40px;
		margin: 0 auto;
		.contact-row-container {
			width: 100%;
			padding: 0;
			.contact-row-container-row {
				display: flex;
				flex-wrap: wrap;
				margin-left: 0;
				margin-right: 0;
				.contact-learn-more {
					flex: 1;
					flex-basis: 53%;
					padding: 40px;
					padding-top: 0;
					padding-right: 0;
					@media (max-width: $small) {
						padding-left: 20px;
						padding-right: 20px;
						padding-bottom: 0;
						flex-basis: 100%;
					}
					.field--name-field-program-contact-card {
						@media (min-width: $small) {
							display: flex;
							justify-content: flex-start;
							.field--item:nth-child(1), .field--item:nth-child(2)  {
								flex-basis: 100%;
								margin-right: 20px;
							}
						}
					}
					.col-sm-6 {
						width: 100%;
						height: 100%;
						padding-left: 0;
						padding-right: 0;
						@media (max-width: $small) {
							padding-right: 0;
							padding-bottom: 0;
						}
						@media (max-width: $tiny)  {
							padding-left: 0;
						}
					}
				}
				.contact-request-info {
					flex: 1;
					flex-basis: 46%;
					padding: 40px;
					padding-top: 0;
					@media (min-width: $large) {
						flex-basis: 42%;
					}
					@media (max-width: $small) {
						padding-left: 20px;
						padding-right: 20px;
						flex-basis: 100%;
					}
					.col-sm-6 {
						width: 100%;
						padding: 0;
						height: 100%;
						@media (max-width: $small) {
							padding-right: 0;
						}
						form {
							padding-right: 0;
							//padding-top: 10px;
						}
					}
				}
			}
		}
		@media (min-width: $large) {
			max-width: 1314px;
		}
		@media (max-width: $small) {
			padding-top: 40px;
		}
		@media (max-width: $tiny)  {
			padding-top: 20px;
		}
	}
	
	.section-blue-content-title h2, .request-info-container .field--label {
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 0px;
		color: $white;
		&:after {
			content: '';
		    display: block;
		    background-color: $link-blue;
		    width: 100px;
		    height: 2px;
		    margin: 20px 0 20px 0;
		    @media (max-width: $small) {
		    	margin: 5px 0 10px;
		    }
		}
		@media (max-width: $tiny)  {
			padding-bottom: 20px;
		}
	}
	.field--name-field-program-contact-card {
		a {
			color: $white;
			text-decoration: underline;
			font-weight: bold;
			&:hover {
				color: $white;
			}
		}
		.admission-name {
			line-height: 1.8;
			margin: 0;
			font-weight: 700;
		}
		.field--name-field-contact-bio-description, .field--name-field-contact-bio-contact-title2, .field--name-field-contact-bio-sh {
			line-height: 1.8;
		}
		.field--name-field-contact-bio-image {
			margin-bottom: 15px;
			margin-top: 15px;
			max-height: 235px;
			max-width: 235px;
		}
		.field--name-field-contact-bio-phone-num, .field--name-field-contact-bio-email2 {
			line-height: 1.8;
			.field--label {
				font-weight: 500;
			}
		}
		.contact-row-hr {
			margin: 40px 0;
			border: 0;
			height: 1px;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
			@media (min-width: $small) {
				display: none;
			}
		}
	}
	@media (max-width: $small) {
		padding: 20px;
	}
}
