.field--name-field-grad-programs-listing .view-grad-program-listing .view-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	@media (max-width: $medium)  {
		flex-direction: column;		
	}
	.views-row {
		flex-basis: 32%;
		flex-grow: 1;
		color: $blk;
		font-weight: 500;
		font-size: 20px;
		border: 5px solid $cwru-blue;
		padding: 16px 15px 10px 15px;
		margin-bottom: 20px;
		margin-left: 10px;
		position: relative;
		width: calc(33.3333% - 10px);
		flex: 0 0 auto;
		overflow-wrap: anywhere;
		@media only screen and (max-width: 1199px) {
			width: calc(49% - 10px);
		}
		@media (max-width: $medium)  {
			flex-basis: 100%;
			margin-left: 0;
			width: 100%;
			//max-width: 100%;
		}
		.views-field-nothing, .field-content {
			//height: 100%;
		}
		.academics__block {
			//display: flex;
		    //flex-direction: column;
		    //height: 100%;
			.header--main--dark {
				color: $off-black;
				font-size: 30px;
				&:after {
					content: '';
				    display: block;
				    background-color: $lime-green;
				    width: 50px;
				    height: 5px;
				    margin-top: 5px;
				}
			}
			p {
		    	flex-grow: 1;
		    }
			.academics__block-degree {
			    background-color: $white;
			    //text-align: center;
			    display: block;
			    li {
			    	font-size: 16px;
			    }
			    .paragraph--view-mode--program-card-url, .field--name-field-program-websites {
			    	//display: inline-block;
			    }
			    .paragraph--view-mode--program-card-url {
			    	padding: 3px 0px;
			    	font-size: 18px;
			    	a {
			    		font-size: 18px;
			    		text-decoration: underline;
			    	}
					.field--name-field-program-format-ref {
						display: none;
					}
			    }
			}
		}
	}
}