.related-programs-wrapper {
	background-color: $blk;
	font-size: 1em;
	text-transform: uppercase;
	color: $white;
	padding: 40px;
	font-weight: 700;
	width: 100%;
	.row {
		@media (max-width: $medium) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (min-width: $large) {
			max-width: 1500px;
			margin: 0 auto;
		}
	}
	.field--label {
		color: $white;	
		margin-bottom: 20px;	
		@media (min-width: $medium) {
			max-width: 1210px;
			margin: 0 auto;
		}
	}
	.field--name-field-related-programs-row-box {
		.field--items {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;
			.field--item {
				flex: 1;
				flex-basis: 24%;
				@media (max-width: $medium) {
					flex-basis: 49%;
				}
				@media (max-width: $small) {
					flex-basis: 100%;
				}
				.paragraph--type--related-programs-box {
					display: flex;
					flex-direction: column;
					height: 100%;
					div.col-xs-6.col-lg-3 {
						width: 100%;
						height: 100%;
						@media (max-width: $small) {
							display: inherit;
						}
						a {
							display: flex;
							flex-direction: column;
							height: 100%;
							&:hover {
								text-decoration: none;
							}
							@media (max-width: $small) {
								margin: 0 auto;
							}
							.related-programs-box-link {
								background-color: $lime-green;
								color: $blk;
								text-transform: capitalize;
								padding: 10px 20px;
								font-family: $arizona;
								max-width: 416px;
								margin-bottom: 20px;
								height: 100%;
								@media (max-width: $small) {
									padding: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
