.paragraph--type--request-information {

	form {
	  border: 1px solid $cwru-dark-gray;
	  background: rgb(245,245,245);
	  padding: 20px;
	  max-width: 100%;
	  font-size: 16px;
    font-family: $body_font;
	}
	/* form paragraph element */
	form div.form_question.form_p {
	  margin-bottom: 22px;
	}
	form div.form_question.form_p p {
	  font-size: .875em;
	}
	/* form question element */
	form div.form_question {
	  margin-bottom: 15px;
	}
	/* form response element */
	form div.form_responses input, select {
	  color: $blk;
	  background-color: $white;
	  border: 1px solid $light-blue;
	  border-radius: 3px;
	  font-size: 16px;
	  padding: 8px 12px 9px;
	  width: 100%;
    font-family: $body_font;
	}
	.form_select label {
	  margin: 8px 8px 5px;
	}
	form div.form_responses input::placeholder {
	  color: $blk;
	  font-size: 16px;
	}
	/* form submit button */
	form div.action {
	  margin-top: 0px;
	  line-height: normal;
	  position: relative;
	}
	form .action button {
	  width: 100%;
	  margin: 0;
	  padding: 12px;
	  border-radius: 3px;
	  font-size: 18px;
	  font-weight: bold;
	  border-style: none;
	  cursor: pointer;
    font-family: $body_font;
	}
	form .action button:hover {
	  background-color: $cwru-blue;
	}
	form button.default {
	  background-color: $link-blue;
	  color: $white;
	}
	/* form heading1 */
	form h1 {
	  display: none;
	}
	/* form checkbox */
	form .form_checkbox .form_response label {
	  font-size: .875em;
	}
	form .form_checkbox .form_label {
	  font-weight: 600;
	}
	/* form select list */
	form .form_select,
	form .form_select select {
	  width: 100%;
	}
	form .sr-only {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  padding: 0;
	  overflow: hidden;
	  clip: rect(0,0,0,0);
	  border: 0;
	}


	form {
		background: none;
		border: none;
		text-align: right;
		padding: 0 20px;
		padding-left: 0;
		max-width: 100%;
		font-size: 16px;
		font-family: $arizona;
		@media (max-width: $small)  {
			padding: 0;
		}
		.form_container {
			border: 0;
			background: none;
			.form_p {
				display: none;
			}
			.form_question {
				text-align: left;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				@media (max-width: $large)  {
					//text-align: left;
					margin-bottom: 0;
				}
				@media (max-width: $medium) and (min-width: $small) {
					flex-wrap: wrap;
				}
				@media (max-width: $xsmall) {
					flex-wrap: wrap;
				}
			}
			.form_label {
				display: inline;
				padding: inherit;
				color: $white;
				position: relative;
				width: auto;
				height: auto;
				margin-bottom: 15px;
				margin-left: 0 !important;
				margin-right: 10px;
				@media (min-width: $large)  {
					margin-right: 10px;
				}
				@media (max-width: $large)  {
					margin-left: 0px;
				}
				@media (max-width: $medium) and (min-width: $small) {
					margin-bottom: 5px;
				}
				@media (max-width: $xsmall) {
					margin-bottom: 0px;
				}
			}
			.form_responses {
				flex-grow: 1;
				display: inline;
				@media (min-width: $large)  {
					//display: inline;
					//max-width: 240px;
				}
				@media (max-width: $large)  {
					//text-align: right;
					margin-top: 5px;
				}
				@media (max-width: $medium) and (min-width: $small) {
					flex-basis: 100%;
				}
				@media (max-width: $xsmall) {
					flex-basis: 100%;
				}
				input {
					display: inline;
					border: 0;
					border-radius: 0;
					flex-grow: 1;
					width: 100%;
					@media (min-width: $large)  {
						//display: inline;
						//max-width: 260px;
						margin-bottom: 0;
						//width: 100%;
					}
					@media (min-width: $large)  {
						margin-bottom: 10px;
					}

				}
				input::placeholder {
			         color: transparent;
			    }
			    select {
			    	flex-grow: 1;
					width: 100%;
			    	border-radius: 0;
			    	@media (min-width: $large)  {
			    		//max-width: 260px;
			    	}
			    	@media (max-width: $large)  {
			    		//width: 100%;
			    	}
			    }
			}
			.form_checkbox {
				.form_label {
					display: none;
				}
				.form_responses {
					@media (min-width: $large)  {
						margin-top: 10px;
					}
					@media (max-width: $large)  {
			    		margin-top: 20px;
			    	}
				}
				.form_response input {
					width: auto;
				}
				color: $white;
				label {
					color: $white;
				}
			}
			.form_radio {
				.form_label {
					margin-bottom: 5px;
					display: block;
				}
				.form_responses {
					display: inline-block;
					@media (min-width: $large)  {
						margin-top: 10px;
					}
					@media (max-width: $large)  {
			    		margin-top: 20px;
			    	}
				}
				.form_response {
					margin-bottom: 5px;
				}
				.form_response input {
					width: auto;
					margin-bottom: 4px;
				}
				color: $white;
				label {
					color: $white;
				}
			}
		}
		.action button {
			width: auto;
			padding: 12px 20px;
			background-color: $link-blue;
			color: $white;
			border: 2px solid transparent;
			&:hover {
				text-decoration: none;
				background-color: $cwru-blue;
				border-color: $link-blue;
			}
		}
	}
	.field--name-field-webform-content-reference {
		display: flex;
		form {
			.webform-confirmation__message {
				font-size: 21px;
				line-height: 1.7;
				text-align: left;
				color: $white;
				a {
					color: $white;
					&:hover {
						color: $white;
						text-decoration: underline;
					}
				}
			}
			.webform-confirmation__back {
				display: none;
			}
			.captcha {
				margin-bottom: 15px;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: flex-end;
				// display: inline;
				// border: 0;
				// flex-grow: 1;
				// width: 100%;
				// margin-bottom: 15px;
				// font-size: 16px;
				// border-radius: 0;
				// @media (max-width: $medium) and (min-width: $small) {
				// 	flex-basis: 100%;
				// }
				// @media (max-width: $xsmall) {
				// 	flex-basis: 100%;
				// }
				@media (max-width: $medium) and (min-width: $small) {
					flex-wrap: wrap;
				}
				@media (max-width: $xsmall) {
					flex-wrap: wrap;
				}
			}
			.form-item {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: flex-end;
				.control-label {
					display: inline;
					position: relative;
					width: auto;
					color: $white;
					margin-right: 10px;
					text-align: left;
					margin-bottom: 15px;
					white-space:nowrap;
					@media (max-width: $medium) and (min-width: $small) {
						margin-bottom: 5px;
						width: 100%;
					}
					&:after {
						content:'';
					}
					@media (max-width: $xsmall) {
						width: 100%;
						margin-bottom: 5px;
					}
				}
				.select-wrapper {
					width: 100%;
				}
				.form-control {
					display: inline;
					border: 0;
					flex-grow: 1;
					width: 100%;
					margin-bottom: 15px;
					font-size: 16px;
					border-radius: 0;
					@media (max-width: $medium) and (min-width: $small) {
						flex-basis: 100%;
					}
					@media (max-width: $xsmall) {
						flex-basis: 100%;
					}
				}
				@media (max-width: $medium) and (min-width: $small) {
					flex-wrap: wrap;
				}
				@media (max-width: $xsmall) {
					flex-wrap: wrap;
				}
			}
			button {
				width: auto;
				padding: 12px 20px;
				background-color: $link-blue;
				border: 2px solid transparent;
				color: $white;
				font-family: $arizona;
				font-weight: 700;
				font-size: 18px;
				&:hover {
					text-decoration: none;
					border-color: $link-blue;
					background-color: $cwru-blue;
				}
			}
		}
	}

	//Social Work programs forms syling
	.sw-online-form {
		color: $white;
		font-family: "Titillium Web",sans-serif;
		.card {
			background: transparent;
			border: none;
			.card__body {
				margin-bottom: 2rem;
				pading-top: 0;
				.header-wrapper {
					h2.h3 {
						background: transparent;
						font-family: $arizona;
						font-size: 1.75em;
						font-weight: 600;
						line-height: 1.1;
						margin-top: 0;
					}
				}
				.progress {
					background: transparent;
					.progress__max {
						background-color: rgba(255, 255, 255, 0.9);
					}
				}
			}
			.form-body.steps {
				.lead-form {
					.lead-form-steps {
						margin-bottom: 0;
						fieldset.form-group {
							margin-bottom: 0;
						}
						.form-group {
							label {
								color: $white;
								font-weight: 500;
								font-size: 16px;
								padding-left: 0;
							}
							select.control {
								font-family: $arizona;
							}
							legend.label {
								color: $white;
								font-weight: 500;
								font-size: 16px;
								line-height: 1.5;
							}
							.radio-group, .checkbox-group {
								.radio, .checkbox {
									background: transparent;
									border: none;
									label.label {
										padding-left: 25px;
									}
									.control:checked+.label {
										background: transparent;
									}
								}
							}
							.form-group__help-text {
								font-size: 16px;
							}
						}
					}
					.card__footer {
						font-size: 16px;
						button {
							background: $link-blue;
							padding: 12px 20px;
							font-weight: 700;
							font-family: $arizona;
							font-size: 18px;
							border: 2px solid transparent;
							&:hover {
								background-color: $cwru-blue;
								border: 2px solid $link-blue;
							}
						}
						a {
							color: $white !important;
							font-weight: 800 !important;
							text-decoration: underline;
							// &:hover {
							// 	color: $white !important;
							// 	text-decoration: underline;
							// }
						}
					}
				}
			}
		}
	}

	//MEM New Form
	form {
		.FormConnector-form-label {
			color: $white;
			text-align: left;
		}
		.FormConnector-phone-cell-prefix {
			height: 48px;
		}
		.FormConnector-form-group {
			.FormConnector-form-input.FormConnector-form-input-selector {
				width: 100%;
				height: 48px;
				margin-bottom: 1em;
				font-weight: 500;
			}
			@media (max-width: $large) and (min-width: $small) {
				width: 100%;
				#FormConnector-phone-cell-prefix {
					width: 26%;
					font-size: .8em;
					padding-left: 5px;
				}
			}
			@media (min-width: $large) {
				#FormConnector-phone-cell-prefix {
					max-width: 65px;
				}
			}
		}
		.FormConnector-disclaimer {
			font-weight: 700;
		}
		.FormConnector-form-submit-group {
			button#FormConnector_submit_button {
				width: auto;
				padding: 12px 20px;
				background: $link-blue;
				border: 2px solid transparent;
				color: $white;
				font-family: $arizona;
				font-weight: 700;
				font-size: 18px;
				&:hover {
					text-decoration: none;
					border-color: $link-blue;
					background-color: $cwru-blue;
				}
			}
		}
	}
	.FormConnector-success-heading {
		color: $white;
	}


	//EverSpring Forms
	.everspring {
		display: flex;
		form {
			background: transparent;
			margin: 0;
			padding: 0;
			.fsSection.fs1Col {
				div.fsSectionHeader {
					display: none;
				}
				input::placeholder {
					color: $blk;
					font-size: 16px;
					//padding: 8px 12px 9px;
				}
				input:focus::placeholder {
				  color: transparent;
				}
				.fsRowBody {
					.fsFieldHorizontal p {
						text-align: left;
					}
					input {
						color: $blk;
						font-size: 16px;
						padding: 8px 12px 9px;
					}
				}
				.fsRowBody.fsFieldFocused {
					padding: 8px 12px 9px;
					input {
						margin-bottom: 0;
						padding: 8px 12px 9px;
					}
				}
			}
			input.fsSubmitButton {
				font-weight: 700 !important;
				padding: 12px 20px;
			    background-color: $cwru-blue;
			    color: $white;
			    border: 2px solid transparent;
			    transition: all .3s ease;
			    display: inline-block !important;
				&:hover {
					background: $cwru-blue !important;
					border-color: $link-blue;
				}
			}
		}
		#error {
			color: $white;
		}
	}

	//MBA Online forms
	.noodle-mba-online {
		.form_question.form_radio {
			text-align: right;
		}
	}
}
