// Colors ///////////////
$drk-blue:#09143A;
$cwru-blue: #003071;
$link-blue: #006DA3;
$light-blue: #A6D2E6;
$green: #61A530;
$blue-green: #377E72;
$yellow: #E69E40;
$orange: #D63D1F;
$drk-orange: #A34831;
$ter-orange: #B04027;  //$red: #ee696c;
$violet: #692C95;
$white: #fff;
$off-white: #f5f5f5;
$light-black: #1F2325;
$dark-gray: #333;
$cwru-dark-gray: #999999;
$med-gray: #535353;
$light-gray: #c6c6c6;
$cwru-light-gray: #d3d3d3;
$lighter-gray: #eee;
$blk: #000000;

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $link-blue;

// Fonts ///////////////
$arizona: 'Arizona', sans-serif;

$heading_font: $arizona;
$body_font: $arizona;

// Breakpoints & Media Queries ///////////////
$screen: "only screen" !default;

$tiny: 360px !default; 
$xsmall: 481px !default;
$smallx: 550px !default;
$small: 767px !default;
$small-medium: 871px !default; 
$medium: 992px !default; 
$large: 1200px !default; 
$jumbo: 1300px !default;

$xsmall-max:  "#{$screen} and (min-width: #{$xsmall})";
$smallx-min:  "#{$screen} and (min-width: #{$smallx})";
$small-min:  "#{$screen} and (min-width: #{$small})";
$small-medium-min:  "#{$screen} and (min-width: #{$small-medium})";
$medium-min:  "#{$screen} and (min-width: #{$medium})";
$large-min:  "#{$screen} and (min-width: #{$large})";
$jumbo-min:  "#{$screen} and (min-width: #{$jumbo})";

$xsmall-max:  "#{$screen} and (max-width: #{$xsmall})";
$smallx-max:  "#{$screen} and (max-width: #{$smallx})";
$small-max:  "#{$screen} and (max-width: #{$small})";
$small-medium-max:  "#{$screen} and (max-width: #{$small-medium})";
$medium-max:  "#{$screen} and (max-width: #{$medium})";
$large-max:  "#{$screen} and (max-width: #{$large})";
$jumbo-max:  "#{$screen} and (max-width: #{$jumbo})";

// EXAMPLE FOR MQ REFERENCES =>
/*
body {
  background: green;
  @media #{$small-max}  { background: orange; }
  @media #{$medium-max} { background: teal; }
  @media #{$large-max}  { background: orchid; }
  @media #{$jumbo-max}  { background: aliceblue; }
}
*/
