@import url("https://dudbm6bcnmy8e.cloudfront.net/cwru/fonts/Arizona-Fonts/arizona-sans.css");
@import url("https://dudbm6bcnmy8e.cloudfront.net/cwru/fonts/Arizona-Fonts/arizona-text.css");


html body {
  background-color: #fff;
  overflow-x: hidden;
}

.main-container + em,
.footer-bkg {
  background-color: #f5f5f5;
  display: block;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding: 0;
}

.switcher > li.media {
  flex-grow: 1;
  flex-basis: calc((900px - (100% - 20px)) * 999);
  margin: 10px;
}
/* 
.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
} */

#block-alertbox-2 {
  background: #A6D2E6;
  padding: 10px 0px;
  margin: 0 calc(50% - 50vw);
}

#block-alertbox-2 .container {
  padding: 0 15px;
}

#block-crew-thinkbox-main-menu {
  max-width: unset;
  flex: 2;
}

.hero--home {
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  max-width: 100vw;
}
.hero__video-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.field--name-field-tb-homepage-hero-image-ref {
  display: none;
}

.paragraph--type--button .field--name-field-button a,
.field--name-field-content a.button-blue,
.round-button {
  color: #fff !important;
  background-color: #006DA3;
  padding: 10px 20px;
  border-radius: 50px;
  display: block;
  text-align: center;
  border-bottom: 0 !important;
}

.field--name-field-content a.button-blue {
  display: inline-block;
}

.field--name-field-tb-homepage-hero-image-ref
  .paragraph--type--hero-one-column {
  margin: 0;
}

.paragraph--type--intro-text-homepage {
  color: white;
  background-color: black;
  font-weight: 700;
  text-align: center;
  max-width: 950px;
  margin: -12vw auto 40px;
  padding: 40px;
  z-index: 5;
  position: relative;
}

.paragraph--type--intro-text-homepage .field--name-field-intro-text-homepage {
  font-size: 30px;
  margin-bottom: 40px;
}

.paragraph--type--intro-text-homepage .field--name-field-intro-text-link a {
  color: #fff !important;
  background-color: #006DA3;
  padding: 10px 40px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}

.field--name-field-tb-homepage-hero-image-ref img.img-responsive {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  max-width: 100vw;
}

.hero.hero--home {
  max-height: 800px;
}

/* HOME NEWS VIEW */
.field--name-field-tb-homepage-news-view-ref .view-news-article-listing {
  margin: 40px calc(50% - 50vw);
  background: #eee;
  padding: 40px;
}

.field--name-field-tb-homepage-news-view-ref .view-header {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.field--name-field-tb-homepage-news-view-ref .view-news-article-listing .media {
  border: 7px solid #535353;
  padding-bottom: 0;
  background-color: white;
  font-family: "Arizona", "Arial", sans-serif;
  transition: all 0.5s ease;
  position: relative;
}
.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #003071;
  right: 0;
  z-index: 1;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 7px;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(#61A530 35%, transparent 20%);
  background-position: 0 0;
  background-size: 8px 8px;
  z-index: 2;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media:hover {
  transform: scale(1.025);
  border-color: #006DA3;
  box-shadow: 0 0 20px #000;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  a,
.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  > div,
.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  > div
  > span {
  display: block;
  height: 100%;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  a {
  /* padding: 20px; */
  color: black;
  font-weight: normal;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  a:hover {
  text-decoration: none;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  .home-news-text-container {
  padding: 20px;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  .home-news-text-container
  .home-news-text
  p:last-child {
  margin-bottom: 0;
}

.field--name-field-tb-homepage-news-view-ref
  .view-news-article-listing
  .media
  .media-image-container {
  float: none;
  margin-right: 0;
}

.field--name-field-tb-homepage-news-view-ref .view-news-article-listing h2 {
  font-weight: bold;
  padding-right: 40px;
}

.view-equipment-listing
  .views-field-field-equip-det-image-ref
  .field-content
  .media-image-container {
  float: left;
  margin-right: 20px;
}

.view-equipment-listing .views-row a h3 {
  color: inherit;
  font-weight: bold;
}

.no-marker-list {
  list-style-type: none;
  padding: 0 0 0 0;
}

.field--name-field-article-image-ref .media-image-container {
  margin-bottom: 20px;
}

/* equipment news side view */
.field--name-field-equip-det-right-side-ref .view-news-article-widgets {
  background-color: #f5f5f5;
}

.field--name-field-equip-det-right-side-ref
  .view-news-article-widgets
  .views-row {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0px 20px 20px;
  border-bottom: 1px solid #eee;
}

.field--name-field-equip-det-right-side-ref
  .view-news-article-widgets
  .views-row
  .views-field-nothing {
  margin-right: 20px;
  min-width: 50px;
}

.field--name-field-equip-det-right-side-ref
  .view-news-article-widgets
  .views-row:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.field--name-field-content hr + .embedded-entity.align-left {
  margin-top: 0;
}
.field--name-field-content .embedded-entity.align-left {
  margin-bottom: 20px;
}

/* meet the team view */
.view-meet-our-staff .media .media-body p:last-child {
  margin-bottom: 0;
}

/* rfi forms */
.field--name-webform .webform-submission-form .form-item label {
  cursor: default;
  margin-bottom: 3px;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  #navbar {
    margin-bottom: 0;
  }
  .hero.hero--home {
    display: none;
  }
  .field--name-field-tb-homepage-hero-image-ref {
    display: block;
  }
  div.black-bkg {
    padding: 20px;
  }
  .field--name-field-tb-homepage-intro-text-ref {
    margin: 0 calc(50% - 50vw);
  }
  .paragraph--type--intro-text-homepage {
    max-width: 100%;
    margin: 0 auto -40px;
    padding: 20px;
  }
  .field--name-field-tb-homepage-news-view-ref .view-news-article-listing {
    padding: 20px;
  }
  .field--name-field-tb-homepage-news-view-ref
    .view-news-article-listing
    .item-list.container {
    padding: 0;
  }
}
