
$drk-blue:#09143A;
$cwru-blue: #003071;
$link-blue: #006DA3;
$light-blue: #A6D2E6;
$green: #61A530;
$blue-green: #377E72;
$yellow: #E69E40;
$ter-orange: #B04027;
$violet: #692C95;
$white: #fff;
$off-white: #f5f5f5;
$dark-gray: #333;
$cwru-dark-gray: #999999;
$med-gray: #535353;
$light-gray: #c6c6c6;
$cwru-light-gray: #d3d3d3;
$lighter-gray: #eee;
$blk: #000000;

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $link-blue;

// Fonts ///////////////
$arizona: "Arizona", sans-serif;
$arizona-text: "Arizona-Text", serif;

$heading_font: $arizona;
$body_font: $arizona;

$font-teeny-tiny: 0.5em;
$font-tiny-tiny: 0.63em;
$font-tiny: 0.75em;
$font-small: 0.85em;
$font-medium-small: 1.15em;
$font-medium: 1.25em;
$font-medium-large: 1.35em;
$font-large: 1.5em;
$font-xlarge: 1.75em;
$font-double: 2em;

// Susy config ///////////////
// $susy: (
//   columns: 12,
//   // The number of columns in grid
//   gutters: 1/4,
//   // The size of a gutter in relation to a single column
// );

// Breakpoints
//
// Media query info goes here
//
// Styleguide base.breakpoints
$screen: "only screen" !default;

$phone: 480px !default;
$small: 768px !default;
$medium: 992px !default;
$large: 1200px !default;
$jumbo: 1300px !default;

$phone-min: "#{$screen} and (min-width: #{$phone})";
$small-min: "#{$screen} and (min-width: #{$small})";
$medium-min: "#{$screen} and (min-width: #{$medium})";
$large-min: "#{$screen} and (min-width: #{$large})";
$jumbo-min: "#{$screen} and (min-width: #{$jumbo})";

$phone-max: "#{$screen} and (max-width: #{$phone})";
$small-max: "#{$screen} and (max-width: #{$small})";
$medium-max: "#{$screen} and (max-width: #{$medium})";
$large-max: "#{$screen} and (max-width: #{$large})";
$jumbo-max: "#{$screen} and (max-width: #{$jumbo})";

// EXAMPLE FOR MQ REFERENCES =>
/*
body {
  background: green !important;
  @media #{$small-max}  { background: orange !important; }
  @media #{$medium-max} { background: teal !important; }
  @media #{$large-max}  { background: orchid !important; }
  @media #{$jumbo-max}  { background: aliceblue !important; }
}
*/

